<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="left" class="formCaptionTitle"><strong>&nbsp;<?=$c_add_company_title?></strong></td>
  </tr>
  <tr> 
    <td height="5" align="left" valign="bottom"></td>
  </tr>
  <tr> 
    <td align="left" valign="bottom" class="pageResults"><form name="add_company" method="get" action="/admin/"><table border="0" cellspacing="0" cellpadding="0">
        <tr valign="middle">          
            <td><?=$c_nif?>:&nbsp;</td>
            <td> 
              <input name="action" type="hidden" value="write_record_mls_add_company">
     		  <input type="hidden" name="menu_id" value="<?=$menu_id?>">
              <input name="nif" type="text" id="text" size="30">
              &nbsp;            </td>         
            <td>&nbsp;&nbsp;&nbsp;<?=$c_mlscode?>:&nbsp;</td>
            <td>             	      	
              <input name="mlscode" type="text" id="text" size="30">
              &nbsp;</td>
            <td> 
              <input type="submit" name="Submit" value="<?=$c_badd;?>" class="boto-search"> </td>
        </tr>
      </table></form></td>
  </tr>
  <tr> 
    <td height="10" align="left" valign="bottom"></td>
  </tr>
</table> 

