<h1>{'update_title'|translate}</h1>
<p>{'update_subtitle'|translate}</p>
<p>{'update_versions'|translate:$a_versions}</p>
<p>{'update_db_updated'|translate}</p>
<p><a href="./index.php?mod=index">-> {'update_continue'|translate}</a></p>	