#pv{
	padding:20px 17px;
	background-color:#FFF;
}
#pv.pdf{
	padding:0;
}
#pv.pdf a{
	color:#1381CE;
	text-decoration:none;
}
#pv.pdf a:hover{
	text-decoration:underline;
}
#pv>table{
	width: 100%;
	border-spacing: 0;
	border-collapse:collapse;
	font-size:11px;
}
#pv.pdf table{
	font-size:10px;
	font-family:Helvetica;
}
	/* CAPÇALERA */
	#pv thead table{
		width: 100%;
		border-spacing: 0;
		border-collapse:collapse;
		border:0;
		
	}
	#pv thead table td{
		min-height:54px;
		padding:0;		
	}
	#pv thead .pv-head-logo {
		width: 142px;
		vertical-align:middle;
		background-color:#FFF;
	}
	#pv thead .pv-head-logo.last {
		text-align:right;
	}
	#pv thead .pv-head-titol {	
		color:#fff;
		background-color:#7c983e;
		vertical-align:bottom;
		font-size:16px;
		line-height:20px;
		padding:7px 5px 7px 20px;
	}
	#pv thead .pv-head-titol strong {	
		float:left;
		display:block;
		font-size:18px;
		line-height:24px;
		padding-right: 20px;
	}
	#pv thead .pv-head-titol span {
		float:left;
		display:block;
		font-weight: bold;	
		font-size:16px;
		line-height:20px;
		padding: 4px 20px 0 0;
	}
	#pv thead .pv-head-titol div {
		float:left;
		padding: 4px 0 0 0;
	}
	/* FI CAPÇALERA */
	
	/* TITOL COLS */
	
	#pv .pv-cols-head-sep td{
		height:24px;
	}
	#pv .pv-cols-head-sep2 td{
		height:1px;
	}
	#pv .pv-cols-head {
	}
		#pv .pv-cols-head td{
			border-top: 1px solid #e3e3e3;
			border-bottom: 1px solid #e3e3e3;
			height:30px;
			font-size:13px;
			vertical-align:middle;
			padding: 7px 7px;
			color:#000;
		}
			#pv .pv-cols-head td.first{
				border-left: 1px solid #e3e3e3;
				padding:7px 7px 7px 10px;
			}
			#pv .pv-cols-head td.last{
				border-right: 1px solid #e3e3e3;
			}
			#pv .pv-cols-head td.pv-small{
				font-size:11px;
			}
	
	/* FI TITOL COLS */
	#pv .pv-tr-norma td{
		height:10px;
	}
	
	
	#pv .pv-categoria{
	}
	#pv .pv-categoria td{
		border-bottom: 1px solid #e3e3e3;
		height:24px;
		font-size:12px;
		text-transform:uppercase;
		padding:0px 0px 6px 0px !important;
		height:45px;
		vertical-align:bottom;
	}
	
	#pv .pv-codi{
		white-space:nowrap;
		text-transform:uppercase;
		padding: 7px 7px 7px 0;
		color:#000;
	}
	
	#pv .pv-codi div{
		font-weight: bold;	
		background:#e0e0e0;
		padding:2px 9px;
	}	
	#pv .pv-entered{
		display:block;
		text-align:center;
		margin: 5px 0 0;
	}
	
	#pv .pv-evolucio{
		white-space:nowrap;	
		text-align:right;
		text-transform:none;
	}
		#pv .pv-evolucio strong{			
			color:#000;
		}
		/* per trimestres que evolucio va enganxat amb la norma */
		#pv p.pv-evolucio{
			margin-top: 10px !important;
		}
	
	#pv .table-requisit{
		width: 100%;
		border-spacing: 0;
		border-collapse:collapse;
	}
	
	#pv .table-requisit th{
		width: 8px;
		text-align:right;
		color:#000;
		vertical-align:top;
	}
	#pv .table-requisit td{
		padding: 0 0 0 8px;
	}
	
	#pv .pv-obertura {
		min-width: 200px;
	}
	#pv .pv-obertura.margin {
		padding-top: 3px;
	}

	#pv .pv-obertura-codi{
		padding-top: 3px;
	}
	
	#pv .pv-tancat{
		color:#000;
	}
	#pv .pv-tancat input{
		margin-left:5px;
	}
	#pv .pv-evaluacio{
		color:#1381CE;
		white-space:nowrap;
	}
		#pv .pv-evaluacio p:first-of-type{
			margin-top: 7px;
		}
	#pv .pv-tancament{
		white-space:normal;
	}
	#pv .pv-avis{
		margin-top: 10px;
		padding-top: 15px;
		border-top: 1px solid #eaeaea;
	}
		#pv .pv-avis > div {
			white-space:normal;
		}
	#pv .pv-red{
		color:#b93f23;
	}
	#pv .pv-red-2{
		color: #ff4a39;
	}
	#pv .pv-green{
		color:#7c983e;
	}
	#pv .pv-classificacio{
		text-align:center;
	}
	
	#pv>table>tbody>tr>td {
		padding: 7px 7px;
		vertical-align:top;
	}
	#pv>table>tbody>tr>td:last-child{		
		padding: 7px 0 7px 7px;
	}
	#pv td > div{
		padding:0 0 10px 0;
	}
	#pv td p{
		margin:7px 0 0;
	}
		#pv td p:first-of-type{
			margin:0;
		}
	#pv input[type=text]{
		background-color : #fafafa;
		border : 1px solid #d3d3d3;
		margin: 0;
		padding: 4px;
		font-family: Arial,sans-serif;
	}
	#pv input.date{
		width: 100px;
		margin-bottom: 4px;
		text-align: right;
		float: right;
		margin-top: -3px;
	}
	
	/* FITXA */
	#pv .pv-fitxa-titol{
		font-size:18px;
		font-weight: normal;
		margin: 0;
	}
	#pv .pv-fitxa-text, #pv .pv-fitxa-text-client{
		padding: 0;
		margin: 5px 0 30px;
	}
	#pv .pv-fitxa-text-client{
		padding: 20px;
		border: 1px solid #7C983E;
	}
	#pv .pv-boto-comentari{
		margin-bottom: 30px;
	}
	/* FI FITXA */


	#pv .pv-boto-evidencies {
		margin: 0;
	}
	
	/* FOOT */
	
	#pv .pv-foot div{
		border-top: 1px solid #96ad65;
		padding:4px 0px;
		vertical-align:middle;
		color:#707070;
		text-align:center;
		margin-top:24px;
	}
	#pv .pv-foot span{	
		padding: 0 20px;
	}
	
	/* FITXA */
	#pv .pv-seguiment-requisits-norma td{
		color:#000;
		font-size:14px;
		padding: 10px 0 30px;
	}
	#pv .pv-seguiment-requisits-norma td div{
		/*max-width: 800px;*/
	}
	
	
	.hidden{
		display:none;
	}
	
	@page { 
		size: A4 landscape;
		@bottom-right { content: "Pàgina " counter(page) " de " counter(pages); } 
	}
		
	@media print {
		thead { display: table-header-group;}
		tfoot { 
			display: table-footer-group;
			height:46px;
		}
	}


/* Boto canviar client */
.pointer {
	cursor: pointer;
}
a.botoCanviarClient {
	margin-left: 40px;
}


/*Buscador manteniments programats */
div.search.mantenimentprogramat input[type=text], div.search.mantenimentprogramat input.boto-search {
	border-radius:3px;
}

	div.search.mantenimentprogramat input.boto-search {
		border-left-width: 1px;
	}
	div.search.mantenimentprogramat .date2 {
		padding-left: 10px;
	}
