<? if($title): ?><span class="title"><?= $title ?></span><? endif ?>

<? foreach($loop as $l): extract( $l ) ?>
	<span class="select"><select name="<?= $var_name ?>" class="<?= $block_id ?>">
			<option value=""><?= $c_selecciona ?></option>
			<? foreach($loop as $l): extract( $l ) ?>
					<option value="<?= $value ?>"<? if($selected)
						echo ' selected' ?>><?= $item ?></option>
			<? endforeach //$loop?>
		</select></span>
<? endforeach //$loop?>