<ul>
	<?foreach ($loop as $l):extract($l)?>
	<li>
		<a id="<?=$page_text_id?>-link" href="<?=$link?>" class="active<?=$selected?> <?=$class?>" title="<?=addslashes($item)?>"><?=$item?></a>
	</li>
	<?endforeach //loop?>
</ul>


<?if($block_id == 'inmo_login'):?>
<div id="login-submenu" class="popup">

	<h5><?=$item?></h5>
	
	<form name="theForm3" method="post" action="/<?=LANGUAGE?>/custumer/custumer/login/" onsubmit="return validar(document.theForm3,'login_mail','E-mail<?//=$c_mail?>','email1','login_password','<?=$c_password?>','text1');" target="save_frame">
		<fieldset>
			<label>E-mail<?//=$c_mail?>
			<input name="login_mail" autocorrect="off" autocapitalize="none" type="text" class="text" id="mail3" /></label>
			<label><?=$c_password?>
			<input name="login_password" type="password" class="text" id="password3" /></label>
			<input type="submit" value="<?=$c_login?>" class="login-submenu-button" />
		</fieldset>
	</form>
	
	<a  href="javascript:custumer.show_password('2')" class="password">
	<?=$c_password_forgotten?>
	</a>
	
	<div id="password_form2" class="hidden" style="padding-top:10px">
		<?=$c_password_insert_mail?>
		<form name="passwordForm2" method="post" action="/<?=LANGUAGE?>/custumer/custumer/send_password/" onsubmit="return validar(document.passwordForm2,'mail','Dirección e-mail','email1');" target="save_frame">
			<input name="mail" autocorrect="off" autocapitalize="none" type="text" id="mail_password2" />
			<input type="submit" name="button"  class="login-submenu-button" value="Ok" />
		</form>
	</div>
	<? /* <a class="close" href="javascript:custumer.open_login()"></a> */ ?>
	
</div>
<?endif //block?>