<? if( $loop ): ?>
	<? /* Per els idiomes amb desplegable

	<?extract($current_language)?>
	<span id="current-language"><?=$item?></span>

	 */ ?>
	<ul><!--
		<?foreach ($loop as $l):extract($l)?><?foreach ($loop as $l):extract($l)?>
		--><li>
			<a href="<?=$link?>" class="active<?=$selected?> <?=$class?>" title="<?=htmlspecialchars($item)?>"><?=$id?></a>
				<?/* if ( $class != 'last' ): ?><span> / </span><? endif */ ?>
		</li><!--
		<?endforeach //loop?><?endforeach //loop?>
	--></ul>
<? endif // $loop ?>