<h6><?=$c_fabricants?></h6>
<div id="select-button"><span><?=$c_selecciona?></span></div>
<ul id="select" class="active<?=$block_selected?>">
<? foreach($loop as $l): extract ($l);?>
		<li class="active<?=$selected?>">
			<a  href="<?=$products_link?>" title="<?=$brand_name?>">
				<?=$brand_name?>
			</a>
		</li>
<? endforeach // $loop?>
</ul>