<div class="order-by">
	<?= $c_ordenar_per ?><span><?= $selected_item ?></span>

	<ul>
		<? foreach($loop as $l): extract( $l ) ?>
			<li><a href="<?= $link ?>"><?= $item ?></a></li>
		<? endforeach //$loop?>
	</ul>
</div>