<ul>
<?foreach ($loop as $l):extract($l)?>
	<li><a href="<?=$link?>" class="active<?=$selected?> <?=$class?>" title="<?=htmlspecialchars($item)?>"><?=$item?></a></li>
<?endforeach //loop?>
</ul>
		
<?if($block_id == 'product_nologged'):?>
<div id="login-submenu" class="popup">

	<?extract(get_page('login'))?>
	<h5><?=$p_item?></h5>
	
	<div class="login-content">
		<form name="theForm3" method="post" action="/<?=LANGUAGE?>/product/customer/login/" onsubmit="return validar(document.theForm3,'mail','E-mail<?//=$c_mail?>','email1','password','<?=$c_password?>','text1');" target="save_frame">
			<fieldset>
				<label>E-mail<?//=$c_mail?>
				<input name="mail" type="text" autocorrect="off" autocapitalize="none" class="text" id="mail3" /></label>
				<label><?=$c_password?>
				<input name="password" type="password" class="text" id="password3" /></label>
				<input type="submit" value="<?=$c_login?>" class="boto" />
			</fieldset>
		</form>
		
		<a  href="javascript:customer_show_password('2')" class="password">
		<?=$c_password_forgotten?>
		</a>
		
		<div id="password_form2" class="hidden">
			<form name="passwordForm2" method="post" action="/<?=LANGUAGE?>/product/customer/send_password/" onsubmit="return validar(document.passwordForm2,'mail','<?= $c_mail ?>','email1');" target="save_frame">
				<label>
					<?=$c_password_insert_mail?>
					<input name="mail" type="text" autocorrect="off" autocapitalize="none" id="mail_password2"/>
				</label>
				<input type="submit" name="button"  class="boto" value="Ok" />
			</form>
		</div>
	</div>
	<a class="close" href="javascript:product.open_login()"></a>
</div>
<?endif //block?>