/************************/
/* MAIN HOME            */
/************************/

@media only screen and (max-width: $menu-mobile-max-width) {
	
	#text-home {
		.row {
			width: 100%;
		}
	}
	
}

main#home {
	h6 {
	
	}
	
	h4 {
	
	}
	
	.h1 p,
	.h2 p,
	.h3 p,
	.h4 p,
	.h5 p,
	.h6 p {
		margin: 0;
	}
}

/* home-slider */
#banner-home {

}

#slider-home {
	position: relative;
	overflow: hidden;
	
	.item {
		min-height: 501px;
		position: relative;
		
		> img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
		h3 {
			
			a {
				color: inherit;
			}
		}
		
	}
	
	div.text {
	
	}
}

/* fi home slider */

/* home frase	*/
#header-home {
	background-color: $corporate-color-2;
	padding: 70px 0 0px 0;
	line-height: 1.5;
	/*background: url('../images/header_home_arrow.png') $corporate-color-2 no-repeat center bottom;*/
	h1 {
		color: $font-color-on-corporate-background;
		font-size: 54px;
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 10px;
	}
	
	h1 span {
		color: $link-color;
	}
	
	h2 {
		color: $font-color-on-corporate-background;
		font-size: 16px;
		text-align: center;
		line-height: 35px;
		max-width: 1055px;
		margin: 0 auto;
		span {
			display: block;
			margin: 20px 0 0;
		}
	}
	
}

.arrow-header-home, .arrow-middle-home {
	margin: 90px 0 0;
	width: 100%;
	background-color: white;
	
}

.arrow-middle-home {
	margin: 0;
}

.triangle-down {
	margin: 0 auto;
	width: 140px;
	height: 90px;
	background-color: $corporate-color-2;
	/* The points are: centered top, left bottom, right bottom */
	clip-path: polygon(50% 50%, 0 0, 100% 0);
}

/* home fi frase	*/

/* text-home */
#text-home {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 60px 60px;
	padding-top: 20px;
	padding-bottom: 8px;
	flex-wrap: wrap;
	line-height: 1.5;
	
	h4 {
		font-size: 19px;
		margin: 20px 0 0;
		color: #464646;
		text-align: center;
	}
	
	p {
		margin-top: 25px;
		text-align: center;
	}
	
	figure {
		text-align: center;
	}
	
	figure img {
		max-width: 126px;
		height: auto;
		width: 100%;
	}
	
	.center-button {
		grid-column: span 4;
	}
}

#middle-home {
	text-align: center;
	background-color: $corporate-color-2;
	
	h4 {
		color: #ffffff;
		font-size: 54px;
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	h4 span {
		color: $link-color;
	}
}

#text-middle-home {
	margin: 0 0 70px 0;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	img {
		width: 25.13%;
		height: auto;
	}
	
	.text {
		width: 74.87%;
		padding-left: 80px;
		max-width: 880px;
		margin-right: auto;
	}
	
	h3 {
		font-size: 30px;
		color: #313131;
		text-transform: uppercase;
		font-weight: 600;
	}
}

#medi-ambient {
	background: url('../images/meddi_ambient_bg.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 40px 0;
	min-height: 540px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	h5 {
		font-size: 60px;
		line-height: 1.2;
		font-weight: 700;
		color: $font-color-on-corporate-background;
		text-transform: uppercase;
	}
	
	p {
		color: $font-color-on-corporate-background;
		margin-bottom: 50px;
	}
}

/* fi text-home */

/* news-home */
#news-home {
	overflow: hidden;
	width: 100%;
	
	h6 {
	
	}
	
	.item {
		text-decoration: none;
		float: left;
		width: 33.33%;
		
		&:hover {
		
		}
		
		a {
			color: inherit;
			text-decoration: none;
			
			&:hover figure,
			&:hover time,
			&:hover h3 {
				text-decoration: none;
			}
			
			h3 {
			
			}
			
			&:hover h3 {
			
			}
			
			time {
			
			}
			
			&:hover time {
			
			}
		}
		
		.description {
			
			&:hover {
			
			}
			
			> p:first-of-type {
			
			}
		}
	}
	
	figure {
		font-size: 0;
		line-height: 0;
		
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
}

/* fi news-home */