<? if ($title):?>
	<div class="title"><?=$title?></div>
<? endif //title?>


<? foreach($loop as $l): extract ($l)?>
		<? if ($item):?>
		<div class="title"><?=$item?></div>
		<? endif //item?>
			<ul>
				<? foreach($loop as $l): extract ($l)?>
					<li><a href="<?=$link?>" class="lnk<?=$selected?>"><?=$item?></a></li>
				<? endforeach //$loop?>
			</ul>
		<?if ($name=='sell'):?><div class="sep"></div><?endif?>
<? endforeach //$loop?>


<?if ($name=='rent'):?>
	<div class="sep"></div>
	<div class="title"><a href="?tool=inmo&amp;tool_section=property&amp;offer=1&amp;language=<?=LANGUAGE?>" class="title<?=isset($_GET['offer'])?1:0?>">
	<?=$c_offers?>
	</a></div>
<?endif //name?>