<strong>
<?=$a_name?> <?=$a_surname?>
</strong><br>
<?=$address?>
<br>
<?=$city?>
<?=$zip?>
<br>
<?=strtoupper($country_id)?>
<? if ($dni):?>
<br />
<br />
  <strong><?=$c_dni?></strong>: <?=$dni?>
  <br />
  <strong><?=$c_telephone?></strong>: <?=$telephone?>
  <? if ($telephone_mobile):?>
  -
  <?=$telephone_mobile?>
  <? endif //$telephone_mobile?>
<? endif // $dni?>
