<div class="remove">
	<?if($confirmed):?>
		<p><?=$c_remove_confirmed_1?></p>
		<p><?=$c_remove_confirmed_2?></p>
	<?else: //confirmed?>
		<p><?=$c_remove_confirm_1?>
		<strong><?=$mail?></strong></p>
		<p><?=$c_remove_confirm_2?></p>
		<form method="post" action="<?=$action?>">
			<input class="boto" name ="confirm" type="submit" value="Confirmar" />
		</form>
	<?endif //confirmed?>
</div>