<? $link_action = str_replace('&amp;template=clean','',$link_action);?>
<script language="JavaScript" type="text/javascript" src="/public/jscripts/hide_m.js"></script>

<div id="contacte">
  <p><strong>e-mail.</strong> <script language="JavaScript" type="text/javascript">h_m('fo','contacte','co','in','esgarr','otxa','finqu','m','true','','')</script><script language="JavaScript" type="text/javascript">h_m('','','','','','','','','','','')</script>
  </p>
  

<div class="form_sent">
	<?=$c_form_sent?>				
</div>
<div class="form_not_sent form_area">
	<?=$c_form_not_sent?>
</div>

  
<form class="form_area" action="<?=$link_action?>" method="post" name="theForm" id="theForm" onsubmit="<?=$js_string?>">
    <table class="contacte_table">
      <tr>
        <td class="first">
			<label><?=$c_name;?>:<?=$name?></label>
			<label><?=$c_surnames;?>:<?=$surnames?></label>
			<label><?=$c_phone;?>:<?=$phone?></label>
			<label><?=$c_mail;?>:<?=$mail?></label>
		</td>
        <td  class="second">
			<label><?=$c_matter?>:<?=$matter?></label>
			<label><?=$c_comment?>:<textarea name="comment[0]" cols="30" rows="12" class="inputs"></textarea>
            <input name="old_comment[0]" type="hidden" value="" /></label>
		</td>
      </tr>
    </table>
	
	<div class="accepta"><?=$c_accepto?><input class="accept-condicions" id="accepto" type="checkbox" name="accepto" value="1" /></div>
	
	<div class="send">
		<input name="submit" type="submit" id="submit"  value="<?=$c_send?>" class="send" />
	</div>
	
</form>
</div>