html {
	height: 100%;
}
body {
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	background-color: $body-bg-color;
	color: $font-color;
	padding: 0;
	margin: 0;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

main {
	height: 100%;
	position: relative;
}

article {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 0;
	z-index: 1;
	overflow: hidden;
}

figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	bottom: 0;
	z-index: 100;
	overflow: hidden;
	background-size: cover;
}

.text-holder {
	position: absolute;
	z-index: 102;
	width: $text-holder-width;
	background-color: $text-holder-bg;
	top: $text-vertical-distance;
	left: -$text-holder-width + $text-horitzontal-distance;
	bottom: $text-vertical-distance;
	padding: $text-holder-padding;
	
	h1 {
		color: $corporate-color;
		font-weight: 400;
		font-size: $h1_fonst_size;
		line-height: 1.1;
	}
	
	h2 {
		font-weight: 300;
		font-size: $h2_fonst_size;
		line-height: 1.1;
		margin-top: 2vw;
	}
}

.ref-holder {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 103;
	background-color: $ref-holder-bg;
	padding: $ref-holder-padding;
	text-transform: uppercase;
	font-size: 0;
	line-height: 0;
	opacity: 0;
	text-align: left;
	white-space: nowrap;
	
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	.ref {
		font-size: $ref-font-size;
		line-height: 2.6vw;
		overflow: hidden;
		margin-right: $logo-margin;
	}
}

.logo {
	max-height: 2.6vw;
	width: auto;
}

.price-holder {
	position: absolute;
	right: $price-horitzontal-distance;
	bottom: $price-vertical-distance;
	z-index: 103;
	background-color: $price-holder-bg;
	padding: $price-holder-padding;
	
	font-size: 0;
	line-height: 0;
	
	opacity: 0;
	
	
	span {
		display: inline-block;
		vertical-align: middle;
		font-weight: 700;
		font-size: $price-font-size;
		line-height: 1.2;
	}
	
	.old-price {
		color: $old-price-color;
		text-decoration: line-through;
		margin-right: 1.6vw;
		
		font-weight: 300;
		font-size: $old-price-font-size;
	}
}

.details-holder {
	position: absolute;
	left: $details-horitzontal-distance + $text-holder-ease-hack;
	right: $details-horitzontal-distance;
	bottom: $details-vertical-distance;
	z-index: 104;
	// background-color: $details-holder-bg;
	padding: $details-holder-padding;
	
	opacity: 0;
	
	table {
		th {
			font-weight: 300;
			text-align: left;
			padding: 0.21vw 1.6vw 0.21vw 0;
		}
		td {
			padding: 0.21vw 0;
		}
	}
	
	.line {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 1px;
		font-size: 0;
		line-height: 0;
		background-color: rgba(255, 255, 255, 0.4);
	}
}