// ***************
//  NORMALITZACIÓ
// ***************
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: inherit;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

fieldset,
form {
	border: 0;
	padding: 0;
	margin: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

abbr {
	border-bottom: 0;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main, address {
	display: block;
	margin: 0;
	font-style: normal;
}

#save_frame {
	display: none;
	height: 0;
	&.visible {
		width: 100%;
		height: 600px;
		display: block;
		border: 0;
	}
}

#responsive {
	display: none;
	&:after {
		display: none;
		content: "4000";
	}
}

// ***************
//  ÚTILS
// ***************

.row {
	width: 100%;
	overflow: hidden;
	
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden, .mobile {
	display: none;
}

.clearfix {
	&:before,
	&:after {
		display: block;
		content: " ";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

.fit {
	&-width {
		width: 100% !important;
		height: auto !important;
		position: absolute !important;
		z-index: 1;
	}
	
	&-height {
		width: auto !important;
		height: 100% !important;
		position: absolute !important;
		z-index: 1;
	}
}

.align-right {
	text-align: right;
}

.center {
	text-align: center;
}