.pace {
	
	pointer-events: none;
	user-select: none;
	
	background-clip: padding-box;
	
	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: $loader-width;
	overflow: hidden;
	background-color: $body-bg-color;
}

.pace .pace-progress {
	
	transform: translate3d(0, 0, 0);
	
	display: block;
	position: absolute;
	right: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	border-top: 50 - ($loader-bar-height/2) solid $body-bg-color;
	border-bottom: 50 - ($loader-bar-height/2) solid $body-bg-color;
	background: $corporate-color;
	
}

.pace .pace-progress:after {
	display: none;
}

.pace .pace-activity {
	position: absolute;
	width: 100%;
	top: 50 - ($loader-bar-height/2);
	height: $loader-bar-height;
	z-index: 2001;
	background-color: rgba(237, 104, 51, 0.2);
}

.pace.pace-inactive {

}