@mixin get-vw-font-size($pixels) {
	$vw-context: (1920 * 0.01);
	font-size: ($pixels) * 1px;
	font-size: ($pixels / $vw-context) * 1vw;
}

@function get-vw($pixels) {
	$vw-context: (1920 * 0.01);
	@return ($pixels / $vw-context) * 1vw;
}