
@import '_mixins';

// Colors - main
$body-bg-color: #152549;
$font-color: #ffffff;
$corporate-color: #ffffff;
$price-bg-color: #4b4b4b; // millor corporate color si queda bé
$corporate-color-2: #000000;

// Text holder
$text-holder-ease-hack: 10; // 10 per efecte de ease
$text-holder-bg: rgba(#000000, 0.5);
$text-holder-padding: 5.2vw 3.6vw 5.2vw 3.6 + 10vw;
$text-holder-width: 44vw + $text-holder-ease-hack;
$text-horitzontal-distance: 0;
$text-vertical-distance: 0;
$h1_fonst_size: 3.8vw;
$h2_fonst_size: 2.5vw;

// Ref holder
$ref-holder-bg: rgba($corporate-color-2, 1);
$ref-holder-padding: 1vw 3.6vw;
$logo-margin: 3.1vw;

// Price holder
$price-holder-bg: rgba($price-bg-color, 1);
$price-holder-padding: 0.5vw 2.6vw;
$price-horitzontal-distance: 3.6vw;
$price-vertical-distance: 3.6vw;
$old-price-color: rgba($font-color, 0.2);
$price-font-size: 3.7vw;
$old-price-font-size: 2.6vw;

//  Details holder
$details-holder-padding: 2.6vw 3.6vw;
$details-horitzontal-distance: 0vw; // 3.6vw;
$details-vertical-distance: 0vw; //3.6vw;
$ref-font-size: 1.8vw;

// Text
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 1.8vw;
$line-height: 1.5;

// Loader
$loader-width: 100vw;
$loader-bar-height: 0.1vh;

@import '_general';
@import '_content';
@import '_loader';