/* Generals */
body {
	text-align: center;	
	padding: 0;
	margin: 0;	
	background-color: #8ab0ce;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	}
p {
line-height:15px;
}

ul, form {
	border: 0;
	margin: 0; 
	padding: 0;			
}
li {
	border: 0;
	margin: 0; 
	padding: 0;
	list-style: none;
}
#container  {     
	width: 801px; 
	margin: 0 auto;
	}	
.left{ 
	float:left;
}
.right{ 
	float:right;
}
.cls { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* Fi Generals */


/* HEADER */	
#header_top {	
	text-align: right;	
	color:#FFF;
	width:777px;
	height:22px;
	padding: 10px 24px 0 0;
	margin: 0px;
	background: #8ab0ce url(../images/header_top_bg.gif);
	}
	#header_top a{
		color:#FFF;
		font-size: 10px;
		text-decoration: none;
	}
	#header_top a:hover{
		color: #faba3c;
		text-decoration: none;
	}
#header {	
	width:801px;
	height:69px;
	padding: 0px;
	margin: 0px;
	background: #8ab0ce url(../images/header_bg.gif);
	}
	#header_left {
	float:left;
	padding: 0 0 0 25px; 
	margin: 0px;	
	}
	#header_right {
	float:right;
	padding: 0px;
	margin: 0px;
	text-align: right;
	}
	#header h1 {
	padding: 18px 22px 0 0;
	margin: 0;
	font-size: 12px;
	color:#000;
	font-weight: bold;
	}
	#header h2 {
	padding: 8px 22px 0 0;
	margin: 0;
	font-size: 18px;
	color:#5d82a0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
#header_image {	
width:801px;
padding: 0px;
margin: 0px;
background: #8ab0ce url(../images/content_bg.gif);
}
#header_bottom {
width:777px;
text-align: left;
padding-right: 12px;
padding-left: 12px;
background: #8ab0ce url(../images/content_bg.gif);
clear: both;
}
	#header_bottom_menu {
		height: 24px;
		text-align: left;
		padding-left: 11px;
		color: #000000;
		font-size: 11px;
		background: #d0deea url(../images/header_bottom_bg.gif);
		font-weight: bold;
		border-bottom: 1px #8ab0ce solid;
		letter-spacing: 0.5px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		}
		#header_bottom_menu a {
			line-height : 24px;
			height: 24px;
			text-decoration: none;
			}	
		#header_bottom_menu a.lnk0 {
			color: #07519a;
			}		
		#header_bottom_menu a.lnk0:hover {
			color: #000;
			}
		#header_bottom_menu a.lnk1 {
			color: #000000;
			}		
		#header_bottom_menu a.lnk1:hover {
			color: #000;
			}
	#header_bottom_search {
	text-align: right;
	height: 42px;
	background: #d0deea url(../images/header_bottom_search_bg.gif);
	clear: both;
	}
	#header_bottom_search .search {
	font-size: 12px;
	border-top: 2px #88adc8 solid;
	border-bottom: 2px #88adc8 solid;
	border-right: 1px #88adc8 solid;
	border-left: 1px #88adc8 solid;
	}
/* FI HEADER */	
	
	
/* CONTINGUT */		
#content {
	clear:both;
	width:777px;
	padding-right: 12px;
	padding-left: 12px;
	background: #8ab0ce url(../images/content_bg.gif);
}	
	#left {
	text-align: left;
	width:150px;
	padding-left: 3px;
	float:left;
	background: #f4e4cb url(../images/content_left_bg.gif);
	}
	#left ul{
		padding-bottom: 15px;
	}
	#left a {
		color: #646464;
		font-size: 11px;
		display: block;
		padding-left: 8px;
		text-decoration: none;
	}
	#left a.lnk1 {
		background-color: #f7f0e5;
		margin-right:1px; 
	}
	#left a.lnk0 {
	}
	#left a.lnk0:hover {
		color: #fff;
		background-color: #f9b344;
	}
	#left .title{
		width: 145px;
		height: 25px;
		padding-left: 7px;
		padding-top: 7px;
		font-size: 12px;
		font-weight: bold;
		background: url(../images/content_left_title_bg.gif) no-repeat;
	}
	
	#middle {
	width:544px;
	padding:0 40px 0 40px;
	float:right;
	background: #FFFFFF url(../images/content_bg.jpg) no-repeat top left;
	min-height: 448px;
	text-align: left;
	}
	#middle h2{
		font-size: 20px;
		padding: 10px 0 0 0;
		color: #985e02;
	}
		#middle_bottom{
			border: 1px solid #dfdfdf;
			padding: 10px; 
			margin-bottom: 20px;			
		}	
		#middle_bottom h3{
			font-weight: bold;
			margin: 0px;
			padding: 0px;
			font-size: 12px;
		}
		#middle_bottom a {
			color: #07519a;
		} 
		#middle_bottom a:hover {
			text-decoration: none;
		} 
/* FI CONTINGUT */

/* PEU */
#footer {
	clear:both;	
	padding-top: 35px;
	width:801px;
	text-align: center;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 14px;
	background: url(../images/footer_bg.jpg) no-repeat top;
	}
	#footer a {
		color: #FFFFFF;
		text-decoration: none;
		}		
	#footer a:hover {
		text-decoration: underline;
		}	
	#footer img {
		padding-top: 10px;
		}
/* FI PEU */
/* Paginació */

.pageResults{ 
	font-size: 11px;	
	color: #828181;
	height: 20px;
	background: url(../images/results_bg.gif) repeat-x bottom;
	text-align: left;
}

/* els que no depenen directament del tpl */
/* Llista propietats */
.listPropertyEven, .listPropertyOdd{
	background-color: #F3F3F3;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
}
td.detailsTop{
	background-color : #CCCCCC;
}

td.details, .details{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size: 13px;
	line-height : 16px;
}



/*-------- Fitxa propietats -----------*/
  
.ref { /* ref, */
	margin-top: 15px;
	margin-bottom: 10px;
	clear: both;
}
a.ref {
	font-size: 15px;
	color: #07519a;
	line-height: 18px;
	font-weight: bold;
} 
a.ref:hover {
	text-decoration: none;
} 
.property {
	font-size: 13px;
	color: #000000;
	line-height: 18px;
	font-weight: bold;
	margin-bottom: 5px;
} 
.property_title { 
	font-size: 13px;
	color: #000000;
	font-style: italic;
	margin-bottom: 5px;
} 
.description, .description2 {
	width: 70%;
	margin-bottom: 10px;
	text-align: justify;
} 
.description2 {
	width: 450px;
}
.price{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #07519a;
	margin-bottom: 10px;
}  
.price span{
	color: #cf2c0c;
}
table.images_list {
	margin:0;
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:25px;
	padding-right:0;
} 
div.images_list, div.images_list2{
	margin:0;
	padding-right:0;
	border-left: 1px #94a1ac solid;
	border-right: 1px #94a1ac solid;
	background-color: #d9dbdc;
}  
div.images_list2{
	padding-right:4px;
} 
div.images_list_middle {
	float:left;
}  
div.images_list_middle2 {
	float:left;
	padding-left: 4px;
	padding-bottom: 4px;
} 
table.details1 {
}
td.details1{
	padding-right: 30px;
} 
table.details2 { /* taula amb les característiques de la fitxa de propietats, habitacions, num aseos, terraza... */
	border-left: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
}
td.details2{
	font-size: 11px;
	color: #4a4a4a;	
	padding-left: 15px;
}

/* google maps */
.onsom {
	}
.onsom iframe {
	width: 544px;
	height: 450px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 30px;	
}
#map {
	border : 1px solid #94a1ac;
	width: 542px; 
	height: 448px;
}

/* contacte */
#contacte p{
	width:424px;
	text-align:justify;
}
.buttons {
	font-size:12px;
	height:18px;
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	color: #404040;
	border: 1px solid #525e67;
}
.inputs {
	font-size:12px;
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	color: #646464;
	background-color:#fff;
	border: 0;
	width: 300px;
}
input.inputs {
	height:18px;
}

