/* MODALBOX */

#lbbernat { /*aquesta capa m'ajudara a posicionar el recuadre mes cap amunt o cap avall*/
	position:absolute;
	top:5%;
	width:100% 	
}   
#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #4c677e; /* color fons difuminat */
	cursor: pointer;
}

#lbCenter { /* carrega inicial */
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

#lbBottomContainer { /* part de dalt del container */
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #FFFFFF;
	height: 30px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #384d60;
	border-right-color: #384d60;
	border-left-color: #384d60;
	/* height: 60px; */
	height: 60px; /*amplada d'on hi ha el text com ara ref..., també s'ha de canviar al tpl, on crida la funcio modalbox del js */
}
.lbLoading {
}

#lbContentContainer { /* par de baix del container */
	overflow: hidden;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #384d60;
	border-bottom-color: #384d60;
	border-left-color: #384d60;
}

#lbBottom {
	height: 30px; /* també s'ha de canviar per l'alçada del text*/
}

#lbCloseLink { /* botor per tancar */
	display: block;
	float: right;
	width: 28px;
	height: 28px;
	background: transparent url(/public/themes/plantilla2/images/closelabel.gif) no-repeat center;
	margin: 0 2px 0 0;
}

#lbCaption { /* color del texte */
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
}
