			.m1{
				font-size:20px;
				font-weight: bold;
				margin: 20px 0 10px 0;
			}
			.m2{
				font-size:12px;
				margin:5px 0 0 20px;
				font-weight: bold;
				color:#484848;
			}
			.m2 em, .m1 em{
				font-weight: normal;
				font-style: normal;
				padding-right: 10px;
			}
			.m2 i, .m1 i{
				font-weight: normal;
				color:#706f6f;
			}
			.m3{
				font-size:11px;
				margin:0 0 0 30px;
				color:#484848;
			}
			.m4{
				font-size:11px;
				margin:0 0 0 40px;
				color:#484848;
			}
			.mwarning{
				font-size:20px;
				margin:0 0 0 0;
				color: #92c523;
			}
			.merror{
				font-size:20px;
				margin:0 0 0 0;
				color:red;
			}