.html {
	min-height:400px;
}
body{
	margin:0;
	padding:0;
	background-color:#454645;
	font-family: Arial, sans-serif;
	font-size: 11px;
  	color: #fff;
}
body.clean{
	background-color:#F6F6F6;
}
body.window{
	background-color:#F6F6F6;
}
td,th,tr,table {
	font-family: Arial, sans-serif;
	font-size: 12px;
  	color: #666666;
}
th {
	text-align: left;
}

label{
	padding: 3px 4px 3px 4px;
	display: block;
}

label:hover{
	background-color: #C0D3D8;
}


ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	border: 0;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(../images/list.gif) no-repeat;
}

form, h1, h2, h3{
	padding:0;
	margin:0;
	font-weight: normal;
}

a {
	color:#1381ce;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {

}

.cls {
	clear:both;height:0;font-size: 1px;line-height: 0px;
}

.align-right {
	text-align: right;
}
	.center {
		text-align: center;
	}
.centerFloat1{
	padding:0;margin:0 auto;float:left;position:relative;left:50%;
}
.centerFloat2{
	float:left; position:relative; right:50%;clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
	.clearfix:after {
		clear: both;
	}

.nowrap{	
   white-space: nowrap;
}

.hidden{
	display: none;
}
.hidden-important{
	display: none !important;
}

.small {
	font-size: 11px;
}
.bigger {
	font-size: 15px;
}

.titol {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #535353;
}

.resaltat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.vermell {
	COLOR: #CB2903;
}
.vert {
	COLOR: #92a812;
}
.inactive {
	COLOR: #B5B5B5;
}
.highlight { background-color: #D6FF32; }

.resaltatSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

.lineaSuma{
	line-height: 0px; 
 	border-TOP: 1px solid #000000; 
}


div.separador{
	height:20px;
}
div.sep{
	height:20px;
}
.smaller{
	font-size: 90%;
}


/* Utils Generals */
.padding-bottom-1 {
	padding-bottom: 10px !important;
}
.padding-bottom-2 {
	padding-bottom: 20px !important;
}
.padding-bottom-3 {
	padding-bottom: 30px !important;
}
.padding-bottom-4 {
	padding-bottom: 40px !important;
}
.padding-top-1 {
	padding-top: 10px !important;
}
.padding-top-2 {
	padding-top: 20px !important;
}
.padding-top-3 {
	padding-top: 30px !important;
}
.padding-top-4 {
	padding-top: 40px !important;
}
.padding-right-1 {
	padding-right: 10px !important;
}
.padding-right-2 {
	padding-right: 20px !important;
}
.padding-right-3 {
	padding-right: 30px !important;
}
.padding-right-4 {
	padding-right: 40px !important;
}
.padding-left-1 {
	padding-left: 10px !important;
}
.padding-left-2 {
	padding-left: 20px !important;
}
.padding-left-3 {
	padding-left: 30px !important;
}
.padding-left-4 {
	padding-left: 40px !important;
}
/* Fi Utils Generals */



/* CONTINGUT TAULA PRINCIPAL */
#middle{
	width: 100%;
	border-top: 1px solid #d3d3d3;
	}
	#contingut{
		vertical-align: top;
		padding: 0;
		background-color: #f6f6f6;
	}
	#content{ /* popup window */ 
		background-color:#F6F6F6;
	}
	.content_container{
		padding: 20px; /* buscador inmo */
	}

/* OMBRES i PESTANYES */

.pestanya{
	border-radius: 3px;
	box-shadow: #7e7e7e 0 1px 3px;
	-webkit-box-shadow: #7e7e7e 0 1px 3px;
	border: none;	
}


/* Debug */
#tancar-debug {
	position: fixed;
	z-index: 10000;
	background-color: #666;
	opacity: 0.5;
	padding: 10px;
}
	#tancar-debug a {
		color: white;
		text-decoration: none
	}/* HEADER */
#header_top{
	background-color: #fcfcfd;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#fcfcfd')";
	background: -ms-linear-gradient(#efefef, #fcfcfd);
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fcfcfd));
	background: -moz-linear-gradient(top, #efefef, #fcfcfd);
	position: relative;
	-pie-background: linear-gradient(#efefef, #fcfcfd);
	behavior: url(/common/jscripts/PIE.htc);
}
	#header_top .left{
		padding: 14px 0 10px 0;
	}
	#header_top{
		text-align: right;
		line-height: 14px;
	}
	#header_top .user{
		color:#b3b3b3;
		float: left;
		padding-top: 5px;
		margin-right: 22px;
		border-bottom: 1px solid #dddddd;
	}
	#header_top .user strong{
		color:#747474;
		font-weight: normal;
	}
	#header_top .right a{
		color:#666666;
		text-decoration: none;
		background-color: #dedede;
		border-left: 1px solid #bfbfbf;
		float: left;
		display: block;
		padding: 5px 12px 5px 34px;
		font-size: 11px;
	}
	#header_top .right a:hover{
		background-color: #c3c3c3;
	}
	#header_top .right a.first{
		border-left: none;
		position:relative;
		border-radius: 0 0 0 4px;
		behavior: url(/common/jscripts/PIE.htc);
		background-image: url(../images/header_top_1.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.second{
		background-image: url(../images/header_top_2.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.last{
		background-image: url(../images/header_top_3.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.first:hover{
		background-image: url(../images/header_top_1_hover.png);
	}
	#header_top .right a.second:hover{
		background-image: url(../images/header_top_2_hover.png);
	}
	#header_top .right a.last:hover{
		background-image: url(../images/header_top_3_hover.png);
	}

#header_middle{
	background-color:#666666;
	padding: 0 0 0 192px;
	position: relative;
}
	#header_middle a{
		font-size: 12px;
		line-height:14px;
		height: 14px;
		margin: 5px 0 0 0;
		padding: 4px 15px 4px 15px;
		display: block;
		float: left;
		color: #e3e3e3;
		text-decoration: none;
		border: 1px solid #666666;
		border-bottom: 0;
	}
	#header_middle a:hover{
		color: #fff;
		background-color:#454645;
		border: 1px solid #828282;
		border-bottom: 0;
		border-radius: 2px 2px 0 0;
	}
	#header_middle div.selected{
		font-size: 14px;
		line-height:15px;
		height: 15px;
		margin: 5px 10px 0 10px;
		padding: 6px 22px 2px 22px;
		display: block;
		font-weight: bold;
		float: left;
		color: #666666;
		position: relative;
		background-color:#f4f4f4;
		border-radius: 2px 2px 0 0;
		behavior: url(/common/jscripts/PIE.htc);
	}
#header_bottom{
	height: 38px;
	padding: 16px 0 0 18px;
	font-size: 20px;
	line-height: 24px;
	color: #666666;
	background-color: #f4f4f4;
	position:relative;
}
#header_bottom .subtitle{
	position:absolute;
	top:18px;
	left:228px;
	color: #7f7f83;
	font-size:17px;
}


#middle .breadcrumb{
	color:#8b8b8b;
	font-size:11px;
	text-transform: lowercase;
	padding:8px 0 8px 17px;
}
#middle .breadcrumb a{
	color:#8b8b8b;
}/* FOOTER */
#footer_top{
	line-height: 24px;
	background-color: #d3d3d3;
	text-align: center;
	color: #666666;
	font-size: 11px;
}
	#footer_top strong{
	padding: 0 10px;
	color: #454645;
	}
	#footer_top a{
		color: #666666;
		padding: 0 10px;
		line-height: 24px;
	}
#footer_bottom{
	text-align: center;
	font-size: 11px;
	background-color:#454645;
	line-height:25px;
	padding: 20px 0 10px;
	color: #787878;
}
	#footer_bottom a{
		color: #787878;
	}
	#footer_bottom img{
	vertical-align: bottom;
	}
	#footer_bottom img.sistema{
	margin-left: 40px;
	}
	#menu_holder{
		font-size: 12px;
		line-height: 16px;
		width: 213px;
		padding: 0 0 20px 0;
		background-color: #f3f3f3;
		vertical-align: top;
		border-right: 1px solid #d3d3d3;
		min-width: 180px;
	}
	#menu_holder2{
		width: 213px;
		position:relative;
	}
		#menu_content{
			padding-bottom: 20px;
		}
		#menu_arrow{
			height: 16px;
			cursor: pointer;
			margin-bottom: 2px;
		}
		.m_arrow{
			background: url(../images/menu_bg.png) 100% 0 no-repeat;
		}
		.m_arrow:hover{
			background-position: 100% -34px;
		}
		.m_arrow_down{
			background: url(../images/menu_bg.png) 100% -17px no-repeat;
		}
		.m_arrow_down:hover{
			background-position: 100% -51px;
		}
		#menu strong{
			color:#2e2e2e;
			padding: 26px 0 0 20px;
			display: block;
		}
		#menu a{
			display: block;
			color:#474746;
			text-decoration: none;
			padding: 3px 0 3px 20px;
		}
		#menu a.lnk:hover, #menu a.lnkSelected:hover{
		background-color: #828282;
		color:#ffffff;
		}
		#menu a.lnkSelected{
		background-color: #e1e1e1;
		}
		#menu .sep{
			height: 8px;
		}
		#menu div.last_menu{
			margin-left:40px;
			padding-bottom: 10px;
		}
		#menu div.last_menu > div{
			margin-left:20px;
			padding-bottom: 10px;
		}
		#menu div.last_menu_sub{
			margin-left:20px;
		}
		#menu a.last_menu, #menu a.last_menu_sub{
			color: #1381CE;
			padding-left:0;
		}
		#menu a.last_menu.selected1{
			color: #000;
		}
		#menu a.last_menu_sub{
			margin-left:20px;
		}
		#menu a.last_menu:hover, #menu a.last_menu_sub:hover{
			text-decoration: underline;
		}/* ELEMENTS FIXES */
	.fixed {
		position: fixed;
		top: 0;
		z-index: 5;
	}

	#split.fixed {
		right:0;
		background-color: #F6F6F6;
		z-index: 4;
	}

	#split.fixed td.pageResults {
		border-bottom: 1px solid #F6F6F6;
	}

	#opcions.fixed {
		right:0;
		box-shadow: 3px 1px 3px 0 #b5b5b5;
		-webkit-box-shadow: 3px 1px 3px 0 #b5b5b5;
		background-color: #F6F6F6;
	}

	#menu.fixed {
		left:0;
		background-color: #F3F3F3;
		border-right: 1px solid #d3d3d3;
	}

	#menu.fixed-bottom {
		bottom: 0;
		position:absolute;
	}

	#menu.fixed-left {
		bottom: auto;
		position:absolute;
	}

	#form_buttons.fixed{
		right:0;
		background-color: #F6F6F6;
		box-shadow: 1px 1px 3px 0 #b5b5b5;
		-webkit-box-shadow: 1px 1px 3px 0 #b5b5b5;
		z-index: 4;
	}
	.form #form_buttons.fixed div.menu div {
	}
	.form #form_buttons.fixed div.menu, .form #form_buttons.fixed td.buttons_top {
    	border-color: #F6F6F6;
	}
	#opcions_fixed_bar{
		display: none;
		top:0;
		right:0;
		position:fixed;
		z-index: 5;
	}
	#opcions_fixed_bar .more{
		background: url(../images/icones.png) no-repeat -30px 0;
		width:15px;
		height:15px;
		cursor: pointer;
	}
	#opcions_fixed_bar .more:hover{
		background: url(../images/icones.png) no-repeat -45px 0;
	}
	#opcions_fixed_bar .more.down{
		background-position: 0 0;
	}
	#opcions_fixed_bar .more.down:hover{
		background-position: -15px 0;
	}
/* Missatges */
#message_container {
  font-size: 14px;
  color: #F64E42;
  background-color: white;
  padding:10px;
  text-align:left;
  border:2px #828282 solid;
  margin: 2px;
}
#news{
	padding: 30px 17px 30px 17px;
	font-size: 15px;
	color:#383838;
	border-top: 10px solid #C4F085;
	border-bottom: 10px solid #C4F085;
}

#news > div {
	margin-bottom: 6px;
}
#news td{
	color:#383838;
	font-size: 12px;
}
#news .missatge-titol {
	margin: 30px 0 10px;
	line-height: 22px;
}
#news .missatge-titol:first-child {
	margin-top: 0;
}
#news .missatge-titol strong {
	font-size: 18px;
	font-weight: normal;
}
#news .missatge-titol a.reply {
	margin-left: 15px;
	font-size: 12px;
	background-color: #fff;
	display: inline-block;
	padding: 0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: lowercase;
	border: 1px solid #ebf0f2;
	color: #666666;
}
	#news .missatge-titol a.reply:hover {
		background-color: #878787;
		text-decoration: none;
		color: #FFFFFF;
	}
#news .missatge-titol a.hide_missatge {
	margin-left: 20px;
	font-size: 12px;
	float: right;
	text-transform: lowercase;
}
#news .reply-user {
	color: #666666;
	margin-left: 15px;
}
#news .entered {
	font-size: 12px;
	color: #666666;
}

.botoAlerta {
	BORDER: #FFFFFF 1px solid;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	margin-top: 1px;
	margin-right: 5px;
	FONT: bold 10px Verdana, sans-serif;
	COLOR: #FFFFFF;
	HEIGHT: 14px;
	BACKGROUND-COLOR: #F33111;
	TEXT-ALIGN: center;
	text-decoration: none;
	float: left;
}
.taulaAlerta {
BORDER: #FFFFFF 1px dotted;
color:#ffffff;
FONT: 10px Verdana, sans-serif;
HEIGHT: 17px;
BACKGROUND-COLOR: #F33111;
text-decoration:none;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;

}

.module-message {
	padding: 50px;
	display: block;
	font-size: 14px;
}/* Barra Pestanyes */

table.barraTbl {
 border-top: 0px solid #7B7777;
 border-bottom: 1px solid #7B7777;
}
td.barraSelected {
 background-color: #4B690B;
 border-right: 1px solid #A4A1A1;
}

td.barra {
 border-right: 1px solid #A4A1A1;
}

a.barraLnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #304507;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	display: block;
}
a.barraLnk:hover {
	width: 100%;
	color: #ffffff;
	background-color: #7d881f;
	height: 24px;
	line-height: 24px;
}
a.barraLnkSelected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

/* Barra Secundaria */
a.barra2Lnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}
a.barra2Lnk:hover {
	color: #4B680B;
}

/* Menu */

.separadors{
	background-color: #E3E3DE;
	line-height: 0px;
 	border-TOP: 1px solid #BAB7B7;
}

.menuNom {
	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
td.menuNom{
	background-color: #D4D0C8;
}

td.menutitol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
	padding: 3px 12px;
	font-weight: bold;
}
td.menu {
	background-color: #FAFAF9;
}
table.menuOptions{

}
table.menuOptions .sep{
	height: 6px;
}
/* buscador finques */
a.menulnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration : none;
	line-height: 18px;
	display: block;
	padding: 2px 12px
}
a.menulnk:hover {
		background-color: #828282;
		color:#ffffff;
}
a.menulnkSelected {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color : #E8F1D5;
	text-decoration : none;
	line-height: 18px;
	display: block;
	padding: 0 12px
}
a.menulnkSelected:hover {
	background-color : #BFD692;
}
td.menu {
}
td.menuSelected {
}
td.menumarkedesq0 {
}
td.menumarkedesq1 {
	border-left : 1px solid Silver;
	border-top : 1px solid Silver;
	border-bottom : 1px solid Silver;
}


td.opcionsTitol{
	background-color: #f6f6f6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #555;
	padding-left: 8px;display:none;
}
td.opcions{
	padding: 12px 17px;
	border-bottom: 1px solid #d3d3d3;
}

td.opcions td.buttons{
	padding-right: 30px;
	padding-top: 10px;  /*posar aquest espai en tota la linea de botons*/
	padding-bottom: 10px;
}

td.opcions td.buttons.after{
	padding-left: 30px;
	padding-right: 0;
}
td.opcionsLast{
	padding: 10px 17px;
}
td.opcions .sep{
	height: 12px;
}
table.filters,  #form_buttons{
  border: 0;
  margin: 0;
  border-collapse: collapse;
}
#form_buttons{
  width:100%;
}
.window #form_buttons_holder{
	display:none;
}
table.filters, table.filters td,  #form_buttons, #form_buttons td{
  padding: 0;
  border-spacing: 0;
}
table.filters td{
  line-height:20px;
  padding-right: 5px;
	vertical-align: bottom;
}

table.titolSeccio{
	background-color: #F9F9F8;
	border-bottom: 1px solid #ACACAC;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.subMenu{
	margin-top: -1px;
	position: absolute;
	border: #C5C3C3 2px solid;
	border-top: #C5C3C3 2px solid;
	padding: 10px;
	background-color: #FFFFFF;
	display: none;
	z-index: 1000;
}/* Botons */
/* forms */
input{
	margin: 0;
	vertical-align:middle;
	font-family: Arial, sans-serif;
	color: #383838;
}
input[type=checkbox]{
	margin: 0 5px 0 0;
}
input[type=radio]{
	margin: 0 5px 0 0;
}
	.select_related input[type=radio]{
		margin: 0 18px 0 5px;
	}
	table.radios-object td,
	table.radios2-object td {
		padding-right: 0 !important;
	}
	table.radios-object input[type=radio],
	table.radios2-object input[type=radio] {
		margin-top: 3px;
	}
	table.radios-object label,
	table.radios2-object label {
		padding-right: 10px;
		margin-right: 5px;
		cursor: pointer;
	}
	table.radios-object label {
		margin-right: 10px;
	}

a.btn_form_down,
#hide_private,
input.btn_form1,
a.btn_form1,
a.btn_form1b,
a.btn_form1_private,
a.btn_form2,
a.btn_form_save,
input.btn_form_save,
a.btn_form_delete,
input.btn_form_delete,
a.btn_form_back,
a.boto1,
a.boto1_private,
a.boto2,
input.btn_save_select_frame,
input.btn_select_frame
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 6px;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	COLOR: #3c3c3c;
	BACKGROUND-COLOR: #e5e5e5;
	TEXT-ALIGN: center;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	margin: 2px 0 2px 4px;
	border-radius: 3px;
	border: 1px solid #a2a2a2;
	vertical-align:top;
}
a.btn_form_down:hover,
#hide_private:hover,
input.btn_form1:hover,
a.btn_form1:hover,
a.btn_form1b:hover,
a.btn_form1_private:hover,
a.btn_form_save:hover,
input.btn_form_save:hover,
a.btn_form_delete:hover,
input.btn_form_delete:hover,
a.btn_form_back:hover,
a.btn_form2:hover,
a.boto1:hover,
a.boto1_private:hover,
a.boto2:hover,
input.btn_save_select_frame:hover,
input.btn_select_frame:hover
 {
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	BACKGROUND-COLOR: #efefef;
	COLOR: black;
	border: 1px solid #898989;
}

input.btn_save_select_frame,
input.btn_select_frame{
	margin: 5px 5px 4px;
	height: 24px;
	line-height: 24px;
}
/* botons desplegables */
a.btn_form_down {
	border-radius: 0 3px 3px 0;
	padding: 10px 4px 0px 4px;
	height: 14px;
	cursor: pointer;
	margin-left: 0;
	border-left: none;
	font-size:0px;
	line-height:0px;
}
#opcions select {
}
.custom-select-container {
	position: relative;
}
select.filter {
	position: relative;
	z-index: 10;
	width: 100%;
	margin-right:20px;
	border: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	height:22px;
	line-height:22px;
	color: #666666;
	font-family: Arial,sans-serif;
	font-size: 12px;
	padding: 0;
}
.custom-select {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
	width:100%;

}
.custom-select > span {
	text-align:left;
	margin: 0;
	padding: 0 24px 0 4px;
	font-weight:normal;
	background: #fff url(/admin/themes/inmotools/images/custom_select.png) top right no-repeat;
	cursor: pointer;
	border: 1px solid #D3D3D3;
	border-radius: 2px;
	height:22px;
	line-height:22px;
	display: block;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.custom-select.active > span{
	background-position: right -22px;
	border-color: #9f9f9f;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.custom-select span span {
	 display: block;
    overflow: hidden;
	height:18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.btn_form_down:hover {
	margin-left: 0;
	border-left: none;
}

a.btn_form_down_clicked {
	border-radius: 0 3px 3px 0;
	padding: 10px 4px 0px 4px;
	height: 14px;
	cursor: pointer;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #CCCCCC;
	margin-left: 0;
	border-left: none;
}
a.btn_form_down_clicked:hover{
	COLOR: #ffffff;
	BACKGROUND-COLOR: #bababa;
	margin-left: 0;
	border-left: none;
}

/* checkbox filters */
.filters label{
	display:block;
	padding:4px 4px 4px 4px;
	margin: 0 4px;
	cursor:pointer;
}
.filters label:hover{
	background-color:transparent;
	color:#000;
}
.filters input[type=checkbox]{
	vertical-align:middle;
	margin-left:5px;
}

/* botons */
a.btn_print {
	background-color: #737373;
	color: #f2f2f2;
}
a.btn_print:hover {
	color: white;
	background-color: #555555;
	border: 1px solid #3b3b3b;
}

a.boto2 {
	background-color: #d3d3d3;
}
input.btn_form1 {
	font-weight: bold;
	height: 26px;
	margin-right: 6px;
}
input[type=submit], a.btn_form_save, input.btn_form_save, input.btn_save_select_frame{
background-color: #A7BF1A;
color: white;
font-weight: bold;
}
input[type=submit]:hover, a.btn_form_save:hover, input.btn_form_save:hover, input.btn_save_select_frame:hover{
background-color: #99B10F;
color: white;
box-shadow: #858585 0 1px 1px;
-webkit-box-shadow: #858585 0 1px 1px;
}

a.btn_form2, a.btn_form1b {
	border-radius: 3px 0 0 3px;
	margin-right: 0;
}
a.btn_form_back {
	margin-right: 20px;
	margin-left: 10px;
	background:#e5e5e5 url(../images/icones.png?v=3) no-repeat -60px 5px;
	height:24px;
	width: 43px;
	padding:0;
	border:1px #dfdfdf solid;
}
a.btn_form_back:hover {
	background:#efefef url(../images/icones.png?v=3) no-repeat -105px 5px;
	border:1px #e5e5e5 solid;
}
a.btn_show_previous_link,
a.btn_show_next_link {
	margin-right: 20px;
	background:#fff url(../images/icones.png?v=3) no-repeat 0 -375px;
	height:24px;
	width: 24px;
	padding:0;
	border:1px #dfdfdf solid;
}
a.btn_show_next_link {
	background-position: -50px -375px;
}
a.btn_show_previous_link:hover,
a.btn_show_next_link:hover {
	background-position: -25px -375px;
	border:1px #e5e5e5 solid;
}
a.btn_show_next_link:hover {
	background-position: -75px -375px;
	border:1px #e5e5e5 solid;
}
div.btn_sep{
	margin: 4px;
	float: left;
}

/* Botons privat */

#hide_private{
	background-color: #F64E42;
	color: white;
	margin: 0 10px;
	border: 0;
}
body.window #hide_private{
	margin-top:8px;
}
#hide_private:hover{
	background-color: #e43326;
	color: #f2f2f2;
	box-shadow: #b5b5b5 0 1px 1px;
	-webkit-box-shadow: #b5b5b5 0 1px 1px;
}
#show_private {
	height: 10px;
	width: 10px;
	font-size: 9px;
	float:right;
	margin-right: 5px;
}
body.window #show_private {
	margin-top:8px;
	color: #A8A8A8;
}

a.botoTancar {
	BORDER: #C5C3C3 1px solid;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	MARGIN-RIGHT: 2px;
	BACKGROUND-IMAGE: url(/admin/themes/inmotools/images/boto1_fons.gif);
	FONT: bold 10px Verdana, sans-serif;
	COLOR: #6B6B6B;
	HEIGHT: 13px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	text-decoration: none;
}
a.botoTancar:hover{
	BORDER: #000000 1px solid;
	COLOR: #000000;
}


/* botons llistat i form */
/* List */
a.boto1, a.boto1_private, a.boto2 {
	margin: 2px 0 2px 4px;
}
a.botoOpcions,  a.botoOpcionsGuardar, a.botoOpcionsBorrar, a.botoOpcions1, a.botoOpcionsEditar, a.botoOpcionsNoEditar {
	padding: 0 10px;
	BACKGROUND: #737373;
	font-size: 11px;
	font-weight: normal;
	color: #f2f2f2;
	line-HEIGHT: 24px;
	TEXT-ALIGN: center;
	text-decoration: none;
	float: left;
	border-radius: 3px;
}

a.botoOpcions{
	border: 1px solid #737373;
}
a.botoOpcions:hover {
	color: white;
	background-color: #555555;
	border: 1px solid #3b3b3b;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcions1{
	background-color: transparent;
	color: #1381CE;
	font-size:14px;
}
a.botoOpcions1:hover{
	background-color: #e9e9e9;
}
a.botoOpcions1.excel {
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('../images/excel.png');
	padding-right: 40px;
}

a.botoOpcionsGuardar{
	background-color: #a7bf1a;
	border: 1px solid #a7bf1a;
	color: #ffffff;
	font-weight: bold;
}
a.botoOpcionsGuardar:hover{
	background-color: #99b10f;
	border: 1px solid #889e0b;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcionsBorrar, a.btn_form_delete, input.btn_form_delete{
	background-color: #f64e42;
	border: 1px solid #f64e42;
	color: #ffffff;
}
a.botoOpcionsBorrar:hover, a.btn_form_delete:hover, input.btn_form_delete:hover, a.botoOpcionsEditar:hover, a.botoOpcionsNoEditar:hover{
	background-color: #e43326;
	border: 1px solid #d2271a;
	color: #f2f2f2;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcionsEditar, a.botoOpcionsNoEditar{
	border: 2px solid #737373;
	color: #000;
	font-size:12px;
	height:20px;
	line-height:20px;
	padding:4px 10px 4px 10px;
	text-transform:uppercase;
	background: #e1e1e1;
	margin-left:20px;
}
a.botoOpcionsEditar:hover, a.botoOpcionsNoEditar:hover{
	border: 2px solid #99b107;
	color: #000;
	background: #fff;
}
a.botoOpcionsNoEditar{
	padding:4px 17px 4px 10px;
	background: #e1e1e1 url(../images/icones.png?v=3) no-repeat 100% -60px;
}
a.botoOpcionsNoEditar:hover{
	background: #e1e1e1 url(../images/icones.png?v=3) no-repeat 100% -100px;
	border-color:#e43326;
}

.botoOpcionsSub {
	padding-right: 0 !important;
}
.botoOpcionsSub div {
	display: inline-block;
	position: relative;
	border-left: 1px solid #a8a8a8;
	margin-left: 10px;
}
	.botoOpcionsSub div strong {
		font-weight: normal;
		font-size: 0.8em;
		display: block;
		padding: 0 15px 0 5px;
		background:  url('../images/boto_opcions_sub.png') top right no-repeat;
	}
	.botoOpcionsSub div ul {
		display: none;
		position: absolute;
		top:100%;
		right: 0;
		text-align: left;
		padding-top: 2px;
	}
	.botoOpcionsSub div:hover ul {
		display: block;
	}
	.botoOpcionsSub div ul li {
		display: block;
		background: #666666;
		padding: 2px 10px;
		cursor: pointer;
	}
	.botoOpcionsSub div ul li:hover {
		background-color: #737373;
	}


a.boto-twitter-published, a.boto-facebook-published, a.boto-twitter, a.boto-facebook{
	margin: 2px 0 2px 4px;
	background: url(../images/botosocial_bg.png) no-repeat 100% -100px;
	width: 26px;
	height:26px;
	display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align:top;
}
a.boto-twitter-published{
	background-position: -120px 0;
}
a.boto-facebook-published{
	background-position: -40px 0;
}
a.boto-twitter{
	background-position: -80px 0;
}
a.boto-facebook{
	background-position: 0 0;
}
a.boto-twitter-published:hover{
	background-position: -120px -40px;
}
a.boto-facebook-published:hover{
	background-position: -40px -40px;
}
a.boto-twitter:hover{
	background-position: -80px -40px;
}
a.boto-facebook:hover{
	background-position: 0 -40px;
}

/* Botons*/
.form input[type="text"], .listRecord input[type="text"], .form input[type="password"], textarea, select, .html, div.content_top  input[type="text"]{
	font-size: 12px;
	color: #383838;
	background-color : #fafafa;
	border : 1px solid #d3d3d3;
	margin: 0;
	padding: 4px;
	font-family: Arial,sans-serif;
	vertical-align: middle;
}

select{
	border-spacing:0;
	padding: 3px 5px;
	vertical-align: middle;
}
.ui-datepicker .ui-datepicker-title select {
    padding: 0;
    margin: 1px 0;
}
.listRecord select{
	font-size:12px;
	padding: 0;
	height: 25px;
	line-height: 15px;
}
input.radio {
	padding: 2px;
	margin: 2px;
}
input.focus, .focus{
	border: 2px solid #b4c83b;
	margin: 0px;
}
.focus2{
	border: 1px solid #fdfff1;
	padding: 1px;
	background-color : #f0f7c1;
}
.defaultSkin table.mceLayout {
	margin: 5px 0 20px 0;
}
input.wide, textarea.wide{
	width:631px;
}
.listRecord  input.wide, .listRecord textarea.wide{
	width:200px;
}
.listRecord table.listRecordHor input.wide, .listRecord table.listRecordHor textarea.wide{
	width:600px;
}
.window input.wide, .window textarea.wide{
	width:95%;
}
input.medium, textarea.medium{
	width:450px;
}

/* Validació js
*/

.form_error{
	padding-left:10px;
	color:#e5970f;
}
input.input_error, input.error{
	border: 2px #e5970f solid !important;
	margin: 0px;
}



input.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-image:url(/admin/themes/inmotools/images/input_bg.gif);
	background-repeat:repeat-x;
}

/* icones */
.icon{
	height: 25px;
	width: 25px;
	display:inline-block;
	background-image: url(../images/icones.png?v=3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	.icon.mailed{
		background-position: 0 -150px;
	}
	.icon.liked{
		background-position: -50px -150px;
	}
	.icon.refused{
		background-position: -100px -150px;
	}
	.demand-icons{
		position:absolute;
		right: 10px;
		top: -7px;
	}
/* fi icones */


/* Ajustar botons forms i list */

table.listRecord a.boto1,
table.listRecord a.boto1_private,
table.listRecord a.boto2,
table.listRecord a.boto-twitter-published,
table.listRecord a.boto-facebook-published,
table.listRecord a.boto-twitter,
table.listRecord a.boto-facebook,
table.listRecord a.btn_form_delete,
table.listRecord a.btn_form_save
 {
	margin-top: -6px;
	margin-bottom: -6px;
 }
table.listRecord .icons-holder a.boto1,
table.listRecord .icons-holder a.boto1_private,
table.listRecord .icons-holder a.boto2,
table.listRecord .icons-holder a.boto-twitter-published,
table.listRecord .icons-holder a.boto-facebook-published,
table.listRecord .icons-holder a.boto-twitter,
table.listRecord .icons-holder a.boto-facebook,
table.listRecord .icons-holder a.btn_form_delete,
table.listRecord .icons-holder a.btn_form_save
 {
	margin-top: 8px;
	margin-bottom: 8px;
 }


.form input[type="text"], .form input[type="password"],  .form textarea,  .form select {
	margin-top: -4px;
	margin-bottom: -4px;
}
.form .formsHor input[type="text"], .form .formsHor input[type="password"],  .form .formsHor textarea,  .form .formsHor select {
	margin-top: 8px;
}
table.listRecord input[type="text"], table.listRecord input[type="password"],  table.listRecord textarea,  table.listRecord select {
	margin-top: -9px;
	margin-bottom: -9px;
}

/* Formularis */
/* V4 */
.form {
}

	.form div.menu{
		padding: 0 30px;
		height: 26px;
		border-bottom: 1px solid #d3d3d3;
	}
	.form div.menu div{
		font-size: 12px;
		line-height:14px;
		height: 14px;
		margin: 5px 10px 0 10px;
		padding: 6px 18px 0 18px;
		display: block;
		float: left;
		color: #666666;
		border: 1px solid #d3d3d3;
		border-bottom:  1px solid #f2f2f2;
		border-radius: 4px 4px 0 0;
		background-color: #f2f2f2;
		position: relative;
	}
	.form div.menu div.sep, .form div.menu a.sep{
		margin-left: 40px;
	}
	.form div.menu a{
		height: 15px;
		font-size: 12px;
		margin: 5px 0 0 0;
		padding: 5px 10px 2px 10px;
		display: block;
		float: left;
		text-decoration: none;
	}
	.form div.menu a:hover{
		color: #666;
		background-color:#c3c3c3;
		border-radius: 4px 4px 0 0;
	}

	/* sense td dreta */
	#form_buttons td.buttons{
		min-height: 66px;
		padding-top: 10px;
	}
		#form_buttons td.buttons .menu{
			padding-top: 60px;
		}

		#form_buttons td.buttons .right{
			padding: 10px 30px;
		}
	/* sense td dreta */

	#form_buttons td.buttons_top{
		padding: 10px 30px;
		text-align: right;
		border-bottom: 1px solid #d3d3d3;
	}
	#form_buttons td.buttons_top .right{
		min-height: 66px;
		padding-top: 10px;
	}
	.window #form_buttons td.buttons_top .right{
		min-height: 0;
	}
	.form table.images {
		background-color:#e9e9e9;
	}
	.form table.images img {
		border-radius: 3px;
		border: 5px solid #666666;
		cursor: pointer;
	}
	div.sep_dark {
		background-color: #e9e9e9;
		height: 1px;
		font-size: 1px;
	}
	div.sep_soft {
		background-color: #e9e9e9;
		height: 1px;
		font-size: 1px;
	}

   .add_new_link {
	   margin-left: 30px;
   }
	.listRecord .add_new_link {
		margin-left: 5px;
	}


/* V4 */


table.formstbl {
}
table.formstbl>tbody>tr>td {
	padding: 20px 20px 3px 20px;
}
table.formstbl>tbody>tr>td.formsCaption {
	/*padding-top: 18px;*/
}
table.formstbl>tbody>tr:last-child>td {
	padding-bottom: 18px;
}
table.formstbl td {
	color:#474746;
	vertical-align:top;
}
table.formstbl .opcions td {
	vertical-align: middle;
}

table.formstbl .forms > table > tbody > tr > td,
table.formstbl .forms > table > tbody > tr > th,
table.formstbl > tbody > tr > td > table > tbody > tr > td { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-bottom: 12px;
	padding-right: 15px;
}
table.formstbl .forms > table > tbody > tr > td:last-child,
table.formstbl > tbody > tr > td > table > tbody > tr > td:last-child { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-right: 0;
}
table.formstbl .forms > table > tbody > tr:last-child > td,
table.formstbl > tbody > tr > td > table > tbody > tr:last-child > td { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-bottom: 0;
}

td.forms,  table.formstbl th{
	color: #181818 !important;
	font-weight: normal;
}
table.formstbl th{
	padding-right:7px;
	text-align:left;
}
td.formsHor {
	color:#949494;
}

td.formCaptionTitle, .titol {
	font-size: 18px;
	border-bottom: 1px solid #e9e9e9;
	padding: 20px 20px 10px !important;
	font-weight: normal;
	color: #000 !important;
	background-color: #f2f2f2;
}
.clean .titol{
	font-size:14px;
	display:block;
}

td.formCaptionTitle a, td.formCaptionTitle span, .titol2 {
	font-size: 14px;
}
td.formCaptionTitle strong {
	font-weight: normal;
}
td.formCaptionTitleImageUploader{
	background-color:#E9E9E9;
}
td.formCaptionTitleCheckbox{
	font-size: 12px;
}

td.formsCaption, td.formsCaptionBig {
	border-right : 1px solid #E9E9E9;
}
td.formsCaption strong {
	font-weight: normal;
	color:#666666;
}
td.formsCaptionBig {
	font-size: 13px;
}


.formsCaptionHor2 {
	font-size: 16px;
	border-top : 1px solid #E9E9E9;
	border-bottom : 1px solid #E9E9E9;
	padding: 12px 20px 6px;
	color:#383838;
}
td.formsCaptionHor, td.formsCaptionHorFirst {
	font-size: 16px;
	border-top : 1px solid #E9E9E9;
	border-bottom : 1px solid #E9E9E9;
	padding: 12px 20px 6px;
	color:#383838;
}
td.formsCaptionHorFirst {
	border-top : none;
}

table.langList {

}
table.langList th,
table.formstbl .langListCaption {
	font-weight: bold;
	display:block;
	margin: 0 0 8px;
	text-align: left;
}
table.listRecord table.langList td,
table.listRecord div.langList {
	padding-bottom: 20px;
}
	table.listRecord table.langList tr:last-child td:last-child,
	table.listRecord div.langList:last-child {
		padding-bottom: 0;
	}
	table.listRecord table.langList td input[type='text'],
	table.listRecord div.langList input[type='text'] {
		margin-top: 0;
		margin-bottom: 0;
	}

.formsCaptionHor,  .formsCaptionHor2{
}


table.formsButtonstbl {
	border-top : 1px solid #d3d3d3;
}

td.formsButtons {
	padding:10px 0;
}

img.imageForm {
	border: 4px solid #CCCCCC;
}
/* Llistats contingut */

div.content_top{
	padding: 12px 17px 30px;
	font-size: 14px;
}
	div.content_top .listTitle{
		padding: 0 0 12px 0;
		font-size: 16px;
	}
	div.content_top span{
		font-size: 13px;
	}

/* Llistats */
tr.listItemOdd td, tr.listItemEven td, tr.listItemSelected td, tr.listItemDown td, tr.listItemOver td{
border-bottom: #e9e9e9 solid 1px;
}
tr.listItemMarked td, tr.listItemBlocked td{
border-bottom: #e1d8bb solid 1px;
}
tr.listItemEven td td,
tr.listItemOdd td td,
tr.listItemMarked td td,
tr.listItemSelected td td,
tr.listItemDown td td,
tr.listItemOver td td,
tr.listItemBlocked td td{
	border:0;
	padding:0;
}

tr.listItemBlocked {
	background-color: #e7e1ce;
}

tr.listItemOver,  tr.listItemOdd:hover,  tr.listItemEven:hover{
	background-color: #fff;
}

tr.listItemDown, tr.listItemSelected {
	background-color: #ebf0f2;
}

tr.listItemDown:hover, tr.listItemSelected:hover {
	background-color: #e4e9ea !important;
}
tr.listItemMarked {
	background-color: #e7e1ce;
}

td.listItemCols {
	border-bottom : 1px solid #F2EDE5;
	border-right : 1px solid #F2EDE5;
}

table.listRecord > tbody > tr > td.listGroup:first-child {
	padding: 20px 20px 10px;
}

table.listRecord td.listGroup {
	color: #000;
	border-bottom: #d3d3d3 solid 1px;
	font-size: 18px;
	background-color: #f2f2f2;
}
td.listButtons{
	background-color : #FDFCF6;
	border-top : 2px solid #F2D99C;
	border-bottom : 2px solid #F2D99C;
}

tr td td.listDescription{
	color:#666;
	margin-top: 4px;
	padding-top: 2px;
	padding-left: 20px;
	padding-bottom: 26px;
}
td.listDescription p{
	margin: 2px;
}

table.listRecord {
	 /*border-collapse:collapse; ie9 shadow no va */
 	 border-spacing: 0;
}
table.listRecord.big tbody td {
 	 font-size: 14px;
	 line-height:20px;
}
table.listRecord.big>tbody>tr>td {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

table.listRecord tr{
  border: 0;
  margin: 0;
  padding: 0;
}

#opcions_order_fixed{
	position: fixed;
	right:0;
	box-shadow: 3px 1px 3px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
#opcions_order_fixed td{
  	border-spacing: 0;
}
table.listRecord>tbody>tr>td p:first-child{
margin:0;
}
table.listRecord>tbody>tr>td:first-child,
table.subListRecord>tbody>tr>td:first-child,
table.listRecord .listCaption:first-child,
#opcions_order_fixed td.listCaption:first-child {
	padding-left: 30px;
}
table.listRecord>tbody>tr>td:last-child,
table.listRecord .listCaption:last-child,
#opcions_order_fixed td.listCaption:last-child {
	padding-right: 30px;
}
table.listRecord td {
	padding: 24px 5px;
}

table.listRecord td.listCaption,
#opcions_order_fixed td.listCaption {
	background-color: #e9e9e9;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 11px;
}
td.listCaption img{
	vertical-align: middle;
}

table.listRecord td sup {vertical-align:top}
table.noPadding td {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Horitzontal */
table.listRecordHor {

	}
	table.listRecordHor > tbody >tr > th {
		vertical-align: top;
		text-align: left;
		font-weight: normal;
		padding: 10px 30px 10px 0 !important;
	}
	table.listRecordHor > tbody >tr > td {
		padding: 10px 0 !important;
	}
	table.listRecordHor .boto1 {
		margin-top: 30px !important;
	}


table.sublist{
	margin-top: 30px;
	width: 100%;
}
	table.sublist-new{
		display: none;
	}

/* Sublist a contractes */
table.subListRecordInForm{
	text-align: left;
}

table.subListRecordInForm .formsCaption strong {
	color: #000;
	font-weight: 700;
	padding-left: 20px;
}
table.subListRecordInForm .formsCaption td {
	color: #000;
	padding-left: 20px;
}

table.subListRecordInForm .forms td {
	padding-left: 20px;
}
.contract-property .property-details-holder {
	padding-left: 30px;
}


/* llistat dins llistat
 .subListRecord-holder i .subListRecord-before per llistats automàtics
 */
tr.subListRecord-before > td {
	border-bottom: 0;
	background-color: #f1f1f1;
	position: relative;
}
	tr.subListRecord-before td {
		font-size: 13px;
		color: #000000;
	}
tbody tr.subListRecord-before:first-child > td {
	border-top: 0;
}
tr.subListRecord-holder > td:first-child {
	background: url(../images/sublist.png) no-repeat top center;
	padding-top: 20px;
	padding-bottom: 30px;
}

table.subListRecord{
	/*border: 1px solid #EBEBEB;*/
}
table.subListRecord td.listCaption {
   background-color: transparent;
}
	table.subListRecord .custom-table-holder{
		padding: 15px 0 0 !important;
	}
	table.subListRecord>tbody>tr>td.listImage{
		padding: 15px 12px 0 4px !important;
	}
	.subListRecord-holder tr.listItemOdd td,
	.subListRecord-holder tr.listItemEven td,
	.subListRecord-holder tr.listItemSelected td,
	.subListRecord-holder tr.listItemDown td,
	.subListRecord-holder tr.listItemOver td {
		border-top: #e9e9e9 solid 1px;
		border-bottom: 0;
	}
	.subListRecord-holder td {
		padding: 24px 5px;
	}

table.listDetails{
	margin-top: 4px;
	margin-bottom: 10px;
	padding: 7px 10px 7px 7px;
}

table.listDetails2{
	margin-top: 4px;
	margin-bottom: 6px;
	padding: 10px;
	border: 1px dotted Silver;
}
tr td td table.listDetails2 td, tr td td table.listDetails td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 15px;
}

table.listRecord td.listImage{
	padding: 10px 12px !important;
	width: 200px !important;
}
#print td.listImage{
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-bottom: 0 !important;
}
div.listImagePreview img {
	padding-bottom: 20px;
}
	div.listImagePreview img:last-child {
		padding-bottom: 0;
	}
#print td.observations{
	padding-bottom: 30px;
	border-bottom: 1px solid #E9E9E9;
	text-align:left;
}

#print tr.listItemOdd td, #print tr.listItemEven td, #print tr.listItemSelected td, #print tr.listItemDown td, #print tr.listItemOver td {
    border-bottom: 0;
}


td.listImage>div{
	text-align: center;
	margin: 2px;
	padding: 5px;
	background: #666666;
	font-size: 0;
	line-height: 0;
	border-radius: 3px;
}
td.listImage div.noimage{
	text-align: center;
	margin: 2px;
	padding: 5px;
	background: white url('/common/images/no_image.gif') no-repeat center;
}

td.listTitle1, .listTitle1, td.listTitle1 td {
	color: #000;
	font-size: 16px !important;
}

td.listTitle, .listTitle, td.listTitle td {
	color: #000;
	font-size: 15px;
}
td.listTitle strong, .listTitle strong {
	font-weight:normal;
}

td.listTitle2, .listTitle2, td.listTitle2 td {
	padding: 12px 0 6px;
	color: #383838;
	font-size: 15px;
}
td.listTitle2 strong, .listTitle2 strong {
	font-weight:normal;
}
div.listTitle{
	text-align:left;
}

.listTitleProperty{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: normal;
}

.listTitleProperty2{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #535353;
}

td.listResaltat {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #919191;
	font-weight: bold;
}


/************************/
/* Field options        */
/************************/

#field-options {
	background-color: #f1f1f1;
	padding: 5px 30px 5px 27px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
	#field-options > label {
		display: inline-block;
		padding: 5px 7px 5px 7px;
		line-height: 22px;
	}
	#field-options > label > input {
		margin-left: 0;
		margin-right: 2px;
	}
	#field-options > input[type="submit"] {
		margin-left: 10px;
		height:22px;
		line-height: 16px;
		padding:0 4px;
		border:none;
		background-color: #737373;
		display:inline-block;
		vertical-align: middle;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-weight: normal;
		cursor: pointer;
		text-transform: lowercase;
		color: #ffffff;
	}
		#field-options > input[type="submit"]:hover {
			background-color: #555555;
		}
/* Buscadors */
div.search{
	padding: 10px 17px 20px;
	background-color:#E9E9E9;
}
.select-frame div.search {
	padding: 10px;
	background-color:#F2F2F2;
}
	div.search h3{
		padding: 5px 0;
		font-size: 15px;
	}
	div.search form > table.vertical-caption td {
		vertical-align: top;
		padding-right: 10px;
	}
	div.search form > table.vertical-caption td.buttons-td {
		padding-top: 14px;
	}
	div.search form > table.vertical-caption td.buttons-td.bottom {
		vertical-align: bottom;
	}
	div.search input[type=text], .form input.search, input.search, div.search select {
		padding: 3px;
		border: 1px solid #b7b7b7;
		margin: 0 0 0 10px;
		font-size: 15px;
		height: 28px;
		border-radius:3px 0 0 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	} 
		div.search select option.outlined {
			background-color: #f3f3f3;
			color: #000000;
		}
		div.search .radios-object td {
			padding-top: 5px;
		}
		div.search .radios-object label {

		}

		div.search label.checkbox span {
			margin-top: 8px;
			display: inline-block;
			vertical-align: middle;
			padding-left: 6px;
		}
		div.search input[type="checkbox"] {
			margin-top: 8px;
		}

		div.search input.alone,
		div.search select.alone {
			border-radius:3px 3px 3px 3px;
		}

		div.search table.vertical-caption input[type=text],
		.form table.vertical-caption input.search,
		table.vertical-caption input.search,
		div.search table.vertical-caption select {
			margin: 0;
			width: 250px;
		}
		div.search input:focus,
		div.search .ms-container .ms-list.ms-focus {
			border-color: #9f9f9f;
			 box-shadow: 0 1px 1px rgba(150, 150, 150, 0.075) inset, 0 0 8px rgba(150, 150, 150, 0.6);
			 outline: 0 none;
		 }

	/* Captions*/
	div.search table.vertical-caption td > div {
		padding-bottom: 5px;
	}

	div.search .forms-sep {
		padding-top: 20px;
		border-top: 1px solid #d3d3d3;
		margin-top: 20px;
	}


/* Buscador avançat */
td.searchGroupTop {
	padding-top: 4px;
	padding-bottom: 2px;
}
td.searchGroupBottom {
	border: 1px solid #DCDCDC;
	border-radius:4px;
	background-color: #fafafa;
	padding:6px 0;
}
table.searchGroupOptions {
}
td.searchItemOdd ,tr.searchItemOdd {
}
tr.searchItemOdd td, tr.searchItemDown td, tr.searchItemSelected td {
	padding: 2px 12px;
}

td.searchItemOver, tr.searchItemOver {
	cursor: pointer;
	background-color: #828282;
	color:#ffffff;
}
tr.searchItemOver td {
	padding: 2px 12px;
	color:#ffffff;
}

td.searchItemDown, td.searchItemSelected, tr.searchItemDown, tr.searchItemSelected {
	background-color: #ebf0f2;
}


/* Botons cercador ( canviar buttons2 a boto-search) */
.boto-search {
	border: 0;
	color: #fff;
	font-size:12px;
	line-height:20px;
	padding:4px 15px 4px 15px;
	text-transform:uppercase;
	background: #737373 !important;
	margin-left:10px;
	cursor: pointer;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.boto-search.submit {
	margin-left:50px;
}
.boto-search.reset {
	color: #878787;
	background-color: #dddddd !important;
}
.boto-search.excel {
	color: #fff;
	background-color: #a7bf1a !important;
}
.boto-search:hover{
	color: #fff !important;
	background: #000 !important;

	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* BOOKING */
div.search select[name="is_owner"] {
	width: 100px !important;
	margin-right: 40px !important;
}
/* Select frame */
.select-frame {
	margin:0;
	padding:0;
	background-color:#F6F6F6;
}
	.assign_right{
		border-left: 1px solid #D3D3D3;
		padding:0;
	}
	.assign_right h5{
		font-size:15px;
		font-weight: normal;
		margin:0px;
		padding:15px 0 10px 10px;
		color:#000;
	}
	#write_cell{
		display: block;
		overflow: auto;
		height: 402px;
	}
		#write_cell.tall-cell {
			height: 450px;
		}
	#write_cell td{
		padding:3px 10px;
		cursor:pointer;
	}
	body.clean  .listRecord td{
		cursor:pointer;
	}


/* Seleccionar addresses */
div.text_selected {
	color: #383838;
}/* IMAGE UPLOADER */
.btn {
  font-size:10px;
  cursor:pointer;
  vertical-align:middle;
  padding-left:2px;
  padding-right:2px;
  padding-top:2px;
  padding-bottom:2px;
}

.btnOver {
  font-size:10px;
  cursor:pointer;
  border: #d4d0c8 1px solid;
  padding-left:1px;
  padding-right:1px;
  padding-top:1px;
  padding-bottom:1px;
}

.icon{
  margin-top:-2px;
  vertical-align:middle;
}

.separator{
  margin-top:2px;
  margin-left:5px;
  margin-right:5px;
}

.toolbarHeader{
  font-size:10px;
  font-weight:bold;
}

.panel{
  font-size:10px;
  padding:3px;
}
.footer {
  font-size:10px;
  font-weight:bold;
  color: #929720;
}

/* Upload_files taula ques es mostra al seleccionar arxius per pujar */

.MultiFile-wrap {
}
	.file-max {
		color: #949494;
		font-size: 11px;
		padding-top: 5px;
		display: block;
	}

div.MultiFile-label {
	font-size: 11px;
	color: #000000;
	margin: 5px 0;
	display: block;
}
	a.MultiFile-remove {
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		padding-right: 10px;
	}
	div.MultiFile-label > span{
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		line-height: 0;
	}
		span.MultiFile-label {
			display: block;
			margin: 5px 0 2px;
			font-size: 11px;
			line-height: 16px;
		}

	.multifiles {
		margin: 0 0 10px;
		position: relative;
		overflow: hidden;
	}
		.multifiles div{
			margin: 0 0 7px;
		}

	.multifiles table td {
		padding: 0 15px 15px 0;
	}
		.multifiles table td:last-child {
			padding-right: 0;
		}
		.multifiles table td input[type=text] {
			width: 300px;
		}

			.multifiles table .disabled td,
			.multifiles table .disabled td input[type=text],
			.multifiles table .disabled td select {
				color: #d9d9d9 !important;
				text-decoration: line-through;
			}
			.multifiles table .disabled .fa-upload,
			.multifiles table .disabled .fa-download {
				display: none;
			}
			.multifiles table .disabled .fa-trash {
				color: #F64E42;
			}
		.window .multifiles table td input[type=text] {
			width: 100px;
		}
		.multifiles table td input[type=text].int {
			width: 35px;
		}
		.multifiles .name-original {
			color: #7a7a7a;
			padding-left: 5px;
			padding-top: 8px;
		}
		.multifiles .fa-trash,
		.multifiles .fa-upload {
			cursor: pointer;
		}
		.multifiles .hidden-checkbox {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		.multifiles .hidden-file-holder > div {
			width: 15px;
			height: 15px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}
		.multifiles .hidden-file-holder > span {
			padding-left: 20px;
			font-size: 11px;
			vertical-align: middle;
		}
		.multifiles .hidden-file {
			font-size: 50px;
			width: 120px;
			opacity: 0;
			filter: alpha(opacity=0);
			position: relative;
			top: -40px;;
			left: -20px;
			cursor: pointer;
		}
/* Glow - Ombra popups */
.modalCloseImg{
	background-color: #e5e5e5;
	font-size: 16px;
	line-height: 16px;
	border-radius: 3px 3px 0 0;
	top: -24px;
	right: 6px;
	position:absolute;
	cursor: pointer;
	padding: 4px 36px;
	color:#666666;
	z-index: 2;
}
.modalCloseImg:hover{
	background-color: #fff;
	color:#454545;
	text-decoration: none;
}
.blockPage, #popupFrame, table.popupMessage, td.modalMessage{
	border-radius: 6px;
	box-shadow: #828282 0 5px 20px;
	-webkit-box-shadow: #828282 0 5px 20px;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#828282', Direction=135, Strength=7);
}
#popupFrame, table.popupMessage, td.modalMessage{
	background-color: #fcfcfd;
}
/* Timepicker */
div#timepicker {
	padding: 2px 0;
	border: 1px solid #e78f08;
	background-color: #f6ad36;
	text-align: center;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#timepicker span {
	padding: 2px 4px;
	cursor: crosshair;
	color: #192C36;
}

div#timepicker span:hover {
	padding: 2px 4px;
	background-color: #e78f08;
	color: #FFFFFF;
}


/************************/
/* AUtocomplete
/************************/
label.checkboxes_long {
	margin-top: 5px;
}
	label.select_long input,
	label.checkboxes_long input,
	label.sublist input,
	input.text_autocomplete {
		width: 500px;
	}
	label.select_long input,
	label.checkboxes_long input {
		display: none;
	}
	.listRecord label.checkboxes_long input {
		width: 120px;
	}
	label.sufix span {
		background-color: #efefef;
		border-left-width: 0 !important;
		display: inline-block;
		font-size: 14px;
		height: 23px;
		line-height: 23px;
		overflow: hidden;
		padding: 0 7px;
		text-transform: lowercase;
		vertical-align: middle;
	}
.autocomplete-no-suggestion {
	padding: 20px;
	color: #999;
}
.autocomplete-suggestions {
	border: 1px solid #d3d3d3;
	border-top: none;
	background: #FFF;
	overflow: auto;
	color: #000;
	font-size: 14px;
	line-height: 1.5;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-suggestion div.custom {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #e9e9e9;
	white-space: normal;
	overflow: hidden;
	font-size: 12px;
	color: #474746;
}

.autocomplete-suggestion img {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50px;
	float: left;
}
.autocomplete-suggestion .custom > div {
	margin-left: 70px;
}
.autocomplete-suggestion i {
	font-weight: bold;
}
.autocomplete-suggestion h6 {
	font-size: 14px;
	margin: 0;
	font-weight: bold;
}
.autocomplete-suggestion h5 {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
	color: #6196cf;
}
.autocomplete-suggestion p {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: bold;
	color: #99B10F;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

/************************/
/* SUFIXES INPUTS       */
/************************/
label.sufix, label.prefix {
	display: inline-block;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap;
}
label.sufix:hover, label.prefix:hover {
	background-color: transparent;
}

label.sufix span, label.prefix span {
	font-size: 14px;
	background-color: #efefef;
	display: inline-block;
	padding: 0 7px;
	line-height: 23px;
	height: 23px;
	overflow: hidden;
	border-left-width: 0 !important;
	vertical-align: middle;
	text-transform: lowercase;
}
	.listRecord label.sufix span, .listRecord label.prefix span {
		padding: 0 2px;
	}
label.active span {
	background-color: #e2e1e1;
	border: 1px solid #d3d3d3 !important;
	color: #252525;
}
label.active.sufix span {
	border-left-width: 0 !important;
}
label.active.prefix span {
	border-right-width: 0 !important;
}

/************************/
/* MULTISELECT          */
/************************/
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
	background-image: none;
}
.search .ms-container .ms-list,
.search select[multiple] {
	height: 160px;
	width: 167px;
}
.search .ms-container .ms-selectable,
.search .ms-container .ms-selection,
.search .ms-container .ms-selectable li.ms-elem-selectable {

}
.search .ms-container .ms-selectable,
.search .ms-container .ms-selection {
	background-color: transparent;
}
.search .ms-list {
	background-color: #fff;
}
.search .ms-container .ms-list {
	border-color: #9f9f9f;
}
/* MLS - Demands */

	/* Formulari per veure propietat mls remotament */
	#mls-form td.listTitle {
		padding-bottom: 15px;
	}

	/* llistat mls */
	#mls-list {

	}
		.mls-icon {
			border-radius: 3px;
		}
		.icons-holder {
			position: relative;
			z-index: 1;
			width: 100%;
		}
		.mls-comercial-name {
			font-weight: bold;
			color: #000;
			padding-right: 15px;
		}
		.mls-comercial-name span {
			font-weight: normal;
		}
		td.mls-listTitle2 strong {
			padding-left: 30px !important;
			font-size: 13px;
		}

	/* Llistat inmobles */

	.botoMls {
		border-radius: 3px;
		color: #f2f2f2;
		float: right;
		line-height: 26px;
		height: 26px;
		width: 60px;
		padding: 0;
		margin-left: 40px;
		background: url("../images/mls_list.png?v=2");
	}
		.botoMls:hover {
			background-position: 0 -30px;
		}
		.botoMls.active1 {
			background-position: 0 -60px;
			width: 80px;
		}
		.botoMls.no-margin {
			margin-left: 0;
		}

/* Cerques demandes */
#history-holder {
	position:relative;

}
#history-holder form {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: left;
	background-color: #666;
	padding: 20px;
	cursor: default;
}
#history-holder form span {
	color: #fff;
	display: block;
	padding-bottom: 10px;
}
#history-holder form input[type=text] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 10px;
}
#history-holder form textarea {
	margin: 0;
}
#history-holder form div {
	text-align: right;
}
#history-holder .btn_form1,
#history-holder .btn_form_delete {
	margin-top: 8px;
}

/* Police */
.custumers-police {
	padding-left: 10px;
}
.custumers-police table {
	margin-top: -5px;
}
.custumers-police table th {
	font-weight: 400;
	color: #000000;
}
.custumers-police table tr.vermell th {
	COLOR: #CB2903 !important;
}
.custumers-police table tr.vermell td {
	COLOR: #e72903 !important;
}/************************/
/* Tooltip                */
/************************/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0;
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}

.tooltip.top {
	padding: 5px 0 4px;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px 0 4px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 4px 0 5px;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 4px 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 5px 12px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #666666;
	border-radius: 2px;
	box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 3px 5px 0;
	border-top-color: #666666;
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #666666;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #2a2a2a;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 3px 5px 0;
	border-right-color: #666666;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #666666;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.fade.in {
	opacity: 1;
}a.pageResults, b.pageResults{
		padding: 0 1px;
		text-decoration: none;
		width: 17px;
		height:17px;
		background: #fff;
		display:inline-block;
		margin: 0 0 0 1px;
		text-align:center;
		border: 1px solid #EBF0F2;
		line-height:17px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
}
	a.pageResults:hover{
		text-decoration:none;
		border: 1px solid #D3D3D3;
	}
	a.pageResultsNext, a.pageResultsPrevious, a.pageResultsNextSet,  a.pageResultsPreviousSet{
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: middle;
		background:#fcfcfc url(../images/icones.png?v=2) no-repeat 0 -350px;
	}
		a.pageResultsPrevious{
			margin: 0 4px 0 0;
			background-position:-25px -350px;
		}
		a.pageResultsNext:hover, a.pageResultsPrevious:hover{
		}
		a.pageResultsNextSet{
			background-position:-50px -350px;
		}
		a.pageResultsPreviousSet{
			margin: 0 4px 0 0;
			background-position:-75px -350px;
		}
	b.pageResults{
		background-color: #e3e3e3;
		border-color:transparent;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

td.pageResults {
	font-size: 11px;
	line-height: 14px;
	padding: 18px 17px 8px 17px;
	color: #666666;
}
/* LOGIN */
#header_login{
	padding: 20px 0 50px;
	background-color: #fcfcfd;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#fcfcfd')";
	background: -ms-linear-gradient(#e8e8e8, #fcfcfd);
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fcfcfd));
	background: -moz-linear-gradient(top, #e8e8e8, #fcfcfd);
	-pie-background: linear-gradient(#e8e8e8, #fcfcfd);
	behavior: url(/common/jscripts/PIE.htc);
}
#logo_login{
	max-width: 450px;
	margin: 0 auto;
	padding-bottom: 5px;
}
#logo_login img{
	margin-left: -20px;
}
#header_login #message{
	font-size: 16px;
	padding: 25px 0 6px 0;
	color: #383838;
	max-width: 450px;
	margin: 0 auto;
}
#header_login div.sep_dark{
	background-color: #d3d3d3;
}
#header_login #message_container{
	background: transparent;
	border: none;
}
#header_login #message.noscript{
	width: 380px;
	border-radius: 6px;
	background-color: #fcfcfd;
	padding: 20px;
	margin: 40px auto 0;
}
	#header_login #message.noscript strong{
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
	}
#header_login #message a{
	text-decoration: underline;
}
#header_login #message .error{
	color: #f64e42;
}
#login_container{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 450px;
}
#header_login .login{
	border-radius: 6px;
	box-shadow: #aaaaaa 0 2px 20px;
	-webkit-box-shadow: #aaaaaa 0 2px 20px;
	padding-top:20px;
	background-color: #fcfcfd;
	margin: 0 auto;
	behavior: url(/common/jscripts/PIE.htc);
}
#header_login table {
	width: 100%;
}
#header_login td.formsCaption{
	border:0;
	font-size: 15px;
	padding-top: 14px;
}
#header_login table.formsButtonstbl{
	margin-bottom: 10px;
	border-top: none;
}
#header_login .login .formstbl{
	width: 100%;
}
#header_login .login .forms {
	padding: 10px 30px !important;
}
#header_login input.loginInput{
	font-size: 15px;
	padding: 4px 10px;
	width: 100%;
	border: 1px solid #d3d3d3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header_login .btn_form1 {
	font-size: 13px;
	border: none;
	font-weight: 400;
	margin: 0;
	padding: 3px 20px;
	height: auto;
}
#map {
	width: 100%;
	height: 600px;
}

#google_map {
	width: 90%;
	height: 600px;
	margin-top: 10px;
}
form.google_map{
	padding:20px 0 10px;
}
	#latitut, #longitut, #center_latitut, #center_longitut{
		font-weight:bold;
		line-height: 30px;
		font-size: 12px;
	}
	.center-coords{
		margin-left: 20px;
	}
	.show-map{
		margin-right: 15px;
		font-size: 13px;
	}
	.show-map:nth-child(2){
		margin-right: 50px;
	}@page {
    size: auto;
    margin: 0;
}
#print {
	background-color: #ffffff;
}
	#print div.search,
	#print .pageResults,
	#print #form_buttons_holder,
	#print table.formsButtonstbl,
	#print .no-print {
		display: none;
	}
	#print .titol {
		padding-bottom: 30px;
	}
	#print .listRecord thead {
		display: table-header-group;
	}
	#print table.listRecord td {
		padding: 10px 5px;
	}
	#print tr.listItemEven td td, #print tr.listItemOdd td td, #print tr.listItemMarked td td, #print tr.listItemSelected td td, #print tr.listItemDown td td, #print tr.listItemOver td td, #print tr.listItemBlocked td td {
		border: 0 none;
		padding: 0;
	}
	#print td.formCaptionTitle {
		background-color: #fff;
		font-size: 16px;
		border: none;
		padding-top: 50px !important;
		padding-bottom: 30px !important;
	}
	#print table.sublist {
		margin-top: 0;
	}
	#print table.listRecord.sublist td.listCaption {
		background-color: #ffffff;
	}
		#print table.listRecord.sublist td.listCaption a.opcions {
			color: #474746;
			font-size: 13px;
		}
		#print td.listCaption img {
			display: none;
		}
@keyframes passing-through {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30%, 70% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}
@keyframes passing-through {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30%, 70% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}
@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1);
	}
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone {
	background: white none repeat scroll 0 0;
	border: 2px solid rgba(0, 0, 0, 0.3);
	min-height: 150px;
	padding: 20px;
	display: block;
}
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone.dz-clickable * {
	cursor: default;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}
.dropzone.dz-started .dz-message {
	display: none;
}
.dropzone.dz-drag-hover {
	border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
	opacity: 0.5;
}
.dropzone .dz-message {
	margin: 2em 0;
	text-align: center;
}
.dropzone .dz-preview {
	display: inline-block;
	margin: 16px;
	min-height: 100px;
	position: relative;
	vertical-align: top;
}
.dropzone .dz-preview:hover {
	z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eee, #ddd) repeat scroll 0 0;
	border-radius: 20px;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
	background: white none repeat scroll 0 0;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
	transition: opacity 0.2s linear 0s;
}
.dropzone .dz-preview .dz-remove {
	border: medium none;
	cursor: pointer;
	display: block;
	font-size: 14px;
	text-align: center;
}
.dropzone .dz-preview .dz-remove:hover {
	text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview .dz-details {
	color: rgba(0, 0, 0, 0.9);
	font-size: 13px;
	left: 0;
	line-height: 150%;
	max-width: 100%;
	min-width: 100%;
	opacity: 0;
	padding: 2em 1em;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 20;
}
.dropzone .dz-preview .dz-details .dz-size {
	font-size: 16px;
	margin-bottom: 1em;
}
.dropzone .dz-preview .dz-details .dz-filename {
	white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(200, 200, 200, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
	border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 3px;
	padding: 0 0.4em;
}
.dropzone .dz-preview:hover .dz-image img {
	filter: blur(8px);
	transform: scale(1.05, 1.05);
}
.dropzone .dz-preview .dz-image {
	border-radius: 20px;
	display: block;
	height: 120px;
	overflow: hidden;
	position: relative;
	width: 120px;
	z-index: 10;
}
.dropzone .dz-preview .dz-image img {
	display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running passing-through;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running slide-in;
	opacity: 1;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	display: block;
	left: 50%;
	margin-left: -27px;
	margin-top: -27px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	z-index: 500;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
	display: block;
	height: 54px;
	width: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
	opacity: 1;
	transition: all 0.2s linear 0s;
}
.dropzone .dz-preview.dz-complete .dz-progress {
	opacity: 0;
	transition: opacity 0.4s ease-in 0s;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
	animation: 6s ease 0s normal none infinite running pulse;
}
.dropzone .dz-preview .dz-progress {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	border-radius: 8px;
	height: 16px;
	left: 50%;
	margin-left: -40px;
	margin-top: -8px;
	opacity: 1;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 80px;
	z-index: 1000;
}
.dropzone .dz-preview .dz-progress .dz-upload {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #666, #444) repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	transition: width 300ms ease-in-out 0s;
	width: 0;
}
.dropzone .dz-preview.dz-error .dz-error-message {
	display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
	opacity: 1;
	pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #be2626, #a92222) repeat scroll 0 0;
	border-radius: 8px;
	color: white;
	display: none;
	font-size: 13px;
	left: -10px;
	opacity: 0;
	padding: 0.5em 1.2em;
	pointer-events: none;
	position: absolute;
	top: 130px;
	transition: opacity 0.3s ease 0s;
	width: 140px;
	z-index: 1000;
}
.dropzone .dz-preview .dz-error-message::after {
	border-bottom: 6px solid #be2626;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	height: 0;
	left: 64px;
	position: absolute;
	top: -6px;
	width: 0;
}


/* dropzone custom */
.dropzone {
	background: #fff none repeat scroll 0 0 !important;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
	margin: 6px 2px 10px !important;
	padding: 6px 2px;
	min-height: 0;
	font-size: 12px;
}
.listRecord .dropzone {
	margin-bottom: 0 !important;
}
.dropzone .dz-message {
	margin: 4px 0;
}
.dropzone .dz-default.dz-message span {
	color: #c6c6c6;
}
.noimage .dz-default.dz-message span {
	padding-top: 64px;
	display: block;
}

.dropzone .dz-preview .dz-remove {
	padding:0;
	position: absolute;
	width: 13px;
	height: 13px;
	top: 5px;
	right: 5px;
	z-index: 1000;
	background: #fff url(../images/icones.png?v=3) no-repeat 100% -60px;
	font-size: 0;
	line-height: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.dropzone .dz-complete .dz-remove {
	display: none;
}

/* Upload long */
.form .dropzone {
	text-align: center;
	margin: 10px 0 !important;
	padding: 20px 2px;
	font-size: 16px;
}
/* Form images */
.form.images .dropzone {
	margin: 10px 20px !important;
	padding: 20px 2px;
	font-size: 20px;
	min-height: 500px;
	display: none;
}
.form.images .dropzone .dz-message {
	margin: 235px 0;
 }
/* tots */
.dropzone .dz-preview.dz-file-preview .dz-image,
.dropzone .dz-preview .dz-image {
	border-radius: 0;
}
.dropzone .dz-preview .dz-image {
	width: 200px;
	height: 133px;
}
.dropzone .dz-preview.dz-error {
	border-top: 3px solid #f64e42;
	border-bottom: 3px solid #f64e42;
}
.form .dropzone .dz-preview.dz-error {
	margin: 7px;
	border: 3px solid #f64e42;
}
.dropzone .dz-preview .dz-error-message {
	left: 5px;
	right: 5px;
	top: 142px;
	width: auto;
	border-radius: 3px;
}
.dropzone .dz-preview .dz-error-message::after {
	left: 50%;
	margin-left: -3px;
}
.dropzone .dz-preview .dz-details {
	opacity: 1;
	top: 60px;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 5px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	top: 35px;
}
.noimage .dropzone {
	margin:0 !important;
	background: none !important;
	min-height:133px;
	padding:0;
}
.dropzone .dz-preview {
	margin: 0 0 4px;
}
.form .dropzone .dz-preview,
.form .dropzone-previews .dz-preview {
	margin: 10px;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running slide-in;
	opacity: 1;
}

/* fi dropzone custom */
/* imageupload */

/* fi imageupload */
#imagesFrame {
	width:100%;
	height:700px;
	background-color:transparent;
	margin: 0;
	padding: 0;
	border: none;
	display: none;
}/* Tinymce */
.tox-tinymce {
	margin-top: 5px !important;
	border: none !important;
	max-width: 1200px !important;
}
.tox-menubar {
	background-color: #F2F2F2 !important;
	border: none !important;
}

.tox-toolbar {
	background: #F2F2F2 !important;
	border: none !important;
}
.tox .tox-toolbar__group {
	margin-top: 3px !important;
	margin-bottom: 5px !important;
	height: 25px !important;
}
.tox .tox-toolbar__group:not(:last-of-type) {

}
.tox .tox-tbtn {
	margin: 0 !important;
	height: 25px !important;
}
.tox .tox-split-button {
	margin: 0 !important;
}

.tox-statusbar {
	background-color: transparent !important;
	border: none !important;
}
.tox-edit-area {
	border-right: 1px solid #F2F2F2 !important;
	border-left: 1px solid #F2F2F2 !important;
	border-bottom: 1px solid #F2F2F2 !important;
}
.tox .tox-edit-area__iframe {
	background: #fafafa !important;
}
.tox-statusbar {
	padding-top: 6px !important;
}/* PNotify modules included in this custom build file:
animate
brighttheme
buttons
callbacks
confirm
desktop
mobile
nonblock
*/
/*!
Author  : Hunter Perrin
Version : 3.2.0
Link    : http://sciactive.com/pnotify/
*/
/* -- Notice */
.ui-pnotify {
  top: 36px;
  right: 36px;
  position: absolute;
  height: auto;
  z-index: 2;
}
body > .ui-pnotify {
  /* Notices in the body context should be fixed to the viewport. */
  position: fixed;
  /* Ensures notices are above everything */
  z-index: 100040;
}
.ui-pnotify-modal-overlay {
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
body > .ui-pnotify-modal-overlay {
  position: fixed;
  z-index: 100039;
}
.ui-pnotify.ui-pnotify-in {
  display: block !important;
}
.ui-pnotify.ui-pnotify-move {
  transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-slow {
  transition: opacity .4s linear;
  opacity: 0;
}
.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
  transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-normal {
  transition: opacity .25s linear;
  opacity: 0;
}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move {
  transition: opacity .25s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-fast {
  transition: opacity .1s linear;
  opacity: 0;
}
.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move {
  transition: opacity .1s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-in {
  opacity: 1;
}
.ui-pnotify .ui-pnotify-shadow {
  -webkit-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.1);
}
.ui-pnotify-container {
  background-position: 0 0;
  padding: .8em;
  height: 100%;
  margin: 0;
}
.ui-pnotify-container:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ui-pnotify-container.ui-pnotify-sharp {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
  margin-top: 0;
}
.ui-pnotify-text {
  display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
  display: block;
  float: left;
  margin-right: .2em;
}
/* Alternate stack initial positioning. */
.ui-pnotify.stack-topleft, .ui-pnotify.stack-bottomleft {
  left: 25px;
  right: auto;
}
.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
  bottom: 25px;
  top: auto;
}
.ui-pnotify.stack-modal {
  left: 50%;
  right: auto;
  margin-left: -150px;
}

/*
Color Scheme: http://paletton.com/palette.php?uid=c1T3n2J040kpEKzpEKzbEPSOEyiNk9W
*/
.brighttheme {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.brighttheme.ui-pnotify-container {
  padding: 18px;
}
.brighttheme .ui-pnotify-title {
  margin-bottom: 12px;
}
.brighttheme-notice {
  background-color: #FFFFA2;
  border: 0 solid #FFFF00;
  color: #4F4F00;
}
.brighttheme-info {
  background-color: #8FCEDD;
  border: 0 solid #0286A5;
  color: #012831;
}
.brighttheme-success {
  background-color: #AFF29A;
  border: 0 solid #35DB00;
  color: #104300;
}
.brighttheme-error {
  background-color: #FFABA2;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.3) 35px, rgba(255,255,255,.3) 70px);
  border: 0 solid #FF1800;
  color: #4F0800;
}
.brighttheme-icon-notice,
.brighttheme-icon-info,
.brighttheme-icon-success,
.brighttheme-icon-closer,
.brighttheme-icon-sticker {
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Courier New",Courier,monospace;
  border-radius: 50%;
}
.brighttheme-icon-notice:after,
.brighttheme-icon-info:after,
.brighttheme-icon-success:after,
.brighttheme-icon-closer:after,
.brighttheme-icon-sticker:after {
  position: absolute;
  top: 0;
  left: 4px;
}
.brighttheme-icon-notice {
  background-color: #2E2E00;
  color: #FFFFA2;
  margin-top: 2px;
}
.brighttheme-icon-notice:after {
  content: "!";
}
.brighttheme-icon-info {
  background-color: #012831;
  color: #8FCEDD;
  margin-top: 2px;
}
.brighttheme-icon-info:after {
  content: "i";
}
.brighttheme-icon-success {
  background-color: #104300;
  color: #AFF29A;
  margin-top: 2px;
}
.brighttheme-icon-success:after {
  content: "\002713";
}
.brighttheme-icon-error {
  position: relative;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #2E0400;
  font-size: 0;
  line-height: 0;
  color: #FFABA2;
  margin-top: 1px;
}
.brighttheme-icon-error:after {
  position: absolute;
  top: 1px;
  left: -4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Courier New",Courier,monospace;
  content: "!";
}
.brighttheme-icon-closer,
.brighttheme-icon-sticker {
  display: inline-block;
}
.brighttheme-icon-closer:after {
  top: -4px;
  content: "\002715";
}
.brighttheme-icon-sticker:after {
  top: -5px;
  content: "\01D1BC";
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.brighttheme-icon-sticker.brighttheme-icon-stuck:after {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.brighttheme .ui-pnotify-action-bar {
  padding-top: 12px;
}
.brighttheme .ui-pnotify-action-bar textarea, .brighttheme .ui-pnotify-action-bar input {
  display: block;
  width: 100%;
  margin-bottom: 12px !important;
}
.brighttheme .ui-pnotify-action-button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 8px;
  border: none;
  background: transparent;
}

.brighttheme .ui-pnotify-action-button.btn-primary {
  border: none;
  border-radius: 0;
}
.brighttheme-notice .ui-pnotify-action-button.btn-primary {
  background-color: #FFFF00;
  color: #4F4F00;
}
.brighttheme-info .ui-pnotify-action-button.btn-primary {
  background-color: #0286A5;
  color: #012831;
}
.brighttheme-success .ui-pnotify-action-button.btn-primary {
  background-color: #35DB00;
  color: #104300;
}
.brighttheme-error .ui-pnotify-action-button.btn-primary {
  background-color: #FF1800;
  color: #4F0800;
}

.ui-pnotify-closer, .ui-pnotify-sticker {
  float: right;
  margin-left: .2em;
}

.ui-pnotify-container {
  position: relative;
  left: 0;
}
@media (max-width: 480px) {
  /* -- Notice */
  .ui-pnotify-mobile-able.ui-pnotify {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto !important;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  .ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom-width: 5px;
  }
  .ui-pnotify-mobile-able .ui-pnotify-container {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  /* Alternate stack initial positioning. */
  .ui-pnotify-mobile-able.ui-pnotify.stack-topleft, .ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft {
    left: 0;
    right: 0;
  }
  .ui-pnotify-mobile-able.ui-pnotify.stack-bottomright, .ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft {
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
  }
  .ui-pnotify-mobile-able.ui-pnotify.stack-bottomright .ui-pnotify-shadow, .ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft .ui-pnotify-shadow {
    border-top-width: 5px;
    border-bottom-width: 1px;
  }

}

.ui-pnotify.ui-pnotify-nonblock-fade {
  /*transition: opacity .3s ease;*/
  opacity: .2;
}
.ui-pnotify.ui-pnotify-nonblock-hide {
  display: none !important;
}

