#sort
{
}

#ajax_list.captions li{
	margin:10px 10px 10px 0;
}

#sort li{	
	list-style-type: none; margin: 0; padding: 0;
	cursor: pointer;
	background: none;
}
#sort li .small {
	padding-top: 10px;
	font-size: 12px;
}
#sort li .small select {
	margin: 0;
}

#sort input[type='radio'] {
	margin: 0 5px 0 0;
}
#sort .sortableitem
{
	float: left;
	border: 1px solid #f6f6f6;
	background-color: #F7F7F7;
}
div.sortableitemHandle
{
	text-align:center;
	cursor: move;
	margin: 0 4px 4px 0;
	background-color: #666;
	padding:5px;
}
#ajax_list.captions div.sortableitemHandle
{
	width:611px;
	margin: 0 0 4px 0;
	padding:10px;
}
.sortableitemPlaceholder
{
	background-color: #F0F0F0;
	border: 1px dashed #666666;
	float: left;
}
.ui-selectable-helper
{
	position: absolute; 
	z-index: 100;
	background-color: #999999;
	border: 1px dashed black;
	filter:alpha(opacity=30); 
	-moz-opacity: 0.3; 
	opacity: 0.3;
}

#sort .ui-selecting { 
	background-color: #EAEAEA; 
}
#sort .ui-selected { 
	background: #EAEAEA;
}

div.selectableitem_over
{
	border: 2px solid #1381ce;
	background-color: #EAEAEA;
}

div.selectableitem_out
{
	border: 2px solid #f6f6f6;
}

#ajax_list.captions div.selectableitem_out
{
	border: 2px solid #efefef;
}

div.sortableitem_over
{
	border: 2px solid #F64E42;
	background-color: #EAEAEA;
}
div.sortableitem_out
{
	border: 2px solid #f6f6f6;
}

#ajax_list.captions div.sortableitem_out
{
	border: 2px solid #efefef;
}

div.selectableitem_out,
div.selectableitem_over,
div.sortableitem_out,
div.sortableitem_over
{
	padding: 5px 2px;
}
#ajax_list.captions div.selectableitem_out,
#ajax_list.captions div.selectableitem_over,
#ajax_list.captions div.sortableitem_out,
#ajax_list.captions div.sortableitem_over
{
	padding: 15px;
}

div.image-alt,
.amagar-titols
{
	display:none;
}
#ajax_list.captions div.image-select,
#ajax_list.captions div.image-alt
{
	display:block;
	padding-top: 10px;
}
div.image-select .titol2,
div.image-alt .titol2 {
	padding-top: 20px;
}
div.image-select p>span,
div.image-alt p>span {
	display: block;
	padding-bottom: 12px;
}
div.image-select select {
	width: 100%;
}


div.sortableitemHandle, .selectableitem_over, .sortableitem_over{
	border-radius: 3px;
}
