
#book-calendar>table{
	width: 100%;
}
	td.mes-holder{
		width: 33.33%;
	}
table.mes div, table.mes td {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:50px;
}
table.mes .day-text{	
	position:absolute;
	z-index: 2;
}
table.mes div{	
	padding:4px;
	width: 50%;
	float: left;
	position:relative;
}
.empty{
	background-color:#f5f5f5;
	border-top: solid #f5f5f5 1px;
	border-right: solid #f5f5f5 1px;
}
#book-calendar{
	overflow: hidden;
}
table.form_reserva {
	border: solid #999999 1px;
	margin-top:4px;
}
table.mes {
	margin-right: 3%;
	width: 97%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.mes tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 12px;
	padding: 0;
	width: 14%;
}
div.nom_mes {
	padding: 20px 0;
	line-height: 20px;
	font-size:16px;
}
.day{
	background-color:#ffffff;
	border-top: solid #f5f5f5 1px;
	cursor:pointer;
}
	.day.b{
		border-right: solid #f5f5f5 1px;
	}
	.day.free.b, .day.middle-booked.b{
		font-size: 0;
	}
	
.day.first-free,
.day.last-free {	
	width: 50%;
	background-color:#ffffff;
}
.day.first-free{
	float: left;
}
.day.last-free{
	float: right;
}
.day.first-booked{
	border-left: 1px solid #fff !important;
	border-right-color: #cd9929;
	background-image: url(../images/icones.png);
	background-position: 0 -300px;
}
.day.last-booked {
	border-right: 1px solid #fff !important;
	background-image: url(../images/icones.png);
	background-position: 100% -250px;
}
.day.middle-booked {
	border-right-color: #cd9929;	
	color:#edd297;
}
.day.middle-booked, .day.first-booked, .day.last-booked {
	background-color:#e2a92f;
	cursor:pointer;
	border-top-color: #cd9929;	
}
.day.weekend{
	background-color:#E9E9E9;
	border-top: solid #f5f5f5 1px;
	cursor:pointer;
}
.day.weekend.middle-booked, .day.weekend.first-booked, .day.weekend.last-booked {
	background-color:#cb931c;
	border-top-color: #cd9929;
}

/* DESACTIVAT */
.day.disabled, .day.disabled:hover{
	background-color:#f8f8f8 !important;
	color: #dadada !important;
	border-color: #f5f5f5 !important;
	cursor:default;
}

/* HOVERS */
.day:hover, table.mes td:hover .free.a, table.mes td:hover .free.b{
	background-color: #e9e9e9;
}
	.day.weekend:hover, table.mes td:hover .weekend.free.a, table.mes td:hover .weekend.free.b{
		background-color: #dcdcdc;
	}
	
	.day.middle-booked:hover, .day.first-booked:hover, .day.last-booked:hover,
	table.mes td:hover  .day.middle-booked
	{
		background-color:#b7861c;
	}
	.day.weekend.middle-booked:hover, .day.weekend.first-booked:hover, .day.weekend.last-booked:hover,
	table.mes td:hover  .day.weekend.middle-booked
	{
		background-color:#b7861c;
	}
	
	.day.middle-selected:hover, .day.first-selected:hover, .day.last-selected:hover,
	.day.middle-selected.weekend:hover, .day.weekend.first-selected:hover, .day.weekend.last-selected:hover,
	table.mes td:hover  .day.middle-selected,
	table.mes td:hover  .day.middle-selected.weekend
	{
		background-color: #0f89bc;
	}

/* SELECTED */
.day.middle-selected, .day.first-selected, .day.last-selected{
	background-color: #25ace5;
	border-color: #31b9f2;
}
	.day.weekend.middle-selected, .day.weekend.first-selected, .day.weekend.last-selected{
		background-color: #1c9fd5;
	}
	
	.day.first-selected{
		border-left: 1px solid #fff;
		background-image: url(../images/icones.png);
		background-position: 0 -300px;
	}
	.day.last-selected {
		border-right: 1px solid #fff;
		background-image: url(../images/icones.png);
		background-position: 100% -250px;
	}
	
#dates{
	font-size: 16px;
	color: #1381CE;
}

/* botons */

	#calendar-prev, #calendar-next{		
		margin-top: 10px;	
		background:#e5e5e5 url(../images/icones.png?v=2) no-repeat 0 -200px;
		height:25px;
		width: 25px;
		padding:0;
		border:1px #dfdfdf solid;
		display:block;
	}
	#calendar-prev:hover, #calendar-next:hover{
		border:1px #e5e5e5 solid;
		background-color: #efefef;
		box-shadow:         0 1px 2px 0 rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	}
	#calendar-prev{
		background-position:  0 -225px;
	}
	#calendar-prev:hover{
		background-position:  -25px -225px;
	}
	#calendar-next{
		background-position:  0 -200px;
	}
	#calendar-next:hover{
		background-position:  -25px -200px;
	}
	
/* form reserves */
	.property-title{
		margin-left: 10px;
	}
	table.person {
		width: 100%;
	}
		table.person td, table.person th{
			width: 33%;
		}
		table.person select{
			width: 100px;
		}
		.person-num{
			padding-right: 20px;
		}
		.adult-one{
			font-weight: bold;
			font-size: 15px;
		}
		.choose-first{
			color:#f64e42;
		}
	#book-custumer{
	
	}
		#book-custumer .custumer-buttons{
			padding-bottom: 25px;
		}
		#book-custumer tr:last-child .custumer-buttons{
			padding-bottom: 10px;
			padding-top: 10px;
		}

	#extres-list {
		border-left: 1px solid #E9E9E9;
		padding: 8px 0 5px 0 !important;
	}
		#extres-list .module-message {
			display:none;
		}
		#extres-list tr.listItemOver,  #extres-list tr.listItemOdd:hover,  #extres-list tr.listItemEven:hover {
			background-color: transparent;
		}
		.extres-titol{
			font-size: 16px;
			border-bottom: 1px solid #E9E9E9;
			padding: 10px 20px 5px 20px;
		}
		#extres-list .listRecord{		
			padding: 8px 20px 3px 20px !important;
		}
		#extres-list td {
			border-bottom: 0;
			padding-left: 0;
		}
		#extres-list .listGroup {
			background-color: transparent !important;
			padding: 30px 0 5px;
			font-size: 14px;
		}
		#extres-list tr:first-of-type  .listGroup{
			padding-top: 4px;
		}
		textarea.book-form,
		textarea.book-form-private {
			width: 370px;
			height:200px;
		}
		textarea.book-form-private{
			background-color: #f6f1f0;
		}
		table.custumers tr td{
			padding: 5px;
		}
		table.custumers tr:first-of-type td{
			padding-top: 0;
		}
		table.custumers td:first-child{
			padding-left: 0;
		}
		#select-custumers{
			font-size: 12px;
			padding: 10px 0 20px;
		}
		.book-record input[type=checkbox] {
			margin-right: 10px;
		}
		#is_manual_price_holder {
			color: #1381ce;
			cursor: pointer;
			padding: 0 20px 0 0;
		}
		.manual_price_input {
			margin-left: 20px !important;
			text-align: right !important;
			width: 70px !important;
			font-size: 16px !important;
		}

		#recalculate {
			clear: both;
			padding-top: 20px;
			text-align: right;
		}
			#recalculate label {
				cursor: pointer;
				display: inline-block;
				line-height: 1;
			}
				#recalculate label * {
					vertical-align: middle;
				}

		
		table.prices{
			width: 100%;
		}
			table.prices th{
				padding: 3px 10px 0 0;
				color: #666666 !important;
				line-height: 18px;
			}
			table.prices td{
				padding: 3px 10px 0;
				font-size: 14px;
				line-height: 18px;
				text-align:right;
			}
			#promcode_tr th, #promcode_tr td{				
				color:#E9510E !important;
			}
			#price_total{
				font-size: 16px;
				color: #000;
			}
			.person{
				font-size: 14px;
			}
			.price {
				font-size: 14px;
				padding-top: 20px !important;
				padding-bottom: 20px !important;
			}
			
	table.price_details{	
		border-collapse:collapse;
		border-spacing:0;
		border:0;	
		width: 100%;
		margin-bottom: 10px;
	}	
		tr.season_change {
			border-top:5px solid transparent;
		}
		table.formstbl .price_details th{
			padding: 0 0 8px 10px;
		}		
		table.formstbl .price_details td{
			padding: 0 0 8px 10px;
		}	
		table.formstbl .price_details td:first-child, table.formstbl .price_details th:first-child{
			padding-right: 0;
		}	
		table.formstbl .price_details td:last-child{
			color:#000;
			text-align:right;
		}	
			#promcode{
				width: 300px;
			}
				#promcode-button{									
					background-color: #737373; 
					border: 1px solid #737373;
					color: #f2f2f2;
					padding: 0 2px;
					height: 26px;
					line-height: 24px;
					display:inline-block;
					font-size: 11px;
					cursor: pointer;
					margin: 2px 0 0 4px;
					border-radius: 3px;
					vertical-align:middle;
				}
					#promcode-button:hover{
						background-color: #555555;
						border: 1px solid #3b3b3b;
						box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
						-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
					}

table.payments {
	width: 100%;
	padding-right: 10px;
}
	table.payments th {
		padding-bottom: 10px;
	}
		td.payment_rest{
			font-size: 14px;
			color: #000 !important;
		}
		table.payments select {
			width: 120px;
		}
	
/* llistat reserves */

		.price-total {
			color: #000;
			font-size: 12px;
			text-align: right;
			padding-right: 20px;
		}
		
/* form temporades */

		#start_day  {
			display:none;
		}

			#start_day th {
				padding: 10px 0 5px;
			}
	

/* quadres color llistat */

.season-list{
	width:50px;
	height:23px;
	margin:2px 0;
}
	select.season-color{
		height:20px;
		font-size:20px;
		width: 50px;
		padding: 0;
	}
	select.season-color option{
		border-width: 0 5px;
		border-style: solid;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	select.season-color optgroup {	
		font-size:15px;
		text-indent: 5px;
		padding: 5px 0;
		background-color: #fff;
	}
	

/*search disponibilitat i police */

div.search.booking input[type=text], div.search.booking select, div.search.booking input.boto-search,
div.search.police input[type=text], div.search.police input.boto-search {
	border-radius:3px;
}

div.search.booking table td{
	padding: 10px 15px 0 0;
}

	div.search.booking input.boto-search, div.search.police input.boto-search {
		border-left-width: 1px;
	}
	div.search.booking .buttons-td {
		text-align:right;
	}
	div.search.police .buttons-td, div.search.police .date2 {
		padding-left: 10px;
	}
