.calendar-holder {
	overflow: hidden;
}

.calendar-holder >table {
	width: 100%;
}
	td.mes-holder{
		width: 33.33%;
	}
table.mes div, table.mes td {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:50px;
}
table.mes .day-text{	
	position:absolute;
	z-index: 2;
}
table.mes div{	
	padding:4px;
	width: 100%;
	float: left;
	position:relative;
}
.empty{
	background-color:#f5f5f5;
	border-top: solid #f5f5f5 1px;
	border-right: solid #f5f5f5 1px;
}
table.form_reserva {
	border: solid #999999 1px;
	margin-top:4px;
}
table.mes {
	margin-right: 3%;
	width: 97%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.mes tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 12px;
	padding: 0;
	width: 14%;
}
div.nom_mes {
	padding: 20px 0;
	line-height: 20px;
	font-size:16px;
}

.day{
	background-color:#ffffff;
	border-top: solid #f5f5f5 1px;
	cursor:pointer;
}
.day.occupied {
	border-right-color: #cd9929;	
	color:#edd297;
	background-color:#e2a92f;
	cursor:pointer;
	border-top-color: #cd9929;
}
.day.weekend{
	background-color:#E9E9E9;
	border-top: solid #f5f5f5 1px;
	cursor:pointer;
}
.day.weekend.occupied {
	background-color:#cb931c;
	border-top-color: #cd9929;
}

/* DESACTIVAT */
.day.disabled, .day.disabled:hover{
	background-color:#f8f8f8 !important;
	color: #dadada !important;
	border-color: #f5f5f5 !important;
	cursor:default;
}

/* HOVERS */
.day:hover, table.mes td:hover .free {
	background-color: #e9e9e9;
}
	.day.weekend:hover, table.mes td:hover .weekend.free {
		background-color: #dcdcdc;
	}

	.day.occupied:hover,
	table.mes td:hover .day.occupied
	{
		background-color:#b7861c;
	}
	.day.weekend.occupied:hover,
	table.mes td:hover .day.weekend.occupied
	{
		background-color:#b7861c;
	}

	.day.selected:hover,
	.day.selected.weekend:hover,
	table.mes td:hover  .day.selected,
	table.mes td:hover  .day.selected.weekend
	{
		background-color: #0f89bc;
	}

/* SELECTED */
.day.selected {
	background-color: #25ace5;
	border-color: #31b9f2;
}
	.day.weekend.selected {
		background-color: #1c9fd5;
	}

/* botons */

	.calendar-prev, .calendar-next{
		margin-top: 10px;	
		background:#e5e5e5 url(../images/icones.png?v=2) no-repeat 0 -200px;
		height:25px;
		width: 25px;
		padding:0;
		border:1px #dfdfdf solid;
		display:block;
	}
	.calendar-prev:hover, .calendar-next:hover{
		border:1px #e5e5e5 solid;
		background-color: #efefef;
		box-shadow:         0 1px 2px 0 rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	}
	.calendar-prev{
		background-position:  0 -225px;
	}
	.calendar-prev:hover{
		background-position:  -25px -225px;
	}
	.calendar-next{
		background-position:  0 -200px;
	}
	.calendar-next:hover{
		background-position:  -25px -200px;
	}