/* Preu */
#price_div_holder {
	border-bottom: 1px solid #e9e9e9;
	padding: 20px 0;
	background-color: #E9E9E9;
}

	#price_div_holder td.formsCaption {
		font-size: 17px !important;
		border-right: 0;
		line-height: 1.5;
		padding-top: 12px;
	}
	#price_div_holder td.forms {
		font-size: 0 !important;
		line-height: 0;
		border-right: 0;
	}
	#price_div_holder input {
		font-size: 18px;
		text-align: right;
		margin: 0 !important;
		line-height: 20px;
		height: 32px;
		box-sizing: border-box;
	}
	#price_div_holder input.municipi {
		text-align: left;
		width: 246px;
	}
	#price_div_holder select {
		font-size: 18px;
		margin: 0 !important;
		line-height: 20px;
		height: 32px;
		box-sizing: border-box;
	}

/* Per calcular */
#format_decimal {
	display: none;
}

/* indent */
.forms.indent, .formsCaption.indent {
	padding-left: 40px;
}
.forms.indent2, .formsCaption.indent2 {
	padding-left: 80px;
}

/* Inputs */
#other_fields {
	padding: 20px 0;
}
td.forms {
	font-size: 0 !important;
	line-height: 0;
	border-right: 0;
}
input.vdate {
	width: 120px !important;
}
input.price {
	width: 216px !important;
	border-right-width: 0 !important;
}

input.percent, input.currency {
	width: 50px !important;
	margin: 0 !important;
	text-align: right;
	border: 1px solid #ececec !important;
	border-right-width: 0 !important;
}

	input.percent.active, input.currency.active {
		border: 1px solid #d3d3d3 !important;
		border-right-width: 0 !important;
	}

input.currency {
	width: 110px !important;
}

/* Label */
label.sufix {
	display: inline-block;
	padding: 0 !important;
	border: 0 !important;
}

	label.sufix span {
		font-size: 14px;
		background-color: #efefef;
		display: inline-block;
		padding: 0 7px;
		line-height: 23px;
		height: 23px;
		overflow: hidden;
		border-left-width: 0 !important;
		vertical-align: middle;
		text-transform: lowercase;
	}
		#price_div_holder label.sufix span {
			background-color: #e7c07b;
			color: #FFF;
			line-height: 30px;
			height: 30px;
			border-color: #e7a032;
			font-size: 16px;
			text-align: center;
			padding: 0 9px;
		}

	label.sufix:hover {
		background-color: transparent;
	}

		label.active span {
			background-color: #e2e1e1;
			border: 1px solid #d3d3d3 !important;
			border-left-width: 0 !important;
			color: #252525;
		}
			#price_div_holder label.active span {
				background-color: #c4882a;
				border: 1px solid #c4882a !important;
			}

		label.chain {
			background: url('../images/utility_chain_small.png') right center no-repeat;
		}

			#price_div_holder label.chain {
				background: url('../images/utility_chain.png') right center no-repeat;
			}

				label.chain span {
					margin-right: 24px;
				}

select {
	width: 232px;
}

/* efectes */
label:hover {
	background-color: transparent;
}

input[type="text"] {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
	color: rgba(0, 0, 0, 0.7);
	outline: medium none;
	padding: 4px 6px !important;
	transition: border 0.3s ease-out 0s, box-shadow 0.3s ease 0s;
	box-sizing: border-box;
	width: 200px;
}

input[type="text"]:focus {
	border-left-width: 3px !important;
	box-shadow: 0 0 6px -4px rgba(0, 0, 0, 0.75);
}


/* valida */
input.error {
	border-color: rgba(243, 45, 51, 0.3) !important;
	border-left-width: 3px !important;
	border-left-color: #ff512e !important;
}

input.valid[aria-required="true"], input.percent.valid[aria-required="true"], input.currency.valid[aria-required="true"] {
	border-left-width: 3px !important;
	border-left-color: #99B10F !important;
}

/************************/
/* Report               */
/************************/

#report {
	padding: 20px;
	background-color: #fff;
	font-size: 16px;
	border-top: 5px solid #d3d3d3;
}

	h5 {
		font-size: 24px;
		margin: 0 0 15px 0;
		line-height: 1.5;
		font-weight: normal;
		color: #000;
	}
	h6 {
		font-size: 20px;
		margin: 30px 0 20px;
		line-height: 1.5;
		font-weight: normal;
		margin-left: 10px;
		color: #000;
	}
	.report_sep {
		border-bottom: 1px solid #e9e9e9;
		margin-top: 30px;
	}
			#report_title {
				margin-left: 10px !important;
			}
				#report_title th{
					font-weight: normal;
					color: #666666 !important;
					font-size: 16px !important;
				}
				#report_title td{
					color: #000 !important;
					font-size: 18px !important;
				}
		#actes_juridics_holder {
			display: none;
		}

	#report table {
		margin-left: 20px;
		border-collapse:collapse;
	}
		#report table th {
			text-align: left;
			font-weight: normal;
			color: #000;
			padding-right: 20px;
		}
		#report table td, #report table th {
			font-size: 14px;
			line-height: 1.8;
		}
		#report table td {
			text-align: right;
		}
		#report .sep td {
			height: 12px;
		}
		#report .down_sep td, #report .down_sep td {
			padding-bottom: 14px;
		}
		#report .total td, #report .total th {
			font-size: 16px;
			border-top: 1px solid #e9e9e9;
			padding-top: 14px;
		}
			#report .total.expenses td, #report .total.expenses th {
				padding-bottom: 14px;
			}
		#report .indent th {
			padding-left: 20px;
		}
		#report .indent2 th {
			padding-left: 40px;
		}

		.vinculant {
			border-top: 1px solid #e9e9e9;
			font-size: 12px;
			margin-top: 15px;
			padding-top: 15px;
		}


		/* taula amortitzacions */

		#mortgage_table {
			margin-top: 20px;
		}
			#mortgage_table > table {
			}
				#mortgage_table th {
					text-align: right;
					padding: 0 30px 6px 0;
					border-bottom: 2px solid #e9e9e9;
					font-size: 15px;
				}
				#mortgage_table td {
					text-align: right;
					padding: 3px 30px 3px 0;
					border-top: 1px solid #e9e9e9;
				}

/************************/
/* IMPRIMIR             */
/************************/
	
	@media print {
		#header_top,
		#header_middle,
		#header_bottom,
		#footer_bottom,
		#menu_holder,
		#message_container,
		#main_form
		{
			display: none;
		}
		body {
			background-color: transparent;
		}

		#report {
			border-top: 0;
		}
	      .page_before {
		      page-break-before: always;
	      }
	}