<div id='opcions_holder'><table width="100%" border="0" cellspacing="0" cellpadding="0" id="opcions">
  <tr>
    <td class="opcionsTitol"><strong>Opcions</strong></td>
  </tr>
  <tr>
    <td class="opcions"><table border="0" cellpadding="2" cellspacing="0">
      <tr valign="middle">
        <td><strong><a class="botoOpcions" href="<?=$print_link?>">Imprimir</a></strong></td>
        <td><strong><a class="botoOpcions" href="/admin/?menu_id=1002&template_content=bbdd_short">Simplificar</a></strong></td>
      </tr>
    </table></td>
  </tr>
</table></div>
<?foreach($loop as $l): extract ($l)?>
	<?if ($table_prefix):?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong class="resaltat"><?=$table_prefix?></strong></td>
  </tr>
</table>
<?endif // table_prefix?>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20"><span class="resaltatSmall"><strong>
      <?=$table?>
    </strong></span>&nbsp;</td>
  </tr>
</table>
<table width="98%"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="200" class="listCaption">Name</td>
        <td width="200" class="listCaption">Type</td>
        <td width="200" class="listCaption">Null </td>
        <td width="200" class="listCaption">Default</td>
        <td width="200" class="listCaption">key</td>
        <td width="200" class="listCaption">Extra</td>
      </tr><?foreach($loop2 as $l2): extract ($l2)?>
      <tr>
        <td width="200" class="listItem"><?=$Field?>&nbsp;</td>
        <td width="200" class="listItem"><?=$Type?>&nbsp;</td>
        <td width="200" class="listItem"><?=$Null?>&nbsp;</td>
        <td width="200" class="listItem"><?=$Default?>&nbsp;</td>
        <td width="200" class="listItem"><?=$Key?>&nbsp;</td>
        <td width="200" class="listItem"><?=$Extra?>&nbsp;</td>
      </tr>
      <?endforeach //$loop2?>
    </table>
<br>
<br>
<?endforeach //$loop?>
