<div id='opcions_holder'><table width="100%" border="0" cellspacing="0" cellpadding="0" id="opcions">
  <tr>
    <td class="opcionsTitol"><strong>Opcions</strong></td>
  </tr>
  <tr>
    <td class="opcions"><table border="0" cellpadding="2" cellspacing="0">
        <tr valign="middle"> 
          <td><strong><a class="botoOpcions" href="<?=$print_link?>">Imprimir</a></strong></td>
          <td><strong><a class="botoOpcions" href="/admin/?menu_id=1002">Extendre</a></strong></td>
        </tr>
      </table></td>
  </tr>
</table></div>
<?foreach($loop as $l): extract ($l)?>
	<?if ($table_prefix):?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong class="menutitol"><?=$table_prefix?></strong></td>
  </tr>
</table>
  <?endif // table_prefix?>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><span class="resaltatSmall"><?=$table?></span>&nbsp;</td>
  </tr>
</table>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="listDetails"><table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="listItem">
      <?foreach($loop2 as $l2): extract ($l2)?><?=$Field?><br />
      <?endforeach //$loop2?>
	  </td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<?endforeach //$loop?>
