<style>
	.blau {
		COLOR: blue;
	}
	.taronja {
		COLOR: #FF9933;
	}
	.rosa {
		COLOR: #FF00FF;
	}
</style>

<a href="/admin/?menu_id=1008&process=get_orphaned_adms">Orfans adms</a> &nbsp;&nbsp;<a href="/admin/?menu_id=1008&process=compare_colombia">Comparar colombia</a> &nbsp;&nbsp;Generar base de dades del país:
<select name="select" id="select" onChange="location='/admin/?menu_id=1008&process=make_data_base&country='+this.options[this.selectedIndex].value">
  <?foreach($countrys as $l): extract ($l)?>
  <option value="<?=$code?>">
  <?=$country?>
  </option>
  <?endforeach //$countrys?>
</select> &nbsp;&nbsp;Llistar divisions del país:
<select name="select" id="select" onChange="location='/admin/?menu_id=1008&process=list_divisions&country='+this.options[this.selectedIndex].value">
  <?foreach($countrys as $l): extract ($l)?>
  <option value="<?=$code?>">
  <?=$country?>
  </option>
  <?endforeach //$countrys?>
</select>
<?if ($content):?>
<?=$content?>
<?endif //content?>
<?if ($list_divisions):?>
<?=$total_1?> -
<?=$total_2?> -
<?=$total_3?> -
<?=$total_4?> -
<?=$total_5?> -

<?foreach($loop as $l): extract ($l)?>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><strong class="resaltatSmall">
        <?=strtoupper($name)?>
        </strong>
        <?=$conta?>
                (<?=$admin_id?>)
        <?foreach($loop2 as $l): extract ($l)?>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td><strong>
                <?=$name?>
                </strong><?=$alternatenames?>
                <?=$conta?>
(
<?=$admin_id?>)
                <?foreach($loop3 as $l): extract ($l)?>
                  <table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><?=$name?>
                        <?=$conta?>
                (<?=$admin_id?>)
                        <?foreach($loop4 as $l): extract ($l)?>
                          <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td class="vert"><?=$name?>
                                <?=$conta?>
                (<?=$admin_id?>)
                                <?foreach($loop5 as $l): extract ($l)?>
                                  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td class="vert"><?=$name?>
                                        <?=$conta?>
                (<?=$admin_id?>)</td>
                                    </tr>
                                  </table>
                                  <?endforeach //$loop?></td>
                            </tr>
                          </table>
                          <?endforeach //$loop?></td>
                    </tr>
                  </table>
                <?endforeach //$loop?></td>
            </tr>
          </table>
        <?endforeach //$loop?></td>
    </tr>
  </table>
  <?endforeach //$loop?>
<strong>
<?=$total_1?> -
<?=$total_2?> -
<?=$total_3?> -
<?=$total_4?> -
<?=$total_5?> -
</strong>
<?endif //list_divisions?>