<script language="JavaScript" src="/admin/modules/admintotal/jscripts/functions.js?v=<?=$version?>"></script>
<form id="form1" name="theForm" method="post" action="" target="save_frame">

          
          <table border="0" cellpadding="0" cellspacing="0" style="padding-bottom:30px;">
  <tr>
    <td><strong class="resaltatSmall">Crear configuraci&oacute; d'una taula qualsevulla: 
      </strong>
      <input type="text" name="qualsevulla_taulaambpotes" />
         &nbsp; </td>
    <td><a class="boto1" href="javascript:crear_configuracio('qualsevulla', 'taulaambpotes');">
          crear configuració
          </a></td>
    <td>&nbsp;(ha d'existir directori del modul)</td>
  </tr>
</table>
<div id='split_holder'>
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="split">
  <tr valign="middle">
    <td width="20%" height="" align="left" nowrap class="pageResults"><?=$split_results_count?></td>
    <td align="right" nowrap class="pageResults"><?=$split_results?></td>
  </tr>
</table>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="#FFFFFF" class="listRecord"> 
  <tr>
    <td class="listCaption">&nbsp;</td>
    <td class="listCaption"><strong class="listItem">Secci&oacute;</strong></td>
    <td class="listCaption"><strong class="listItem">Taula de la secci&oacute; </strong></td>
    <td class="listCaption"><strong class="listItem">Directoris i/o arxius</strong></td>
    <td class="listCaption"><strong>Notepad++</strong></td>
    <td class="listCaption"><strong>Config</strong></td>
    <td class="listCaption"><strong class="listItem">Protegir</strong></td>
    <td class="listCaption"><strong class="listItem">Editar idiomes </strong></td>
  </tr>
  <?foreach($loop as $l): extract ($l)?>
  <?if ($group_fields):?><tr><td colspan="8" class="listGroup"><?foreach($group_fields as $f):?><?=$f?><?endforeach //$field?></td></tr><?endif // group_fields?>
    <tr class="listItem<?=$odd_even?>" onmousedown="change_bg_color(this, 'Down', '<?=$conta?>')" onmouseover="change_bg_color(this, 'Over', '<?=$conta?>')" onmouseout="change_bg_color(this, '<?=$odd_even?>', '<?=$conta?>')" id="list_row_<?=$conta?>" >
      <td>&nbsp;</td>
      <td><?=$tool_section?>
        &nbsp;</td>
      <td>
		<?if (!$is_table):?>
          <a class="boto1" href="/admin/?action=save_rows_table&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records" target="save_frame">Crear Taula</a>
          <?endif //is_table?>&nbsp;
      </td>
      <td><?if (!$is_file):?>
        <a class="boto1" href="/admin/?action=save_rows_dir&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records" target="save_frame">Crear dir </a>
        <?endif //is_file?>&nbsp;</td>
      <td nowrap="nowrap"><?=Debug::open_link("admin/modules/$tool/${tool}_${tool_section}.php","admin") ?>&nbsp;&nbsp;<?=Debug::open_link("public/modules/$tool/${tool}_${tool_section}.php","public") ?>&nbsp;&nbsp;<? if ($is_config_file):?><?=Debug::open_link("admin/modules/$tool/${tool}_${tool_section}_config.php","config") ?>&nbsp;&nbsp;<? endif //link?><?if ($is_language_file):?><?=Debug::open_link("admin/modules/$tool/languages/cat.php",'cat') ?>&nbsp;<?=Debug::open_link("public/modules/$tool/languages/cat.php",'cat public') ?>&nbsp;<? endif //is_language_file?><?if (isset($crec_que_no_fa_falta)):?>          
              Taula: <input type="text" name="<?=$tool?>_<?=$tool_section?>" />
          <? endif //link?>&nbsp;</td>
      <td nowrap="nowrap"><? if ($modify_config):?><a class="boto1" href="/admin/?action=show_form_edit&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records&table=<?=$tool?>__<?=$tool_section?>">
          <?=$modify_config?>
          </a>
          <?endif //modify_config?><? if ($create_config):?> 
          <a class="boto1" href="javascript:crear_configuracio('<?=$tool?>', '<?=$tool_section?>');">
          crear configuració
          </a>
          <? endif //create_config?>&nbsp;</td>
      <td nowrap="nowrap"><? if ($unprotected):?>
          <a class="boto1" href="/admin/?action=save_rows_protect&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records" target="save_frame">Protegir</a>
          <? endif //unprotected?>        
        <? if ($protected):?>
          <a class="boto1" href="/admin/?action=save_rows_unprotect&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records" target="save_frame"><strong class="resaltatSmall">
          Desprotegir
          </strong></a>
      <? endif //protected?>&nbsp;</td>
      <td>
        <?if ($is_language_file):?><a class="boto1" href="/admin/?action=list_records_languages&tool2=<?=$tool?>&tool_section2=<?=$tool_section?>&menu_id=1006&action_previous_list=list_records&table=<?=$tool?>__<?=$tool_section?>">Editar idiomes</a>
          <?endif //is_file?>&nbsp;</td>
    </tr>
    <?endforeach //$loop?>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
          </form>
