<div class="search">
	<h3>Queries en totes les webs letnd</h3>
	<form name="search" method="get" action="/admin/">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr valign="middles">
				<td>SELECT</td>
				<td>
					<input type="hidden" value="1034" name="menu_id"/>
					<input name="action" type="hidden" value="list_records">
					<input name="q_query" type="text" class="wide" value="<?= $q ?>"></td>
				<td>
					<input type="submit" name="Submit" value="ok" class="boto-search"></td>
				<td></td>
			</tr>
		</table>
	</form>
</div>
<style>
	th {
		width: 200px;
		vertical-align: top;
		text-align: left;
	}
</style>
<div style="margin:30px">
	<? if ( $loop_results ): ?>
		<h2>Resultats</h2>
		<table>
			<? foreach ( $loop_results as $l ): extract( $l ) ?>
				<tr <?= $class ?>>
					<th><?= $domain ?></th>
					<td><?= $consulta ?></td>
				</tr>
			<? endforeach //loop?>
		</table>

	<? endif // $loop_results ?>
	<? if ( $loop_no_results ): ?>
		<h2>Cap resultat</h2>
		<table>
			<? foreach ( $loop_no_results as $l ): extract( $l ) ?>
				<tr <?= $class ?>>
					<th><?= $domain ?></th>
					<td><?= $consulta ?></td>
				</tr>
			<? endforeach //loop?>
		</table>

	<? endif // $loop_no_results ?>
	<? if ( $loop_errors ): ?>
	<h2>Error</h2>
	<table>
		<? foreach ( $loop_errors as $l ): extract( $l ) ?>
			<tr <?= $class ?>>
				<th><?= $domain ?></th>
				<td><?= $consulta ?></td>
			</tr>
		<? endforeach //loop?>

		<? endif // $loop_errors ?>
	</table>
</div>