<?if (!1):?><link href="/admin/themes/inmotools/styles/general.css" rel="stylesheet" type="text/css"><?endif //1?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
  <tr>
    <td valign="bottom">
    <div class="menu">
    <a href="?menu_id=1033">Idiomes</a>
    <a href="?menu_id=1033&amp;action=list_records_vars">Variables</a>    
    <a href="?menu_id=1033&amp;action=list_records_tags">Tags</a>
    <div>Queries</div>
    </td>
    <td class="buttons_top"><div class="right"></div>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="formCaptionTitle">
Queries en totes les webs letnd
</td></tr></table>
<br />
<br />
<br />
<br />
<form method="get" name="theForm" action="/admin/">
  <table style='margin-left:30px;' border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top"><input type="hidden" value="1033" name="menu_id" /><input type="hidden" value="list_records_queries" name="action" />SELECT</td>
        <td><textarea name="q" class="wide" rows="10"><?=$q?> </textarea></td>
        <td valign="top">
        <input name="button" type="submit" id="button" value="ok" /></td>
      </tr>
</table>
</form>
<style>
th{
	width:200px;
	vertical-align:top;
	text-align:left;
}
</style>
<div style="margin:30px">
	<h2>Resultats</h2>
	<table>
	<?foreach($loop_results as $l): extract ($l)?>
		<tr <?=$class?>>
			<th><?=$domain?></th>
			<td><?=$consulta?></td>
		</tr>
	<?endforeach //loop?>
	</table>
	<h2>Cap resultat</h2>
	<table>
	<?foreach($loop_no_results as $l): extract ($l)?>
		<tr <?=$class?>>
			<th><?=$domain?></th>
			<td><?=$consulta?></td>
		</tr>
	<?endforeach //loop?>
	</table>
	<h2>Error</h2>
	<table>
	<?foreach($loop_errors as $l): extract ($l)?>
		<tr <?=$class?>>
			<th><?=$domain?></th>
			<td><?=$consulta?></td>
		</tr>
	<?endforeach //loop?>
	</table>
</div>