<script language="JavaScript" src="/admin/modules/admintotal/jscripts/functions.js?v=<?=$version?>"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
  <tr>
    <td valign="bottom">
    <div class="menu">
    <a href="?menu_id=1033">Idiomes</a>
    <div>Variables</div>
    <a href="?menu_id=1033&amp;action=list_records_tags">Tags</a>
    </td>
    <td class="buttons_top"><div class="right"></div>
    </td>
  </tr>
</table>
<style type="text/css">
<!--
input.cap, select.cap {
	font-size:14px;
}
.listItem{
	height:20px !important;
	border-bottom: 1px solid #E9E9E9;
}
-->
</style>
<table width="100%"><tr><td class="formCaptionTitle">
Control traduccions de les variables
</td></tr><tr><td class="formsCaptionHorFirst">
Les constants no es pot saber si estan definedes en altres idiomes, nomès surten llistades en el primer idioma.<br />
Les constants de l'arrel no surten<br />
Nomès es comparen les variables que hi ha a la dreta (normalment millor el cat que hi són totes), si a l'esquerra hi ha una variable no definida a la dreta no surt<br />
COPIAR I ENGANXAR amb <strong>CHROME</strong> a EXCEL per tindre-ho en una taula
</td></tr></table>
<br />
<br />
<form action="" method="get" name="theForm" id="theForm" onsubmit="return clic_vars()">
  <table class="listRecord" width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><?=$file?> - <?=$client?></td>
        <td>
          <input class="cap" type="text" name="lang1" id="lang1" value="<?=$lang1?>" />
        </td>
        <td>
          <input class="cap" type="text" name="lang2" id="lang2" value="<?=$lang2?>" />
        <input name="button" type="submit" id="button" value="ok" /></td>
      </tr>
<? foreach($loop as $l): extract ($l)?>
  <? if ($var_values):?>
      <tr>
        <td class="listGroup">
          <?=$key?>
          </td>
	<td class="listGroup"></td>
	<td class="listGroup"></td>
        </tr>
		
<? foreach($var_values as $k => $v){extract ($v);?>

      <tr>
        <td class="listItem">
          <strong><?=$k?></strong>
          </td>
	<td class="listItem"><?=$lang1?></td>
	<td class="listItem"><?=$lang2?></td>
        </tr><? } //$val?>
<? endif //?>
<? endforeach //$loop?>
</table>
</form>
<br>
<br>