
.fonsgeneralsfosc {
	background-color: #002c4a;
}
.fonsgeneralsclars {
	background-color: #002c4a;
}
.tblcontact{
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #002c4a;
	border: 2px solid #002c4a;
}