body {
	text-align: center;	
	padding: 0;
	margin: 0;	
	background-color: #fff;
	}			
#container  {     
	width: 780px; 
	margin: 0 auto;
	}	
#header {	
	width:780px;
	height:70px;
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #000000;
	padding: 0px;
	margin: 0px;
	}
	#header_left {
	padding-top:30px;
	float:left;
	width:30%;
	height:40px;		
	background: url(../images/logo_petit.jpg) no-repeat left;
	}
	#header_right {
	float:right;
	height: 71px;
	background: url(../images/casa.gif)  no-repeat right  ;
	padding: 0px;
	margin: 0px;
	}
	#header h1 {
	float: right;
	padding: 10px 75px 0 0;
	margin: 0;
	font-family: Verdana, 'Arial', Helvetica, sans-serif;
	font-size: 13px;
	color:#333333;
	font-weight: bold;
	}
	#header_bottom {
	text-align: left;
	padding-top:25px;
	padding-right: 70px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
	}
	#header_bottom a {
		color: #333333;
		text-decoration: none;
		}		
	#header_bottom a:hover {
		color: #666666;
		text-decoration: none;
		}
#content {
	clear:both;
	width:780px;
	padding-bottom:10px;
}
	#content_top {
	width:100%;
	}
	#content_t {
	float:left;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	}
	#content_t a {
		color: #000000;
		text-decoration: none;
		}		
	#content_t a:hover {
		color: #666666;
		text-decoration: underline;
		}
	
	#content_all_center {
	padding-top:10px;
	}
	#content_left {
	text-align: left;
	width:210px;
	float:left;
	}
	#content_left_l {
	color: #000000;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	}	
	#content_middle_top {	
	}
	#content_mt {
	}
	#content_content {
	width:550px;
	padding-left:20px;
	float:left;
	}
	/*----------------- Contingut  --------------------*/
	#content_content .immo {
	text-align:right;
	}
	#content_content .immofotos {
	text-align:right;
	}
	/*------------------------------------------------*/	
	
	#content_middle_bottom {	
	}
	#content_mb {
	}
	#content_middle_right {	
	}
	#content_r {
	}
#footer {
	clear:both;	
	width:780px;
	border-top-width: 3px;
	border-top-style: double;
	border-top-color: #000000;
	text-align: center;
	height: 20px;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #9e9b99;
	line-height: 20px;
	}
	#footer a {
		color: #9e9b99;
		text-decoration: none;
		}		
	#footer a:hover {
		text-decoration: underline;
		}

/* menus */
.menuL {
} 

a.menuLlnk0 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height : 15px;
	color: #00265E;
	text-decoration : none;
  	width: 100%;
	display : block;
  }

a.menuLlnk0:hover {
	text-decoration : none;
	color: #009999;
}

a.menuLlnk1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height : 15px;
	color: #3300CC;
	text-decoration : underline;
  	width: 100%;
	display : block;
  }

a.menuLlnk1:hover {
	text-decoration : none;
	color: #009999;
}
		
/* Botons */
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color : #FFFFFF;
	border: 2px solid #000000;
}

input.buttons {
	background-color : #FFFDE8;
	color: #000000;
	border-right : 1px solid #808080;
	border-left : 1px solid #D4D0C8;
	border-top : 1px solid #D4D0C8;
	border-bottom : 1px solid #808080;
}

input.noborder {
	border: 0px;
}
/* Paginació */

table.pageResults{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	color: #000000;
	border: 1px dotted #B9C496;
}


/* els que no depenen directament del tpl */
/* Llista propietats */
tr.listPropertyEven{
	background-color: #F3F3F3;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
}
tr.listPropertyOdd{
	background-color: #FFFFFF;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 0px;
	padding-bottom : 0px;
} 
td.detailsTop{
	background-color : #CCCCCC;
}

td.details, .details{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size: 11px;
	line-height : 16px;
}
/*-------- Fitxa producte -----------*/
  
.titolFitxa { /* ref, */
	font-family:'Verdana', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
  
.titolFitxaHome {
	font-family:'Verdana', Arial, Helvetica, sans-serif;	
	font-size: 12px;
	color: #FFFFFF;
}
/* Ex. Casa situada al centre poble... */  
.titolListProp {
	font-size: 13px;
	color: #4B4B4D;
	line-height: 18px;
}  
.titolListProp2 {
	font-size: 13px;
	color: #736E6E;
} 
/*------------------------------------------------*/
/* Fitxa propietats */
.tablefoto {
	border: 1px solid #000000;
} 
.tabledetails { /* taula amb les característiques de la fitxa de propietats, habitacions, num aseos, terraza... */
	border: 1px solid #000000;
	background-color: #FBF0F3;
}


.price{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #CC3366;
	font-size:11px;	
} 




/* ---------------------- menus ------------------------*/
.titolMenu {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
}

td.titolMenu {		
	padding-left: 5px;
}
.t14ptboldnegra {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	font-weight: bold;
}	



.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
   height:0;
   font-size: 1px;
   line-height: 0px;
}