/* MODALBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000000; /* color fons difuminat */
	cursor: pointer;
}

#lbCenter {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

#lbBottomContainer { /* part de dalt del container */
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	border-left: 3px solid #000000;
	border-right: 3px solid #000000;
	border-top: 3px solid #000000;
	height: 30px;
}
.lbLoading {
	background: #fff url(/public/themes/plantilla1/images/loading.gif) no-repeat center;
}

#lbContentContainer { /* par de baix del container */
	border-left: 3px solid #000000;
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
	overflow: hidden;
}

#lbBottom {
	height: 30px;
}

#lbCloseLink { /* botor per tancar */
	display: block;
	float: right;
	width: 28px;
	height: 28px;
	background: transparent url(/public/themes/plantilla1/images/closelabel.gif) no-repeat center;
	margin: 0px 0px;
}

#lbCaption { /* color del texte */
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: #CC3366;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
}
