<div class="immofotos">
<!-- images -->
<link href="<?=DIR_TEMPLATES?>styles/modalbox.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
images_dir = '/<?=$client_dir?>/inmo/property/images/';
<?$loop_old = $loop?>
images_thumbs =  '<?foreach($loop as $l): extract ($l)?><?foreach($loop as $l): extract ($l)?><?=$image_name_thumb?>-<?endforeach //$loop?><?endforeach //$loop?>';
<?$loop = $loop_old?>
images_mediums =  '<?foreach($loop as $l): extract ($l)?><?foreach($loop as $l): extract ($l)?><?=$image_name_medium?>-<?endforeach //$loop?><?endforeach //$loop?>';
<?$loop = $loop_old?>



function open_flash(imatge){

	contingut = '<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="610" height="473"><param name="movie" value="<?=DIR_TEMPLATES?>flash/gallery.swf"><param name="FlashVars" value="imatge=' + imatge + '&images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" /><param name="quality" value="high"><embed src="<?=DIR_TEMPLATES?>flash/gallery.swf" flashvars="images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="473"></embed></object>';
	return ModalBox.open(contingut, ref, 610, 473, 30);
	 
}


</script>
              <br>
              <table border="0" align="center" cellpadding="0" cellspacing="0" class="tablefoto">                
                <tr> 
            <td align="center"><table border="0" cellspacing="3" cellpadding="0">
                    <?foreach($loop as $l): extract ($l)?>
                          <tr>
                            <?foreach($loop as $l): extract ($l)?>
                        <td bgcolor="#d6d6d6"><?if ($image_name_details):?><a href="#" onClick="return open_flash('<?=$image_name_medium?>')"><img src="<?=$client_dir?>/inmo/property/images/<?=$image_name_details?>" width="178" height="118" border="0" /></a><?endif //$image_name_details?></td>
					<?endforeach //$loop?> 
                          </tr>                      
					<?endforeach //$loop?>
                  </table></td>
                </tr>
  </table>
<br />
              <br />
</div>