<div class="immo">
<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><?endif //$$?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageResults">
  <tr valign="top"> 
    <td width="20%" height="16" align="left" valign="middle" nowrap>&nbsp;
      <?=$split_results_count?><br> 
    </td>
    <td align="right" valign="middle" nowrap class="pageResults"><?=$split_results?>
    &nbsp;</td>
  </tr>
</table>
  <br />
  <?foreach($loop as $l): extract ($l)?>	 
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="listProperty<?=$odd_even?>">
      <td valign="top"><div align="justify" class="details"><strong><span class="titolFitxa"><a href="?<?=$base_link?>&amp;action=show_record&amp;property_id=<?=$property_id?>&amp;language=<?=$language?>" class= "titolFitxa" ><?=$c_ref?>
                <?=$ref?></a>
        </span></strong>
          <br />
          <?if ($property):?>
        <b class="titolListProp">
          <?=$property?>
        </b><br />
          <?endif //property?>
        <?if ($property_title):?>
        <span class="titolListProp2">
          <?=$property_title?>         
          <br />
        </span>
          <?endif //property_title?> 
		  <?if ($description):?>
          <?=$description?>
        <br />
          <?endif //description?>           
          <?if ($price):?>
          <br />
        <span class="price">&nbsp;<strong><?=$c_price?>: </strong>
            <?=$price?>
          <?=CURRENCY_NAME?>&nbsp;</span>
        <?endif //price?>
          <?if ($price_consult):?>
          <br />
        <span class="price">&nbsp;<strong> <?=$price_consult?></strong>
          &nbsp;</span>
        <?endif //price_consult?>
          <?if ($status):?>
          <br />
          <br />
        <span class="sold">&nbsp;<?=$status?>!!&nbsp;</span>
          <br />          
        <?endif //status?>
      </div></td>
      <td valign="top"><img src="/public/themes/plantilla1/images/spacer.gif" width="15" height="1" /></td>
      <td align="right" valign="top"><?if ($image_name):?>
          <table border="0" cellpadding="0" cellspacing="0" class="tablefoto">
            <tr>
              <td><a href="?<?=$base_link?>&amp;action=show_record&amp;property_id=<?=$property_id?>&amp;language=<?=$language?>" ><img src="<?=CLIENT_DIR?>/inmo/property/images/<?=$image_name_thumb?>" border="0" /></a></td>
            </tr>
          </table>
          <?endif //image_name?></td>
    </tr>
    <tr>
      <td><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="20" /></td>
      <td valign="top"><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="1" /></td>
      <td valign="top"><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="1" /></td>
    </tr>
  </table>
<?endforeach //$loop?>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageResults">
  <tr valign="top"> 
    <td width="20%" height="16" align="left" valign="middle" nowrap>&nbsp;
      <?=$split_results_count?><br> 
    </td>
    <td align="right" valign="middle" nowrap class="pageResults"><?=$split_results?>
    &nbsp;</td>
  </tr>
</table>
</div>