<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script type="text/javascript">
$(function() {
	$('.login').show();
	document.theForm.login.focus();
});
</script>
<div id="login_container"><div class="login" style="display:none;">
<form name="theForm" method="post" action="/admin/" onsubmit="return validar(document.theForm,'login','<?=$c_login?>','1','password','<?=$c_password?>','1');" target="save_frame">
<table border="0" align="center" cellpadding="0" cellspacing="0"><tr> 
      <td><table width="400" cellpadding="0" cellspacing="0" class="formstbl">
          <tr> 
            <td class="formsCaption"><strong><?=$c_login?></strong></td>
            <td class="forms"><input name="login" type="text" class="loginInput"><input name="login_reload_save" type="hidden" value="<?=$login_reload_save?>" ><input name="logout" type="hidden" value="<?=$logout?>" ><input name="is_window" type="hidden" value="<?=$is_window?>" ></td>
          </tr>
          <tr> 
            <td class="formsCaption"><strong><?=$c_password?></strong></td>
            <td class="forms"><input name="password" type="password" class="loginInput"> </td>
          </tr>
        </table>
        <table width="400" cellpadding="0" cellspacing="0" class="formsButtonstbl">
          <tr> 
            <td align="center" class="formsButtons"><div class="centerFloat1">
                        <div class="centerFloat2"><input type="submit" name="Submit" value="<?=$c_send?>" class="btn_form1"></div></div></td>
          </tr>
        </table></td>
    </tr>
</table></form></div></div>
