<div class="search">
	<h3><?=$c_search1?></h3>
	  <form name="form1" method="get" action="res">
	  <? //M'OBLIGA A PASSAR TOTS ELS VALORS UN A UN JA QUE EL MOTOR ÉS UNA MERDA. ( EN BERNAT SEMPRE IGUAL DE DESAGRADABLE ) ?>
		<input type="hidden" name="action" value="list_records">
		<input type="hidden" name="menu_id" value="<?=$menu_id?>">
		<select name="group_id" onchange="window.location='/admin/?menu_id=7006&group_id=' + this.options[this.selectedIndex].value"><?=$groups?>
		  </select>	
	  </form>
</div>