<div class="electricitat">
<div class="electricitattop">		
<h2>NO SOMOS OTROS</br> ELECTRICISTAS,</br> SOMOS TUS ELECTRICISTAS.</h2>
</div>
<div class="electricitatbott">
Disponemos de un servicio de diagnóstico electrónico, para poder solucionar cualquier problema que pueda tener su vehículo.</br>
También podemos alinear las luces y solucionar cualquier problema derivado de este
</div>
</div>