<div class="electricitat">
<div class="electricitattop">		
<h2>NO SÓM UNS ALTRES</br> ELECTRICISTES,</br> SOM ELS TEUS ELECTRICISTES.</h2>
</div>
<div class="electricitatbott">
Disposem dun servei de diagnòstic electrònic, per poder sol·lucionar qualsevol problema que pogui tenir el seu vehícle.<br>També oferim un alineament de llums i tot el manteniment derivats daquest. 
</div>
</div>