<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="30"></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/clients/agenciaportselva/templates/images/nici.jpg" width="453" height="144" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="53" height="1"></td>
        <td class="fonsgeneralsclars"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372" align="left"><span class="text12verdanawhite"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="25"></td>
  </tr>
</table>L'Ag&egrave;ncia Port de la Selva, ofereix als seug clients:
              <ul>
                <li>Serveis Inmobiliaris (API).</li>
                <li>Serveis Comptables i Fiscals.</li>
                <li>Corredoria d'Assegurances: (Autom&ograve;bils, motocicletes, llar i edificis, comer&ccedil;os i oficines, empreses, responsabilitat civil, n&agrave;utica...).  </li>
                <li>Altres serveis: (control i vigil&agrave;ncia de finques, custodia de claus, control d'alarmes, gesti&oacute; d'obres, reparacions, neteges, lloguer de cotxes...). </li>
              </ul></span></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
        </table></td>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="59" height="1"></td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<br />
