<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="30"></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/clients/agenciaportselva/templates/images/nici.jpg" width="453" height="144" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="53" height="1"></td>
        <td class="fonsgeneralsclars"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372" align="left"><span class="text12verdanawhite"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="25"></td>
  </tr>
</table>
            La Ag&egrave;ncia Port de la Selva, ofrece a sus clientes:
              <ul>
                <li>Servicios Inmobiliarios (API).</li>
                <li>Servicios Contables y Fiscales.</li>
                <li>Corredor de Seguros: (Autom&oacute;viles, motos,hogar y edificios,   comercios y oficinas, empresas, responsabilidad civil, n&aacute;utica...). </li>
                <li>Otros servicios: (control y vigilancia de fincas, custodia de   llaves, control de alarmas, gesti&oacute;n de obras, reparaciones, limpieza, alquiler   de coches...). </li>
              </ul></span></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
        </table></td>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="59" height="1"></td>
      </tr>
    </table></td>
  </tr>
</table>