<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="30"></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/clients/agenciaportselva/templates/images/nici.jpg" width="453" height="144" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="53" height="1"></td>
        <td class="fonsgeneralsclars"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372" align="left"><span class="text12verdanawhite"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="25"></td>
  </tr>
</table>
            Ag&egrave;ncia Port de la Selva, offers its customers:
              </span>
              <ul>
                <li class="text12verdanawhite">Real Estate Services (API).  </li>
                    <li class="text12verdanawhite">Accounting and Tax-related services.  </li>
                    <li class="text12verdanawhite">Broking firm services: ( Cars, motorbikes,   houses and buildings, stores, and offices, businesses, liability, boats...). </li>
                    <li class="text12verdanawhite">Other services : (control and surveillance of   property, custody of keys, alarm monitoring, works, magagement, repairs,   cleaning, car rental...).</li>
                  </ul>
              <span class="text12verdanawhite"></span></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
        </table></td>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="59" height="1"></td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<br />
