<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="30"></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/clients/agenciaportselva/templates/images/nici.jpg" width="453" height="144" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="53" height="1"></td>
        <td class="fonsgeneralsclars"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372" align="left"><span class="text12verdanawhite"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="25"></td>
  </tr>
</table>
            Ag&egrave;ncia Port de la Selva, offre &agrave; ses clients:
              <ul>
                  <li>Services Immobiliaires (API).  </li>
                  <li>Services de comptabilit&eacute; et imposition.  </li>
                  <li>Courtage d'assurances :(Automobiles, motos,   maisons et b&acirc;timents, commerces et bureaux, entreprises, responsabilit&eacute; civile,   nautique...). </li>
                  <li>Autres services : (control et surveillance de   propri&eacute;t&eacute;, garde des cl&eacute;s, control des alarmes, gestion des travaux,   r&eacute;parations, nettoyage, location de voitures...). </li>
                  </ul></span></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
          <tr>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="372"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
            <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="1"></td>
          </tr>
        </table></td>
        <td width="10"><img  src="/clients/agenciaportselva/templates/images/spacer.gif" width="59" height="1"></td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<br />
