<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA_gypPysDeO2IaRqELrpX7hQRG-ERnb40EY3HijLPWZbyexgZGxRXNMI3nqDDIOQwUCqQMPgNeJgOrQ"
      type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[	
function patata() {
      if (GBrowserIsCompatible()) {
//inicialitzo el mapa
var map = new GMap2(document.getElementById("map"));
//Permetro veure mapa amb tipus terreny
/*
var crossLayer = new GTileLayer(new GCopyrightCollection(""), 0, 15);
crossLayer.getTileUrl =  function(tile, zoom) {
return "./include/tile_crosshairs.png";
}
var layerTerCross = [ G_PHYSICAL_MAP.getTileLayers()[0], crossLayer ];
var mtTerCross = new GMapType(layerTerCross,G_PHYSICAL_MAP.getProjection(), "Terreny");
map.addMapType(mtTerCross);*/

//permet modificar l'escala del mapa
//map.addControl(new GLargeMapControl())  //escala gran
map.addControl(new GSmallMapControl()); //escala petita
//permetre fer zoom amb el mouse
map.enableScrollWheelZoom();
//Fixo el mapa
//map.setCenter(new GLatLng(41.886960, 2.867210), 15, G_HYBRID_MAP);
map.setCenter(new GLatLng(42.338911, 3.203909), 15);
map.addControl(new GMapTypeControl());
var point = new GLatLng(42.338911, 3.203909);		
//Marca finestreta		
var marker = new GMarker(point);
map.addOverlay(marker);	
marker.openInfoWindowHtml('<table align="center" cellpadding="0" cellspacing="0"><tr><td valign="top"><p class="peu"><strong>Direcci&oacute;n:</strong><br/>Carrer Illa 31<br />17489, Port de la Selva (Girona)<br />Tel:  972 387 011 Fax: 972 126 194<br/><a href="mailto:agenciaportselva@catalonia.net" class="linksverndana10blue">agenciaportselva@catalonia.net</a></p></td><td valign="top"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="5" height="5"/></td><td><span class="peu"><br /><img src="/clients/agenciaportselva/templates/images/logogoogle.gif"/></span></td></tr></table>'); 
      }
    }
	window.onload = patata;
	window.onunload = GUnload;
    //]]>	
    </script>

<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css" />
<table width="526" border="0" cellpadding="0" cellspacing="0" class="fonsgeneralsclars">
  <tr>
    <td width="10"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="10" height="1"></td>
    <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="15"></td>
    <td width="10"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="10" height="1"></td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td><img class="tblcontact" src="/clients/agenciaportselva/templates/images/mapa1.gif" width="506" height="279"></td>
    <td width="10">&nbsp;</td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="40" height="1"></td>
        <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="25"></td>
        <td width="40"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="40" height="1"></td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td><p><span class="text12verdanawhite">Al n&uacute;mero 31 del carrer Illa de Port de la Selva, podreu trobar les nostres oficines.</span></br>
 </p>
          <p>              <span class="text12verdanawhitejustify">Port de la Selva, es troba situat al vessant nord de la Peninsula del Cap de Creus, al bell mig del Parc Natural, és un poble que conserva encara els seus encants naturals. La seva proximitat a la frontera francesa, a les neus del Pirineu o a les siutats de Figueres, Girona o Barcelona, fan que aquesta destinació sigui encara més atractiva per als visitants d'arreu.</span></p></td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="40" height="25"></td>
        <td width="40">&nbsp;</td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td align="center"><div id="map" class="tblcontact" style="width: 506px; height: 342px"></div></td>
    <td width="10">&nbsp;</td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="40" height="15"></td>
    <td width="10">&nbsp;</td>
  </tr>
</table>
