<div class="situacio" >
<div class="situaciodiv"> 
  <iframe name="google_map" class="googleMap" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;" src="/clients/mironauto/templates/page/google_map.php"></iframe>
</div>
</div>