
<script type="text/javascript">
ref = '<?=$c_ref?> <?=$ref?>';
</script>
<table width="530" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#005191"><div align="justify" class="details"> </b><br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10" class="details"><img src="/public/themes/plantilla2/images/spacer.gif" width="10" height="3" /></td>
            <td width align="left"><strong><span class="titolFitxa">
              <?=$c_ref?>
              <?=$ref?>
              <?if ($property):?>
              /
              <?=$property?>
              </b><br />
              <?endif //property?>
              </span></strong></td>
          </tr>
        </table>
        <br />
        <?if ($description):?>
        <table width="100%" border="0" cellpadding="0" cellspacing="2">
          <tr>
            <td width="30" class="details"><img src="/public/themes/plantilla2/images/spacer.gif" width="30" height="3" /></td>
            <td width class="details"><?=$description?></td>
            <td width="30" class="details"><img src="/public/themes/plantilla2/images/spacer.gif" width="30" height="3" /></td>
          </tr>
          <tr>
            <td width="30" class="details"><img src="/public/themes/plantilla2/images/spacer.gif" width="30" height="3" /></td>
            <td width>&nbsp;</td>
            <td width="30" class="details"><img src="/public/themes/plantilla2/images/spacer.gif" width="30" height="3" /></td>
          </tr>
        </table>
        <?endif //description?>
        <table width="50%" border="0" cellpadding="2" cellspacing="0">
          <?if ($floor_space):?>
          <tr>
            <td width="10%" valign="top">&nbsp;</td>
            <td width="40%" class="details"><strong class="detailsdes">
              <?=$c_floor_space?>
              :</strong>&nbsp;<?=$floor_space?>
              m2</td>
          </tr>
          <?endif //floor_space?>
          <?if ($land):?>
          <tr>
            <td width="10%" valign="top">&nbsp;</td>
            <td width="40%" class="details"><strong class="detailsdes">
              <?=$c_land?>
              :</strong>&nbsp;<?=$land?>
              <?=$land_units?></td>
          </tr>
          <?endif //land?>
          <?if ($category_id):?>
          <tr>
            <td width="10%" valign="top">&nbsp;</td>
            <td width="40%" class="details"><strong class="detailsdes">
              <?=$c_category_id?>
              :</strong>&nbsp;<?=$category_id?></td>
          </tr>
          <?endif //category_id?>
          <?if ($comarca_id):?>
          <tr>
            <td width="10%" valign="top">&nbsp;</td>
            <td width="40%" class="details"><strong class="detailsdes">
              <?=$c_zone?>
              :</strong>&nbsp;<?=$comarca_id?>
              <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <?=$provincia_id?>
              (
              <?=$country_id?>
              )</td>
          </tr><?endif //comarca_id?>
          <tr>
            <td width="10%" valign="top">&nbsp;</td>            
			<td width="40%" class="details"><strong> <?if ($price):?>
        <br />
        <span class="price"><?=$c_price;?>&nbsp;:&nbsp;<?=$price;?> <?=$CURRENCY_NAME;?></span>
        <?endif //price?>
        <?if ($price_consult):?>       
        <span class="price"><?=$c_price_consult?>&nbsp;:&nbsp;
        <?=$price_consult?>
      	</span>
        <?endif //price_consult?></strong></td>
          </tr>          
        </table>
       aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
  </tr>
  <tr>
    <td bgcolor="#005191"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/public/themes/plantilla2/images/spacer.gif" width="30" height="20" /></td>
        </tr>
      </table>
      <img src="/public/themes/plantilla2/images/spacer.gif" width="10" height="10" />
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="6%">&nbsp;</td>
          <td width="22%"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="?<?=$base_link?>&amp;template=print&amp;action=show_form&amp;property_id=<?=$property_id?>&amp;language=<?=$language?>" target="_blank"><img alt="<?=$c_print;?>" src="/public/themes/plantilla2/images/bprint.gif" width="19" height="19" border="0" /></a> &nbsp;</td>
                <td><a href="?<?=$base_link?>&amp;template=print&amp;action=show_form&amp;property_id=<?=$property_id?>&amp;language=<?=$language?>" target="_blank" class="linksverndana10white"><?=$c_print;?></a>
                  &nbsp; </td>
              </tr>
            </table></td>
          <td width="22%"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="mailto:agenciaportselva@catalonia.net?subject='<?=$ref;?>'"><img src="/public/themes/plantilla2/images/bcorreu.gif" width="19" height="19" border="0" alt="<?=$c_send_mail?>" /></a>&nbsp; </td>
                <td><a  class="linksverndana10white" href="mailto:agenciaportselva@catalonia.net?subject='<?=$ref;?>'"><?=$c_send_mail?></a>
                  &nbsp; </td>
              </tr>
            </table></td>
          <td width="22%"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="mailto:''"><img src="/public/themes/plantilla2/images/bcorreu.gif" width="19" height="19" border="0" alt="<?=$c_send_to_friend?>" /></a> &nbsp;</td>
                <td><a class="linksverndana10white" href="mailto:''"><?=$c_send_to_friend?></a>
                  &nbsp; </td>
              </tr>
            </table></td>
          <td width="6%">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#005191"><img src="/public/themes/plantilla2/images/spacer.gif" width="15" height="15" /></td>
  </tr>
</table>
<?if ($details):?>
<table width="530" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5%" bgcolor="#005191">&nbsp;</td>
    <td bgcolor="#005191"><table width="100%" align="center" cellpadding="4" cellspacing="0">
        <?$con = 0?>
        <?foreach($details as $d):?>
        <?if ($$d):?>
        <?if ($con==0):?>
        <tr>
          <?endif //$$d?>
          <td align="left" nowrap="nowrap" class="detailsCaption"><strong>
            <?=${'c_'.$d}?>
            :</strong></td>
          <td width="50%" align="left" class="detailsCaption"><?=$$d?></td>
          <?if ($con==0):$con=1?>
          <?else:$con=0?>
        </tr>
        <?endif //$$d?>
        <?endif //$$d?>
        <?endforeach //details?>
      </table></td>
    <td width="5%" bgcolor="#005191">&nbsp;</td>
  </tr>
</table>
<?endif //$details?>
<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="#005191">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>