<form method="post" action="<?=$form_link?>" name="list" target="save_frame">

<div id='opcions_holder'><table width="100%" border="0" cellspacing="0" cellpadding="0" id="opcions">
    <tr>
      <td class="opcions">
          <table border="0" cellpadding="2" cellspacing="0"><tr valign="middle">
		<?if ($save_button):?>
          <td><strong><a class="botoOpcionsGuardar" href="javascript:submit_form_save('save_rows_save_records<?=$action_add?>')">
            <?=$c_send_edit?>
          </a></strong></td>
		  <?endif //save_button?>
        </tr>
      </table></td>
    </tr>
</table></div>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listRecord">
	  <? foreach($loop as $l): extract ($l)?>
				<tr class="listItem<?=$odd_even?>">
				  <td valign="top">
						<img style="margin:10px 0 30px;" src="<?=$image_src_admin_thumb?>" id="im_<?=$conta?>">
					  <input name="<?=$id_field?>[<?=$id?>]" type="hidden" value="<?=$id?>">
					  <?=$ordre?>
					  <input name="image_id_<?=$conta?>" type="hidden" value="<?=$id?>">
					  <table border="0" cellpadding="2" cellspacing="0">
						<tr>
						  <td><?=$c_url1?></td>
						  <td><?=$url1?></td>
						</tr>
						<tr>
						  <td valign="top"><?=$c_url1_name?>
							&nbsp;&nbsp;&nbsp;</td>
						  <td><?foreach($url1_name as $l): extract ($l)?><span class="formsCaption"><?=$lang?>
						  </span><br /><?=$url1_name?><br /><?endforeach //$loop?></td>
						</tr>
						<tr>
						  <td><?=$c_url1_target?></td>
						  <td><?=$url1_target?></td>
						</tr>
					  </table><div class="left"><input name="button" type="button" class="btn_form1" id="button" onclick="document.location.href='?action=show_form_edit&action_previous_list=list_records&menu_id=2222&banner_id=<?=$id?>'" value="<?=$c_edit_data?>" /></div>
				  </td>
				</tr>
		<? endforeach //$loop?>
</table>
<input name="action" type="hidden" value="save_rows_save_records<?=$action_add?>">
</form>
