
<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/modules/sahara/jscripts/functions.js?v=<?=$version?>"></script>
<div class="form">
<form name="theForm" method="post" action="" onsubmit="">
<div id="form_buttons_holder"><table id ="form_buttons">
	<tr>
		<td valign="bottom"><div class="menu">
			<a href="?action=show_form_edit&amp;menu_id=<?=$menu_id?>&amp;circuit_id=<?=$circuit_id?>"><?=$c_edit_data?></a>
			<a href="?action=list_records_images&amp;menu_id=<?=$menu_id?>&amp;circuit_id=<?=$circuit_id?>"><?=$c_edit_images?></a>
			<div><?=$c_edit_dia?></div>
			<a href="?action=show_form_map&amp;menu_id=<?=$menu_id?>&amp;circuit_id=<?=$circuit_id?>"><?=$c_edit_map?></a>
		</div> 
		</td>
		<td class="buttons_top">
						<input name="circuit_id" type="hidden" value="<?=$circuit_id?>" /><div class="right">
						
						<a class="btn_form_save" href="javascript:show_form_new_dia('<?=$circuit_id?>');">
					<?=$c_new_dia?></a>
			</div></td>
	</tr>
</table>
</form></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td>
								<table width="100%" cellpadding="4" cellspacing="0">
									<tr>
										<td class="formCaptionTitle"><strong>
											<?=$c_form_dia_title?></strong>&nbsp;&nbsp;<?=$circuit?>
										</td>
									</tr>
							</table>
							<table width="100%" cellpadding="4" cellspacing="0" class="formstbl">
							
									<tr>
										<td align="center" valign="top" class="forms"><table width="99%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td id="dias"><?if ($content):?><?=$content?><?endif //content?><?if (!$content):?> <table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td height="70" style="vertical-align: middle;" align="center"><?=$no_assigned?></td>
												</tr>
											</table><?endif //content?></td>
											</tr>
										</table>
										</td>
									</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="2" class="formsButtonstbl">
	<tr>
		<td align="center" class="formsButtons">
			<div class="centerFloat1">
			<div class="centerFloat2">
				<a class="btn_form_save" href="javascript:show_form_new_dia('<?=$circuit_id?>');">
			<?=$c_new_dia?></a>
			</div></div></td>
	</tr>
</table>
</div>
