<!-- Idiomes -->
<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><br /><?endif ?>
<table border="0" cellspacing="0" cellpadding="0">
 <tr><?foreach($loop as $l):extract ($l)?><?foreach($loop as $l):extract ($l)?>
   <td height="20"><a href="<?=$link?>" class="menuLang<?=$selected?>"><?=$item?></a></td><td>&nbsp;</td>	
	<?endforeach //$loop?><?endforeach //$loop?>
 </tr> 
</table>