<?if ($title):?>
 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="titolMenu">
  <tr><td class="titolMenu"><img src="/public/themes/plantilla1/images/2.gif" alt="" width="10" height="10" />
      <?=$title?></td>
  </tr>
</table>
<?endif //title?>
<table width="100%" border="0" cellspacing="1" cellpadding="1" class="menuL">
  <tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="4"></td>
  </tr>
  <?foreach($loop as $l): extract ($l)?>
  <?if ($item):?>
  	 <tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="titolMenu">
  <tr>
    <td class="titolMenu"><img src="/public/themes/plantilla1/images/2.gif" alt="" width="10" height="10" />
      <?=$item?></td>
  </tr><tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="4"></td>
  </tr>
</table></td></tr><?endif //item?>
  <?foreach($loop as $l): extract ($l)?>
  <tr>
    <td><a href="<?=$link?>" class="menuLlnk<?=$selected?>">
      <?=$item?>
    </a></td></tr>
  <?endforeach //$loop?><tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="16"></td>
  </tr><?endforeach //$loop?>
</table>
