<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><br /><?endif //$$?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="titolMenu">
  <tr>
    <td class="titolMenu"><strong class="titolMenu"><?=$title?></strong></td>
    <td align="right" class="titolMenu"><img src="/public/themes/plantilla1/images/fletxa.gif" width="11" height="15" /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuL"><tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="4"></td>
  </tr>
  <?foreach($loop as $l): extract ($l)?>
  <?if ($item):?>
  	<tr>
    <td class="titleL">
      <?=$item?>
    </td></tr><?endif //item?>
  <?foreach($loop as $l): extract ($l)?>
  <tr>
    <td class="menuL"><a href="<?=$link?>" class="menuLlnk<?=$selected?>">
      <?=$item?>
    </a></td></tr>
  <?endforeach //$loop?><?endforeach //$loop?><tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="16"></td>
  </tr>
</table>
