<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><br /><?endif //$$?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="titolMenu">
  <tr>
    <td height="20" align="left" valign="bottom"><strong class="titolMenu">
    <?=$title?></strong></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuL">
  <tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="4"></td>
  </tr>
  <?foreach($loop as $l): extract ($l)?>
  <tr>
              <td align="left" width="100"><?if ($image_name):?><a href="<?=$link?>"><img src="<?=$image_src_thumb?>" width="80" border="0" /></a>
                    <?endif //image_name?></td>
        
    <td align="left" class="menuL" width="100%"><a href="<?=$link?>" class="menuLlnk0">
      <?=$ref?><?if ($property):?><br /> 
          <?=$property?>
          <?endif //$property?>
    </a></td>
  </tr>
  <?endforeach //$loop?>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuL">
  <?if ($more):?>
  <tr>
    <td align="left" class="menuL"><a href="<?=$more_link?>" class="menuFitxa">
      &gt;&gt;
      <?=$more?>
...    </a></td>
  </tr><?endif //$more?><tr>
    <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="10"></td>
  </tr>
</table>
