<!-- images -->
<link href="/public/themes/plantilla2/styles/general.css" rel="stylesheet" type="text/css">
<link href="/public/themes/plantilla2/styles/modalbox.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
images_dir = '/<?=$client_dir?>/inmo/property/images/';
<?$loop_old = $loop?>
images_thumbs =  '<?foreach($loop as $l): extract ($l)?><?foreach($loop as $l): extract ($l)?><?=$image_name_thumb?>-<?endforeach //$loop?><?endforeach //$loop?>';
<?$loop = $loop_old?>
images_mediums =  '<?foreach($loop as $l): extract ($l)?><?foreach($loop as $l): extract ($l)?><?=$image_name_medium?>-<?endforeach //$loop?><?endforeach //$loop?>';
<?$loop = $loop_old?>
function open_flash(imatge){

	contingut = '<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="610" height="473"><param name="movie" value="/public/themes/plantilla2/flash/gallery.swf"><param name="FlashVars" value="imatge=' + imatge + '&images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" /><param name="quality" value="high"><embed src="/public/themes/plantilla2/flash/gallery.swf" flashvars="images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="473"></embed></object>';
	return ModalBox.open(contingut, ref, 610, 473, 30);
	 
}
</script>
<div style="padding-bottom:30px"></div>
<table border="0" cellspacing="0" cellpadding="0" class="images_list">
    <tr>
      <td valign="top"><img src="/public/themes/plantilla2/images/images_list_bg1.gif" width="15" height="123" /></td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td background="/public/themes/plantilla2/images/images_list_bg4.gif"><img src="/public/themes/plantilla2/images/images_list_bg3.gif" width="4" height="5" /></td>
          <td align="right" background="/public/themes/plantilla2/images/images_list_bg4.gif"><img src="/public/themes/plantilla2/images/images_list_bg5.gif" width="4" height="5" /></td>
        </tr>
	</table>
<div class="images_list2"><div class="cls"></div><? foreach($loop as $l): extract ($l)?><? foreach($loop as $l): extract ($l)?><? if ($image_name_details):?><div class="images_list_middle2"><a href="#" onClick="return open_flash('<?=$image_name_medium?>')"><img src="<?=CLIENT_DIR?>/inmo/property/images/<?=$image_name_details?>" border="0" /></a></div><?endif //$image_name_details?><? endforeach //images?><? endforeach //loop?><div class="cls"></div></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td background="/public/themes/plantilla2/images/images_list_bg7.gif"><img src="/public/themes/plantilla2/images/images_list_bg6.gif" width="4" height="5" /></td>
          <td align="right" background="/public/themes/plantilla2/images/images_list_bg7.gif"><img src="/public/themes/plantilla2/images/images_list_bg8.gif" width="4" height="5" /></td>
        </tr>
      </table></td>
      <td valign="top"><img src="/public/themes/plantilla2/images/images_list_bg2.gif" width="16" height="123" /></td>
    </tr>
  </table>