<?if (!1):?>
<link href="/clients/grupcorvi/templates/styles/general.css" rel="stylesheet" type="text/css" />
<?endif //$$?>
<script language="JavaScript" src="/admin/languages/<?=$language?>.js"></script>
<script language="JavaScript" src="/admin/jscripts/validacio.js"></script>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
<table width="96%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="titol"><?=$c_volserinta0;?></td>
  </tr>
  <tr>
    <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="20"></td>
  </tr>
  <tr>
    <td class="text10white"><?=$c_oportunitat;?>
      &nbsp;</td>
  </tr>
  <tr>
    <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="15"></td>
  </tr>
  <tr>
    <td><table width="370" border="0" align="center" cellpadding="0" cellspacing="0" class="contactetable">
        <tr>
          <td>&nbsp;</td>
          <td width="351"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_contact">
              <form action="<?=$link_action?><?if (isset($_GET['template'])):?>&template=<?=$_GET['template']?><?endif //?>" method="post" name="theForm" id="theForm" onsubmit="<?=$js_string?>">
                <tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblcontact" id="tbl_form">
                      <tr>
                        <td width="10"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="1"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="left">&nbsp;</td>
                        <td width="10"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="1"></td>
                      </tr>
                      <tr>
                        <td width="10">&nbsp;</td>
                        <td align="left"><?=$c_name;?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$name?></td>
                        <td width="10">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left"><?=$c_surnames;?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$surnames?></td>
                        <td>&nbsp;</td>
                      </tr>
 <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                   
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left"><?=$c_nif;?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$nif?></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td width="10">&nbsp;</td>
                        <td align="left"><?=$c_phone;?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$phone?></td>
                        <td width="10">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td width="10">&nbsp;</td>
                        <td align="left"><?=$c_mail;?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$mail?></td>
                        <td width="10">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left"><?=$c_matter?>
                          :</td>
                        <td>&nbsp;</td>
                        <td align="left"><?=$matter?></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left" valign="top"><?=$c_comment?>
                          :</td>
                        <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="1"></td>
                        <td align="left"><?=$comment?></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td height="5" align="left"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                        <td width="10" height="5"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="5"></td>
                      </tr>
                      <tr>
                        <td height="5">&nbsp;</td>
                        <td height="5">&nbsp;</td>
                        <td height="5">&nbsp;</td>
                        <td height="5" align="left"><input name="submitb" type="submit" id="submitb" class="buttons"  value="<?=$c_send?>" />
                          <input type="reset" name="Submit" value="<?=$c_clear?>" class="buttons" /></td>
                        <td height="5">&nbsp;</td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </form>
            </table></td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
