<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><?endif //$$?>
<script language="JavaScript" src="/admin/languages/<?=$language?>.js"></script>
<script language="JavaScript" src="/admin/jscripts/validacio.js"></script>
<table width="96%" border="0" cellpadding="0" cellspacing="0" class="fonsgeneralsclars">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td width="351"><form action="<?=$link_action?><?if (isset($_GET['template'])):?>&template=<?=$_GET['template']?><?endif //?>" method="post" name="theForm" id="theForm" onsubmit="<?=$js_string?>">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblcontact" id="tbl_form">
                <tr>
                  <td width="10"><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="1"></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10"><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="1"></td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_name;?>:</td>
                  <td>&nbsp;</td>
                  <td><?=$name?></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_phone;?>:</td>
                  <td>&nbsp;</td>
                  <td><?=$phone?></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_mail;?>:</td>
                  <td>&nbsp;</td>
                  <td><?=$mail?></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left"><?=$c_matter?>:</td>
                  <td>&nbsp;</td>
                  <td><?=$matter?></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left" valign="top"><?=$c_comment?>:</td>
                  <td><img src="/public/themes/plantilla1/images/spacer.gif" width="10" height="1"></td>
                  <td><?=$comment?></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td><img src="/public/themes/plantilla1/images/spacer.gif" width="1" height="10"></td>
            </tr>
            <tr>
              <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="152" align="right">
                    <input type="image" style="border:none;background-color:none;" name="submitb" id="submitb" src="/public/themes/plantilla1/images/bcorreu.gif" /></td>
                  <td width="8"><img src="/public/themes/plantilla1/images/spacer.gif" width="8" height="1"></td>
                  <td align="left"><a href="#" class="content" onclick = "document.getElementById('submitb').click();return false;">
                    <?=$c_sendmail?>
                  </a></td>
                </tr>
              </table></td>
            </tr>
          </table>
                </form>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>