</br>
</br>
</br>
<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css">
<table width="96%" border="0" cellpadding="0" cellspacing="0" class="fonsgeneralsclars">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td width="351"><table width="351" height="300" border="0" cellpadding="0" cellspacing="0" class="tblcontact">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><?=$c_sendok?></td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
</table>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>