<link href="/clients/agenciaportselva/templates/styles/general.css" rel="stylesheet" type="text/css">
<table width="96%" border="0" cellpadding="0" cellspacing="0" class="fonsgeneralsclars">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td width="351"><form action="/?tool=contact&amp;tool_section=contact&amp;action=list_records_send" method="post" name="theForm" id="theForm">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblcontact" id="tbl_form">
                <tr>
                  <td width="10"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="10" height="1"></td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="10" height="1"></td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_name;?>:</td>
                  <td>&nbsp;</td>
                  <td><input name="nombre" type="text" id="nombre" size="35"></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_phone;?>:</td>
                  <td>&nbsp;</td>
                  <td><input name="telefono" type="text" id="telefono" size="35"></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td align="left"><?=$c_mail;?>:</td>
                  <td>&nbsp;</td>
                  <td><input name="correo" type="text" id="correo" size="35"></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left"><?=$c_matter?></td>
                  <td>&nbsp;</td>
                  <td><input name="asunto" type="text" id="asunto" size="35"></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left" valign="top"><p>
                    <?=$c_comment?>
                  </p>
                    <p>&nbsp; </p></td>
                  <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="10" height="1"></td>
                  <td><textarea name="observaciones" cols="35" rows="6" id="observaciones"></textarea></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="1" height="10"></td>
            </tr>
            <tr>
              <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="152" align="right"><a href="#" onclick="document.theForm.submit(); return false"><img src="/clients/agenciaportselva/templates/images/bcorreu.gif" alt="<?=$c_sendmail?>" width="20" height="20" border="0" value="submit"></a></td>
                  <td width="8"><img src="/clients/agenciaportselva/templates/images/spacer.gif" width="8" height="1"></td>
                  <td align="left"><?=$c_sendmail?></td>
                </tr>
              </table></td>
            </tr>
          </table>
                </form>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>