body {
	text-align: center;
	padding: 0;
	margin: 0;
	background: #fff;
	}	
body, table, tr, td {
	font-family: 'Verdana', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-variant: normal;
	font-size: 11px;
}
#container {
	width: 954px;
	margin: 0 auto;
}	
#logo {
	position: absolute;
	text-align: left;
}	
#logo img {
	margin-left:14px;
	margin-top: 10px;
}
#header {
	width:100%;	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 83px;
	background: url(../images/fons_header.gif) no-repeat;	
	}	
	#header_left {
	float:left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
	#header_right {
	float:right;
	color: #999999;
	text-align:right;
	}
	#header_right_phone{	
	padding-top:36px;
	padding-right:5px;
	padding-bottom:0px;
	margin-bottom:0px;
	font-family:'Arial', Helvetica, sans-serif;
	font-size:26px;
	line-height:26px;	
	color:#7d881F;
	}
	#header_right_text {	
	padding-right:0px;
	padding-top:0px;
	line-height:10px;	
	}
	#header_right a {	
	padding-top:0px;
	padding-left:8px;
	line-height:10px;			
	font: normal 10px verdana;
	color: #9C9D9F;
	text-decoration: none;
	}
	#header_right a:hover {
	text-decoration: underline;
	}
#center {
	clear:both;
	width: 100%;
	height:100%;	
	background: url(../images/fons_body.jpg) repeat-x;	
	}
	#center_top_right {
	float:left;	
	width:160px;
	height:50px;
	}
	#center_top_left h1 {
	float:right;
	width: 70%;
	color:#000000;
	font-family: 'Arial', Helvetica, sans-serif;
	text-align:right;
	padding-right:15px;
	font-size: 24px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
	font-variant: normal;	
	}	
	#center_menu_text {
	clear:both;
	width:810px;
	padding-top:60px;
	text-align:left;
	font-family:'Arial', Helvetica, sans-serif;
	font-size:12px;
	padding-bottom:4px;	
	background-image: url(../images/fons_menu.gif);
	background-repeat: repeat-x;
	background-position: bottom;	
	}
		#center_menu_text a {
		text-decoration:none;
		}
		#center_menu_text a.lnk0 {
		color: #a7a7a7;
		}
		#center_menu_text a.lnk0:hover {
		color:#a4bd11;		
		}	
		#center_menu_text a.lnk1 {		
		color: #7d8720;
		}
	#center_content {
	padding-top:40px;
	clear:both;
	width:900px;
	}
	#center_content_left{ /*menus*/	
	float: left;
	text-align:left;
	width:209px;
	}
	#center_content_left_search{
	text-align: center;		
	margin-bottom: 20px;
	}
	#center_content_left_top {
	background-image: url(../images/quadre_top.gif) ;
	background-repeat: no-repeat;
	background-position: bottom;
	height:9px;
	font-size: 1px;
	}
	#center_content_left_middle {
	background-image: url(../images/quadre_fons.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border-left: 1px #d5d5d5 solid;
	border-right: 1px #d5d5d5 solid;
	padding: 10px;
	}	
	#center_content_left_bottom {
	background-image: url(../images/quadre_bottom.gif) ;
	background-repeat: no-repeat;
	height:9px;
	}
	#center_content_right{/*contingut*/
	float:right;
	text-align:left;
	width:600px;
	}
	
	#center_content_right h2 {
	float:left;
	color:#000000;
	font-family: 'Arial', Helvetica, sans-serif;
	text-align:right;
	padding-right:0px;
	font-size: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-weight: normal;
	font-variant: normal;	
	}	
	
	
#bottom {
	clear:both;
	width: 100%;
	border-top: 1px solid #d5d5d5;
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	}
table.pageResults{ /*paginacio*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	color: #000000;
}
/* els que no depenen directament del tpl */
/* Llista propietats */
tr.listPropertyEven{
	background-color: #FFFFFF;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
}
tr.listPropertyOdd{
	background-color: #f7f7f7;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 0px;
	padding-bottom : 0px;
} 
td.detailsTop{
	background-color : #CCCCCC;
}

td.details, .details{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size: 11px;
	line-height : 16px;
}
/*-------- Llistat productes -----------*/
  
.titolFitxa { /* ref, */
	font-family:'Verdana', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;	
}  
a.titolFitxa { /* ref, */
	font-family:'Verdana', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;	
}  
/* Ex. Casa situada al centre poble..., nom de la finca*/  
.titolListProp {
	font-size: 13px;
	color: #000000;
	line-height: 18px;
}  
.titolListProp2 { /* descripcio curta */
	font-size: 12px;
	line-height:24px;
	color: #333333;
} 
/*------------------------------------------------*/
/* Fitxa propietats */
.titolFitxaProp { /*nom de la propietat*/
	font-size: 13px;
	color: #000000;
	line-height: 18px;
}
.titolFitxaProp2 {
	font-size: 18px;
	line-height:26px;
	color: #333333;
}
.tablefoto {
	border: 1px solid #d6d6d6;
	background-color: #d6d6d6;
	margin-top: 6px; 
	margin-bottom: 6px; 
} 
.tabledetails { /* taula amb les característiques de la fitxa de propietats, habitacions, num aseos, terraza... */
	border: 1px solid #d6d6d6;
}
.price{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #7d881f;
	font-size:11px;	
} 
/* ---------------------- menus ------------------------*/
#block_top {
}
#block_center {
}	
	#block_center h2{
	padding-left:5px;
	text-align:left;
	font-family: 'arial', Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#736e6e;
	margin-top: 0px;
	margin-right: 0x;
	margin-bottom: 5px;
	margin-left: 0px;
	}
#block_bottom {
}

.titolMenu {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
}

td.titolMenu {		
	padding-left: 5px;
}
.t14ptboldnegra {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	font-weight: bold;
}	


a.menuLlnk0 {	
	font-family:'Arial', Helvetica, sans-serif;
	font-size:12px;
	line-height:19px;
	color: #a7a7a7;
	font-weight:bold;
	text-decoration:none;
	padding-left:20px;
	display:block;
  }

a.menuLlnk0:hover {
	text-decoration : none;
	color:#a4bd11;
}

a.menuLlnk1 {
	font-family:'Arial', Helvetica, sans-serif;
	font-size:12px;
	line-height:19px;
	color:#7d8720;
	font-weight:bold;
	text-decoration:none;
	padding-left:20px;
	display : block;
  }

a.menuLlnk1:hover {
	text-decoration : none;
	color: #a3bd12;
}

/* google maps */
.onsom {
	}
.onsom iframe {
	width: 629px;
	height: 450px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 30px;	
}
#map {
	border: 2px solid #d5d5d5;
	width: 625px; 
	height: 448px;
}	
	
#quisom {
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Arial, 'Verdana', Helvetica, sans-serif;
	font-size: 12px;
	color: #525760;
	line-height:18px;
	text-align:justify;	
}
#quisom img{
	border: 1px solid #d5d5d5;
}
#contacte{
	border: 1px solid #d5d5d5;	
}
.fotonegre {
	border: 1px solid #000;	
	margin-top: 6px; 
	margin-bottom: 6px; 
} 

#footer {
	clear:both;	/* ho posso pel mozzilla */
	text-align:center;
	width:100%;
	padding-top:30px;
	font-family:Verdana;
	color:#999999;
	font-size:10px;
}
#footer_des {
	clear:both;	/* ho posso pel mozzilla */
	text-align:center;
	width:100%;
	padding-top:30px;
}
.situaciodiv {
	font-family: Arial, 'Verdana', Helvetica, sans-serif;
	font-size: 12px;
	color: #525760;
	line-height:18px;
	}
.links_generals {
color:#a4bd11;
text-decoration:none;
}
.links_generals:hover {
text-decoration:underline;
}

				
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
   clear:both;
   height:0;
   font-size: 1px;
   line-height: 0px;   
}

input.search {
	border: 1px #d6d6d6 solid;
}

.inputs {
	font-family: Arial, 'Verdana', Helvetica, sans-serif;
	font-size: 12px;
	width: 350px;
}	