/* MODALBOX */
#lbbernat { /*aquesta capa m'ajudara a posicionar el recuadre mes cap amunt o cap avall*/
	position:absolute;
	top:5%;
	width:100%
}

#lbOverlay {	
	position: absolute;	
	left: 0;
	width: 100%;
	background-color: #9E9E9E; /* color de fondo del difuminat */
	cursor: pointer;
}

#lbCenter { /* carrega inicial */
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

#lbBottomContainer { /* container del modalbox */
	
	position: absolute;	
	left: 50%;	
	overflow: hidden;
	background-color: #fff;	
	border-left: 2px solid #6e6e6e;
	border-right: 2px solid #6e6e6e;
	border-top: 2px solid #6e6e6e;
	/* height: 60px; */
	height: 60px; /*amplada d'on hi ha el text com ara ref..., també s'ha de canviar al tpl, on crida la funcio modalbox del js */
}
.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}

#lbContentContainer { /*container dels thumbs */
	border-left: 2px solid #6e6e6e;
	border-right: 2px solid #6e6e6e;
	border-bottom: 2px solid #6e6e6e;
	overflow: hidden;
}

#lbBottom {
	height: 60px; /* també s'ha de canviar per l'alçada del text*/
}

#lbCloseLink {
	display: block;
	float: right;
	width: 28px;
	height: 28px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 0px 0px;
}
/* Color del caption ex. referencia a dalt*/
#lbCaption { 
	font-family: 'Arial', Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: #7d881f;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
}
