<? if ($company):?><strong><?=$company?></strong><br /><? endif ?>
<? if ( ($a_name || $a_surname) && !$company ): ?><strong><?= $a_name ?> <?= $a_surname ?></strong><br/><? endif ?>
<?= $address ?><br/>
<?= $city ?> <?= $zip ?><br/>
<? if ( $provincia_id ): ?>
	<?= $provincia_id ?><br/>
<? endif ?>
<?= strtoupper( $country_id ) ?><br/>
<? if ( $dni ): ?><strong><?= $c_dni ?></strong>: <?= $dni ?><br/><? endif ?>
<? if ( $telephone ): ?><strong><?= $c_telephone ?></strong>: <?= $telephone ?><? if ( !$telephone_mobile ): ?> <br/><? endif ?><? endif ?>
<? if ( $telephone_mobile ): ?> - <?= $telephone_mobile ?><br/><? endif ?>
<? if ( $mail ): ?><strong><?= $c_mail ?></strong>: <a href="mailto:<?= $mail ?>"><?= $mail ?></a><br/><? endif ?>