
<form action="<?= $link_payment ?>" method="post" id="summary">
		<?=$customer?>
		<div class="summary-cart">
			<h3><?=$c_title_cart?></h3>
			<?=$cart?>
		</div>
		<div class="buttons spacer">
			<input class="boto" type="submit" value="<?= htmlspecialchars($c_next_payment_step) ?>">
		</div>
</form>
