<div id="process">
	<ol>
		<? foreach($processes as $p): extract ($p)?>
	   <li class="sel<?=$selected?> item<?=$id?>"><div><span><?=$id?></span> <?=$item?></div></li>
	   <? endforeach //$loop?>
	</ol>
</div>
