body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td.top{
	border-bottom-color: #CCCAC7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #CCCAC7;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCCAC7;
	border-right-style: solid;
	border-right-width: 1px;
}
td.bottom{
	border-top-color: #CCCAC7;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: #CCCAC7;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCCAC7;
	border-right-style: solid;
	border-right-width: 1px;
}
td.franja{
	background-color: #B95111;
}