/* Botons */
/* forms */
input{
	margin: 0;
	vertical-align:middle;
	font-family: Arial, sans-serif;
	color: #383838;
}
input[type=checkbox]{
	margin: 0 5px 0 0;
}
input[type=radio]{
	margin: 0 5px 0 0;
}
	.select_related input[type=radio]{
		margin: 0 18px 0 5px;
	}
	table.radios-object td,
	table.radios2-object td {
		padding-right: 0 !important;
	}
	table.radios-object input[type=radio],
	table.radios2-object input[type=radio] {
		margin-top: 3px;
	}
	table.radios-object label,
	table.radios2-object label {
		padding-right: 10px;
		margin-right: 5px;
		cursor: pointer;
	}
	table.radios-object label {
		margin-right: 10px;
	}

a.btn_form_down,
#hide_private,
input.btn_form1,
a.btn_form1,
a.btn_form1b,
a.btn_form1_private,
a.btn_form2,
a.btn_form_save,
input.btn_form_save,
a.btn_form_delete,
input.btn_form_delete,
a.btn_form_back,
a.boto1,
a.boto1_private,
a.boto2,
input.btn_save_select_frame,
input.btn_select_frame
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 6px;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	COLOR: #3c3c3c;
	BACKGROUND-COLOR: #e5e5e5;
	TEXT-ALIGN: center;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	margin: 2px 0 2px 4px;
	border-radius: 3px;
	border: 1px solid #a2a2a2;
	vertical-align:top;
}
a.btn_form_down:hover,
#hide_private:hover,
input.btn_form1:hover,
a.btn_form1:hover,
a.btn_form1b:hover,
a.btn_form1_private:hover,
a.btn_form_save:hover,
input.btn_form_save:hover,
a.btn_form_delete:hover,
input.btn_form_delete:hover,
a.btn_form_back:hover,
a.btn_form2:hover,
a.boto1:hover,
a.boto1_private:hover,
a.boto2:hover,
input.btn_save_select_frame:hover,
input.btn_select_frame:hover
 {
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	BACKGROUND-COLOR: #efefef;
	COLOR: black;
	border: 1px solid #898989;
}

input.btn_save_select_frame,
input.btn_select_frame{
	margin: 5px 5px 4px;
	height: 24px;
	line-height: 24px;
}
/* botons desplegables */
a.btn_form_down {
	border-radius: 0 3px 3px 0;
	padding: 10px 4px 0px 4px;
	height: 14px;
	cursor: pointer;
	margin-left: 0;
	border-left: none;
	font-size:0px;
	line-height:0px;
}
#opcions select {
}
.custom-select-container {
	position: relative;
}
select.filter {
	position: relative;
	z-index: 10;
	width: 100%;
	margin-right:20px;
	border: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	height:22px;
	line-height:22px;
	color: #666666;
	font-family: Arial,sans-serif;
	font-size: 12px;
	padding: 0;
}
.custom-select {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
	width:100%;

}
.custom-select > span {
	text-align:left;
	margin: 0;
	padding: 0 24px 0 4px;
	font-weight:normal;
	background: #fff url(/admin/themes/inmotools/images/custom_select.png) top right no-repeat;
	cursor: pointer;
	border: 1px solid #D3D3D3;
	border-radius: 2px;
	height:22px;
	line-height:22px;
	display: block;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.custom-select.active > span{
	background-position: right -22px;
	border-color: #9f9f9f;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.custom-select span span {
	 display: block;
    overflow: hidden;
	height:18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.btn_form_down:hover {
	margin-left: 0;
	border-left: none;
}

a.btn_form_down_clicked {
	border-radius: 0 3px 3px 0;
	padding: 10px 4px 0px 4px;
	height: 14px;
	cursor: pointer;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #CCCCCC;
	margin-left: 0;
	border-left: none;
}
a.btn_form_down_clicked:hover{
	COLOR: #ffffff;
	BACKGROUND-COLOR: #bababa;
	margin-left: 0;
	border-left: none;
}

/* checkbox filters */
.filters label{
	display:block;
	padding:4px 4px 4px 4px;
	margin: 0 4px;
	cursor:pointer;
}
.filters label:hover{
	background-color:transparent;
	color:#000;
}
.filters input[type=checkbox]{
	vertical-align:middle;
	margin-left:5px;
}

/* botons */
a.btn_print {
	background-color: #737373;
	color: #f2f2f2;
}
a.btn_print:hover {
	color: white;
	background-color: #555555;
	border: 1px solid #3b3b3b;
}

a.boto2 {
	background-color: #d3d3d3;
}
input.btn_form1 {
	font-weight: bold;
	height: 26px;
	margin-right: 6px;
}
input[type=submit], a.btn_form_save, input.btn_form_save, input.btn_save_select_frame{
background-color: #A7BF1A;
color: white;
font-weight: bold;
}
input[type=submit]:hover, a.btn_form_save:hover, input.btn_form_save:hover, input.btn_save_select_frame:hover{
background-color: #99B10F;
color: white;
box-shadow: #858585 0 1px 1px;
-webkit-box-shadow: #858585 0 1px 1px;
}

a.btn_form2, a.btn_form1b {
	border-radius: 3px 0 0 3px;
	margin-right: 0;
}
a.btn_form_back {
	margin-right: 20px;
	margin-left: 10px;
	background:#e5e5e5 url(../../images/icones.png?v=3) no-repeat -60px 5px;
	height:24px;
	width: 43px;
	padding:0;
	border:1px #dfdfdf solid;
}
a.btn_form_back:hover {
	background:#efefef url(../../images/icones.png?v=3) no-repeat -105px 5px;
	border:1px #e5e5e5 solid;
}
a.btn_show_previous_link,
a.btn_show_next_link {
	margin-right: 20px;
	background:#fff url(../../images/icones.png?v=3) no-repeat 0 -375px;
	height:24px;
	width: 24px;
	padding:0;
	border:1px #dfdfdf solid;
}
a.btn_show_next_link {
	background-position: -50px -375px;
}
a.btn_show_previous_link:hover,
a.btn_show_next_link:hover {
	background-position: -25px -375px;
	border:1px #e5e5e5 solid;
}
a.btn_show_next_link:hover {
	background-position: -75px -375px;
	border:1px #e5e5e5 solid;
}
div.btn_sep{
	margin: 4px;
	float: left;
}

/* Botons privat */

#hide_private{
	background-color: #F64E42;
	color: white;
	margin: 0 10px;
	border: 0;
}
body.window #hide_private{
	margin-top:8px;
}
#hide_private:hover{
	background-color: #e43326;
	color: #f2f2f2;
	box-shadow: #b5b5b5 0 1px 1px;
	-webkit-box-shadow: #b5b5b5 0 1px 1px;
}
#show_private {
	height: 10px;
	width: 10px;
	font-size: 9px;
	float:right;
	margin-right: 5px;
}
body.window #show_private {
	margin-top:8px;
	color: #A8A8A8;
}

a.botoTancar {
	BORDER: #C5C3C3 1px solid;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	MARGIN-RIGHT: 2px;
	BACKGROUND-IMAGE: url(/admin/themes/inmotools/images/boto1_fons.gif);
	FONT: bold 10px Verdana, sans-serif;
	COLOR: #6B6B6B;
	HEIGHT: 13px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	text-decoration: none;
}
a.botoTancar:hover{
	BORDER: #000000 1px solid;
	COLOR: #000000;
}


/* botons llistat i form */
/* List */
a.boto1, a.boto1_private, a.boto2 {
	margin: 2px 0 2px 4px;
}
a.botoOpcions,  a.botoOpcionsGuardar, a.botoOpcionsBorrar, a.botoOpcions1, a.botoOpcionsEditar, a.botoOpcionsNoEditar {
	padding: 0 10px;
	BACKGROUND: #737373;
	font-size: 11px;
	font-weight: normal;
	color: #f2f2f2;
	line-HEIGHT: 24px;
	TEXT-ALIGN: center;
	text-decoration: none;
	float: left;
	border-radius: 3px;
}

a.botoOpcions{
	border: 1px solid #737373;
}
a.botoOpcions:hover {
	color: white;
	background-color: #555555;
	border: 1px solid #3b3b3b;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcions1{
	background-color: transparent;
	color: #1381CE;
	font-size:14px;
}
a.botoOpcions1:hover{
	background-color: #e9e9e9;
}
a.botoOpcions1.excel {
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('../../images/excel.png');
	padding-right: 40px;
}

a.botoOpcionsGuardar{
	background-color: #a7bf1a;
	border: 1px solid #a7bf1a;
	color: #ffffff;
	font-weight: bold;
}
a.botoOpcionsGuardar:hover{
	background-color: #99b10f;
	border: 1px solid #889e0b;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcionsBorrar, a.btn_form_delete, input.btn_form_delete{
	background-color: #f64e42;
	border: 1px solid #f64e42;
	color: #ffffff;
}
a.botoOpcionsBorrar:hover, a.btn_form_delete:hover, input.btn_form_delete:hover, a.botoOpcionsEditar:hover, a.botoOpcionsNoEditar:hover{
	background-color: #e43326;
	border: 1px solid #d2271a;
	color: #f2f2f2;
	box-shadow:         0 1px 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}
a.botoOpcionsEditar, a.botoOpcionsNoEditar{
	border: 2px solid #737373;
	color: #000;
	font-size:12px;
	height:20px;
	line-height:20px;
	padding:4px 10px 4px 10px;
	text-transform:uppercase;
	background: #e1e1e1;
	margin-left:20px;
}
a.botoOpcionsEditar:hover, a.botoOpcionsNoEditar:hover{
	border: 2px solid #99b107;
	color: #000;
	background: #fff;
}
a.botoOpcionsNoEditar{
	padding:4px 17px 4px 10px;
	background: #e1e1e1 url(../../images/icones.png?v=3) no-repeat 100% -60px;
}
a.botoOpcionsNoEditar:hover{
	background: #e1e1e1 url(../../images/icones.png?v=3) no-repeat 100% -100px;
	border-color:#e43326;
}

.botoOpcionsSub {
	padding-right: 0 !important;
}
.botoOpcionsSub div {
	display: inline-block;
	position: relative;
	border-left: 1px solid #a8a8a8;
	margin-left: 10px;
}
	.botoOpcionsSub div strong {
		font-weight: normal;
		font-size: 0.8em;
		display: block;
		padding: 0 15px 0 5px;
		background:  url('../../images/boto_opcions_sub.png') top right no-repeat;
	}
	.botoOpcionsSub div ul {
		display: none;
		position: absolute;
		top:100%;
		right: 0;
		text-align: left;
		padding-top: 2px;
	}
	.botoOpcionsSub div:hover ul {
		display: block;
	}
	.botoOpcionsSub div ul li {
		display: block;
		background: #666666;
		padding: 2px 10px;
		cursor: pointer;
	}
	.botoOpcionsSub div ul li:hover {
		background-color: #737373;
	}


a.boto-twitter-published, a.boto-facebook-published, a.boto-twitter, a.boto-facebook{
	margin: 2px 0 2px 4px;
	background: url(../../images/botosocial_bg.png) no-repeat 100% -100px;
	width: 26px;
	height:26px;
	display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align:top;
}
a.boto-twitter-published{
	background-position: -120px 0;
}
a.boto-facebook-published{
	background-position: -40px 0;
}
a.boto-twitter{
	background-position: -80px 0;
}
a.boto-facebook{
	background-position: 0 0;
}
a.boto-twitter-published:hover{
	background-position: -120px -40px;
}
a.boto-facebook-published:hover{
	background-position: -40px -40px;
}
a.boto-twitter:hover{
	background-position: -80px -40px;
}
a.boto-facebook:hover{
	background-position: 0 -40px;
}

/* Botons*/
.form input[type="text"], .listRecord input[type="text"], .form input[type="password"], textarea, select, .html, div.content_top  input[type="text"]{
	font-size: 12px;
	color: #383838;
	background-color : #fafafa;
	border : 1px solid #d3d3d3;
	margin: 0;
	padding: 4px;
	font-family: Arial,sans-serif;
	vertical-align: middle;
}

select{
	border-spacing:0;
	padding: 3px 5px;
	vertical-align: middle;
}
.ui-datepicker .ui-datepicker-title select {
    padding: 0;
    margin: 1px 0;
}
.listRecord select{
	font-size:12px;
	padding: 0;
	height: 25px;
	line-height: 15px;
}
input.radio {
	padding: 2px;
	margin: 2px;
}
input.focus, .focus{
	border: 2px solid #b4c83b;
	margin: 0px;
}
.focus2{
	border: 1px solid #fdfff1;
	padding: 1px;
	background-color : #f0f7c1;
}
.defaultSkin table.mceLayout {
	margin: 5px 0 20px 0;
}
input.wide, textarea.wide{
	width:631px;
}
.listRecord  input.wide, .listRecord textarea.wide{
	width:200px;
}
.listRecord table.listRecordHor input.wide, .listRecord table.listRecordHor textarea.wide{
	width:600px;
}
.window input.wide, .window textarea.wide{
	width:95%;
}
input.medium, textarea.medium{
	width:450px;
}

/* Validació js
*/

.form_error{
	padding-left:10px;
	color:#e5970f;
}
input.input_error, input.error{
	border: 2px #e5970f solid !important;
	margin: 0px;
}



input.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-image:url(/admin/themes/inmotools/images/input_bg.gif);
	background-repeat:repeat-x;
}

/* icones */
.icon{
	height: 25px;
	width: 25px;
	display:inline-block;
	background-image: url(../../images/icones.png?v=3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	.icon.mailed{
		background-position: 0 -150px;
	}
	.icon.liked{
		background-position: -50px -150px;
	}
	.icon.refused{
		background-position: -100px -150px;
	}
	.demand-icons{
		position:absolute;
		right: 10px;
		top: -7px;
	}
/* fi icones */


/* Ajustar botons forms i list */

table.listRecord a.boto1,
table.listRecord a.boto1_private,
table.listRecord a.boto2,
table.listRecord a.boto-twitter-published,
table.listRecord a.boto-facebook-published,
table.listRecord a.boto-twitter,
table.listRecord a.boto-facebook,
table.listRecord a.btn_form_delete,
table.listRecord a.btn_form_save
 {
	margin-top: -6px;
	margin-bottom: -6px;
 }
table.listRecord .icons-holder a.boto1,
table.listRecord .icons-holder a.boto1_private,
table.listRecord .icons-holder a.boto2,
table.listRecord .icons-holder a.boto-twitter-published,
table.listRecord .icons-holder a.boto-facebook-published,
table.listRecord .icons-holder a.boto-twitter,
table.listRecord .icons-holder a.boto-facebook,
table.listRecord .icons-holder a.btn_form_delete,
table.listRecord .icons-holder a.btn_form_save
 {
	margin-top: 8px;
	margin-bottom: 8px;
 }


.form input[type="text"], .form input[type="password"],  .form textarea,  .form select {
	margin-top: -4px;
	margin-bottom: -4px;
}
.form .formsHor input[type="text"], .form .formsHor input[type="password"],  .form .formsHor textarea,  .form .formsHor select {
	margin-top: 8px;
}
table.listRecord input[type="text"], table.listRecord input[type="password"],  table.listRecord textarea,  table.listRecord select {
	margin-top: -9px;
	margin-bottom: -9px;
}
