
@keyframes passing-through {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30%, 70% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}
@keyframes passing-through {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30%, 70% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}
@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	30% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1);
	}
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone {
	background: white none repeat scroll 0 0;
	border: 2px solid rgba(0, 0, 0, 0.3);
	min-height: 150px;
	padding: 20px;
	display: block;
}
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone.dz-clickable * {
	cursor: default;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}
.dropzone.dz-started .dz-message {
	display: none;
}
.dropzone.dz-drag-hover {
	border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
	opacity: 0.5;
}
.dropzone .dz-message {
	margin: 2em 0;
	text-align: center;
}
.dropzone .dz-preview {
	display: inline-block;
	margin: 16px;
	min-height: 100px;
	position: relative;
	vertical-align: top;
}
.dropzone .dz-preview:hover {
	z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eee, #ddd) repeat scroll 0 0;
	border-radius: 20px;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
	background: white none repeat scroll 0 0;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
	transition: opacity 0.2s linear 0s;
}
.dropzone .dz-preview .dz-remove {
	border: medium none;
	cursor: pointer;
	display: block;
	font-size: 14px;
	text-align: center;
}
.dropzone .dz-preview .dz-remove:hover {
	text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview .dz-details {
	color: rgba(0, 0, 0, 0.9);
	font-size: 13px;
	left: 0;
	line-height: 150%;
	max-width: 100%;
	min-width: 100%;
	opacity: 0;
	padding: 2em 1em;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 20;
}
.dropzone .dz-preview .dz-details .dz-size {
	font-size: 16px;
	margin-bottom: 1em;
}
.dropzone .dz-preview .dz-details .dz-filename {
	white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(200, 200, 200, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
	border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 3px;
	padding: 0 0.4em;
}
.dropzone .dz-preview:hover .dz-image img {
	filter: blur(8px);
	transform: scale(1.05, 1.05);
}
.dropzone .dz-preview .dz-image {
	border-radius: 20px;
	display: block;
	height: 120px;
	overflow: hidden;
	position: relative;
	width: 120px;
	z-index: 10;
}
.dropzone .dz-preview .dz-image img {
	display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running passing-through;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running slide-in;
	opacity: 1;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	display: block;
	left: 50%;
	margin-left: -27px;
	margin-top: -27px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	z-index: 500;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
	display: block;
	height: 54px;
	width: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
	opacity: 1;
	transition: all 0.2s linear 0s;
}
.dropzone .dz-preview.dz-complete .dz-progress {
	opacity: 0;
	transition: opacity 0.4s ease-in 0s;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
	animation: 6s ease 0s normal none infinite running pulse;
}
.dropzone .dz-preview .dz-progress {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	border-radius: 8px;
	height: 16px;
	left: 50%;
	margin-left: -40px;
	margin-top: -8px;
	opacity: 1;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 80px;
	z-index: 1000;
}
.dropzone .dz-preview .dz-progress .dz-upload {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #666, #444) repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	transition: width 300ms ease-in-out 0s;
	width: 0;
}
.dropzone .dz-preview.dz-error .dz-error-message {
	display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
	opacity: 1;
	pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #be2626, #a92222) repeat scroll 0 0;
	border-radius: 8px;
	color: white;
	display: none;
	font-size: 13px;
	left: -10px;
	opacity: 0;
	padding: 0.5em 1.2em;
	pointer-events: none;
	position: absolute;
	top: 130px;
	transition: opacity 0.3s ease 0s;
	width: 140px;
	z-index: 1000;
}
.dropzone .dz-preview .dz-error-message::after {
	border-bottom: 6px solid #be2626;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	height: 0;
	left: 64px;
	position: absolute;
	top: -6px;
	width: 0;
}


/* dropzone custom */
.dropzone {
	background: #fff none repeat scroll 0 0 !important;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
	margin: 6px 2px 10px !important;
	padding: 6px 2px;
	min-height: 0;
	font-size: 12px;
}
.listRecord .dropzone {
	margin-bottom: 0 !important;
}
.dropzone .dz-message {
	margin: 4px 0;
}
.dropzone .dz-default.dz-message span {
	color: #c6c6c6;
}
.noimage .dz-default.dz-message span {
	padding-top: 64px;
	display: block;
}

.dropzone .dz-preview .dz-remove {
	padding:0;
	position: absolute;
	width: 13px;
	height: 13px;
	top: 5px;
	right: 5px;
	z-index: 1000;
	background: #fff url(../../images/icones.png?v=3) no-repeat 100% -60px;
	font-size: 0;
	line-height: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.dropzone .dz-complete .dz-remove {
	display: none;
}

/* Upload long */
.form .dropzone {
	text-align: center;
	margin: 10px 0 !important;
	padding: 20px 2px;
	font-size: 16px;
}
/* Form images */
.form.images .dropzone {
	margin: 10px 20px !important;
	padding: 20px 2px;
	font-size: 20px;
	min-height: 500px;
	display: none;
}
.form.images .dropzone .dz-message {
	margin: 235px 0;
 }
/* tots */
.dropzone .dz-preview.dz-file-preview .dz-image,
.dropzone .dz-preview .dz-image {
	border-radius: 0;
}
.dropzone .dz-preview .dz-image {
	width: 200px;
	height: 133px;
}
.dropzone .dz-preview.dz-error {
	border-top: 3px solid #f64e42;
	border-bottom: 3px solid #f64e42;
}
.form .dropzone .dz-preview.dz-error {
	margin: 7px;
	border: 3px solid #f64e42;
}
.dropzone .dz-preview .dz-error-message {
	left: 5px;
	right: 5px;
	top: 142px;
	width: auto;
	border-radius: 3px;
}
.dropzone .dz-preview .dz-error-message::after {
	left: 50%;
	margin-left: -3px;
}
.dropzone .dz-preview .dz-details {
	opacity: 1;
	top: 60px;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 5px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	top: 35px;
}
.noimage .dropzone {
	margin:0 !important;
	background: none !important;
	min-height:133px;
	padding:0;
}
.dropzone .dz-preview {
	margin: 0 0 4px;
}
.form .dropzone .dz-preview,
.form .dropzone-previews .dz-preview {
	margin: 10px;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
	animation: 3s cubic-bezier(0.77, 0, 0.175, 1) 0s normal none 1 running slide-in;
	opacity: 1;
}

/* fi dropzone custom */
/* imageupload */

/* fi imageupload */
#imagesFrame {
	width:100%;
	height:700px;
	background-color:transparent;
	margin: 0;
	padding: 0;
	border: none;
	display: none;
}