/* ELEMENTS FIXES */
	.fixed {
		position: fixed;
		top: 0;
		z-index: 5;
	}

	#split.fixed {
		right:0;
		background-color: #F6F6F6;
		z-index: 4;
	}

	#split.fixed td.pageResults {
		border-bottom: 1px solid #F6F6F6;
	}

	#opcions.fixed {
		right:0;
		box-shadow: 3px 1px 3px 0 #b5b5b5;
		-webkit-box-shadow: 3px 1px 3px 0 #b5b5b5;
		background-color: #F6F6F6;
	}

	#menu.fixed {
		left:0;
		background-color: #F3F3F3;
		border-right: 1px solid #d3d3d3;
	}

	#menu.fixed-bottom {
		bottom: 0;
		position:absolute;
	}

	#menu.fixed-left {
		bottom: auto;
		position:absolute;
	}

	#form_buttons.fixed{
		right:0;
		background-color: #F6F6F6;
		box-shadow: 1px 1px 3px 0 #b5b5b5;
		-webkit-box-shadow: 1px 1px 3px 0 #b5b5b5;
		z-index: 4;
	}
	.form #form_buttons.fixed div.menu div {
	}
	.form #form_buttons.fixed div.menu, .form #form_buttons.fixed td.buttons_top {
    	border-color: #F6F6F6;
	}
	#opcions_fixed_bar{
		display: none;
		top:0;
		right:0;
		position:fixed;
		z-index: 5;
	}
	#opcions_fixed_bar .more{
		background: url(../../images/icones.png) no-repeat -30px 0;
		width:15px;
		height:15px;
		cursor: pointer;
	}
	#opcions_fixed_bar .more:hover{
		background: url(../../images/icones.png) no-repeat -45px 0;
	}
	#opcions_fixed_bar .more.down{
		background-position: 0 0;
	}
	#opcions_fixed_bar .more.down:hover{
		background-position: -15px 0;
	}
