/* FOOTER */
#footer_top{
	line-height: 24px;
	background-color: #d3d3d3;
	text-align: center;
	color: #666666;
	font-size: 11px;
}
	#footer_top strong{
	padding: 0 10px;
	color: #454645;
	}
	#footer_top a{
		color: #666666;
		padding: 0 10px;
		line-height: 24px;
	}
#footer_bottom{
	text-align: center;
	font-size: 11px;
	background-color:#454645;
	line-height:25px;
	padding: 20px 0 10px;
	color: #787878;
}
	#footer_bottom a{
		color: #787878;
	}
	#footer_bottom img{
	vertical-align: bottom;
	}
	#footer_bottom img.sistema{
	margin-left: 40px;
	}