
/* Formularis */
/* V4 */
.form {
}

	.form div.menu{
		padding: 0 30px;
		height: 26px;
		border-bottom: 1px solid #d3d3d3;
	}
	.form div.menu div{
		font-size: 12px;
		line-height:14px;
		height: 14px;
		margin: 5px 10px 0 10px;
		padding: 6px 18px 0 18px;
		display: block;
		float: left;
		color: #666666;
		border: 1px solid #d3d3d3;
		border-bottom:  1px solid #f2f2f2;
		border-radius: 4px 4px 0 0;
		background-color: #f2f2f2;
		position: relative;
	}
	.form div.menu div.sep, .form div.menu a.sep{
		margin-left: 40px;
	}
	.form div.menu a{
		height: 15px;
		font-size: 12px;
		margin: 5px 0 0 0;
		padding: 5px 10px 2px 10px;
		display: block;
		float: left;
		text-decoration: none;
	}
	.form div.menu a:hover{
		color: #666;
		background-color:#c3c3c3;
		border-radius: 4px 4px 0 0;
	}

	/* sense td dreta */
	#form_buttons td.buttons{
		min-height: 66px;
		padding-top: 10px;
	}
		#form_buttons td.buttons .menu{
			padding-top: 60px;
		}

		#form_buttons td.buttons .right{
			padding: 10px 30px;
		}
	/* sense td dreta */

	#form_buttons td.buttons_top{
		padding: 10px 30px;
		text-align: right;
		border-bottom: 1px solid #d3d3d3;
	}
	#form_buttons td.buttons_top .right{
		min-height: 66px;
		padding-top: 10px;
	}
	.window #form_buttons td.buttons_top .right{
		min-height: 0;
	}
	.form table.images {
		background-color:#e9e9e9;
	}
	.form table.images img {
		border-radius: 3px;
		border: 5px solid #666666;
		cursor: pointer;
	}
	div.sep_dark {
		background-color: #e9e9e9;
		height: 1px;
		font-size: 1px;
	}
	div.sep_soft {
		background-color: #e9e9e9;
		height: 1px;
		font-size: 1px;
	}

   .add_new_link {
	   margin-left: 30px;
   }
	.listRecord .add_new_link {
		margin-left: 5px;
	}


/* V4 */


table.formstbl {
}
table.formstbl>tbody>tr>td {
	padding: 20px 20px 3px 20px;
}
table.formstbl>tbody>tr>td.formsCaption {
	/*padding-top: 18px;*/
}
table.formstbl>tbody>tr:last-child>td {
	padding-bottom: 18px;
}
table.formstbl td {
	color:#474746;
	vertical-align:top;
}
table.formstbl .opcions td {
	vertical-align: middle;
}

table.formstbl .forms > table > tbody > tr > td,
table.formstbl .forms > table > tbody > tr > th,
table.formstbl > tbody > tr > td > table > tbody > tr > td { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-bottom: 12px;
	padding-right: 15px;
}
table.formstbl .forms > table > tbody > tr > td:last-child,
table.formstbl > tbody > tr > td > table > tbody > tr > td:last-child { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-right: 0;
}
table.formstbl .forms > table > tbody > tr:last-child > td,
table.formstbl > tbody > tr > td > table > tbody > tr:last-child > td { /* Només per taules amb multiples inputs com tarifes a prods i taules idiomes */
	padding-bottom: 0;
}

td.forms,  table.formstbl th{
	color: #181818 !important;
	font-weight: normal;
}
table.formstbl th{
	padding-right:7px;
	text-align:left;
}
td.formsHor {
	color:#949494;
}

td.formCaptionTitle, .titol {
	font-size: 18px;
	border-bottom: 1px solid #e9e9e9;
	padding: 20px 20px 10px !important;
	font-weight: normal;
	color: #000 !important;
	background-color: #f2f2f2;
}
.clean .titol{
	font-size:14px;
	display:block;
}

td.formCaptionTitle a, td.formCaptionTitle span, .titol2 {
	font-size: 14px;
}
td.formCaptionTitle strong {
	font-weight: normal;
}
td.formCaptionTitleImageUploader{
	background-color:#E9E9E9;
}
td.formCaptionTitleCheckbox{
	font-size: 12px;
}

td.formsCaption, td.formsCaptionBig {
	border-right : 1px solid #E9E9E9;
}
td.formsCaption strong {
	font-weight: normal;
	color:#666666;
}
td.formsCaptionBig {
	font-size: 13px;
}


.formsCaptionHor2 {
	font-size: 16px;
	border-top : 1px solid #E9E9E9;
	border-bottom : 1px solid #E9E9E9;
	padding: 12px 20px 6px;
	color:#383838;
}
td.formsCaptionHor, td.formsCaptionHorFirst {
	font-size: 16px;
	border-top : 1px solid #E9E9E9;
	border-bottom : 1px solid #E9E9E9;
	padding: 12px 20px 6px;
	color:#383838;
}
td.formsCaptionHorFirst {
	border-top : none;
}

table.langList {

}
table.langList th,
table.formstbl .langListCaption {
	font-weight: bold;
	display:block;
	margin: 0 0 8px;
	text-align: left;
}
table.listRecord table.langList td,
table.listRecord div.langList {
	padding-bottom: 20px;
}
	table.listRecord table.langList tr:last-child td:last-child,
	table.listRecord div.langList:last-child {
		padding-bottom: 0;
	}
	table.listRecord table.langList td input[type='text'],
	table.listRecord div.langList input[type='text'] {
		margin-top: 0;
		margin-bottom: 0;
	}

.formsCaptionHor,  .formsCaptionHor2{
}


table.formsButtonstbl {
	border-top : 1px solid #d3d3d3;
}

td.formsButtons {
	padding:10px 0;
}

img.imageForm {
	border: 4px solid #CCCCCC;
}