
/* Timepicker */
div#timepicker {
	padding: 2px 0;
	border: 1px solid #e78f08;
	background-color: #f6ad36;
	text-align: center;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#timepicker span {
	padding: 2px 4px;
	cursor: crosshair;
	color: #192C36;
}

div#timepicker span:hover {
	padding: 2px 4px;
	background-color: #e78f08;
	color: #FFFFFF;
}


/************************/
/* AUtocomplete
/************************/
label.checkboxes_long {
	margin-top: 5px;
}
	label.select_long input,
	label.checkboxes_long input,
	label.sublist input,
	input.text_autocomplete {
		width: 500px;
	}
	label.select_long input,
	label.checkboxes_long input {
		display: none;
	}
	.listRecord label.checkboxes_long input {
		width: 120px;
	}
	label.sufix span {
		background-color: #efefef;
		border-left-width: 0 !important;
		display: inline-block;
		font-size: 14px;
		height: 23px;
		line-height: 23px;
		overflow: hidden;
		padding: 0 7px;
		text-transform: lowercase;
		vertical-align: middle;
	}
.autocomplete-no-suggestion {
	padding: 20px;
	color: #999;
}
.autocomplete-suggestions {
	border: 1px solid #d3d3d3;
	border-top: none;
	background: #FFF;
	overflow: auto;
	color: #000;
	font-size: 14px;
	line-height: 1.5;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-suggestion div.custom {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #e9e9e9;
	white-space: normal;
	overflow: hidden;
	font-size: 12px;
	color: #474746;
}

.autocomplete-suggestion img {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50px;
	float: left;
}
.autocomplete-suggestion .custom > div {
	margin-left: 70px;
}
.autocomplete-suggestion i {
	font-weight: bold;
}
.autocomplete-suggestion h6 {
	font-size: 14px;
	margin: 0;
	font-weight: bold;
}
.autocomplete-suggestion h5 {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
	color: #6196cf;
}
.autocomplete-suggestion p {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: bold;
	color: #99B10F;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

/************************/
/* SUFIXES INPUTS       */
/************************/
label.sufix, label.prefix {
	display: inline-block;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap;
}
label.sufix:hover, label.prefix:hover {
	background-color: transparent;
}

label.sufix span, label.prefix span {
	font-size: 14px;
	background-color: #efefef;
	display: inline-block;
	padding: 0 7px;
	line-height: 23px;
	height: 23px;
	overflow: hidden;
	border-left-width: 0 !important;
	vertical-align: middle;
	text-transform: lowercase;
}
	.listRecord label.sufix span, .listRecord label.prefix span {
		padding: 0 2px;
	}
label.active span {
	background-color: #e2e1e1;
	border: 1px solid #d3d3d3 !important;
	color: #252525;
}
label.active.sufix span {
	border-left-width: 0 !important;
}
label.active.prefix span {
	border-right-width: 0 !important;
}

/************************/
/* MULTISELECT          */
/************************/
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
	background-image: none;
}
.search .ms-container .ms-list,
.search select[multiple] {
	height: 160px;
	width: 167px;
}
.search .ms-container .ms-selectable,
.search .ms-container .ms-selection,
.search .ms-container .ms-selectable li.ms-elem-selectable {

}
.search .ms-container .ms-selectable,
.search .ms-container .ms-selection {
	background-color: transparent;
}
.search .ms-list {
	background-color: #fff;
}
.search .ms-container .ms-list {
	border-color: #9f9f9f;
}
