.html {
	min-height:400px;
}
body{
	margin:0;
	padding:0;
	background-color:#454645;
	font-family: Arial, sans-serif;
	font-size: 11px;
  	color: #fff;
}
body.clean{
	background-color:#F6F6F6;
}
body.window{
	background-color:#F6F6F6;
}
td,th,tr,table {
	font-family: Arial, sans-serif;
	font-size: 12px;
  	color: #666666;
}
th {
	text-align: left;
}

label{
	padding: 3px 4px 3px 4px;
	display: block;
}

label:hover{
	background-color: #C0D3D8;
}


ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	border: 0;
	margin: 0;
	padding: 0 0 0 8px;
	background: url(../../images/list.gif) no-repeat;
}

form, h1, h2, h3{
	padding:0;
	margin:0;
	font-weight: normal;
}

a {
	color:#1381ce;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {

}

.cls {
	clear:both;height:0;font-size: 1px;line-height: 0px;
}

.align-right {
	text-align: right;
}
	.center {
		text-align: center;
	}
.centerFloat1{
	padding:0;margin:0 auto;float:left;position:relative;left:50%;
}
.centerFloat2{
	float:left; position:relative; right:50%;clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
	.clearfix:after {
		clear: both;
	}

.nowrap{	
   white-space: nowrap;
}

.hidden{
	display: none;
}
.hidden-important{
	display: none !important;
}

.small {
	font-size: 11px;
}
.bigger {
	font-size: 15px;
}

.titol {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #535353;
}

.resaltat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.vermell {
	COLOR: #CB2903;
}
.vert {
	COLOR: #92a812;
}
.inactive {
	COLOR: #B5B5B5;
}
.highlight { background-color: #D6FF32; }

.resaltatSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

.lineaSuma{
	line-height: 0px; 
 	border-TOP: 1px solid #000000; 
}


div.separador{
	height:20px;
}
div.sep{
	height:20px;
}
.smaller{
	font-size: 90%;
}


/* Utils Generals */
.padding-bottom-1 {
	padding-bottom: 10px !important;
}
.padding-bottom-2 {
	padding-bottom: 20px !important;
}
.padding-bottom-3 {
	padding-bottom: 30px !important;
}
.padding-bottom-4 {
	padding-bottom: 40px !important;
}
.padding-top-1 {
	padding-top: 10px !important;
}
.padding-top-2 {
	padding-top: 20px !important;
}
.padding-top-3 {
	padding-top: 30px !important;
}
.padding-top-4 {
	padding-top: 40px !important;
}
.padding-right-1 {
	padding-right: 10px !important;
}
.padding-right-2 {
	padding-right: 20px !important;
}
.padding-right-3 {
	padding-right: 30px !important;
}
.padding-right-4 {
	padding-right: 40px !important;
}
.padding-left-1 {
	padding-left: 10px !important;
}
.padding-left-2 {
	padding-left: 20px !important;
}
.padding-left-3 {
	padding-left: 30px !important;
}
.padding-left-4 {
	padding-left: 40px !important;
}
/* Fi Utils Generals */



/* CONTINGUT TAULA PRINCIPAL */
#middle{
	width: 100%;
	border-top: 1px solid #d3d3d3;
	}
	#contingut{
		vertical-align: top;
		padding: 0;
		background-color: #f6f6f6;
	}
	#content{ /* popup window */ 
		background-color:#F6F6F6;
	}
	.content_container{
		padding: 20px; /* buscador inmo */
	}

/* OMBRES i PESTANYES */

.pestanya{
	border-radius: 3px;
	box-shadow: #7e7e7e 0 1px 3px;
	-webkit-box-shadow: #7e7e7e 0 1px 3px;
	border: none;	
}


/* Debug */
#tancar-debug {
	position: fixed;
	z-index: 10000;
	background-color: #666;
	opacity: 0.5;
	padding: 10px;
}
	#tancar-debug a {
		color: white;
		text-decoration: none
	}