/* HEADER */
#header_top{
	background-color: #fcfcfd;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#fcfcfd')";
	background: -ms-linear-gradient(#efefef, #fcfcfd);
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fcfcfd));
	background: -moz-linear-gradient(top, #efefef, #fcfcfd);
	position: relative;
	-pie-background: linear-gradient(#efefef, #fcfcfd);
	behavior: url(/common/jscripts/PIE.htc);
}
	#header_top .left{
		padding: 14px 0 10px 0;
	}
	#header_top{
		text-align: right;
		line-height: 14px;
	}
	#header_top .user{
		color:#b3b3b3;
		float: left;
		padding-top: 5px;
		margin-right: 22px;
		border-bottom: 1px solid #dddddd;
	}
	#header_top .user strong{
		color:#747474;
		font-weight: normal;
	}
	#header_top .right a{
		color:#666666;
		text-decoration: none;
		background-color: #dedede;
		border-left: 1px solid #bfbfbf;
		float: left;
		display: block;
		padding: 5px 12px 5px 34px;
		font-size: 11px;
	}
	#header_top .right a:hover{
		background-color: #c3c3c3;
	}
	#header_top .right a.first{
		border-left: none;
		position:relative;
		border-radius: 0 0 0 4px;
		behavior: url(/common/jscripts/PIE.htc);
		background-image: url(../../images/header_top_1.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.second{
		background-image: url(../../images/header_top_2.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.last{
		background-image: url(../../images/header_top_3.png);
		background-position:  6px 0;
		background-repeat: no-repeat;
	}
	#header_top .right a.first:hover{
		background-image: url(../../images/header_top_1_hover.png);
	}
	#header_top .right a.second:hover{
		background-image: url(../../images/header_top_2_hover.png);
	}
	#header_top .right a.last:hover{
		background-image: url(../../images/header_top_3_hover.png);
	}

#header_middle{
	background-color:#666666;
	padding: 0 0 0 192px;
	position: relative;
}
	#header_middle a{
		font-size: 12px;
		line-height:14px;
		height: 14px;
		margin: 5px 0 0 0;
		padding: 4px 15px 4px 15px;
		display: block;
		float: left;
		color: #e3e3e3;
		text-decoration: none;
		border: 1px solid #666666;
		border-bottom: 0;
	}
	#header_middle a:hover{
		color: #fff;
		background-color:#454645;
		border: 1px solid #828282;
		border-bottom: 0;
		border-radius: 2px 2px 0 0;
	}
	#header_middle div.selected{
		font-size: 14px;
		line-height:15px;
		height: 15px;
		margin: 5px 10px 0 10px;
		padding: 6px 22px 2px 22px;
		display: block;
		font-weight: bold;
		float: left;
		color: #666666;
		position: relative;
		background-color:#f4f4f4;
		border-radius: 2px 2px 0 0;
		behavior: url(/common/jscripts/PIE.htc);
	}
#header_bottom{
	height: 38px;
	padding: 16px 0 0 18px;
	font-size: 20px;
	line-height: 24px;
	color: #666666;
	background-color: #f4f4f4;
	position:relative;
}
#header_bottom .subtitle{
	position:absolute;
	top:18px;
	left:228px;
	color: #7f7f83;
	font-size:17px;
}


#middle .breadcrumb{
	color:#8b8b8b;
	font-size:11px;
	text-transform: lowercase;
	padding:8px 0 8px 17px;
}
#middle .breadcrumb a{
	color:#8b8b8b;
}