/* MLS - Demands */

	/* Formulari per veure propietat mls remotament */
	#mls-form td.listTitle {
		padding-bottom: 15px;
	}

	/* llistat mls */
	#mls-list {

	}
		.mls-icon {
			border-radius: 3px;
		}
		.icons-holder {
			position: relative;
			z-index: 1;
			width: 100%;
		}
		.mls-comercial-name {
			font-weight: bold;
			color: #000;
			padding-right: 15px;
		}
		.mls-comercial-name span {
			font-weight: normal;
		}
		td.mls-listTitle2 strong {
			padding-left: 30px !important;
			font-size: 13px;
		}

	/* Llistat inmobles */

	.botoMls {
		border-radius: 3px;
		color: #f2f2f2;
		float: right;
		line-height: 26px;
		height: 26px;
		width: 60px;
		padding: 0;
		margin-left: 40px;
		background: url("../../images/mls_list.png?v=2");
	}
		.botoMls:hover {
			background-position: 0 -30px;
		}
		.botoMls.active1 {
			background-position: 0 -60px;
			width: 80px;
		}
		.botoMls.no-margin {
			margin-left: 0;
		}

/* Cerques demandes */
#history-holder {
	position:relative;

}
#history-holder form {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: left;
	background-color: #666;
	padding: 20px;
	cursor: default;
}
#history-holder form span {
	color: #fff;
	display: block;
	padding-bottom: 10px;
}
#history-holder form input[type=text] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 10px;
}
#history-holder form textarea {
	margin: 0;
}
#history-holder form div {
	text-align: right;
}
#history-holder .btn_form1,
#history-holder .btn_form_delete {
	margin-top: 8px;
}

/* Police */
.custumers-police {
	padding-left: 10px;
}
.custumers-police table {
	margin-top: -5px;
}
.custumers-police table th {
	font-weight: 400;
	color: #000000;
}
.custumers-police table tr.vermell th {
	COLOR: #CB2903 !important;
}
.custumers-police table tr.vermell td {
	COLOR: #e72903 !important;
}