
	#menu_holder{
		font-size: 12px;
		line-height: 16px;
		width: 213px;
		padding: 0 0 20px 0;
		background-color: #f3f3f3;
		vertical-align: top;
		border-right: 1px solid #d3d3d3;
		min-width: 180px;
	}
	#menu_holder2{
		width: 213px;
		position:relative;
	}
		#menu_content{
			padding-bottom: 20px;
		}
		#menu_arrow{
			height: 16px;
			cursor: pointer;
			margin-bottom: 2px;
		}
		.m_arrow{
			background: url(../../images/menu_bg.png) 100% 0 no-repeat;
		}
		.m_arrow:hover{
			background-position: 100% -34px;
		}
		.m_arrow_down{
			background: url(../../images/menu_bg.png) 100% -17px no-repeat;
		}
		.m_arrow_down:hover{
			background-position: 100% -51px;
		}
		#menu strong{
			color:#2e2e2e;
			padding: 26px 0 0 20px;
			display: block;
		}
		#menu a{
			display: block;
			color:#474746;
			text-decoration: none;
			padding: 3px 0 3px 20px;
		}
		#menu a.lnk:hover, #menu a.lnkSelected:hover{
		background-color: #828282;
		color:#ffffff;
		}
		#menu a.lnkSelected{
		background-color: #e1e1e1;
		}
		#menu .sep{
			height: 8px;
		}
		#menu div.last_menu{
			margin-left:40px;
			padding-bottom: 10px;
		}
		#menu div.last_menu > div{
			margin-left:20px;
			padding-bottom: 10px;
		}
		#menu div.last_menu_sub{
			margin-left:20px;
		}
		#menu a.last_menu, #menu a.last_menu_sub{
			color: #1381CE;
			padding-left:0;
		}
		#menu a.last_menu.selected1{
			color: #000;
		}
		#menu a.last_menu_sub{
			margin-left:20px;
		}
		#menu a.last_menu:hover, #menu a.last_menu_sub:hover{
			text-decoration: underline;
		}