
/* Llistats contingut */

div.content_top{
	padding: 12px 17px 30px;
	font-size: 14px;
}
	div.content_top .listTitle{
		padding: 0 0 12px 0;
		font-size: 16px;
	}
	div.content_top span{
		font-size: 13px;
	}

/* Llistats */
tr.listItemOdd td, tr.listItemEven td, tr.listItemSelected td, tr.listItemDown td, tr.listItemOver td{
border-bottom: #e9e9e9 solid 1px;
}
tr.listItemMarked td, tr.listItemBlocked td{
border-bottom: #e1d8bb solid 1px;
}
tr.listItemEven td td,
tr.listItemOdd td td,
tr.listItemMarked td td,
tr.listItemSelected td td,
tr.listItemDown td td,
tr.listItemOver td td,
tr.listItemBlocked td td{
	border:0;
	padding:0;
}

tr.listItemBlocked {
	background-color: #e7e1ce;
}

tr.listItemOver,  tr.listItemOdd:hover,  tr.listItemEven:hover{
	background-color: #fff;
}

tr.listItemDown, tr.listItemSelected {
	background-color: #ebf0f2;
}

tr.listItemDown:hover, tr.listItemSelected:hover {
	background-color: #e4e9ea !important;
}
tr.listItemMarked {
	background-color: #e7e1ce;
}

td.listItemCols {
	border-bottom : 1px solid #F2EDE5;
	border-right : 1px solid #F2EDE5;
}

table.listRecord > tbody > tr > td.listGroup:first-child {
	padding: 20px 20px 10px;
}

table.listRecord td.listGroup {
	color: #000;
	border-bottom: #d3d3d3 solid 1px;
	font-size: 18px;
	background-color: #f2f2f2;
}
td.listButtons{
	background-color : #FDFCF6;
	border-top : 2px solid #F2D99C;
	border-bottom : 2px solid #F2D99C;
}

tr td td.listDescription{
	color:#666;
	margin-top: 4px;
	padding-top: 2px;
	padding-left: 20px;
	padding-bottom: 26px;
}
td.listDescription p{
	margin: 2px;
}

table.listRecord {
	 /*border-collapse:collapse; ie9 shadow no va */
 	 border-spacing: 0;
}
table.listRecord.big tbody td {
 	 font-size: 14px;
	 line-height:20px;
}
table.listRecord.big>tbody>tr>td {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

table.listRecord tr{
  border: 0;
  margin: 0;
  padding: 0;
}

#opcions_order_fixed{
	position: fixed;
	right:0;
	box-shadow: 3px 1px 3px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
#opcions_order_fixed td{
  	border-spacing: 0;
}
table.listRecord>tbody>tr>td p:first-child{
margin:0;
}
table.listRecord>tbody>tr>td:first-child,
table.subListRecord>tbody>tr>td:first-child,
table.listRecord .listCaption:first-child,
#opcions_order_fixed td.listCaption:first-child {
	padding-left: 30px;
}
table.listRecord>tbody>tr>td:last-child,
table.listRecord .listCaption:last-child,
#opcions_order_fixed td.listCaption:last-child {
	padding-right: 30px;
}
table.listRecord td {
	padding: 24px 5px;
}

table.listRecord td.listCaption,
#opcions_order_fixed td.listCaption {
	background-color: #e9e9e9;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 11px;
}
td.listCaption img{
	vertical-align: middle;
}

table.listRecord td sup {vertical-align:top}
table.noPadding td {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Horitzontal */
table.listRecordHor {

	}
	table.listRecordHor > tbody >tr > th {
		vertical-align: top;
		text-align: left;
		font-weight: normal;
		padding: 10px 30px 10px 0 !important;
	}
	table.listRecordHor > tbody >tr > td {
		padding: 10px 0 !important;
	}
	table.listRecordHor .boto1 {
		margin-top: 30px !important;
	}


table.sublist{
	margin-top: 30px;
	width: 100%;
}
	table.sublist-new{
		display: none;
	}

/* Sublist a contractes */
table.subListRecordInForm{
	text-align: left;
}

table.subListRecordInForm .formsCaption strong {
	color: #000;
	font-weight: 700;
	padding-left: 20px;
}
table.subListRecordInForm .formsCaption td {
	color: #000;
	padding-left: 20px;
}

table.subListRecordInForm .forms td {
	padding-left: 20px;
}
.contract-property .property-details-holder {
	padding-left: 30px;
}


/* llistat dins llistat
 .subListRecord-holder i .subListRecord-before per llistats automàtics
 */
tr.subListRecord-before > td {
	border-bottom: 0;
	background-color: #f1f1f1;
	position: relative;
}
	tr.subListRecord-before td {
		font-size: 13px;
		color: #000000;
	}
tbody tr.subListRecord-before:first-child > td {
	border-top: 0;
}
tr.subListRecord-holder > td:first-child {
	background: url(../../images/sublist.png) no-repeat top center;
	padding-top: 20px;
	padding-bottom: 30px;
}

table.subListRecord{
	/*border: 1px solid #EBEBEB;*/
}
table.subListRecord td.listCaption {
   background-color: transparent;
}
	table.subListRecord .custom-table-holder{
		padding: 15px 0 0 !important;
	}
	table.subListRecord>tbody>tr>td.listImage{
		padding: 15px 12px 0 4px !important;
	}
	.subListRecord-holder tr.listItemOdd td,
	.subListRecord-holder tr.listItemEven td,
	.subListRecord-holder tr.listItemSelected td,
	.subListRecord-holder tr.listItemDown td,
	.subListRecord-holder tr.listItemOver td {
		border-top: #e9e9e9 solid 1px;
		border-bottom: 0;
	}
	.subListRecord-holder td {
		padding: 24px 5px;
	}

table.listDetails{
	margin-top: 4px;
	margin-bottom: 10px;
	padding: 7px 10px 7px 7px;
}

table.listDetails2{
	margin-top: 4px;
	margin-bottom: 6px;
	padding: 10px;
	border: 1px dotted Silver;
}
tr td td table.listDetails2 td, tr td td table.listDetails td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 15px;
}

table.listRecord td.listImage{
	padding: 10px 12px !important;
	width: 200px !important;
}
#print td.listImage{
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-bottom: 0 !important;
}
div.listImagePreview img {
	padding-bottom: 20px;
}
	div.listImagePreview img:last-child {
		padding-bottom: 0;
	}
#print td.observations{
	padding-bottom: 30px;
	border-bottom: 1px solid #E9E9E9;
	text-align:left;
}

#print tr.listItemOdd td, #print tr.listItemEven td, #print tr.listItemSelected td, #print tr.listItemDown td, #print tr.listItemOver td {
    border-bottom: 0;
}


td.listImage>div{
	text-align: center;
	margin: 2px;
	padding: 5px;
	background: #666666;
	font-size: 0;
	line-height: 0;
	border-radius: 3px;
}
td.listImage div.noimage{
	text-align: center;
	margin: 2px;
	padding: 5px;
	background: white url('/common/images/no_image.gif') no-repeat center;
}

td.listTitle1, .listTitle1, td.listTitle1 td {
	color: #000;
	font-size: 16px !important;
}

td.listTitle, .listTitle, td.listTitle td {
	color: #000;
	font-size: 15px;
}
td.listTitle strong, .listTitle strong {
	font-weight:normal;
}

td.listTitle2, .listTitle2, td.listTitle2 td {
	padding: 12px 0 6px;
	color: #383838;
	font-size: 15px;
}
td.listTitle2 strong, .listTitle2 strong {
	font-weight:normal;
}
div.listTitle{
	text-align:left;
}

.listTitleProperty{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: normal;
}

.listTitleProperty2{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #535353;
}

td.listResaltat {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #919191;
	font-weight: bold;
}


/************************/
/* Field options        */
/************************/

#field-options {
	background-color: #f1f1f1;
	padding: 5px 30px 5px 27px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
	#field-options > label {
		display: inline-block;
		padding: 5px 7px 5px 7px;
		line-height: 22px;
	}
	#field-options > label > input {
		margin-left: 0;
		margin-right: 2px;
	}
	#field-options > input[type="submit"] {
		margin-left: 10px;
		height:22px;
		line-height: 16px;
		padding:0 4px;
		border:none;
		background-color: #737373;
		display:inline-block;
		vertical-align: middle;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-weight: normal;
		cursor: pointer;
		text-transform: lowercase;
		color: #ffffff;
	}
		#field-options > input[type="submit"]:hover {
			background-color: #555555;
		}