
/* LOGIN */
#header_login{
	padding: 20px 0 50px;
	background-color: #fcfcfd;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#fcfcfd')";
	background: -ms-linear-gradient(#e8e8e8, #fcfcfd);
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fcfcfd));
	background: -moz-linear-gradient(top, #e8e8e8, #fcfcfd);
	-pie-background: linear-gradient(#e8e8e8, #fcfcfd);
	behavior: url(/common/jscripts/PIE.htc);
}
#logo_login{
	max-width: 450px;
	margin: 0 auto;
	padding-bottom: 5px;
}
#logo_login img{
	margin-left: -20px;
}
#header_login #message{
	font-size: 16px;
	padding: 25px 0 6px 0;
	color: #383838;
	max-width: 450px;
	margin: 0 auto;
}
#header_login div.sep_dark{
	background-color: #d3d3d3;
}
#header_login #message_container{
	background: transparent;
	border: none;
}
#header_login #message.noscript{
	width: 380px;
	border-radius: 6px;
	background-color: #fcfcfd;
	padding: 20px;
	margin: 40px auto 0;
}
	#header_login #message.noscript strong{
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
	}
#header_login #message a{
	text-decoration: underline;
}
#header_login #message .error{
	color: #f64e42;
}
#login_container{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 450px;
}
#header_login .login{
	border-radius: 6px;
	box-shadow: #aaaaaa 0 2px 20px;
	-webkit-box-shadow: #aaaaaa 0 2px 20px;
	padding-top:20px;
	background-color: #fcfcfd;
	margin: 0 auto;
	behavior: url(/common/jscripts/PIE.htc);
}
#header_login table {
	width: 100%;
}
#header_login td.formsCaption{
	border:0;
	font-size: 15px;
	padding-top: 14px;
}
#header_login table.formsButtonstbl{
	margin-bottom: 10px;
	border-top: none;
}
#header_login .login .formstbl{
	width: 100%;
}
#header_login .login .forms {
	padding: 10px 30px !important;
}
#header_login input.loginInput{
	font-size: 15px;
	padding: 4px 10px;
	width: 100%;
	border: 1px solid #d3d3d3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header_login .btn_form1 {
	font-size: 13px;
	border: none;
	font-weight: 400;
	margin: 0;
	padding: 3px 20px;
	height: auto;
}