
#map {
	width: 100%;
	height: 600px;
}

#google_map {
	width: 90%;
	height: 600px;
	margin-top: 10px;
}
form.google_map{
	padding:20px 0 10px;
}
	#latitut, #longitut, #center_latitut, #center_longitut{
		font-weight:bold;
		line-height: 30px;
		font-size: 12px;
	}
	.center-coords{
		margin-left: 20px;
	}
	.show-map{
		margin-right: 15px;
		font-size: 13px;
	}
	.show-map:nth-child(2){
		margin-right: 50px;
	}