/* Barra Pestanyes */

table.barraTbl {
 border-top: 0px solid #7B7777;
 border-bottom: 1px solid #7B7777;
}
td.barraSelected {
 background-color: #4B690B;
 border-right: 1px solid #A4A1A1;
}

td.barra {
 border-right: 1px solid #A4A1A1;
}

a.barraLnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #304507;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	display: block;
}
a.barraLnk:hover {
	width: 100%;
	color: #ffffff;
	background-color: #7d881f;
	height: 24px;
	line-height: 24px;
}
a.barraLnkSelected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

/* Barra Secundaria */
a.barra2Lnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}
a.barra2Lnk:hover {
	color: #4B680B;
}

/* Menu */

.separadors{
	background-color: #E3E3DE;
	line-height: 0px;
 	border-TOP: 1px solid #BAB7B7;
}

.menuNom {
	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
td.menuNom{
	background-color: #D4D0C8;
}

td.menutitol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
	padding: 3px 12px;
	font-weight: bold;
}
td.menu {
	background-color: #FAFAF9;
}
table.menuOptions{

}
table.menuOptions .sep{
	height: 6px;
}
/* buscador finques */
a.menulnk {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration : none;
	line-height: 18px;
	display: block;
	padding: 2px 12px
}
a.menulnk:hover {
		background-color: #828282;
		color:#ffffff;
}
a.menulnkSelected {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color : #E8F1D5;
	text-decoration : none;
	line-height: 18px;
	display: block;
	padding: 0 12px
}
a.menulnkSelected:hover {
	background-color : #BFD692;
}
td.menu {
}
td.menuSelected {
}
td.menumarkedesq0 {
}
td.menumarkedesq1 {
	border-left : 1px solid Silver;
	border-top : 1px solid Silver;
	border-bottom : 1px solid Silver;
}


td.opcionsTitol{
	background-color: #f6f6f6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #555;
	padding-left: 8px;display:none;
}
td.opcions{
	padding: 12px 17px;
	border-bottom: 1px solid #d3d3d3;
}

td.opcions td.buttons{
	padding-right: 30px;
	padding-top: 10px;  /*posar aquest espai en tota la linea de botons*/
	padding-bottom: 10px;
}

td.opcions td.buttons.after{
	padding-left: 30px;
	padding-right: 0;
}
td.opcionsLast{
	padding: 10px 17px;
}
td.opcions .sep{
	height: 12px;
}
table.filters,  #form_buttons{
  border: 0;
  margin: 0;
  border-collapse: collapse;
}
#form_buttons{
  width:100%;
}
.window #form_buttons_holder{
	display:none;
}
table.filters, table.filters td,  #form_buttons, #form_buttons td{
  padding: 0;
  border-spacing: 0;
}
table.filters td{
  line-height:20px;
  padding-right: 5px;
	vertical-align: bottom;
}

table.titolSeccio{
	background-color: #F9F9F8;
	border-bottom: 1px solid #ACACAC;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.subMenu{
	margin-top: -1px;
	position: absolute;
	border: #C5C3C3 2px solid;
	border-top: #C5C3C3 2px solid;
	padding: 10px;
	background-color: #FFFFFF;
	display: none;
	z-index: 1000;
}