/* Missatges */
#message_container {
  font-size: 14px;
  color: #F64E42;
  background-color: white;
  padding:10px;
  text-align:left;
  border:2px #828282 solid;
  margin: 2px;
}
#news{
	padding: 30px 17px 30px 17px;
	font-size: 15px;
	color:#383838;
	border-top: 10px solid #C4F085;
	border-bottom: 10px solid #C4F085;
}

#news > div {
	margin-bottom: 6px;
}
#news td{
	color:#383838;
	font-size: 12px;
}
#news .missatge-titol {
	margin: 30px 0 10px;
	line-height: 22px;
}
#news .missatge-titol:first-child {
	margin-top: 0;
}
#news .missatge-titol strong {
	font-size: 18px;
	font-weight: normal;
}
#news .missatge-titol a.reply {
	margin-left: 15px;
	font-size: 12px;
	background-color: #fff;
	display: inline-block;
	padding: 0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: lowercase;
	border: 1px solid #ebf0f2;
	color: #666666;
}
	#news .missatge-titol a.reply:hover {
		background-color: #878787;
		text-decoration: none;
		color: #FFFFFF;
	}
#news .missatge-titol a.hide_missatge {
	margin-left: 20px;
	font-size: 12px;
	float: right;
	text-transform: lowercase;
}
#news .reply-user {
	color: #666666;
	margin-left: 15px;
}
#news .entered {
	font-size: 12px;
	color: #666666;
}

.botoAlerta {
	BORDER: #FFFFFF 1px solid;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	margin-top: 1px;
	margin-right: 5px;
	FONT: bold 10px Verdana, sans-serif;
	COLOR: #FFFFFF;
	HEIGHT: 14px;
	BACKGROUND-COLOR: #F33111;
	TEXT-ALIGN: center;
	text-decoration: none;
	float: left;
}
.taulaAlerta {
BORDER: #FFFFFF 1px dotted;
color:#ffffff;
FONT: 10px Verdana, sans-serif;
HEIGHT: 17px;
BACKGROUND-COLOR: #F33111;
text-decoration:none;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;

}

.module-message {
	padding: 50px;
	display: block;
	font-size: 14px;
}