
/* Glow - Ombra popups */
.modalCloseImg{
	background-color: #e5e5e5;
	font-size: 16px;
	line-height: 16px;
	border-radius: 3px 3px 0 0;
	top: -24px;
	right: 6px;
	position:absolute;
	cursor: pointer;
	padding: 4px 36px;
	color:#666666;
	z-index: 2;
}
.modalCloseImg:hover{
	background-color: #fff;
	color:#454545;
	text-decoration: none;
}
.blockPage, #popupFrame, table.popupMessage, td.modalMessage{
	border-radius: 6px;
	box-shadow: #828282 0 5px 20px;
	-webkit-box-shadow: #828282 0 5px 20px;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#828282', Direction=135, Strength=7);
}
#popupFrame, table.popupMessage, td.modalMessage{
	background-color: #fcfcfd;
}