@page {
    size: auto;
    margin: 0;
}
#print {
	background-color: #ffffff;
}
	#print div.search,
	#print .pageResults,
	#print #form_buttons_holder,
	#print table.formsButtonstbl,
	#print .no-print {
		display: none;
	}
	#print .titol {
		padding-bottom: 30px;
	}
	#print .listRecord thead {
		display: table-header-group;
	}
	#print table.listRecord td {
		padding: 10px 5px;
	}
	#print tr.listItemEven td td, #print tr.listItemOdd td td, #print tr.listItemMarked td td, #print tr.listItemSelected td td, #print tr.listItemDown td td, #print tr.listItemOver td td, #print tr.listItemBlocked td td {
		border: 0 none;
		padding: 0;
	}
	#print td.formCaptionTitle {
		background-color: #fff;
		font-size: 16px;
		border: none;
		padding-top: 50px !important;
		padding-bottom: 30px !important;
	}
	#print table.sublist {
		margin-top: 0;
	}
	#print table.listRecord.sublist td.listCaption {
		background-color: #ffffff;
	}
		#print table.listRecord.sublist td.listCaption a.opcions {
			color: #474746;
			font-size: 13px;
		}
		#print td.listCaption img {
			display: none;
		}