a.pageResults, b.pageResults{
		padding: 0 1px;
		text-decoration: none;
		width: 17px;
		height:17px;
		background: #fff;
		display:inline-block;
		margin: 0 0 0 1px;
		text-align:center;
		border: 1px solid #EBF0F2;
		line-height:17px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
}
	a.pageResults:hover{
		text-decoration:none;
		border: 1px solid #D3D3D3;
	}
	a.pageResultsNext, a.pageResultsPrevious, a.pageResultsNextSet,  a.pageResultsPreviousSet{
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: middle;
		background:#fcfcfc url(../../images/icones.png?v=2) no-repeat 0 -350px;
	}
		a.pageResultsPrevious{
			margin: 0 4px 0 0;
			background-position:-25px -350px;
		}
		a.pageResultsNext:hover, a.pageResultsPrevious:hover{
		}
		a.pageResultsNextSet{
			background-position:-50px -350px;
		}
		a.pageResultsPreviousSet{
			margin: 0 4px 0 0;
			background-position:-75px -350px;
		}
	b.pageResults{
		background-color: #e3e3e3;
		border-color:transparent;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

td.pageResults {
	font-size: 11px;
	line-height: 14px;
	padding: 18px 17px 8px 17px;
	color: #666666;
}