
/* Buscadors */
div.search{
	padding: 10px 17px 20px;
	background-color:#E9E9E9;
}
.select-frame div.search {
	padding: 10px;
	background-color:#F2F2F2;
}
	div.search h3{
		padding: 5px 0;
		font-size: 15px;
	}
	div.search form > table.vertical-caption td {
		vertical-align: top;
		padding-right: 10px;
	}
	div.search form > table.vertical-caption td.buttons-td {
		padding-top: 14px;
	}
	div.search form > table.vertical-caption td.buttons-td.bottom {
		vertical-align: bottom;
	}
	div.search input[type=text], .form input.search, input.search, div.search select {
		padding: 3px;
		border: 1px solid #b7b7b7;
		margin: 0 0 0 10px;
		font-size: 15px;
		height: 28px;
		border-radius:3px 0 0 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	} 
		div.search select option.outlined {
			background-color: #f3f3f3;
			color: #000000;
		}
		div.search .radios-object td {
			padding-top: 5px;
		}
		div.search .radios-object label {

		}

		div.search label.checkbox span {
			margin-top: 8px;
			display: inline-block;
			vertical-align: middle;
			padding-left: 6px;
		}
		div.search input[type="checkbox"] {
			margin-top: 8px;
		}

		div.search input.alone,
		div.search select.alone {
			border-radius:3px 3px 3px 3px;
		}

		div.search table.vertical-caption input[type=text],
		.form table.vertical-caption input.search,
		table.vertical-caption input.search,
		div.search table.vertical-caption select {
			margin: 0;
			width: 250px;
		}
		div.search input:focus,
		div.search .ms-container .ms-list.ms-focus {
			border-color: #9f9f9f;
			 box-shadow: 0 1px 1px rgba(150, 150, 150, 0.075) inset, 0 0 8px rgba(150, 150, 150, 0.6);
			 outline: 0 none;
		 }

	/* Captions*/
	div.search table.vertical-caption td > div {
		padding-bottom: 5px;
	}

	div.search .forms-sep {
		padding-top: 20px;
		border-top: 1px solid #d3d3d3;
		margin-top: 20px;
	}


/* Buscador avançat */
td.searchGroupTop {
	padding-top: 4px;
	padding-bottom: 2px;
}
td.searchGroupBottom {
	border: 1px solid #DCDCDC;
	border-radius:4px;
	background-color: #fafafa;
	padding:6px 0;
}
table.searchGroupOptions {
}
td.searchItemOdd ,tr.searchItemOdd {
}
tr.searchItemOdd td, tr.searchItemDown td, tr.searchItemSelected td {
	padding: 2px 12px;
}

td.searchItemOver, tr.searchItemOver {
	cursor: pointer;
	background-color: #828282;
	color:#ffffff;
}
tr.searchItemOver td {
	padding: 2px 12px;
	color:#ffffff;
}

td.searchItemDown, td.searchItemSelected, tr.searchItemDown, tr.searchItemSelected {
	background-color: #ebf0f2;
}


/* Botons cercador ( canviar buttons2 a boto-search) */
.boto-search {
	border: 0;
	color: #fff;
	font-size:12px;
	line-height:20px;
	padding:4px 15px 4px 15px;
	text-transform:uppercase;
	background: #737373 !important;
	margin-left:10px;
	cursor: pointer;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.boto-search.submit {
	margin-left:50px;
}
.boto-search.reset {
	color: #878787;
	background-color: #dddddd !important;
}
.boto-search.excel {
	color: #fff;
	background-color: #a7bf1a !important;
}
.boto-search:hover{
	color: #fff !important;
	background: #000 !important;

	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* BOOKING */
div.search select[name="is_owner"] {
	width: 100px !important;
	margin-right: 40px !important;
}