
/* Select frame */
.select-frame {
	margin:0;
	padding:0;
	background-color:#F6F6F6;
}
	.assign_right{
		border-left: 1px solid #D3D3D3;
		padding:0;
	}
	.assign_right h5{
		font-size:15px;
		font-weight: normal;
		margin:0px;
		padding:15px 0 10px 10px;
		color:#000;
	}
	#write_cell{
		display: block;
		overflow: auto;
		height: 402px;
	}
		#write_cell.tall-cell {
			height: 450px;
		}
	#write_cell td{
		padding:3px 10px;
		cursor:pointer;
	}
	body.clean  .listRecord td{
		cursor:pointer;
	}


/* Seleccionar addresses */
div.text_selected {
	color: #383838;
}