/* Tinymce */
.tox-tinymce {
	margin-top: 5px !important;
	border: none !important;
	max-width: 1200px !important;
}
.tox-menubar {
	background-color: #F2F2F2 !important;
	border: none !important;
}

.tox-toolbar {
	background: #F2F2F2 !important;
	border: none !important;
}
.tox .tox-toolbar__group {
	margin-top: 3px !important;
	margin-bottom: 5px !important;
	height: 25px !important;
}
.tox .tox-toolbar__group:not(:last-of-type) {

}
.tox .tox-tbtn {
	margin: 0 !important;
	height: 25px !important;
}
.tox .tox-split-button {
	margin: 0 !important;
}

.tox-statusbar {
	background-color: transparent !important;
	border: none !important;
}
.tox-edit-area {
	border-right: 1px solid #F2F2F2 !important;
	border-left: 1px solid #F2F2F2 !important;
	border-bottom: 1px solid #F2F2F2 !important;
}
.tox .tox-edit-area__iframe {
	background: #fafafa !important;
}
.tox-statusbar {
	padding-top: 6px !important;
}