/************************/
/* Tooltip                */
/************************/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0;
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}

.tooltip.top {
	padding: 5px 0 4px;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px 0 4px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 4px 0 5px;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 4px 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 5px 12px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #666666;
	border-radius: 2px;
	box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 3px 5px 0;
	border-top-color: #666666;
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #666666;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #2a2a2a;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 3px 5px 0;
	border-right-color: #666666;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #666666;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #666666;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.fade.in {
	opacity: 1;
}