/* IMAGE UPLOADER */
.btn {
  font-size:10px;
  cursor:pointer;
  vertical-align:middle;
  padding-left:2px;
  padding-right:2px;
  padding-top:2px;
  padding-bottom:2px;
}

.btnOver {
  font-size:10px;
  cursor:pointer;
  border: #d4d0c8 1px solid;
  padding-left:1px;
  padding-right:1px;
  padding-top:1px;
  padding-bottom:1px;
}

.icon{
  margin-top:-2px;
  vertical-align:middle;
}

.separator{
  margin-top:2px;
  margin-left:5px;
  margin-right:5px;
}

.toolbarHeader{
  font-size:10px;
  font-weight:bold;
}

.panel{
  font-size:10px;
  padding:3px;
}
.footer {
  font-size:10px;
  font-weight:bold;
  color: #929720;
}

/* Upload_files taula ques es mostra al seleccionar arxius per pujar */

.MultiFile-wrap {
}
	.file-max {
		color: #949494;
		font-size: 11px;
		padding-top: 5px;
		display: block;
	}

div.MultiFile-label {
	font-size: 11px;
	color: #000000;
	margin: 5px 0;
	display: block;
}
	a.MultiFile-remove {
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		padding-right: 10px;
	}
	div.MultiFile-label > span{
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		line-height: 0;
	}
		span.MultiFile-label {
			display: block;
			margin: 5px 0 2px;
			font-size: 11px;
			line-height: 16px;
		}

	.multifiles {
		margin: 0 0 10px;
		position: relative;
		overflow: hidden;
	}
		.multifiles div{
			margin: 0 0 7px;
		}

	.multifiles table td {
		padding: 0 15px 15px 0;
	}
		.multifiles table td:last-child {
			padding-right: 0;
		}
		.multifiles table td input[type=text] {
			width: 300px;
		}

			.multifiles table .disabled td,
			.multifiles table .disabled td input[type=text],
			.multifiles table .disabled td select {
				color: #d9d9d9 !important;
				text-decoration: line-through;
			}
			.multifiles table .disabled .fa-upload,
			.multifiles table .disabled .fa-download {
				display: none;
			}
			.multifiles table .disabled .fa-trash {
				color: #F64E42;
			}
		.window .multifiles table td input[type=text] {
			width: 100px;
		}
		.multifiles table td input[type=text].int {
			width: 35px;
		}
		.multifiles .name-original {
			color: #7a7a7a;
			padding-left: 5px;
			padding-top: 8px;
		}
		.multifiles .fa-trash,
		.multifiles .fa-upload {
			cursor: pointer;
		}
		.multifiles .hidden-checkbox {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		.multifiles .hidden-file-holder > div {
			width: 15px;
			height: 15px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}
		.multifiles .hidden-file-holder > span {
			padding-left: 20px;
			font-size: 11px;
			vertical-align: middle;
		}
		.multifiles .hidden-file {
			font-size: 50px;
			width: 120px;
			opacity: 0;
			filter: alpha(opacity=0);
			position: relative;
			top: -40px;;
			left: -20px;
			cursor: pointer;
		}