<div class="search">
<h3><?=$c_search_title?></h3>
<table border="0" cellspacing="0" cellpadding="0">
<tr valign="middle"> 
  <form name="search" method="get" action="/admin/">
    <td> 
      <input name="action" type="hidden" value="list_records">
      <input name="process" type="hidden" value="search">
      <input type="hidden" name="menu_id" value="<?=$menu_id?>">
      <input name="q" type="text" id="text" size="30" value="<?=$q?>"><td> 
      <input type="submit" name="Submit" value="ok" class="boto-search"> </td>
</form>
</tr>
</table>
</div>