<? foreach($calendar as $l): extract ($l)?>
<td class="mes-holder" data-mes-id="<?=$month_value?>-<?=$year?>" valign="top"><div class="nom_mes"><?=$month?> - <?=$year?></div><table border="0" cellspacing="0" cellpadding="0" class="mes">
	<? foreach($products as $pr): extract ($pr)?>
	<? foreach($weeks as $w): extract ($w)?>
	  <tr>
		<? foreach($days as $d): extract ($d)?>
		  <td><div class="<?=$day?>-<?=$month_value?>-<?=$year?> <?=$class1?>" <?=$onclick1?>><span class="day-text"><?=$day?></span></div></td>
		  <? endforeach //$days?>
	  </tr>
	  <? endforeach //$weeks?>
	  <? endforeach //$cases?>
  </table></td>
<? endforeach //$calendar?>