<div class="search">
	<h3><?=$c_search_title?></h3>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr valign="middle"> 
	  <form name="search" method="get" action="/admin/">
		<td><?=$c_by_nif?></td>
		<td> 
		  <input name="action" type="hidden" value="list_records">
		  <input name="process" type="hidden" value="search_ref">
		  <input type="hidden" name="menu_id" value="<?=$menu_id?>">
		  <input name="nif" type="text" id="text" size="30"><td> 
		  <input type="submit" name="Submit" value="ok" class="boto-search"> </td>
	</form>
	<form name="search2" method="get" action="/admin/">
		<td>&nbsp;&nbsp;&nbsp;<?=$c_by_words?></td>
		<td> 
		  <input name="action" type="hidden" value="list_records">
		  <input name="process" type="hidden" value="search_words">
		<input type="hidden" name="menu_id" value="<?=$menu_id?>">
		  <input name="words" type="text" id="text" size="30" value="<?=$q?>"></td>
		<td> 
		  <input type="submit" name="Submit" value="ok" class="boto-search"> </td>
	</form>
	</tr>
	</table>
</div>