<div class="listTitle">
	<?=$c_rate_title?>
</div>

<?=$c_send_rate_world?>&nbsp;&nbsp;
<?=$send_rate_world?>&nbsp;<?=CURRENCY_NAME?>

<span style="margin-left: 20px;"><?=$c_send_rate_encrease_ondelivery_world?>&nbsp;&nbsp;
+ <?=$send_rate_encrease_ondelivery_world?>&nbsp;<?=CURRENCY_NAME?></span>

<span style="margin-left: 20px;"><?=$c_minimum_buy_free_send?>&nbsp;&nbsp;
<?=$minimum_buy_free_send?>&nbsp;<?=CURRENCY_NAME?></span>