<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!--
var assign_selected_ids = <?=$assign_selected_ids?>;
//-->
</SCRIPT>

<script type="text/javascript" language="JavaScript" src="/admin/modules/product/jscripts/list_pick.js?v=<?=$version?>"></script>

<form method="post" action="<?=$form_link?>" name="list" onsubmit="return check_selected(this)" target="save_frame">
  <input name="action" type="hidden" value="save_rows">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
        <?if ($loop):?>
		<div id='opcions_holder'>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="opcions">
				<tr>
				  <td class="opcions"><div id="opcions_fixed_bar"><div class="more"></div></div>
						<table border="0" cellpadding="2" cellspacing="0">
							<tr valign="middle">
								<td><a class="botoOpcions1" href="javascript:select_addresses(0,<?=$menu_id?>)"><?=$c_add_variations?></a></td>
								<td><input onclick="submit_form_save('save_rows_save_records')" type="button" name="Button" value="<?=$c_send_edit?>" class="btn_form_save" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="sep"></div>		  
		 <?endif //loop?>
		  
		  
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><table width="100%" cellpadding="4" cellspacing="0" class="formstbl">
                      <tr>
                          <td align="center" valign="top" class="forms"><table width="99%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td id="custumers"><?if ($loop):?>
							  
									<div class="separador"></div>
									<? // variacions noves ?>
									<div id="new_variations" class="hidden">
											<div class="listTitle2" style="margin-bottom:4px;">
											  <strong>
											  <?=$c_new_variations?>
											</strong></div>
											<div id="new_variations_content">												
											</div>
									</div>
									<? // fi variacions noves ?>
                                <?foreach($loop as $l): extract ($l)?>
									
									<?if($variation):?>
                                    <div class="listTitle">
                                      <strong>
                                      <?=$variation_category?>
                                    </strong> </div>
                                    <div id="variation<?=$variation_category_id?>">
                                  <?=$variation?></div><?endif //variation?><?endforeach //$loop?>
                                <?endif //loop?>
                                <?if (!$loop):?>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="70" align="center"><?=$c_no_assigned?></td>
                                  </tr>
                                </table>
                                <?endif //loop?></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
          </table></td>
  </tr>
</table>
