<?if ($results):?><?=$out_loop_hidden?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listRecord">
<?if ($order_bar):?><tr>
      
	  <td width="30" valign="top" class="listCaption"><?if(!$is_ajax):?><?=$c_list_pick_default?>&nbsp; <?endif //is_ajax?></td>
	  
      <?foreach($fields as $l): extract ($l)?>
      <td align="left" valign="top" nowrap="nowrap" class="listCaption"><?=$field?>&nbsp;
       </td> 
      <?endforeach //$field?>   
      <td align="left" valign="top" nowrap="nowrap" class="listCaption">&nbsp;
       </td> 
  </tr><?endif //order_bar?>
	<?foreach($loop as $l): extract ($l)?>
		  <?if ($group_fields):?><tr><td colspan="<?=count($fields)+1?>" class="listGroup"><?foreach($group_fields as $f):?><?=$f?><?endforeach //$field?></td></tr><?endif // group_fields?>
			<tr class="listItem<?=$odd_even?>" id="list_row_<?=$id?>">
			  <td width="30" valign="top">
				<input id="selected_<?=$id?>" name="selected[<?=$id?>]" type="hidden" value="<?=$id?>"<?=$selected?> />
				<?if(!$is_ajax):?><input name="default[<?=$all_variation_category_id?>]" id="default_<?=$id?>" type="radio" value="<?=$id?>"<?=$default_selected?> /><?endif //is_ajax?></td>
		  
		<?foreach($fields as $l): extract ($l)?>
			  <td align="left" valign="top">           
						  <table width="100%" border="0" cellpadding="0" cellspacing="0">
								<?foreach($val as $l): extract ($l)?>
						  <?if ($lang):?>
										<tr>
											<td><span class="formsCaption">
									<?= $lang ?>
									</span></td>
										</tr>
									<? endif //lang?>
									<tr>
										<td width="100%"><?= $val ?></td>
									</tr>
								<?endforeach //$val?>
					</table></td><?endforeach //$field?>
			  <td align="left" valign="top">
					<a class="btn_form_delete" href="javascript:ListPick.delete_variation('list_row_<?=$id?>', <?=$all_variation_category_id?>);">
                  <?=$c_delete?>
                  </a>
			</td></tr> 
	<?endforeach //$loop?>
</table> 
<div class="sep"></div>
<?endif //results?>
