<link href="/clients/grupcorvi/templates/styles/general.css" rel="stylesheet" type="text/css">
<link href="/clients/grupcorvi/templates/styles/modalbox.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
images_dir = '/<?=$client_dir?>/works/works/images/';
<?$loop_old = $loop?>
/*images_thumbs =  '<?foreach($loop as $l): extract ($l)?>
<?foreach($images as $l): extract ($l);?>
<?=$image_name_thumb?>
-<?endforeach //$loop?>
<?endforeach //$loop?>';
<?$loop = $loop_old?>
images_mediums =  '<?foreach($loop as $l): extract ($l)?><?foreach($images as $l): extract ($l)?><?=$image_name_medium?>-<?endforeach //$loop?><?endforeach //$loop?>';
<?$loop = $loop_old?>*/

function open_flash(imatge, images_mediums, images_thumbs){

contingut = '<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="610" height="473"><param name="movie" value="/clients/grupcorvi/templates/flash/gallery.swf"><param name="FlashVars" value="imatge=' + imatge + '&images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" /><param name="quality" value="high"><embed src="/clients/grupcorvi/templates/flash/gallery.swf" flashvars="images_dir=' +  images_dir + '&images_thumbs=' + images_thumbs + '&images_bigs=' + images_mediums + '" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="473"></embed></object>';
	return ModalBox.open(contingut, '', 610, 473, 30);	 
}


</script>
<?if (!1):?>
<link href="/clients/grupcorvi/templates/styles/general.css" rel="stylesheet" type="text/css" />
<?endif //$$?>
</br>
</br>
</br>
<?foreach($loop as $l): extract ($l)?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><table width="40%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="34"><img src="/clients/grupcorvi/templates/images/logopetit.gif"/></td>
          <td width="10"><img src="/clients/grupcorvi/templates/images/spacer.gif" width="10" height="1" /></td>
          <td align="left"><a href="#" onClick="return open_flash('<?=$image_name_medium?>','<?foreach($images as $l): extract ($l);?><?=$image_name_medium?>-<?endforeach //$loop?>','<?foreach($images as $l): extract ($l);?><?=$image_name_thumb?>-<?endforeach //$loop?>')"><span class="textbignobold">
            <?=$works?>
            </span></a></td>
        </tr>
        <tr>
          <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="20" /></td>
          <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="20" /></td>
          <td><img src="/clients/grupcorvi/templates/images/spacer.gif" width="1" height="20" /></td>
        </tr>
      </table></td>
  </tr>
</table>
<?endforeach //$loop?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="pageResults">
  <tr valign="top">
    <td height="16" align="right" valign="middle" nowrap class="pageResults"><?=$split_results?>
      &nbsp;</td>
  </tr>
</table>
