<div class="immofotos">
<!-- images -->

              <br>
              <table width="90%" border="0" cellpadding="0" cellspacing="0" class="tablefoto">                
                <tr> 
            <td align="center"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <?foreach($loop as $l): extract ($l)?>
                          <tr>
                            <?foreach($loop as $l): extract ($l)?>
                        <td><?if ($image_name_details):?><img src="/<?=$client_dir?>/inmo/property/images/<?=$image_name_details?>" width="178" height="118" border="0" /><?endif //$image_name_details?></td>
					<?endforeach //$loop?> 
                          </tr>                      
					<?endforeach //$loop?>
                        </table></td>
                </tr>
  </table>
              <br />
              <br />
</div>