/**
 * POPUP CONTAINER STYLES
 */
#popupMask {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity=60);
	/* this hack is so it works in IE
	 * I find setting the color in the css gives me more flexibility 
	 * than the PNG solution.
	background-color:transparent !important;  aixo no va amb ie8
	 */
	background-color: #FFFFFF;
	/* this hack is for opera support
	 * you can uncomment the background-image if you don't care about opera.
	 * this gives you the flexibility to use any bg color that you want, instead of the png
	 */
	
	background-image:none;
	background-repeat: repeat;
	display:none;
}
#popupContainer {
	border: 3px solid #CBCBC9;
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	background-color: #FFFFFF;
	padding: 0px;
}
#popupContenTable {
	font-size: 20px;
	color: #535353;
}
#popupContent {
}

#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
#popupTitleBar {	
	background-color: #536784;
	line-height: 16px;
	padding-left: 4px;
	height: 20px;
	padding-top: 3px;
	position: relative;
	z-index: 203;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
	padding: 2px;
}
.popupBar{
	background-color: #536784;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
}