<table class="custumers">
<?foreach($loop as $l): extract ($l)?>
	<tr>
		<? if ( $name ): ?>
			<td valign="top"><strong><?=$name?> <?=$surname1?> <?=$surname2?></strong></td>
		<? endif //$name ?>

		<td valign="top" style="padding-left: 10px;">
			<? if($phone1): ?>
				<div><?=$phone1?></div>
			<? endif // $phone1 ?>
			<?if($phone2):?>
				<div><?= $phone2 ?></div>
			<?endif?>
			<? if ( $phone3 ): ?>
				<div><?= $phone3 ?></div>
			<? endif // $phone3 ?>
			<? if ( $phone4 ): ?>
				<div><?= $phone4 ?></div>
			<? endif // $phone4 ?>
			<?if($mail):?>
				<div><?= $mail ?></div>
			<?endif?>
		</td>
	</tr>
<?endforeach //$loop?>
</table>