
<?if ($results):?>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listRecord">
	
		<?foreach($loop as $l): extract ($l)?>
<?if ($group_fields):?><tr><td colspan="4" class="listGroup"><?foreach($group_fields as $f):?><?=$f?><?endforeach //$field?></td></tr><?endif // group_fields?>
			<tr class="listItem<?=$odd_even?>" id="list_row_<?=$id?>">

				<td valign="top"><?=$extra?><?=$hidden?></td>
				<td valign="top">
					<?if($extra_type_value != 'included' || $extra_price !='0,00'):?>
						<?=$extra_price?>
					<?endif?>
				</td>
				<?if($extra_book_input):?><td><?=$extra_book_input?></td><?endif?>
				<?/* <td valign="top"><?=$extra_type?></td> */?>
				
			</tr>
			
			<?endforeach //$loop?>
		</table> 

<?endif //results?>