							  <? foreach($calendar as $l): extract ($l)?>
								<td class="mes-holder" id="<?=$month_value?>-<?=$year?>" valign="top"><div class="nom_mes"><?=$month?> - <?=$year?></div><table border="0" cellspacing="0" cellpadding="0" class="mes">
									<? foreach($propertys as $pr): extract ($pr)?>
									<? foreach($weeks as $w): extract ($w)?>
									  <tr>
										<? foreach($days as $d): extract ($d)?>
										  <td><div data-book-id="<?=$id1?>" id="<?=$day?>-<?=$month_value?>-<?=$year?>-a" class="<?=$class1?> a" <?=$onclick1?>><span class="day-text"><?=$day?></span></div><div data-book-id="<?=$id2?>" id="<?=$day?>-<?=$month_value?>-<?=$year?>-b" class="<?=$class2?> b" <?=$onclick2?>></div></td>
										  <? endforeach //$days?>
									  </tr>
									  <? endforeach //$weeks?>
									  <? endforeach //$cases?>
								  </table></td>
								<? endforeach //$calendar?>