<? if ( $loop ): ?>

	<table class="extras-listing">

		<? foreach ( $loop as $l ): extract( $l ) ?>

			<tr>

				<? foreach ( $l as $i ): ?>
				<td valign="top" style="padding-right:10px"><? if ( $i ): ?>
						<?= $i ?>
					<? endif // $i ?></td>
				<? endforeach //$i?>

			</tr>

		<? endforeach //$loop?>
	</table>

<? endif //loop?>