<br /><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="20%" align="left" valign="middle" nowrap="nowrap">
                    <?=$split_results_count?></td>
                  <td align="center" valign="middle" nowrap="nowrap" ><?=$split_results?></td>
                  <td width="20%">&nbsp;</td>
                </tr>
              </table>
			  <?if (!$results):?><div class="separador"></div><?endif //results?>
			  <!-- view -->
              <ul id="sort" class="sort">
                  <? foreach($loop as $r): extract ($r)?>
                    <? foreach($loop as $l): extract ($l)?>
                      <? if ($image_src_admin_thumb):?>
                        <li id="<?=$id?>" class="sortableitem">
							<div id="im_container_<?=$conta?>" class="selectableitem_out">                         
                              <div id="im_bg_<?=$conta?>"><div class="sortableitemHandle"><img id="im_<?=$conta?>" src="<?=$image_src_admin_thumb?>"></div></div>
                            
                              <div id="select_bg_<?=$conta?>"><input name="<?=$id_field?>[<?=$id?>]" type="hidden" value="<?=$id?>"><?=$ordre?><input name="image_id_<?=$conta?>" type="hidden" value="<?=$id?>">
								<div class="small">
								<input name="selected[<?=$conta?>]" type="checkbox" value="<?=$id?>" onclick="checkbox_onclick(this);">      
                                <?=$c_delete?>
                                </div>
								<?if ($main_image):?>
                                <div class="small">
                                <?=$main_image?>
                                <?=$c_main_image?>
                                </div>
								<?endif // main_image?>
								<?if ($imagecat_id):?>
                                <div class="small">
                                <?=$imagecat_id?>
                                </div>
								<?endif // imagecat_id?>
								<div class="image-alt">
									<?if ($show_seo):?>
											<div class="titol2">
												<?=$c_image_alt?>
											</div>
										<?foreach($image_alt as $l): extract ($l)?>
										<p>
										<span><?=$lang?>:</span>
										<?=$image_alt?>
										</p>
										<?endforeach //$image_title?>
									<?endif // show_seo?>
										<div class="titol2">
											<?=$c_image_title?>
										</div>
									<?foreach($image_title as $l): extract ($l)?>
									<p>
									<span><?=$lang?>:</span>
									<?=$image_title?>
									</p>
									<?endforeach //$image_title?>
                                </div>
							  </div>
							</div>
                        </li>
                        <? endif //image_src_admin_thumb?>
                      <? endforeach //$loop?>
                    <? endforeach //$loop?>
                <div class="cls"></div></ul>	