<?if (!1):?><link href="/public/themes/plantilla1/styles/general.css" rel="stylesheet" type="text/css" /><br /><?endif //$$?>
<table border="0" cellspacing="0" cellpadding="0">
          <tr><?foreach($loop as $l): extract ($l)?><?foreach($loop as $l): extract ($l)?>
            <td height="20" class="menuHb<?=$selected?>"><a href="<?=$link?>" class="menuHb<?=$selected?>"><?=$item?></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<?endforeach //$loop?><?endforeach //$loop?>
          </tr>
</table>