<!-- Idiomes -->
<?if (!1):?><link href="<?=DIR_TEMPLATES?>styles/general.css" rel="stylesheet" type="text/css"><?endif ?>
<? foreach($loop as $l): extract ($l); $a=count($loop); ?>
<? foreach($loop as $key=>$l): extract ($l);?>
<a href="<?=$link?>" class="lnk<?=$selected?>"><strong><?=$item?></strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<? if ($key<(count($loop)-1)):?><?  endif //?>
<? endforeach //$loop?>
<? endforeach //$loop?>