<div id="block_top"></div>
<div id="block_center">
 <?if ($title):?><h2><?=$title?></h2><?endif //title?>
  <?foreach($loop as $l): extract ($l)?>
  <?if ($item):?><h2><?=$item?></h2><?endif //item?>
  <?foreach($loop as $l): extract ($l)?>
  <a href="<?=$link?>" class="menuLlnk<?=$selected?>"><?=$item?></a>
  <?endforeach //$loop?>
<div id="block_bottom"><br/></div><?endforeach //$loop?>
</div>
