<?if (!1):?>
<link href="/public/themes/plantilla3/styles/general.css" rel="stylesheet" type="text/css" />
<?endif //$$?>
<script language="JavaScript" src="/admin/languages/<?=$language?>.js"></script>
<script language="JavaScript" src="/admin/jscripts/validacio.js"></script>
<?=$c_contact_text?><br />
<br />
<div id="contacte">
<form action="<?=$link_action?><?if (isset($_GET['template'])):?>&template=<?=$_GET['template']?><?endif //?>" method="post" name="theForm" id="theForm" onsubmit="<?=$js_string?>">
<table border="0" cellspacing="0" cellpadding="0" class="images_list">
    <tr>
      <td valign="top"><div class="images_list">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="10"><img src="/public/themes/plantilla2/images/spacer.gif" width="10" height="1" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="left">&nbsp;</td>
            <td width="10"><img src="/public/themes/plantilla2/images/spacer.gif" width="10" height="1" /></td>
            </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td align="left"><?=$c_name;?>
              :</td>
            <td>&nbsp;</td>
            <td align="left"><?=$name?></td>
            <td width="10">&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left"><?=$c_surnames;?>
              :</td>
            <td>&nbsp;</td>
            <td align="left"><?=$surnames?></td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td align="left"><?=$c_phone;?>
              :</td>
            <td>&nbsp;</td>
            <td align="left"><?=$phone?></td>
            <td width="10">&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td align="left"><?=$c_mail;?>
              :</td>
            <td>&nbsp;</td>
            <td align="left"><?=$mail?></td>
            <td width="10">&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left"><?=$c_matter?>
              :</td>
            <td>&nbsp;</td>
            <td align="left"><?=$matter?></td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left" valign="top"><?=$c_comment?>
              :</td>
            <td><img src="/public/themes/plantilla2/images/spacer.gif" width="10" height="1" /></td>
            <td align="left"><?=$comment?></td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td height="5" align="left"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            <td width="10" height="5"><img src="/public/themes/plantilla2/images/spacer.gif" width="1" height="5" /></td>
            </tr>
          <tr>
            <td height="5">&nbsp;</td>
            <td height="5">&nbsp;</td>
            <td height="5">&nbsp;</td>
            <td height="5" align="left"><input name="submitb2" type="submit" id="submitb2" class="buttons"  value="<?=$c_send?>" />
              <input type="reset" name="Submit2" value="<?=$c_clear?>" class="buttons" /></td>
            <td height="5">&nbsp;</td>
            </tr>
          </table>
      </div></td>
      </tr>
  </table>
</form>
</div>