/************************/
/* CONTACT              */
/************************/

main.contact {
	> section {
	
	}
}

/************************/
/* CONTACT  FORM        */
/************************/

/* formulari */
#contact-get-form-new form {
	p {
	
	}
	
	input[type="text"], input[type="email"], textarea {
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	
	select {
	
	}
	
	textarea {
	
	}
	
	> label {
		display: block;
		float: left;
		&.nofloat {
			float: none;
		}
		
		/* AMB LABELS PER SIMULAR EL TEXT DINS L'INPUT */
		strong {
			display: block;
			float: left;
		}
		
		span {
			display: block;
			overflow: hidden;
		}
		
		/* FI AMB LABELS PER SIMULAR EL TEXT DINS L'INPUT */
	}
	
	.g-recaptcha {
	    margin: 20px 0;
	}
	.accepta {
		
		#accepto {
			margin-right: 10px;
			vertical-align: middle;
		}
		
		label {
			vertical-align: middle;
			display: inline-block;
		}
		
		a {
		
		}
	}
	
}

#contact-button {
	cursor: pointer;
}

/* errors i missatges */
#form_sent {
	display: none;
}

#form_not_sent {
	display: none;
}

.form_area {
	/* Per testejar quan s'ha enviat */
	/* display: none; */
}

.form_error {
	padding: 5px 0 0 10px;
	position: absolute;
}

.input_error {
	border-color: #ee5123 !important;
}

#message_container {
	display: none;
}

#message {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 18px;
}

/************************/
/* ADREÇA               */
/************************/

#contact-get-form-new address {
	
	.fn {
	
	}
	
	.tel {
	
	}
	
	address p {
	
	}
}

/************************/
/* MAPA                  */
/************************/

#google-map, #google-map-inmo {
	// No es pot posar un padding, ja que per MAPS API no el te en compte. Si que es pot fer un margin
	width: 100%;
	height: 350px;
	iframe {
		margin: 0;
		border: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}