/************************/
/* FOOTER               */
/************************/

footer {
	background-color: $footer-bg-color;
	
	nav {
		
		a {
			&.active1 {
			
			}
			&:hover {
			
			}
		}
	}
	address {
		
		.fn {
		
		}
		p {
		
		}
		a {
			&.active1 {
			
			}
			&:hover {
			
			}
		}
	}
}
/* letnd */

#letnd {
	text-align: left;
	font-size: 10px;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	margin: 0 20px;
	a {
		color: #58585A;
		text-decoration: none;
		&:hover {
			color: #000000;
			text-decoration: none;
		}
	}
	img {
		vertical-align: top;
		width: 75px;
		height: 50px;
		margin-top: 1px;
	}
	a:hover img {
		margin-top: -24px;
	}
}
/* fi letnd */