// ***************
//  NORMALITZACIÓ
// ***************
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: inherit;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

fieldset,
form {
	border: 0;
	padding: 0;
	margin: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

abbr {
	border-bottom: 0;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main, address {
	display: block;
	margin: 0;
	font-style: normal;
}

#save_frame {
	display: none;
	height: 0;
	&.visible {
		width: 100%;
		height: 600px;
		display: block;
		border: 0;
	}
}

#responsive {
	display: none;
	&:after {
		display: none;
		content: "4000";
	}
}

// ***************
//  ÚTILS
// ***************

.row {
	width: 100%;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden, .mobile {
	display: none;
}

.clearfix {
	&:before,
	&:after {
		display: block;
		content: " ";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

.fit {
	&-width {
		width: 100% !important;
		height: auto !important;
		position: absolute !important;
		z-index: 1;
	}
	
	&-height {
		width: auto !important;
		height: 100% !important;
		position: absolute !important;
		z-index: 1;
	}
}

.align-right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.center {
	text-align: center;
}


/*****************/
/* DISSENY      */
/*****************/

/* GENERAL */
header, main, footer {
	margin: 0 auto;
	max-width: $max-width-total;
}

.container, .module-message {
	max-width: $max-width-container + $padding-container * 2;
	margin: 0 auto;
	padding-right: $padding-container;
	padding-left: $padding-container;
	
	.container {
		padding-right: 0;
		padding-left: 0;
	}
}
.half-container {
	max-width: $max-width-container / 2 + $padding-container;
	
	&.right {
		float: none;
		margin-right: auto;
		margin-left: 0;
		padding-left: 0;
		padding-right: $padding-container;
	}
	
	&.left {
		float: none;
		margin-left: auto;
		margin-right: 0;
		padding-right: 0;
		padding-left: $padding-container;
	}
}

body {
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	padding: 0;
	margin: 0;
}

p {
	margin: $paragraph-top-margin 0 0 0;
	#inner & {
		margin: $paragraph-top-margin 0 0 0;
	}
}

input, select, textarea {
	font-size: 15px;
	line-height: $line-height;
	font-family: $font-family;
	padding: 0;
	margin: 0;
	
	// Autofill del chrome
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: $input-color;
		-webkit-box-shadow: 0 0 0 1000px $input-bg-color inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

input {
	@at-root textarea,
	&[type="text"],
	&[type="password"],
	&[type="email"],
	&[type="submit"],
	&[type="button"] {
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	@at-root textarea {
		overflow: auto;
	}
}

/* main */
main {
	color: $font-color;
	
	&#inner {
		
		header {
			h1 {
			
			}
			h2 {
			
			}
		}
	}
	
	/* Paddings superior inferior generals del contingut */
	&#inner > section {
		padding-top: $padding-content-top;
		padding-bottom: $padding-content-bottom;
	}
	
	// TODO-i Personalitzar ULs i OLs
	ul, ol {
		margin: 30px 0 0 0;
		padding: 0 0 0 1.2em;
		li {
			padding-left: 5px;
		}
	}
	
	ul {
		position: relative;
		li {
			padding-left: 0;
			list-style:none;
			&:before {
				content: '·';
				position: absolute;
				left: 0;
			}
		}
	}
	
	a {
		color: $link-color;
		&:hover {
			text-decoration: none;
		}
	}
}

article a {
	
	&:hover {
	
	}
}

/* finestra */
body.clean {
	
	margin: 40px;
	background-color: #fff;
	
	main {
		width: auto;
	}
	h1 {
	
	}
	h2 {
	
	}
	.container {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

/* pop */
.blockMsg {
	-webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
}

.modalMessage {
	padding: 20px;
	font-size: 18px;
}

.modalCloseImg {
	height: 30px;
	line-height: 30px;
	position: absolute;
	background-color: #fff;
	color: #000;
	left: 0;
	top: -30px;
	padding: 0 20px;
	text-align: right;
	cursor: pointer;
	z-index: 1002;
	
	&:hover {
		background-color: #f8f8f8;
		color: #000;
	}
}

/* missatges mòduls */
.module-message {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
}

/* FI GENERAL *///{{^is_web}}
    
    
    /* CERCADOR */
    #search {
    	
    	input[type=text] {
    	
    	}
    	input[type=submit] {
    		
    		&:hover {
    		
    		}
    	}
    }
    
    /* FI CERCADOR */
//{{/is_web}}

/* BREADCRUMB */

#breadcrumb {
	
	a {
		color: inherit;
		&.active1 {
		
		}
		&:hover {
			
		}
	}
	
	strong {
	
	}
	
	span {
	
	}
}

/* FI BREADCRUMB */

/* POPUP ADREÇA i CONTACTE */
.lg-outer .lg-video {
	padding-bottom: 460px !important;
	max-width: 700px;
	margin: 0 auto;
}

/* FI POPUP ADREÇA i CONTACTE */

/* PAGINACIÓ */
aside.results {
	
	.results-count {
		display: inline-block;
	}
}

.pageResults {
	margin: 0 6px;
	display: inline-block;
	text-decoration: none;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	color: #999999;
	font-size: 15px;
	margin-top: 115px;
	
	@at-root a#{&}:hover {
		color: #000;
		border-color: $corporate-color;
	}
	@at-root b#{&} {
		color: #fff;
		border-color: $corporate-color;
		background-color: $corporate-color;
	}
}

// TODO-i Per paginació sense imatges ( va d'acord amb plantilla )
a.page {
	&ResultsPrevious, &ResultsNext {
		display: none;
	}
	
	&Previous, &Next {
		background-color: #f2f2f2;
		border-color: #f2f2f2;
		color: #cfcfcf;
	}
	
	&Previous {
		
		&:hover {
		
		}
	}
	
	&Next {
		
		&:hover {
		
		}
	}
	
	&ResultsPreviousSet, &ResultsNextSet {
		display: none;
	}
	
	&PreviousSet, &NextSet {
		background-color: #eae9e9;
		border-color: #eae9e9;
		color: #cfcfcf;
	}
	
	&PreviousSet {
		
		&:hover {
		
		}
	}
	
	&NextSet {
		
		&:hover {
		
		}
	}
}

// TODO-i Per paginació amb imatges ( va d'acord amb plantilla )
/*

a.pageResults {
	&Previous, &Next {
		!* amaga text *!
		text-indent: 100%;
		white-space: nowrap;
	}
	&Previous {
		
		&:hover {
			
		}
	}
	&Next {
		
		&:hover {
			
		}
	}
	
	&PreviousSet, &NextSet {
		!* amaga text *!
		text-indent: 100%;
		white-space: nowrap;
	}
	
	&PreviousSet {
		
		&:hover {
		
		}
	}
	&NextSet {
		background-position: -34px 0;
		
		&:hover {
		
		}
	}
}
*/
// TODO-i Fi paginacio amb imatges

/* FI PAGINACIO */

/* COOKIES */
#accept-cookies {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	-webkit-box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.75);
	box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.75);
	background-color: #fff;
	padding: 10px 10px 0 10px;
	font-size: 12px;
	
	@media screen and (max-height: 750px) {
		& {
			position: absolute;
			top: 0;
			bottom: auto;
		}
	}
	&.active {
		top: 0;
		overflow: auto;
		padding-bottom: 30px;
	}
	.container {
		text-align: left;
		
		&:first-child {
			width: auto;
			text-align: center;
		}
	}
	.accept-cookies-title {
		font-weight: bold;
		margin-top: 20px;
	}
	ul {
		list-style: none;
		margin: 10px 0 0 0;
		padding-left: 1.2em; // Fa que no surtin els números o punt per l'esquerra
	}
	
	li {
		margin: 2px 0;
	}
	
	a {
		color: #000;
		&.more {
			color: #000;
		}
		&.more:hover {
		
		}
	}
	.accept {
		text-align: center;
		padding-bottom: 10px;
		
		a {
			display: inline-block;
			background-color: #000;
			color: #fff;
			padding: 2px 6px;
			margin-top: 10px;
			text-decoration: none;
			
			&:hover {
			
			}
		}
	}
	
	#accept-cookies-more {
		display: none;
		padding: 20px 0;
	}
}

/* FI COOKIES */