/************************/
/* HEADER               */
/************************/

#header {

	background-color: $header-bg-color;
	
	
	#logo {
		font-size: 0;
		line-height: 0;
		display: block;
	}
	
	h3 {
	
	}
	
	address {
		.email {
			
			&:hover {
			
			}
		}
		.tel {
			color: inherit;
			text-decoration: none;
			&:hover {
			
			}
		}
	}
	
}

#menu-mobile {
	display: none;
	cursor: pointer;
}

#main-nav {
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
	a {
		text-decoration: none;
		display: block;
		&:hover {
		
		}
		&.active1 {
		
		}
	}
}

#submenu-mobile {
	display: none;
	border-bottom: 10px solid #f2f2f2;
	float: none;
	
	// TODO-i Important comprobar el submenu obert quan el header està "fixed" - Si no hi ha fixed es pot borrar
	.fixed & {
		position: fixed;
		top: 56px; // TODO-i Posar alçada del header quan fixed
		bottom: 0;
		right: 0;
		left: 0;
		overflow: auto;
		z-index: 999;
	}
	
	> div {
		border-top: 10px solid #f2f2f2;
		a {
			padding-right: $padding-container;
			padding-left: $padding-container;
			text-decoration: none;
			color: $font-color;
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 16px;
			display: block;
			border-top: 1px solid #f2f2f2;
			&.active1 {
				color: $corporate-color;
			}
		}
		
		div:first-child a,
		li:first-child a {
			border-top: none;
		}
	}
	ul {
		list-style: none;
		li {
			display:block;
			span {
				display: none !important;
			}
			&.active1 a {
				color: $corporate-color;
			}
		}
	}//{{^is_web}}
    	
    	#login-submenu {
    		position: static;
    		box-shadow: none;
    		width: auto;
    	}
	//{{/is_web}}
}

#languages {
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
	a {
		text-decoration: none;
		&:hover {
		
		}
		&.active1 {
		
		}
	}
}

/* FI HEADER */