/************************/
/* MAIN HOME            */
/************************/

main#home {
	h6 {
	
	}
	h4 {
	
	}
	.h1 p,
	.h2 p,
	.h3 p,
	.h4 p,
	.h5 p,
	.h6 p {
		margin: 0;
	}
}

/* home-slider */
#banner-home {

}

#slider-home {
	position: relative;
	overflow: hidden;
	.item {
		
		h3 {
			
			a {
				color: inherit;
			}
		}
		
	}
	div.text {
	
	}//{{#is_inmo}}
	    
    	
    	/* inmo slider */
    	
    	.ref {
    	
    	}
    	
    	.price,
    	.price-consult {
    	
    	}
    	
    	table {
    	}
    	
    	th {
    		text-align: left;
    		font-weight: 600;
    		padding-right: 10px;
    	}
    	
    	td {
    		text-align: left;
    		font-weight: 400;
    	}
	//{{/is_inmo}}
}

/* fi home slider */

/* home frase	*/
#header-home {
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 20px;
	}
}

/* home fi frase	*/

//{{#is_inmo}}
/* inmo-home */
#inmo-home {
	
	h6 {
	
	}
}

/* fi inmo-home */

//{{/is_inmo}}//{{#is_product}}

/* products-home*/
#products-home {
	
	h6 {
	
	}
}

/* fi products-home */

//{{/is_product}}
/* text-home */
#text-home {
	h3 {
		font-size: 24px;
		margin: 20px 0 0;
	}
	p {
	
	}
}

/* fi text-home */

/* news-home */
#news-home {

	h6 {
	
	}
}

/* fi news-home */