/********************************/
/* SEARCH ADVANCED             */
/*******************************/

#search-advanced {
	h5 {
	
	}
	form {
		
		&.selected {
			display: block;
		}
	}
	
	label {
		
		span.title {
		
		}
	}
	.search-button {
	
	}
}

.search-content .search-button:hover {

}