/************************/
/* INMO                 */
/************************/

main.inmo {
	
	> section {
	
	}
}

/************************/
/* INMO FITXA           */
/************************/

#property-show-record article {
	/* botons */
	.show-buttons {
		a {
			
			&.back-button {
			
			}
			&.previous-link {
			
			}
			&.next-link {
			
			}
		}
	}
	
	figure {
		font-size: 0;
		line-height: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	h2 {
	
	}
	.ref {
	
	}
	.price {
		
		&-change-percent {
		
		}
		&-consult {
		
		}
	}
	.description {
	
	}
	.property-details {
		
		th {
			text-align: left;
			vertical-align: top;
			padding: 0 10px 0 0;
		}
		td {
			text-align: left;
			vertical-align: top;
		}
	}
}

/* flag */
.flag {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: $corporate-color;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 4px 15px;
}

/* Map */
#google-map-inmo {
	height: 400px;
}

/************************/
/* INMO SLIDER          */
/************************/
#slider-inmo {
	overflow: hidden;
	
	.item {
		cursor: pointer;
	}
	
	.item img {
		max-width: 100%;
		height: auto;
	}
	
	&-thumbs {
		
		.item {
			cursor: pointer;
			&:hover {
			
			}
		}
		
		.slick-active {
		
		}
	}
	
}

/************************/
/* INMO LLISTAT         */
/************************/

.property-list {
	display: grid;
	grid-gap: 50px 50px;
	grid-template-columns: 1fr 1fr 1fr;
	
	.item {
		position: relative;
		> a {
			text-decoration: none;
			color: inherit;
		}
		
		> a:hover h3,
		> a:hover .refs,
		> a:hover .prices {
		
		}
		
		a:hover h3 {
			text-decoration: none;
		}
		
		figure {
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			padding-bottom: 66.67%;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		h3 {
		
		}
		
		.refs {
		
		}
		
		.ref {
		
		}
		
		.hut {
		
		}
		
		.prices {
		
		}
		
		.price {
			
			&-change-percent {
			
			}
			&-consult {
			
			}
		}
		
		.old-price {
		
		}
		
		article > p {
		
		}
	}
}

/************************/
/* VISITED             */
/************************/

.inmo-visited {
	
	h5 {
	
	}
	
}

#inmo-visited-slider {
	overflow: hidden;
	.item {
	
	}
	
	figure {
		font-size: 0;
		line-height: 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	
	.text {
	
	}
	
	.ref {
	
	}
	
	h6 {
		
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	
	.price {
		
		&-consult {
		
		}
	}
	
}