/* COLORS */

$jcf-bg-color: #fff; // TODO-i Canviar
$jcf-border-color: #989898; // TODO-i Canviar

/* select */
$jcf-border-select: #777; // TODO-i Canviar
$jcf-bg-opener-select: #aaa; // TODO-i Canviar
$jcf-border-drop-select: #f00; // TODO-i Canviar
$jcf-bg-selected-select: #e6e6e6; // TODO-i Canviar
$jcf-color-selected-select: #000; // TODO-i Canviar
$jcf-color-disabled-select: #aaa; // TODO-i Canviar
//options
$jcf-bg-color-hover: #e6e6e6;
$jcf-color-hover: #000;

/* scrollbars */
$jcf-color-scroll: #e3e3e3; // TODO-i Canviar
$jcf-bg-scroll: #bbb; // TODO-i Canviar
$jcf-color-handle-scroll: #888; // TODO-i Canviar

/* Altres */
$jcf-color-resize: #e3e3e3; // TODO-i Canviar
$jcf-color-before-resize: #000; // TODO-i Canviar

/* Number input */
$jcf-border-color-number: #989898; // TODO-i Canviar
$jcf-bg-arrows-number: #aaa; // TODO-i Canviar
$jcf-bg-arrows-hover-number: #e6e6e6; // TODO-i Canviar
$jcf-bg-arrows-hover-disabled-number: #aaa; // TODO-i Canviar
$jcf-border-arrows-number: #aaa; // TODO-i Canviar
$jcf-bg-disabled: #ddd; // TODO-i Canviar

/* Range */
$jcf-bg-range: #e5e5e5; // TODO-i Canviar
$jcf-bg-mark-range: #000000; // TODO-i Canviar

/* radio */
.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: $jcf-bg-color;
	border: 1px solid $jcf-border-color;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 9px;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
	span {
		display: none;
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		background: $jcf-border-color;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 100%;
	}
	input[type="radio"] {
		position: absolute;
		height: 100%;
		width: 100%;
		border: 0;
		margin: 0;
		left: 0;
		top: 0;
	}
	&.jcf-checked span {
		display: block;
	}
}

/* checkbox */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: $jcf-bg-color;
	border: 1px solid $jcf-border-color;
	margin: 0 10px 0 0;
	height: 16px;
	width: 16px;
	span {
		position: absolute;
		display: none;
		height: 6px;
		width: 10px;
		top: 50%;
		left: 50%;
		margin: -7px 0 0 -6px;
		border: 3px solid $jcf-border-color;
		border-width: 0 0 3px 3px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(-45deg);
	}
	input[type="checkbox"] {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 0;
		margin: 0;
		left: 0;
		top: 0;
	}
	&.jcf-checked span {
		display: block;
	}
}

:root .jcf-checkbox span {
	margin: -4px 0 0 -5px;
}

/* button */
.jcf-button {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	border: 1px solid $jcf-border-color;
	background: $jcf-bg-color;
	margin: 0 10px 10px 0;
	padding: 5px 10px;
	.jcf-real-element {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		outline: none;
		opacity: 0;
		padding: 0;
		margin: 0;
		border: 0;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
}

/* file */
.jcf-file {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	background: $jcf-bg-color;
	.jcf-real-element {
		position: absolute;
		font-size: 200px;
		height: 200px;
		margin: 0;
		right: 0;
		top: 0;
	}
	.jcf-fake-input {
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		overflow: hidden;
		border: 1px solid $jcf-border-color;
		padding: 0 8px;
		font-size: 13px;
		line-height: 28px;
		height: 28px;
		width: 125px;
	}
	.jcf-upload-button {
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		overflow: hidden;
		border: 1px solid $jcf-border-color;
		margin: 0 0 0 -1px;
		padding: 0 10px;
		line-height: 28px;
		height: 28px;
	}
}

/* scrollbars */
.jcf-scrollbar-vertical .jcf-scrollbar-dec, .jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: $jcf-bg-scroll;
	height: 14px;
	width: 14px;
	left: 0;
	top: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec, .jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: $jcf-bg-scroll;
	height: 14px;
	width: 14px;
}

.jcf-scrollable-wrapper {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	position: relative;
}

.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: $jcf-color-scroll;
	width: 14px;
	bottom: 0;
	right: 0;
	top: 0;
	.jcf-scrollbar-inc {
		top: auto;
		bottom: 0;
	}
	.jcf-scrollbar-handle {
		background: $jcf-color-handle-scroll;
		height: 1px;
		width: 14px;
	}
}

.jcf-scrollbar-horizontal {
	position: absolute;
	background: $jcf-color-scroll;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 14px;
	.jcf-scrollbar-dec {
	}
	.jcf-scrollbar-inc {
		left: auto;
		right: 0;
	}
	.jcf-scrollbar-slider {
		display: inline-block;
		position: relative;
		height: 14px;
	}
	.jcf-scrollbar-handle {
		position: absolute;
		background: $jcf-color-handle-scroll;
		height: 14px;
	}
}

.jcf-scrollbar.jcf-inactive {
	.jcf-scrollbar-handle {
		visibility: hidden;
	}
	.jcf-scrollbar-dec {
		background: $jcf-color-scroll;
	}
	.jcf-scrollbar-inc {
		background: $jcf-color-scroll;
	}
}

/* TODO-i El select es per que tingui el mateix disseny abans que s'apliqui el js, potser no han de ser tots els selects, per exemple si hi ha datepicker pot fer que no es vegi bé */
/* select */
select,
.jcf-select {
	border: 1px solid $jcf-border-select;
	background: $jcf-bg-color;
	margin: 0 0 12px;
	min-width: 150px;
	height: 26px;
}
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	select {
		z-index: 1;
		left: 0;
		top: 0;
	}
	.jcf-select-text {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		font-size: 13px;
		line-height: 26px;
		margin: 0 35px 0 8px;
	}
	.jcf-select-opener {
		position: absolute;
		text-align: center;
		background: $jcf-bg-opener-select;
		width: 26px;
		bottom: 0;
		right: 0;
		top: 0;
		cursor: pointer;
	}
	.jcf-select-drop {
		position: absolute;
		margin-top: 0;
		z-index: 9999;
		top: 100%;
		left: -1px;
		right: -1px;
	}
	.jcf-drop-flipped {
		bottom: 100%;
		top: auto;
	}
	&.jcf-compact-multiple {
		max-width: 220px;
		.jcf-select-opener:before {
			display: inline-block;
			padding-top: 2px;
			content: '...';
		}
	}
}

.jcf-select-drop {
	.jcf-select-drop-content {
		border: 1px solid $jcf-border-drop-select;
	}
	&.jcf-compact-multiple {
		.jcf-hover {
			background: none;
		}
		.jcf-selected {
			background: $jcf-bg-selected-select;
			color: $jcf-color-selected-select;
			&:before {
				display: inline-block;
				content: '';
				height: 4px;
				width: 8px;
				margin: -7px 5px 0 -3px;
				border: 3px solid $jcf-border-select;
				border-width: 0 0 3px 3px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(-45deg);
			}
		}
	}
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
	&.jcf-drop-flipped {
		margin: 1px 0 0;
	}
}

/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */
.jcf-select-drop .jcf-hover, .jcf-list-box .jcf-selected {
	background: $jcf-bg-color-hover;
	color: $jcf-color-hover;
}

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: $jcf-bg-color;
	width: 100%;
	font-weight: 300;
	.jcf-list-content {
		vertical-align: top;
		display: inline-block;
		overflow: auto;
		width: 100%;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			overflow: hidden;
			display: block;
		}
	}
	.jcf-overflow {
		overflow: auto;
	}
	.jcf-option {
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		padding: 10px 15px;
		min-height: 14px;
		height: 1%;
	}
	.jcf-disabled {
		background: $jcf-bg-color !important;
		color: $jcf-color-disabled-select !important;
	}
	.jcf-optgroup-caption {
		white-space: nowrap;
		font-weight: bold;
		display: block;
		padding: 5px 9px;
		cursor: default;
	}
	.jcf-optgroup .jcf-option {
		padding-left: 30px;
	}
}

/* other styles */
.jcf-textarea {
	border: 1px solid $jcf-border-color;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	.jcf-scrollbar-horizontal {
		display: none;
		height: 0;
	}
	textarea {
		padding: 8px 10px;
		border: none;
		margin: 0;
	}
	.jcf-resize {
		position: absolute;
		text-align: center;
		cursor: se-resize;
		background: $jcf-color-resize;
		font-weight: bold;
		line-height: 15px;
		text-indent: 1px;
		font-size: 12px;
		height: 15px;
		width: 14px;
		bottom: 0;
		right: 0;
		&:before {
			border: 1px solid $jcf-color-before-resize;
			border-width: 0 1px 1px 0;
			display: block;
			margin: 4px 0 0 3px;
			width: 6px;
			height: 6px;
			content: '';
		}
	}
}

/* number input */
.jcf-number {
  display: inline-block;
  position: relative;
  height: 32px;
  input {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    box-sizing: border-box;
    border: 1px solid $jcf-border-color-number;
    padding: 3px 27px 3px 7px;
    margin: 0;
    height: 100%;
  }
  .jcf-btn-dec, .jcf-btn-inc {
    position: absolute;
    background: $jcf-bg-arrows-number;
    width: 20px;
    height: 15px;
    right: 1px;
    top: 1px;
  }
  .jcf-btn-dec {
    top: auto;
    bottom: 1px;
    &:hover {
      background: $jcf-bg-arrows-hover-number;
    }
  }
  .jcf-btn-inc:hover {
    background: $jcf-bg-arrows-hover-number;
  }
  &.jcf-disabled {
    .jcf-btn-dec:hover, .jcf-btn-inc:hover {
      background: $jcf-bg-arrows-hover-disabled-number;
    }
  }
  .jcf-btn-dec:before, .jcf-btn-inc:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -4px;
    border: 4px solid $jcf-border-arrows-number;
    border-color: transparent transparent $jcf-border-arrows-number transparent;
  }
  .jcf-btn-dec:before {
    margin: -1px 0 0 -4px;
    border-color: $jcf-border-arrows-number transparent transparent transparent;
  }
  &.jcf-disabled {
    .jcf-btn-dec:before, .jcf-btn-inc:before {
      opacity: 0.3;
    }
  }
  .jcf-btn-dec.jcf-disabled:before, .jcf-btn-inc.jcf-disabled:before {
    opacity: 0.3;
  }
  &.jcf-disabled input {
    background: $jcf-bg-disabled;
  }
}

/* range input */
.jcf-range {
	display: block;
	min-width: 200px;
	.jcf-range-track {
		margin: 0 20px 0 0;
		position: relative;
		display: block;
		height: 5px;
	}
	.jcf-range-wrapper {
		position: relative;
		background: $jcf-bg-range;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		display: block;
		margin: 5px 0;
	}
	&.jcf-vertical {
		min-width: 0;
		width: auto;
		.jcf-range-wrapper {
			margin: 0;
			width: 10px;
			height: auto;
			padding: 20px 0 0;
		}
		.jcf-range-track {
			height: 180px;
			width: 10px;
		}
		.jcf-range-handle {
			left: -5px;
			top: auto;
		}
		.jcf-range-display-wrapper {
			left: auto;
			right: auto;
			top: 10px;
			bottom: 10px;
		}
		.jcf-range-display {
			&.jcf-range-min {
				margin: 0 0 -10px;
				padding: 0 0 10px;
			}
			&.jcf-range-max {
				margin: -10px 0 0;
				padding: 10px 0 0;
			}
		}
		.jcf-range-mark {
			margin: 0 0 9px;
			left: 14px;
			top: auto;
			width: 3px;
			height: 1px;
		}
	}
	.jcf-range-display-wrapper {
		position: absolute;
		min-height: 5px;
		min-width: 10px;
		left: 10px;
		right: 10px;
	}
	.jcf-range-display {
		position: absolute;
		background: $jcf-bg-mark-range;
		width: 10px;
		height: 5px;
		&.jcf-range-min {
			margin: 0 0 0 -10px;
			padding: 0 0 0 10px;
		}
		&.jcf-range-max {
			margin: 0 -10px 0 0;
			padding: 0 10px 0 0;
		}
	}
	.jcf-range-handle {
		position: absolute;
		width: 19px;
		height: 19px;
		margin: -4px 0 0;
		z-index: 1;
		top: -4px;
		left: 0;
		background: url(../images/jcf-range.png) center top no-repeat;
	}
	.jcf-range-mark {
		position: absolute;
		overflow: hidden;
		background: $jcf-bg-mark-range;
		width: 1px;
		height: 3px;
		top: -7px;
		margin: 0 0 0 9px;
	}
	.jcf-active-handle {
		z-index: 2;
	}
	&.jcf-disabled {
		background: none !important;
		opacity: 0.3;
	}
	&.jcf-focus .jcf-active-handle {
		border: none !important;
	}
}

/* common styles */
.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus, .jcf-focus * {
	border-color: #ff4e00 !important;
}