/************************/
/* NEWS              */
/************************/

main.news {
	
	> section {
	
	}
}

/************************/
/* NEWS FITXA           */
/************************/

#new-show-record {
	
	article {
	
	}
	
	/* botons */
	.show-buttons {
		
		a {
			&:hover {
			
			}
			&.back-button {
			
			}
			&.previous-link {
			
			}
			&.next-link {
			
			}
		}
		
	}
	
	figure {
		line-height: 0;
		font-size: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	time {
	
	}
	h2 {
	
	}
	.description {
	
	}
	
	aside {
		
		a {
			
			&:hover {
			
			}
		}
	}
	.videoframe {
	
	}
}

/************************/
/* NEWS LLISTAT         */
/************************/

.new-list {
	display: grid;
	grid-gap: 50px 50px;
	grid-template-columns: 1fr 1fr 1fr;
	
	.item {
		
		&.col2 {
		
		}
		
		&:hover {
		
		}
		
		a {
			text-decoration: none;
			color: inherit;
			&:hover figure,
			&:hover time,
			&:hover h3,
			&:hover .description {
				text-decoration: none;
			}
			&:hover figure {
			
			}
			&:hover time {
			
			}
			&:hover h3 {
			
			}
		}
		
		figure {
			font-size: 0;
			line-height: 0;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		
		h3 {
		
		}
		
		time {
			display: block;
		}
		
		.description {
			cursor: pointer;
			> p:first-child {
				margin-top: 0 !important;
			}
			&:hover {
			
			}
		}
		
	}
	
}