/*

Colors: #d44d63
Border: #d8d8d8
Bg: #f3f3f3
Strong: #595959


*/

.buttons {
	overflow: hidden;
	width: 100%;
}
.boto {
	font-size: 20px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	background-color: $button-bg-color;
	color: #fff;
	padding: 8px 40px;
	margin-top: 20px;
	float: right;
	text-decoration: none;
	
	&:hover {
		background-color: $button-bg-color-hover;
	}
}
/* tots els interiors */
main {
	.login,
	.customer,
	.payent-common,
	.order,
	.summary-cart {
	
	}
}
/* Inputs */
.form {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		
		color: $font-color;
		background-color: #fff;
		width: 100%;
		height: 39px;
		border: 1px solid #d8d8d8;
		font-size: 24px;
		font-weight: 300;
		line-height: 34px;
		padding: 0 20px;
		margin-bottom: 30px;
		&:active,
		&:focus {
			border-color: #d44d63;
		}
	}
	
	&.login input[type="password"] {
		margin-bottom: 0;
	}
	
	textarea {
		height: 200px;
	}
}
/* Amplada màxima */
.customer > form,
.order-details,
.customer.show-order .order > h3:first-child {
	margin-left: auto;
	margin-right: auto;
	max-width: $product-process-max-width;
	position: relative;
}
/******************************/
/* PRODUCT CISTELLA - ORDERS  */
/******************************/

.table-products {
	width: 100%;
	
	#inner & p {
		margin: 0;
	}
	td,
	th {
	}
	tr.last {
		border-bottom: 0;
	}
	tr {
	}
	th {
		padding: 8px 10px;
		text-align: right;
		color: #595959;
		font-weight: 400;
		background-color: #f3f3f3;
	}
	td {
		padding: 20px 10px;
		border-bottom: 1px solid #989898;
		&.td-image {
			padding: 20px 20px 20px 0;
			line-height: 0;
			font-size: 0;
			vertical-align: top;
		}
		&.td-title a.title {
			padding: 0 0 6px 0;
			display: block;
			font-weight: 400;
			text-decoration: none;
			font-size: 20px;
			line-height: 23px;
			text-transform: uppercase;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
		&.td-downloads {
			text-align: left;
			a {
				text-decoration: none;
				display: inline-block;
				padding-bottom: 4px;
				color: $corporate-color;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.td-price {
			text-align: right;
			white-space: nowrap;
			strong {
				color: $corporate-color;
				font-weight: normal;
			}
		}
		&.td-cart {
			text-align: right;
		}
	}
	th.th-left {
		text-align: left;
	}
	.old-price {
		text-decoration: line-through;
		margin-right: 10px;
		color: #ff0000;
	}
	
	&.totals {
		color: #000;
		margin-top: 30px;
		
		width: 100%;
		max-width: 450px;
		margin-left: auto;
		margin-right: 0;
		tr {
			border-bottom: none;
			background-color: #f3f3f3;
		}
		th {
			text-align: left;
			font-weight: 400;
			background-color: #f3f3f3;
		}
		td {
			font-weight: 300;
			text-align: right;
			padding-top: 10px;
			padding-bottom: 10px;
			color: #000;
			border-bottom: 0;
		}
		tr {
			&.tr-total-price {
				td, th {
					padding-top: 10px;
					font-weight: 700;
					color: #595959;
				}
			}
			&.tr-promcode {
				th, td {
					padding-top: 10px;
					font-weight: 400;
					color: #E00109;
				}
				td strong {
					font-weight: 700;
					color: #E00109;
				}
			}
			&.all {
				th, td {
					font-weight: 700;
				}
			}
		}
	}
	.invoice &.totals {
		width: 70%;
		margin-left: 30%;
		float: right;
	}
}
.promcode_form {
	color: $product-promcode-color;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	padding: 20px 0 0;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
	
	span {
		line-height: 32px;
		padding-right: 20px;
	}
	
	input[type="text"] {
		vertical-align: middle;
		line-height: 20px;
		font-size: 14px;
		padding: 5px;
		width: 190px;
		border: 1px solid $border-color;
		border-right: 0;
		margin: 0 0 0 10px;
	}
	
	input[type="button"] {
		border: 0;
		margin: 0;
		padding: 0 15px;
		font-size: 15px;
		height: 32px;
		line-height: 32px;
		color: $button-color;
		text-decoration: none;
		cursor: pointer;
		background-color: $button-bg-color;
		vertical-align: middle;
		
		&:hover {
			background-color: $button-bg-color-hover;
			color: $button-color-hover;
		}
	}
	
	.error {
		color: #ff0000;
		padding-bottom: 15px;
		font-weight: bold;
	}
}
.customer-comment {
	margin-left: 50%;
	margin-top: 50px;
	display: block;
	margin-bottom: 20px;
	
	div {
	}
	
	textarea {
		width: 100%;
		height: 100px;
		margin-top: 5px;
	}
}
/* orders */

.table-products .boto1 {
	margin-left: 10px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 2px 10px;
	background-color: $button-bg-color;
	color: white;
	
	&:hover {
		background-color: $button-bg-color-hover;
	}
}
/* invoice */

.invoice {
	font-size: 15px;
	overflow: hidden;
	width: 100%;
	
	.container {
		padding: 0;
	}
	
	.right,
	.left {
		width: 50%;
	}
	
	.left {
		padding-right: 20px;
	}
	
	.right {
		padding-left: 20px;
	}
	
	h4 {
		font-size: 17px;
	}
	
	h4 strong {
		font-weight: 300;
	}
	
	.logo-invoice {
		padding-bottom: 30px;
		display: block;
	}
	
	.company {
	
	}
	
	a {
		color: inherit;
		text-decoration: none;
	}
	
	#cart {
		margin: 0;
	}
	
	.table-products {
		&.totals tr.invoice-base {
		
		}
		
		.td-title a.title {
			font-size: 16px;
		}
		
		td {
			padding: 4px 10px;
			vertical-align: top;
		}
		
		th {
			padding: 4px 10px 2px;
		}
		
		&.totals td {
			padding-bottom: 2px;
			padding-top: 4px;
		}
	}
	
}
@media print {
	.clean {
		margin: 0;
	}
	.invoice .logo-invoice {
		padding-top: 0;
	}
	.noprint {
		display: none;
	}
}
.botoprint {
	border: 1px dotted $border-color;
	font-size: 18px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer;
	
	&:hover {
		border: 1px solid $button-bg-color-hover;
		background-color: $button-bg-color-hover;
		color: $button-color-hover;
	}
}
/************************/
/* PRODUCT LOGIN MENU   */
/************************/

#login-nav {
	display: inline-block;
}
#login-nav ul {
	list-style: none;
	line-height: 24px;
}
#login-nav ul li {
	display: inline-block;
}
#login-nav ul a {
	color: #461e2f;
	text-decoration: none;
	display: block;
	padding: 0 11px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#login-nav ul a:hover {
	background-color: #ff9701;
}
#login-nav ul a.active1 {
	background-color: #ff9701;
	color: #fff;
}
#login-submenu {
	display: none;
}
/************************/
/* PROCESS              */
/************************/

#process {
	background-color: $bg-color;
}
#process ol {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	padding: 0 15px;
	li {
		height: 50px;
		font-size: 20px;
		line-height: 24px;
		float: left;
		text-align: center;
		font-weight: 400;
		padding: 13px 20px;
		text-transform: uppercase;
		margin-right: 20px;
		span {
			font-size: 20px;
			line-height: 24px;
			padding-right: 6px;
			font-weight: 700;
			vertical-align: bottom;
		}
		&.sel1 span {
			color: #fff;
		}
		&.item4, &.sel1.item4 {
			margin: 0;
		}
		&.sel1 {
			background: $corporate-color;
			color: $font-color-on-corporate-background;
			font-weight: 400;
		}
	}
}
/************************/
/* LOGIN FORM           */
/************************/

div.login {
	display: table;
	width: 100%;
}
main .login h3,
main .customer h3,
main .order h3,
// .clean h3,
#summary h3,
main .payent-common h3 {
	border-bottom: 1px solid $border-color;
	color: $font-color;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#summary .summary h3:first-of-type,
main .payent-common h3:first-child,
.customer h3:first-of-type,
main .login h3 {
	margin-top: 0;
}
.clean {
	h3 {
		margin: 0 0 10px;
	}
	.invoice h3 {
		margin: 30px 0 10px;
		font-size: 16px;
	}
}
.login .col:last-child p {
	display: block;
	margin: 76px 0 10px;
	
	&.lost_password {
		margin-top: 60px;
		
		a {
			text-decoration: none;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
		
	}
}
.login.form input[type="text"],
.login.form input[type="password"], #mail_password {
	margin-top: 5px;
}
#mail_password {
	margin-bottom: 0;
}
.login .col {
	padding: 0 30px 0 0;
	width: 50%;
	display: table-cell;
	vertical-align: top;
	
	&:last-child {
		padding: 0 0 0 30px;
		.boto {
			float: left;
			margin-top: 20px;
		}
	}
}
#password_form label {
	font-weight: normal;
	color: inherit;
	padding-top: 40px;
	font-size: inherit;
	display: block;
}
/************************/
/* CUSTOMER FORM        */
/************************/

table.form {
	border-spacing: 0;
	padding: 0;
	width: 100%;
	
	th {
		padding: 12px 15px 32px 0;
		vertical-align: top;
		text-align: left;
		width: 260px;
		font-weight: normal;
		color: $font-color;
	}
	
	&.same-address th input,
	&.addresses th input {
		margin-top: 10px;
	}
	
	.clean & th {
		padding: 6px 8px 16px 0;
	}
	
	td {
		vertical-align: top;
	}
	
	td.checkbox-same-address {
		vertical-align: middle;
		padding-top: 12px;
		padding-bottom: 32px;
	}
	
	.collect th {
		font-size: 18px;
		font-weight: 700;
	}
	
	.collect td {
		padding-top: 9px !important;
	}
	
	.clean & input,
	.clean & select {
		margin-top: 6px;
		margin-bottom: 6px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	// TODO-i Treure si no jcf
	.clean & .jcf-select {
		.jcf-select-text {
			padding-top: 6px;
			padding-bottom: 6px;
		}
		.jcf-select-opener {
			background-position: 0 -8px;
		}
		&.jcf-focus .jcf-select-opener,
		&:hover .jcf-select-opener {
			background-position: center -108px;
		}
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
div.customer {
	position: relative;
}
#summary {
	position: relative;
}
#summary .form,
.order.form {
	th {
		padding: 6px 10px 6px 0;
	}
	td {
		padding: 6px 0;
	}
}
.lnk-right {
	#summary &,
	.addresses &,
	.customer & {
		font-size: 13px;
		height: 16px;
		line-height: 16px;
		margin: 12px 0 0;
		position: absolute;
		right: 16px;
		padding-left: 20px;
		text-decoration: none;
		&:hover,
		&:hover,
		&:hover {
			text-decoration: underline;
		}
	}
	.customer & {
		margin-top: 62px;
	}
	
	.addresses & {
		margin: 0;
	}
}
#addresses_list {
	position: relative;
}
.addresses {
	width: 100%;
	
	td {
		vertical-align: top;
		cursor: pointer;
	}
	
	label {
		margin: 0;
		display: block;
		cursor: pointer;
		padding: 18px 0;
	}
	
	td.label:hover {
		background-color: $border-color;
		
	}
}
/************************/
/* PAYMENT COMMON       */
/************************/

.payent-common {
	h4 {
		font-weight: 400;
		font-size: 17px;
		margin: 60px 0;
		
		&.cart-empty {
			padding: 100px 0;
			text-align: center;
			font-size: 18px;
		}
		
		strong {
			color: $font-color;
			font-size: 16px;
		}
	}
}
.payent-options {
	width: 100%;
	display: table;
	border-spacing: 15px;
	border-collapse: separate;
	li {
		list-style: none;
		border: 2px solid $border-color;
		display: table-cell;
		vertical-align: middle;
	}
	
	a {
		padding: 30px;
		font-size: 16px;
		color: $corporate-color;
		text-decoration: none;
		display: table;
		border-spacing: 0;
		width: 100%;
		
		&:hover {
			background-color: $button-bg-color-hover;
			color: $button-color-hover;
		}
		
		img {
			vertical-align: middle;
			padding-right: 35px;
		}
		
		span {
			display: table-cell;
			vertical-align: middle;
			padding-left: 30px;
			
			&:first-child {
				padding-left: 0;
			}
		}
		
		/* TODO-i Canviar de span a strong a tots els clients + payment_common.tpl */
		strong {
			color: #000;
			padding-left: 15px;
		}
	}
}
.payment-message {
	font-size: 16px;
	font-weight: 400;
	margin: 60px 0;
	text-align: left;
}
/************************/
/* CUSTUMER MENU        */
/************************/

#customer_menu {
	background-color: $bg-color;
	margin-bottom: 50px;
	
	ul {
		list-style: none;
		padding: 0 10px;
		overflow: hidden;
	}
	li {
		float: left;
		font-size: 0;
		line-height: 0;
		a {
			color: $font-color;
			text-decoration: none;
			font-size: 20px;
			line-height: 50px;
			display: block;
			font-weight: 400;
			padding: 0 20px;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
				background: $corporate-color;
				color: $font-color-on-corporate-background;
			}
		}
		&.first a {
		}
		&.sel1 a {
			font-weight: 700;
			&:hover {
			
			}
		}
		&.last a {
		
		}
	}
	
}