
/********************************/
/* POPUP BLOCKS               */
/*******************************/

.popup {
	position: absolute;
	width: 480px;
	z-index: 30;
	right: 0;
	top: 50px;
	cursor: default;
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
	background: $bg-color;
	padding: 16px;
	font-size: 14px;
	
	h5 {
		font-size: 20px;
	}
	
	.close {
		width: 30px;
		height: 30px;
		text-decoration: none;
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		
		&:hover {
		}
	}
}


/********************************/
/* PRODUCT CISTELLA BLOCK      */
/*******************************/

/* Bock cistella */
#cart_block {
	text-align: left;
	
	> a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
		}
		
		&.open {
			background: url('../images/cart_block.png') no-repeat 0 0;
			
			&:hover {
			}
		}
		
		&.buy:hover {
		}
	}
}

/* Cistella */
.cart-block {
	
	
	.item {
		border-bottom: 1px solid $border-color;
		padding: 20px;
		position: relative;
		overflow: hidden;
	}
	
	.text {
		padding-left: 20px;
		overflow: hidden;
	}
	
	.ref {
		font-size: 13px;
		color: $corporate-color;
	}
	
	a.title {
		font-size: 15px;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
		span {
		
		}
		
		/* títol variacions */
		strong {
		
		}
	}
	
	
	table {
		width: 100%;
		margin: 6px 0 10px;
		
		th,
		td {
			font-weight: normal;
			text-align: left;
			vertical-align: top;
			padding: 2px 0;
		}
		
		th {
		}
		
		td {
			text-align: right;
			
		}
		
		tr.item-total th {
			padding-top: 10px;
		}
		
		tr.item-total td {
			font-weight: bold;
			padding-top: 10px;
		}
		
	}
	
	a.eliminar {
		color: $corporate-color;
		text-decoration: none;
		display: inline-block;
		
		&.eliminar:hover {
		
		}
		
		&.image {
			float: left;
			font-size: 0;
			line-height: 0;
		}
	}
	
	/* Quantity */
	.quantity {
		text-align: right;
		
		div {
			display: inline-block;
		}
		
		span {
			float: left;
			display: block;
			font-size: 0;
		}
		
		input {
			width: 20px;
			height: 20px;
			border: 0;
			padding: 0;
			margin: 0;
			font-size: 13px;
			text-align: center;
		}
		
		a {
			width: 20px;
			height: 20px;
			display: block;
			float: left;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background: #fff url(../images/quantity.png) no-repeat -20px 0;
			margin: 0 1px;
			
			&.plus {
				background-position: 0 0;
			}
			
			&:hover {
				background-position: -20px -20px;
				background-color: #2d2b2a;
			}
			
			&.plus:hover {
				background-position: 0 -20px;
			}
		}
	}
	
	
	/* Total */
	.total {
		font-size: 19px;
		background: #f8f8f8;
		padding: 10px 15px;
		text-align: right;
		
		strong {
			color: $corporate-color;
			margin-left: 10px;
		}
		
		p {
			margin: 10px 0;
		}
	}
	
	.totaltax {
	}
	
	/* Boto compra */
	.buy {
		text-align: center;
		
		a {
			text-decoration: none;
			display: inline-block;
			
			&:hover {
			
			}
		}
		
		
	}
	
	
	.norecords {
		text-align: center;
		padding: 50px 0;
		font-size: 16px;
	}
}

/********************************/
/* MENU LOGIN BLOCK            */
/*******************************/

#login-submenu {
	.login-content {
		margin-top: 10px;
		width: 100%;
		overflow: hidden;
	}
	
	label {
		margin-bottom: 20px;
		display: block;
		font-size: 17px;
		color: $font-color;
	}
	
	input {
		&[type="text"], &[type="password"] {
			width: 100%;
			margin-top: 15px;
			padding: 10px 20px;
		}
	}
	
	.login-content a {
		color: $corporate-color;
		display: inline-block;
		text-decoration: none;
		margin-top: 20px;
	}
	
	.boto {
	}
}

#password_form2 {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid $border-color;
	
	label, input[type="text"] {
	}
}