/************************/
/* PRODUCT                 */
/************************/

main.product {
	
	> section {
	
	}
}

/************************/
/* PRODUCT FITXA        */
/************************/

#product-show-record article {
	
	.left {
		width: 40%;
	}
	.right {
		width: 50%;
	}
	
	/* botons */
	.show-buttons {
		
		a {
			
			&.back-button {
			
			}
			&.previous-link {
			
			}
			&.next-link {
			
			}
		}
	}
	
	/* PRINCIPAL */
	
	h2 {
	
	}
	.ref {
	
	}
	
	/* marca */
	.brand {
	
	}
	
	/* sectors */
	
	/* variacions */
	.variations-holder {
		margin-bottom: 10px;
		
		#inner & p {
			margin-bottom: 5px;
		}
		label {
			cursor: pointer;
			
			&:hover {
			
			}
		}
		input {
			margin-right: 10px;
		}
		.nostock {
			opacity: 0.4;
			cursor: default;
			&:hover {
			
			}
		}
	}
	
	/* preu */
	.price {
		
		.old-price {
			
			text-decoration: line-through;
		}
		.discount {
		
		}
		.price-consult {
		
		}
	}
	
	/* cistella */
	main & .quantity-holder {
		p.quantity {
			margin: 0;
			padding: 0 12px 0 0;
		}
		div.quantity {
			float: left;
		}
		span {
			float: left;
			display: block;
			font-size: 0;
		}
		input[type="text"] {
			width: 24px;
			height: 22px;
			border: 0;
			padding: 0;
			margin: 0;
			font-size: 15px;
			text-align: center;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
		}
		a {
			width: 24px;
			height: 24px;
			display: block;
			float: left;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background: $border-color url(../images/quantity.png) 0 0;
			
			&:hover {
			
			}
			&.plus {
				background-position: 0 0;
				&:hover {
				
				}
			}
		}
	}
	
	.cart-button {
		
		&:hover {
		
		}
	}
	
	/* flag */
	.flag {
	
	}
	
	/* DETALLS */
	
	.sep {
		clear: both;
	}
	article h4 {
	
	}
	
	/* descripcio */
	.description {
	
	}
	
	/* detalls */
	div.details {
	
	}
	table.details {
		th {
			text-align: left;
			vertical-align: top;
			padding: 0 10px 0 0;
		}
		td {
			text-align: left;
			vertical-align: top;
			padding: 0 60px 0 0;
		}
	}
	
	/* arxius */
	.files {
		
		a {
			
			&:hover {
			
			}
		}
	}
	
	/* video */
	.videoframe {
	
	}
	
	// imatges
	figure {
		font-size: 0;
		line-height: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

/************************/
/* PRODUCT SLIDER       */
/************************/

#slider-product {
	overflow: hidden;
	.item {
		cursor: pointer;
	}
}

#slider-product-thumbs {
	
	.item {
		cursor: pointer;
		&:hover {
		
		}
		.slick-active {
		
		}
	}
}

/************************/
/* PRODUCT LLISTAT      */
/************************/
#product-list-records {
	.family-description {
		
	}
}


.product-list {
	display: grid;
	grid-gap: 50px 50px;
	grid-template-columns: 1fr 1fr 1fr;
	
	.item {
		
		&.col2 {
		
		}
		&:hover {
			
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
			
			}
			&:hover .price,
			&:hover h3,
			&:hover h4 {
				text-decoration: none;
			}
		}
		figure {
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			padding-bottom: 66.67%;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		h3 {
		}
		h4 {
		}
		.description {
		
		}
		.discount {
		
		}
		.old-price {
			text-decoration: line-through;
		}
		.price {
		
		}
		a.cart-button {
			
			&:hover {
			
			}
		}
	}
	
	/* flag */
	.flag {
		
	}
}

/************************/
/* VISITED             */
/************************/

.product-visited {
	
	
	h5 {
	
	}
	
	&-slider {
		overflow: hidden;
		
		.item {
		
		}
		
		figure {
			font-size: 0;
			line-height: 0;
			
			img {
				max-width: 100%;
				height: auto;
				
			}
		}
		
		.text {
		
		}
		
		.ref {
		
		}
		
		h6 {
			
			a {
				text-decoration: none;
				color: inherit;
			}
		}
		
		.price {
		
		}
		
		.cart-button {
		
		}
	}
}
