/* 400 */
@media only screen and (max-width: 400px) {

	/* POPUP ADREÇA i CONTACTE */
	.lg-video-cont {
		height: 100%;
	}
	.lg-outer .lg-video {
	   padding-bottom: 0 !important;
		height: 90% !important;
		top: 5%;
	}
}