/* CART BLOCK */

/* Segons disseny */
@media only screen and (max-width: 700px) {

	#cart_block {
		display: block;
		position: absolute;
		top: 50px;
		right: 0;
	}
	.popup {
		top: 35px;
		right: -10px;
	}
}
/* Segons disseny */
@media only screen and (max-width: 480px) {
	#cart_block > a.buy {
		display: none;
	}
	.popup {
		top: 30px;
	}
}
/* Sempre */
@media only screen and (max-width: 520px) {
	.popup {
		width: 400px;
	}
}
/* Sempre */
@media only screen and (max-width: 420px) {
	.popup {
		width: 300px;
	}
	.cart-block a.image {
		display: block;
		float: none;
		margin: 0 auto 20px;
	}
	.cart-block .text {
		padding-left: 0;
	}
}
/* Sempre */
@media only screen and (max-width: 310px) {
	.popup {
		width: 250px;
	}
}

/* INTERIORS */

/* Sempre */
@media only screen and (max-width: 800px) {
	main .login ,
	main .customer,
	main .payent-common,
	main .order,
	main .summary-cart {

	}
}
@media only screen and (max-width: 400px) {
	main .login h3,
	main .customer h3,
	main .order h3,
	// .clean h3,
	#summary h3,
	main .payent-common h3 {
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 30px;
	}
}

/* CUSTOMER FORM */

/* Sempre */
@media only screen and (max-width: 600px) {
	.form th {
		width: 200px;
	}
}
/* Sempre */
@media only screen and (max-width: 500px) {
	.form th {
		width: 160px;
	}
}
/* Sempre */
@media only screen and (max-width: 400px) {
	#inner table.form,
	table.form > tbody,
	#inner table.form >tbody > tr,
	#inner table.form >tbody > tr > th,
	#inner table.form >tbody > tr > td {
		display: block;
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.form th, #summary .form th, .order.form th {
		padding-bottom: 2px;
		padding-top: 15px;
	}
   #inner table.form.same-address,
   #inner table.form.addresses {
	   display: table !important;
   }
   #inner table.form.same-address tbody,
   #inner table.form.addresses tbody {
	   display: table-row-group !important;
   }
   #inner table.form.same-address tbody tr,
   #inner table.form.addresses tbody tr {
	   display: table-row !important;
   }
   #inner table.form.same-address tbody th,
   #inner table.form.addresses tbody th {
	   display: table-cell !important;
	   vertical-align: top;
	   padding: 10px 0 20px; /* segons disseny */
   }
   #inner table.form.same-address tbody td,
   #inner table.form.addresses tbody td {
	   display: table-cell !important;
	   vertical-align: top;
	   padding: 0 0 20px; /* segons disseny */
   }
   #inner table.form.same-address tbody td,
   #inner table.form.addresses tbody td {
	   padding-left: 10px;
   }
}

/* Sempre */
@media only screen and (max-width: 500px) {

	#summary .lnk-right, .addresses .lnk-right, .customer .lnk-right {
		position: static;
		margin: 40px 0 10px !important;
		padding: 0;
		display: block;
	}
	/* TODO-i Comprovar si el canvi està bé 15-10-16 ( blunik ) He afegit float també */
	.addresses .lnk-right {
		margin-top: 5px !important;
		/*margin-top: 20px !important;*/
	}
}

/* LOGIN FORM */

/* segons disseny */
@media only screen and (max-width: 600px) {
	.col {
		padding: 0 15px 0 0;
	}

	.login .col:last-child {
		padding: 0 0 0 15px;
	}
}
/* Sempre */
@media only screen and (max-width: 500px) {
	.login .col {
		padding: 0 0 50px 0;
		font-variant: normal;
		width: auto;
		display: block;
	}
	.login .col:last-child {
		padding: 0;
	}
	/* segons disseny */
	.login .col:last-child p {
		margin-top: 20px;
	}
}

/* PROCESS */
/* segons disseny */
@media only screen and (min-width: 601px) and (max-width: 970px) {
	#process ol {
		display: table;
		width: 100%;
		border-spacing: 10px;
	}
	#process ol li {
		display: table-cell;
		margin-right: 0;
		width: 25%;
		font-size: 14px;
		float: none;
		vertical-align: middle;
	}
}

/* 800 */
@media only screen and (max-width: 800px) {
	.customer-comment {
		margin-left: 0;
		margin-bottom: 0;
	}
}

/* segons disseny */
@media only screen and (max-width: 700px) {
	#process ol li {
		font-size: 13px;
	}
}
/* segons disseny */
@media only screen and (max-width: 600px) {

	#process {
		display: block;
	}
	#process ol {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	#process ol li {
		width: 49.5%;
		margin: 0 1% 0 0;

		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-align-items: center;
		align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
	}
	#process ol li.item3 {
		clear: both;
	}
	#process ol li.item2,
	#process ol li.item4 {
		margin-right: 0;
	}
	#process ol li.item3,
	#process ol li.item4 {
		margin-top: 2px;
	}
	#process ol li div {
		width: 100%;
	}
}

/* PRDUCT CISTELLA - ORDERS */
/* segons disseny */
@media only screen and (max-width: 650px) {
	.table-products.products,
	.table-products.products > tbody,
	.table-products.products >tbody > tr,
	.table-products.products >tbody > tr > td,
	.table-products.orders,
	.table-products.orders > tbody,
	.table-products.orders >tbody > tr,
	.table-products.orders >tbody > tr > td {
		display: block;
	}
	.table-products.products >tbody > tr,
	.table-products.orders >tbody > tr {
		overflow: hidden;
		width: 100%;
		padding-top: 18px;
		padding-bottom: 20px;
		border-bottom: 1px solid #efefef;
	}
	.table-products.products .tr-header,
	.table-products.orders .tr-header {
		display: none;
	}
	.table-products td {
		text-align: left !important;
		background: none;
		margin-left: 30%;
		padding: 2px 0 0 30px;
		border: 0;
	}
	.table-products .td-image {
		float: left;
		padding: 10px 0;
		width: 30%;
		margin-left: 0;
	}
	.table-products .td-image img {
		max-width: 100%;
		height: auto;
	}
	.table-products .mobile,
	.table-products p > strong /* variacions */ {
		display: inline-block;
		min-width: 90px;
	}
	.table-products.orders td.td-price strong {
		padding-top: 15px;
		display: inline-block;
	}

	/* totals */
	.table-products.totals {
		margin-left: 0;
		width: 100%;
	}
	.table-products.totals tr {
	}
	.table-products.totals th,
	.table-products.totals td {
	}
	.table-products.totals th {
	}
	.table-products.totals tr.tr-total-price td, .table-products.totals tr.tr-total-price th {
	}

	.promcode_form {
		text-align: left;
	}
	.promcode_form span {
		display: block;
	}
	.promcode_form input[type="text"] {
		margin-left: 0;
	}

   /* orders */
	.table-products.orders td {
		margin-left: 10px;
	}
	.table-products.orders td.td-price {
		font-size: 1.3em;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.table-products .boto1 {
		padding-left: 0;
		padding-right: 20px;
	}
}
/* segons disseny */
@media only screen and (max-width: 400px) {
	.promcode_form input[type="text"] {
		width: 150px;
	}
	.payent-common h4 strong {
		padding: 0;
	}
}

/* PAYMENT COMMON */
/* Sempre */
@media only screen and (max-width: 1100px) {
	.payent-options a {
		display: block;
		text-align: center;
	}
	.payent-options a img {
		margin-bottom: 10px;
	}
	.payent-options a span {
		padding-left: 0;
		display: block;
	}
}
/* Sempre */
@media only screen and (max-width: 750px) {

	.payent-options {
		display: block;
		margin-bottom: 20px;
	}
	.payent-options li {
		display: block;
		margin-bottom: 20px;
	}
	.payent-options li:last-of-type {
		margin-bottom: 0;
	}

	.payent-options span {
		display: block;
		padding-top: 10px;
	}
}

/* CUSTUMER MENU        */
/* segons disseny */
@media only screen and (max-width: 700px) {
	#customer_menu {
		margin-bottom: 30px;
		margin-top: 0;
	}
	#customer_menu li {
	}
	#customer_menu li a {
		margin-right: 10px;
		font-size: 15px;
	}
}
/* segons disseny */
@media only screen and (max-width: 540px) {
	#customer_menu {
		margin-bottom: 30px;
		margin-top: 0;
	}
	#customer_menu li {
		float: none;
		padding: 0 0 5px;
	}
	#customer_menu li a {
		margin-right: 10px;
		font-size: 15px;
	}
}