
// TODO-i  Només canviar els valors d'aquesta línea -
// Ha de concordar amb les mides que necessitem pel javascript
// Molt important seguir ordre numèric descendent, per tant posar la variable $menu_mobile_max_width_num on toqui
$responsive-sizes: $menu-mobile-max-width-num;

@each $responsive-size in $responsive-sizes {
	
	@media only screen and (max-width: $responsive-size * 1px) {
		#responsive:after {
			content: quote($responsive-size);
		}
	}
}