/************************/
/* Fletxes i actiu      */
/************************/

.slick-active {

}

.slick-prev,
.slick-next {
	cursor: pointer;
	border: none;
	outline: 0 !important;
	padding: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	position: absolute;
	z-index: 900;
	
	width: 35px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background: #cbcbcb url(../images/home_slider_arrows.png) no-repeat;
	
	&::-moz-focus-inner {
		border: 0;
	}
	
}

.slick-disabled {
	opacity: 0.2;
	filter: alpha(opacity=20);
	cursor: default;
}

.slick-prev {
	&,
	&.slick-disabled,
	&.slick-disabled:hover {
		left: 0;
		background-position: 0 0;
	}
	&:hover {
		background-position: 0 -100px;
	}
}

.slick-next {
	&,
	&.slick-disabled,
	&.slick-disabled:hover {
		right: 0;
		background-position: 0 -200px;
	}
	&:hover {
		background-position: 0 -300px;
	}
}

/************************/
/* DOTS                */
/************************/
.slick-dotted.slick-slider {

}

.slick-dots {
	position: absolute;
	bottom: 5px;
	
	display: block;
	
	width: 100%;
	padding: 0;
	margin: 0;
	
	list-style: none;
	
	text-align: center;
	z-index: 100;
	font-size: 0;
	line-height: 0;
	
	li {
		display: inline-block;
		margin: 0 5px;
		padding: 0;
		
		cursor: pointer;
	}
	li button {
		font-size: 0;
		line-height: 0;
		
		display: block;
		
		width: 12px;
		height: 12px;
		
		cursor: pointer;
		
		color: transparent;
		border: 0;
		outline: none;
		background: #ededed;
		
		border-radius: 50%;
		
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
		
		&:hover,
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: $corporate-color-2;
		}
	}
	li.slick-active button {
		background-color: $corporate-color;
	}
}