
.trans-all {
	transition: all ease-in-out $transitions-time;
}

.trans-bgc-c {
	transition: background-color ease-in-out $transitions-time, color ease-in-out $transitions-time;
}

.trans-bgc {
	transition: background-color ease-in-out $transitions-time;
}

.trans-c {
	transition: color ease-in-out $transitions-time;
}

.trans-op {
	transition: opacity ease-in-out $transitions-time;
}

.trans-p {
	transition: padding ease-in-out $transitions-time;
}

// Fade background
@mixin icon-fade($background) {
	position: relative;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: $background;
		opacity: 0;
		@extend .trans-op;
	}
	&:hover:after {
		opacity: 1;
	}
}