// Colors - main
$font-color: #4e4e4e; // TODO-i Canviar
$font-color-on-corporate-background: #ffffff; // TODO-i Canviar
$corporate-color: #ff2b1a; // TODO-i Canviar
$corporate-color-2: #222221; // TODO-i Canviar
$link-color: #1fa0ea; // TODO-i Canviar
$hover-color: #ff2b1a; // TODO-i Canviar
$border-color: #cecece; // TODO-i Canviar

$button-bg-color: $corporate-color; // TODO-i Canviar
$button-color: #ffffff; // TODO-i Canviar
$button-bg-color-hover: a6a6a6; // TODO-i Canviar
$button-color-hover: #ffffff; // TODO-i Canviar

$bg-color: #f5f5f5; // Color de fons per taules o destacats com ara menu customers o pasos compra // TODO-i Canviar

$input-color: $font-color;
$input-bg-color: #ffffff; // TODO-i Canviar

// Header - footer
$header-bg-color: #392c24; // TODO-i Canviar
$footer-bg-color: #392c24; // TODO-i Canviar

// Mides
$max-width-total: 1920px;
$max-width-container: 1200px; // TODO-i Canviar
$padding-container: 30px;

$padding-content-top: 100px;
$padding-content-bottom: 100px;

// Text
$font-family: 'Source Sans Pro', sans-serif; // TODO-i Canviar
$font-size: 15px; // TODO-i Canviar
$line-height: 1.5; // TODO-i Canviar
$paragraph-top-margin: 30px; // TODO-i Canviar

// Transicions
$transitions-time: 0.2s;
$transitions-time-2: 0.3s;

//{{#is_product}}
$product-process-max-width: 900px;
$product-promcode-color: $corporate-color;
//{{/is_product}}

// Responsive
$menu-mobile-max-width-num: 800; // TODO-i Canviar
$menu-mobile-max-width: $menu-mobile-max-width-num * 1px;


@import '_transitions'; // El primer per poder posar mixins

@import '_general'; // ok
@import '_header'; // ok
@import '_footer'; // ok
@import '_home'; // ok

//{{#is_product}}
@import '_product'; // ok
@import '_product_process'; // PROCESS, LOGIN FORM, CUSTOMER FORM, PRODUCT CISTELLA - ORDERS,  CUSTUMER MENU, PAYMENT COMMON
@import '_product_blocks'; // ok

//{{/is_product}}
//{{#is_inmo}}
@import '_inmo'; // ok
@import '_inmo_search'; // ok

//{{/is_inmo}}
@import '_news'; // ok
@import '_page'; // ok
@import '_contact'; // ok
@import '_left_nav'; // ok

@import '_slick';
@import '_slick_theme';

/* TODO-i Treure si no va jcf */
@import '_jcf';

@import '_res_general';
@import '_res_header';
@import '_res_footer';
@import '_res_home';

//{{#is_product}}
@import '_res_product';
@import '_res_product_process';

//{{/is_product}}
//{{#is_inmo}}
@import '_res_inmo';
@import '_res_inmo_search';

//{{/is_inmo}}
@import '_res_news';
@import '_res_page';
@import '_res_contact';
@import '_res_left_nav';
@import '_res_sizes';

// common
@import '../../../../common/jscripts/lightgallery/css/lightgallery_custom.scss';
@import '../../../../common/jscripts/jquery-ui-1.11.2/jquery-ui.min.scss';