/* Generals */
body {
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #f0f4d9 url(/public/themes/plantilla4/images/body_bg.gif) repeat-y center;
}
p {
	line-height:16px;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
 
sup {
top: -0.5em;
}
 
sub {
bottom: -0.25em;
}
abbr {
    border-bottom: 0;
}

ul, form {
	border: 0;
	margin: 0;
	padding: 0;
}
li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#container, .container  {
	background-color: #FFFFFF;
	width: 958px;
	margin: 0 auto;
	padding: 0;
	}
.left{
	float:left;
}
.right{
	float:right;
}
.cls { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
a {
	color: #0e53a8;
}
a:hover {
	color: #566c11;
	text-decoration: none;
}
img{
	border:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main, address{
	display: block;
	margin: 0;
	font-style: normal;
}

#save_frame {
	display:none;
	height: 0;
}
	#save_frame.visible{
		width: 100%;
		height:600px;
		display:block;
	}
/* Fi Generals */


/* HEADER */

#header_phone {
width: 946px;
margin: 90px 12px 0 0;
position: absolute;
text-align: right;
}
#header_phone h2 {
padding: 0;
margin: 0;
font-size: 26px;
color:#566c11;
font-weight: normal;
}

#header {
	width:100%;
	height:109px;
	padding: 0px;
	margin: 0px;
	}
	#header_left {
	float:left;
	padding: 0 0 0 25px;
	margin: 0px;
	}
	#header_right {
	float:right;
	padding: 8px 12px 0 0;
	margin: 0px;
	text-align: right;
		}
		#header_right a{
			color:#566c11;
			font-size: 11px;
			text-decoration: none;
		}
		#header_right a:hover{
			color: #000000;
			text-decoration: none;
		}


#header_middle {
	width: 100%;
	padding: 0;
	margin: 0;
	}
	#header_middle_left {
	width: 416px;
	height: 218px;
	float:left;
	padding: 26px 0 0 0;
	margin: 0px;
	background: url(/public/themes/plantilla4/images/header_left_bg.gif?v=2) no-repeat;
	text-align: left;
	}
	#header_middle_left div{
	width: 389px;
	height: 195px;
	overflow:hidden;
	background-repeat: no-repeat;
	}
	#header_middle_left img{
	display:block;
	}
	#header_middle_right {
	float:right;
	padding: 0;
	margin: 0;
	text-align: right;
	}
	#header_middle_right_top {
	margin-top: 18px;
	padding: 10px 12px 0 0;
	height: 148px;
	width: 530px;
	text-align: right;
	background-color: #cadc4b;

	}
	#header_middle_right_bottom {
		height: 57px;
		width: 542px;
	}
	.search_input {
		margin: 28px 6px 0 0;
		float: right;
	}
	.search_button {
		border-width:0px;
		margin: 28px 12px 0 0;
		padding:0;
		float: right;
	}
	#search_button {
		border-width:0;
		margin: 0;
		padding:0;
		display: block;
	}
	#header_middle_right_bottom input.search {
		border: 2px #cadc4b solid;
		padding: 0;
		width: 170px;
		height: 15px;
		line-height: 15px;
		color:#98a727;
		font-size: 12px;
	}
		#header_middle h1 {
		margin: 0;
		padding: 20px 0 0 0;
		font-size: 20px;
		color:#FFFFFF;
		font-weight: normal;
		}
		#header_middle h3 {
		margin: 0;
		padding: 14px 0 0 150px;
		font-size: 14px;
		color:#000000;
		font-weight: normal;
		}

#header_bottom {
width: 958px;
height: 38px;
text-align: right;
padding: 6px 0 20px 0;
background: url(/public/themes/plantilla4/images/header_bottom_bg.gif) no-repeat;
clear: both;
}
		#header_bottom a {
			font-size: 16px;
			line-height : 24px;
			height: 24px;
			text-decoration: none;
			}
		#header_bottom a.lnk0 {
			color: #566c11;
			}
		#header_bottom a.lnk0:hover {
			color: #000;
			}
		#header_bottom a.lnk1 {
			color: #000000;
			}
		#header_bottom a.lnk1:hover {
			color: #000;
			}
/* FI HEADER */

/* CONTINGUT */
#content {
	clear:both;
	width:100%;
}

#content div.sep {
	margin: 4px 0 10px 0;
	height: 1px;
	width: 958px;
	background:url(/public/themes/plantilla4/images/content_sep.gif) no-repeat;
}
	#left {
	text-align: left;
	width:250px;
	float:left;
	}
	#left ul{
		padding-bottom: 8px;
		padding-left: 14px;
	}
	#left img{
		padding-bottom: 10px;
	}
	#left a {
		color: #566c11;
		font-size: 12px;
		padding-left: 4px;
		display: block;
		text-decoration: none;
		line-height: 16px;
	}
	#left a.lnk1 {
		font-weight: bold;
	}
	#left a.lnk0 {
	}
	#left a.lnk0:hover {
		color: #000000;
		background-color: #ececec;
	}
	#left .title, #left .title a{
		padding: 5px 0 7px 18px;
		font-size: 19px;
		color: #a9bb23;
	}
	#left a.title0, #left a.title1{
		padding: 0;
		line-height: 25px;
	}
	#left a.title1{
		font-weight: bold;
	}
	#left a.title0:hover, #left a.title1:hover{
		background-color: #ececec;
	}
	#left div.sep {
		margin: 4px 0 10px 0;
		height: 1px;
		width: 231px;
		background:url(/public/themes/plantilla4/images/left_sep.gif) no-repeat;
	}
	#middle {
	width:677px;
	margin:0 0 0 7px;
	padding-top: 2px;
	float:left;
	background: url(/public/themes/plantilla4/images/content_bg.gif) repeat-x;
	text-align: left;
	line-height:16px;
		}
		div.sep_middle {
			margin: 10px 0 10px 0;
			height: 1px;
			width: 677px;
			background:url(/public/themes/plantilla4/images/middle_sep.gif) no-repeat;
		}
		#middle h2{
			font-size: 23px;
			line-height:29px;
			padding: 0;
			margin: 0 0 15px 0;
			font-weight: normal;
			color: #a9bb23;
		}
	#middle_bottom{
		margin-left: 30px;
		text-align: left;
	}
		#middle_bottom h3{
			font-size: 20px;
			padding: 0;
			margin: 20px 0 10px 0;
			font-weight: normal;
			color: #a9bb23;
		}
		#middle_bottom a {
			color: #07519a;
		}
		#middle_bottom a:hover {
			text-decoration: none;
		}
		#middle_bottom img{
		border: 10px #eae9e9 solid;
		}
/* FI CONTINGUT */

/* PEU */
#footer {
	clear:both;
	padding: 35px 0 0 0;
	width:958px;
	font-size: 14px;
	text-align: left;
	position: relative;
	}
	#footer_top{
		padding-left: 30px;
		line-height: 26px;
	}
	#footer_bottom{
		padding-left: 30px;
		font-size: 12px;
		padding-top: 15px;
		padding-bottom: 5px;
		background:#e3e1e1 url(/public/themes/plantilla4/images/footer_bg.gif) no-repeat bottom right;
	}
	#footer a {
		font-weight: bold;
		text-decoration: none;
		color: #000000;
		}
	#footer a:hover {
		color: #566c11;
		text-decoration: underline;
		}
	#footer_bottom a {
		font-weight: normal;
		text-decoration: none;
		font-size: 9px;
		color: #fff;
		}
	#footer .aicat {
		padding-top: 30px;
		padding-bottom: 10px;
	}
	#footer .letnd {
		padding: 2px 0 0;
		height: 20px;
		width:196px;
		text-align:center;
		position: absolute;
		bottom: 0;
		right: 0;
		}
	#footer_bottom a:hover {
		color: #fff;
		text-decoration: underline;
		}
	#footer img {
		vertical-align:middle;
		}
/* FI PEU */

#message{
	text-align:left;
	margin:40px 18px 40px 18px;
}

/* Paginació */

div.pageResults{
	padding:0 10px 5px 10px;
	clear:both;
	font-size: 11px;
	color: #000000;
}
a.pageResults:link{
	color:#828181;
}
a.pageResults:hover{
	color:#828181;
	text-decoration: none;
}
a.pageResults:visited{
	color:#828181;
}

/*-------- Llista propietats -----------*/
.list_item:hover {
}
.list_item {
	margin-top:40px;
	clear: both;
}/*-------- sense 'background-color' es mou -----------*/
	.list_item .left{
		margin: 0 0 0 18px;
		width: 328px;
	}
	.list_item .sold{
		margin: -20px 0 0 -20px;
		position: absolute;
	}



/*-------- Fitxa propietats -----------*/
.form_item {
	margin-top:26px;
	margin-left: 18px;
}
	.form_sold{
		margin: 20px 0 0 94px;
		position: absolute;
		text-align: center;
	}
	.form_item div.left{
		width:300px;
		margin-top: 10px;
	}
	.form_item div.right{
		width:280px;
		margin-right: 30px;
		margin-top: 10px;
		border: #c3c3c3 1px solid;
	}
.ref { /* ref, */
	margin-bottom: 16px;
	clear: both;
	text-transform: uppercase;
}
a.ref {
	font-size: 16px;
	color: #717171;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}
a.ref:hover {
	text-decoration: underline;
}
.property {
	font-size: 15px;
	color: #6a6a6a;
	line-height: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}
.form_item .property {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}
.form_item .property_title {
	font-size: 16px;
}
.property_title {
	font-size: 14px;
	color: #838383;
	font-style: italic;
	margin-bottom: 5px;
}
.description {
	font-weight: normal;
	margin-bottom: 10px;
}
.price{
	margin-top: 10px;
	color: #945204;
}
.icons{
	margin-top: 20px;
	text-align: left;
}
.icons img{
	cursor:pointer;
}
div.images_list{
	margin-right: 15px;
	border: 20px #eae9e9 solid;
	width: 230px;
	float: right;
	font-size: 0;
	line-height: 0;
}
div.images_list_form {
	margin-top: 20px;
	text-align: center;
}
div.images_list_form img{
	margin-bottom: 10px;
	border: 20px #eae9e9 solid;
	cursor: pointer;
}

table.details1 td strong{
	color: #945204;
	font-weight: normal;
}
table.details1 td.price, .price span{
	color: #000000;
	padding-top: 10px;
}
table.details2{ /* taula amb les característiques de la fitxa de propietats, habitacions, num aseos, terraza... */
	margin: 15px 0 15px 0;
}
table.details2 td{
	padding: 2px 15px 2px 15px;
}
table.details2 td.left{
	color: #6a6a6a;
}

/* google maps */
.onsom {
	text-align:left;
	margin-top:0px;
	margin-left: 18px;
	}
.onsom #google-map {
	width: 644px;
	height: 450px;
	padding: 0px;
	margin-top: 28px;
	margin-bottom: 30px;
}
.quisom {
	text-align:left;
	margin-top:40px;
	margin-left: 18px;
	margin-right: 18px;
	}
	.vcard{
		margin: 0 18px;
		font-size: 14px;
		line-height: 20px;
	}
	.vcard p{
		line-height: 20px;
	}
	.vcard a{
		color:#566c11;
		text-decoration:none;
	}
		.vcard a:hover{
			text-decoration:underline;
		}

/* contacte */
.contacte {
	clear: both;
	display:none;
}
.contacte_list {
	margin: 0 20px 0px 20px;
}
#theForm{
	background-color:#ececec;
	padding-bottom: 20px;
}
.contacte_table {
	border-collapse:collapse;
	border-spacing:0;
	border:0;
	background-color:#ececec;
	width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
	.contacte_table td.first {
		padding: 5px 20px 20px;
		vertical-align:top;
		width: 50%;
	}
	.contacte_table td.second {
		padding: 5px 20px 20px 0;
		vertical-align:top;
	}
#contacte p{
	margin: 0px;
	width:424px;
	text-align:justify;
}
.inputs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border: 1px #cbcbcb solid;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contacte label{
	padding-top: 15px;
	display:block;
}
input.inputs {
	height:26px;
	line-height: 18px;
	padding: 4px;	
}
textarea.inputs {
	height:139px;
	width: 100%;
}
.form_error{
	color:#EA4B4B;
	font-size:11px;
}
.accepta{
	text-align:right;
	padding:6px 0px;
	font-size:11px;
	color: #6A6A6A;
}
#accepto{
	vertical-align:middle;
	margin: 2px 20px 2px 10px;
}
.send{
	text-align:center;
}
	input.send{
		border: none;
		background-color: #cadc4b;
		color:#000;
		padding: 8px 50px;
		cursor: pointer;
		font-style: 16px;
		margin-top: 10px;
	}
		input.send:hover{
			background-color: #8b9b17;
			color:#fff;
		}
.form_sent{
	display:none;
	font-size:14px;
	margin-bottom: 20px;
	margin: 30px 0;
	font-weight: bold;
}
.form_not_sent{
	display:none;
	color:#EA4B4B;
	font-size:14px;
	margin: 30px 0;
	font-weight: bold;
}
	
/* CLEAN */
	body.clean{
		padding:24px;
		text-align:left;
	}
	body.clean h2{
		color:#000;
		font-size:18px;
		padding-bottom: 5px;
		font-weight: normal;
		margin:0;
	}
	body.clean p{
		margin:15px 0 0 0;
		font-size:14px;
	}

/* FI CLEAN */


	
	/* COOKIES */
	#accept-cookies {
		position:fixed;
		bottom: 0;
		right: 0;
		left: 0;
		z-index:1000;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
		background-color: rgba(53,60,1,0.9);
		color:#fff;
		padding: 10px 0;
		font-size: 12px;
	}
	
		@media screen and ( max-height: 700px ){			
			#accept-cookies {
				position:absolute;
				top: 0;
				bottom:auto;
			}
		}
		#accept-cookies.active {
			
		}
		#accept-cookies .container:first-child{
			width: auto;
			text-align:center;
		}
		#accept-cookies .container{
			background-color: transparent;
			text-align:left;
		}
			.accept-cookies-title {
				font-weight: bold;
				margin-top: 20px;
			}
			
			#accept-cookies ul{
				list-style: none;
				margin: 10px 0 0 0;
			}
			
				#accept-cookies li{
					margin: 2px 0;
				}
			
			#accept-cookies a{
				color: #fff;
			}
			#accept-cookies a.more{
				color: #fff;			
			}
				#accept-cookies a.more:hover{
							
				}
			#accept-cookies .accept{
				text-align:center;
			}
				#accept-cookies .accept a{
					display:inline-block;	
					color: #a9bb23;
					border: 1px solid #a9bb23;
					padding: 3px 10px;
					margin-top: 10px;
					text-decoration:none;			
				}
					#accept-cookies .accept a:hover{
						background-color: #000;
					}
			
			#accept-cookies-more{
				display:none;
				padding: 20px 0;
				
			}
	
	/* FI COOKIES */