
/* Assignar centres */
.assigncentre_centres tr > * {
	padding-bottom: 10px !important;
}
.assigncentre_centres tr > * :last-child {
	padding-bottom: 0 !important;
}
.assigncentre_centres th {
	text-align: left;
}
.assigncentre_centres label {
	display: inline-block;
	padding-right: 10px;
}
.assigncentre_centres input[type="text"] {
	width: 20px;
}
.assigncentre_max {
	width: 20px;
}

/* Search */
.search .search-top {
	margin-bottom: 30px;
}
#view-format-holder {
	padding-right: 40px;
}
	#view-format-holder a {
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		color: #000000;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		margin: 0 10px 0 0;
		border-radius: 2px;
		vertical-align: top;
		text-transform: uppercase;
	}
	#view-format-holder a:hover {
		background-color: #ffffff;
		color: #000;
	}
	#view-format-holder a.active {
		color: #000000;
		font-weight: bold;
		background-color: #fff;
	}

/* Reserves */
tr.centre > td:first-child {

}
tr.not-centre > td:first-child {

}
tr.payed > td:first-child {
	border-left: 6px solid #45c3ff !important;
}
tr.not-payed > td:first-child {
	border-left: 6px solid #ff5711 !important;
}

tr.centre > td:first-child {
	background-repeat: no-repeat;
	background-position: 6px 5px;
	background-image: url('images/tr_centre.png');
}
tr.not-centre > td:first-child {
	background-repeat: no-repeat;
	background-position: 6px 5px;
	background-image: url('images/tr_not_centre.png');
}

tr.done > td:first-child {
	background: url('images/tr_done.png') no-repeat 10px 25px;
}
tr.half-done > td:first-child {
	background: url('images/tr_half_done.png') no-repeat 10px 25px;
}
tr.not-done > td:first-child {
	background: url('images/tr_not_done.png') no-repeat 10px 24px;
}
td.user-id > div {
	display: flex;
}

.subListRecord tr > td {
	vertical-align: top;
	line-height: 1.6;
}
.subListRecord tr.done > td:first-child,
.subListRecord tr.half-done > td:first-child,
.subListRecord tr.not-done > td:first-child {
	background-position: 5px 28px;
}

.button-edit-admin,
.button-time,
.button-user-id,
.button-print,
.button-delete,
.button-delete-time {
	background: #000 url('images/time.png') center center no-repeat;
	-webkit-background-size: 20px auto;
	background-size: 20px auto;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
	.button-user-id {
		background: #eee8cf url('images/user-id.png') center center no-repeat;
		-webkit-background-size: 21px auto;
		background-size: 21px auto;
		float: left;
		margin-right: 15px;
	}
	.button-edit-admin {
		background: #fad020 url('images/edit.png') center center no-repeat;
		-webkit-background-size: 17px auto;
		background-size: 17px auto;
	}
	.button-print {
		background: #e4802e url('images/print.png') center center no-repeat;
		-webkit-background-size: 18px auto;
		background-size: 18px auto;
		margin-left: 5px;
	}
	.button-delete {
		background: #ff6800 url('images/delete.png') center center no-repeat;
		-webkit-background-size: 18px auto;
		background-size: 18px auto;
		margin-left: 30px;
	}
	.button-delete-time {
		background: #d8d8d8 url('images/delete-time.png') center center no-repeat;
		background-size: 20px auto;
		margin-left: 30px;
	}
		.button-user-id:hover,
		.button-delete:hover,
		.button-time:hover {
			background-color: #fad020;
		}
		.button-edit-admin:hover,
		.button-print:hover,
		.button-delete:hover {
			background-color: #000000;
		}

.gift-card {
	background: url('images/gift_card.png') right 18px no-repeat;
	padding-right: 34px !important;
}
.order-totals .gift-card {
	padding-top: 22px;
	padding-bottom: 20px;
	text-align: right;
	font-size: 19px;
	padding-right: 40px !important;
}

/* Reserves form */
.reservaitem-buttons {
	width: 200px;
}
.order-totals {
	margin-top: 40px;
	margin-right: 225px;
	margin-bottom: 40px;
}
	.order-totals td {
		font-size: 16px;
		padding-right: 15px;
	}
	.order-totals .total td {
		font-size: 20px;
		padding-top: 30px;
	}

/* Earnings */
#lassdive-report {
	padding: 10px 30px 70px;
	font-size: 17px;
	background-color: #fff;
}
	#lassdive-report h6 {
		margin: 0;
		padding: 40px 0 20px;
		font-size: 22px;
		font-weight: 400;
	}
	#lassdive-report .lassdive-total {
		font-weight: 700;
		padding-left: 20px;
		font-size: 19px;
	}
		#lassdive-report .lassdive-total span.no-discount {
			text-decoration: line-through;
			color: #b4b4b4;
			font-weight: 400;
			font-size: 17px;
		}
		#lassdive-report .lassdive-total span.discount {
			color: #ff3600;
			font-weight: 400;
			padding-right: 30px;
			font-size: 17px;
		}
	#lassdive-report table {
		font-size: 14px;
		width: 700px;
	}
	#lassdive-report table th {
		text-align: left;
		font-weight: bold;
		font-size: 15px;
		border-bottom: #e9e9e9 solid 1px;
		padding-bottom: 6px;
		padding-right: 20px;
		padding-top: 30px;
	}
	#lassdive-report table tbody tr:first-child td {
		padding-top: 20px;
	}
	#lassdive-report table td {
		vertical-align: top;
		padding-right: 20px;
		padding-bottom: 4px;
		padding-top: 4px;
	}
	#lassdive-report table .price {
		text-align: right;
	}
	#lassdive-report table .price.no-discount {
		text-decoration: line-through;
		color: #b4b4b4;
	}

/* MODAL */
body, html {
	height: 100%;
}
body {
	position: relative;
}

		.off-canvas-body {
		    overflow: hidden;
		}
			.off-canvas-opened {
				display: block !important;
			}
				.off-canvas-overlay {
					position: fixed;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 10000;
					display: none;

					background: rgb(19, 19, 19);
					background: rgba(19, 19, 19, 0.73);
				}

				.off-canvas-header {
					position: fixed;
					top: 30px;
					right: 30px;
					left: 30px;
					height: 70px;
					display: none;
					z-index: 10111;
					background-color: #fad020;
					padding-right: 0;
					padding-left: 0;
				}

				.off-canvas-menu {
					position: fixed;
					top: 100px;
					right: 30px;
					left: 30px;
					bottom: 30px;
					display: none;
					overflow-y: auto;
					z-index: 10110;
					padding-right: 0;
					padding-left: 0;
					background-color: #fff;
				}
					.off-canvas-menu-inner {
						padding: 30px;
						height: 100%;
					}
			.off-canvas-opened {

			}