.timetables-container {
	max-width: 1024px;
	margin: 0 auto;
	color: #000;
}
.timetables-container input,
.timetables-container select,
.timetables-container textarea {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.timetables-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Header */
#timetables-header {
	position: relative;
	padding-right: 60px;
	height: 70px;
}

#timetables-header .text {
	font-size: 15px;
	padding: 5px 10px 5px 30px;
	float: left;
	height: 100%;
}
	#timetables-header h5 {
		font-size: 20px;
		margin: 0;
		font-weight: normal;

		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);

	}

#timetables-date {
	float: right;
	font-size: 20px;
	line-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: url('images/dates.png') left center no-repeat;
	-webkit-background-size: 24px auto;
	background-size: 24px auto;
	padding-left: 50px;
}
	#timetable-date {
		border: none;
		display: inline-block;
		width: 120px;
		text-align: center;
		height: 40px;
		line-height: 40px;
		background-color: #fffbe8;
		margin-top: 10px;
		vertical-align: top;
	}
	#timetables-date span {
		display: inline-block;
		width: 40px;
		height: 60px;
		text-align: center;
		margin: 0;
		cursor: pointer;
		vertical-align: top;
		background: url('images/prev.png') center top no-repeat;
		-webkit-background-size: auto 310px;
		background-size: auto 310px;
	}
		#timetables-date span#next-date {
			background: url('images/next.png') center top no-repeat;
			-webkit-background-size: auto 310px;
			background-size: auto 310px;
		}
		#timetables-date span:hover {
			background-position: center -250px !important;
		}

#timetables-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 70px;
	cursor: pointer;
	vertical-align: middle;
	background: url('images/close.png') top center no-repeat;
	-webkit-background-size: 24px auto;
	background-size: 24px auto;
}
	#timetables-close:hover {
		background-position: center -250px;
	}



.timetable_error {
	text-align: center;
	color: #ff7248;
	font-size: 24px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#timetables {
	width: 100%;
	font-size: 14px;
	border-spacing: 1px;
	background-color: #e5e5e5;
	border-collapse: separate;
}
#timetables td {
	background-color: #fff;
	height: 40px;
	vertical-align: middle;
}

/* centres */
#timetables thead td {
	padding: 10px 20px;
}
#timetables thead td h6 {
	font-size: 18px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
#timetables.has-current-center thead td:nth-child(2) {

}

/* hores */
#timetables .hour {
	font-size: 15px;
	text-align: right;
	padding: 0 20px 0 0;
	width: 100px;
	vertical-align: top;
	line-height: 1.6;
}
#timetables .hour.o-clock {
	font-size: 20px;
}

/* items */
#timetables .items {
	padding: 0;
}
#timetables .items.selected {
	background-color: #36d1ff !important;
	color: #ffffff;
}
#timetables .items > div {
	position: relative;
	height: 100%;
	line-height: 40px;
	padding-left: 20px;
	color: #7a7a7a;
	font-weight: 300;
}
#timetables .items span {
	position: absolute;
	display: block;
	top: 0;
	height: 41px;
	background-color: #fad020;
	border-right: 2px solid #fff;
}
	#timetables .items span.stored {
	background-color: #ff7248;
	}
	#timetables .items span.start {
		border-top: 1px solid #fff;
	}
	#timetables .items span.end {
		border-bottom: 1px solid #fff;
	}
#timetables .items.selected span {

}
#timetables.has-current-center tbody tr td:nth-child(2) {

}
#timetables .selected-timetable {
	position: absolute;
	background: rgb(209, 255, 81);
	left: 0;
	right: 0;
	top: 0;
	padding-left: 20px;
	color: #000;
	font-weight: 700;
}

/* Selecció */
#timetable-results {
	height: 100%;
	display: none;
	font-size: 18px;
}
#timetable-results label {
	font-size: 18px !important;
}
#timetable-results > div {
	text-align: center;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
	#timetable-results h6 {
		font-size: 28px;
		padding-bottom: 50px;
		font-weight: 400;
		margin: 0;
	}

#timetable-result-holder > * {
	vertical-align: top;
	display: inline-block;
}
	#timetable-result {
		padding-top: 6px;
	}
	#timetable-result em {
		display: inline-block;
		font-weight: 600;
		font-style: normal;
		padding-right: 5px;
	}
	#timetable-result strong {
		padding-right: 40px;
		display: inline-block;
		font-weight: 700;
	}
	#timetable-result b {
		padding-right: 20px;
		display: inline-block;
		font-weight: 400;
	}
	#timetable-result-holder .inputs {
		padding-top: 0;
	}
	#timetable-result-holder .jcf-select {
		text-align: left;
		width: 100px;
		min-width: 100px;
		margin: 0;
	}
	#timetable-results input[type="text"] {
		width: 200px;
		margin-bottom: 0;
		margin-top: 1px;
	}
	#selected_user_id_table {
	}
	#selected_user_id_table td {
		padding-top: 5px;
	}
	#selected_user_id_table tr:last-child td {
	    padding-bottom: 21px;
	}


#select-ok {
	cursor: pointer;
	background: #fad020;
	color: #000;
	display: inline-block;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 30px;

	font-weight: 700;
	padding: 15px 100px;
	margin-left: 190px;
}
	#select-ok:hover {
		text-decoration: none;
		background-color: #000000 !important;
		border-color: #ffffff;
		color: #ffffff;
	}
#select-canviar {
	color: #7c7c7c;
	cursor: pointer;
	display: inline-block;
	width: 190px;
	text-align: right;
}
	#select-canviar:hover {
		color: #000000;
	}

/* overlay */
.timetable-overlay {

}
.timetable-overlay:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 10000;
	background:rgba(0,0,0, 0.3);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	color: #ffffff;
}
#timetables-holder.timetable-overlay:after {
	background: #d4d4d4 url('/common/images/wait.png') no-repeat center center;
}


/* Component containers
----------------------------------*/
.ui-widget {
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #fad020;
}
.ui-widget-content {
	border: 1px solid #fad020;
	background: #f5f5f5;
	color: #000000;
}
.ui-widget-content a {
	color: #000000;
}
.ui-widget-header {
	border: 1px solid #fad020;
	background: #fad020;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}