<link href="/admin/themes/inmotools/styles/api.css" rel="stylesheet"
      type="text/css">
<form name="theForm" method="post" action="" target="save_frame">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form" id="api-files">
		<tr>
			<td>


				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="formCaptionTitle"><strong>
								<?= $c_file ?>
								&nbsp;&nbsp;</strong>
						</td>
					</tr>
				</table>

				<? ////////////   CAMPS  ////////////////?>

				<table width="100%" cellpadding="4" cellspacing="0" class="formstbl">
					<? foreach ( $agents as $l ): extract( $l ) ?>
						<? if ( $files_categorys ): ?>
							<tr>
								<td class="formsCaptionHor" colspan="2"><?= $nom ?> <?= $cognoms ?></td>
							<tr>
							<? foreach ( $files_categorys as $l ): extract( $l ) ?>
								<? if ( ${'files_cat_' . $filecat_id} ): ?>

									<tr>
										<td width="150" class="formsCaption"><? if ( $filecat ): ?>
												<strong>
													<?= $filecat ?>:</strong>
											<? endif // $filecat ?></td>
										<td class="forms">
											<? foreach ( ${'files_cat_' . $filecat_id} as $l ): extract( $l ) ?>
												<div class="padding-bottom-2">
													<a target="_blank" href="<?= '/' . LANGUAGE . '/api/agent/file/' . $file_id . '/' // $file_src   ?>"><?= $file_title ?></a>
												</div>
											<? endforeach //${'files_cat' . $filcat_id}?>
										</td>
									</tr>

								<? endif // ${'files_cat_' . $filecat_id} ?>
							<? endforeach //$files_categories?>
						<? endif // $files_categorys ?>
					<? endforeach //$agents?>
				</table>
			</td>
		</tr>
	</table>
</form>