<link href="/clients/finquesgarrotxa/templates/print/styles/style.css" rel="stylesheet" type="text/css" />
<table width="100%" height="99%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="5" class="franja"></td>
  </tr>
  <tr>
    <td height="40" class="top">kjhkjh</td>
  </tr>
  <tr>
    <td height="5">&nbsp;</td>
  </tr>  
  <tr>
    <td class="bottom">kjhkjh</td>
  </tr> 
  <tr>
    <td height="5" class="franja"></td>
  </tr>
</table>