<span style='color: #000'>779 frames</span>	<span style='color: #900'>29,440 KB</span>	<span style='color: #090'>1,012.86 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />