.portal-checkboxes {

}
	.listRecord .portal-checkboxes {
		padding-bottom: 30px;
	}
	.portal-checkboxes label {
		display: inline;
		margin-right: 20px;
	}
	.portal-checkboxes label.disabled {
		background-color: transparent;
	}
	.portal-checkboxes label.disabled img {
		opacity: 0.2;
	}

	.portal-options-text {
		margin-right: 30px;
		display: inline-block;
	}
	.portal-checkboxes .portal-checkbox {
		vertical-align: middle;
		margin-right: 0;
		display: inline-block;
		margin-top: -4px;
	}
	.portal-checkboxes .portal-checkbox input[type="checkbox"] {
		margin: 0;
	}
	.portal-checkboxes img {
		vertical-align: middle;
		margin-right: 10px;
		margin-top: -4px;
	}


	.portal .listDetails2,
	.portal .listDescription {
		display: none;

	}
	.portal .listTitleProperty2 {
		padding-bottom: 30px;
	}

	.portal_messages_title {
		font-size: 16px;
		line-height: 18px;
		color: #000;
		color: #CB2903;
		font-weight: 700;
		padding-bottom: 10px;
	}
	.portal_messages {
		display: table;
		margin-bottom: 30px;
		font-size: 15px;
	}
	.portal_messages div {
		display: table-row;
	}
	.portal_messages strong {
		display: table-cell;
		padding-top: 4px;
		padding-right: 10px;
		color: #CB2903;
		font-weight: normal;
	}
	.portal_messages span {
		display: table-cell;
		padding-top: 4px;
	}