
<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/modules/inmo/jscripts/history.js?v=<?=$version?>"></script>
<div class="form">
<form name="theForm" method="post" action="" onsubmit="">
<div id="form_buttons_holder"><table id ="form_buttons">
	<tr>
		<td valign="bottom" class="buttons">
		
		<div class="right">
						
						<a class="btn_form_save" href="javascript:show_form_new_history('<?=$property_id?>');">
					<?=$c_new_history?></a>
			</div>
		
		<div class="menu">
			<a href="<?=$data_link?>"><?=$c_edit_data?></a>
	
			<a href="<?=$image_link?>"><?=$c_edit_images?></a>
						
			<?if($is_custumer_on):?>
			<a class="private" href="?menu_id=<?=$menu_id?>&property_id=<?=$property_id?>&action=list_records_custumer"><?=$c_edit_custumer?></a>
			<?endif //custumer_on?>
			
			<div><?=$c_edit_history?></div>

			<a class="private" href="?menu_id=<?=$menu_id?>&property_id=<?=$property_id?>&action=show_form_map"><?=$c_edit_map?></a>

			<?if($is_booking_on):?>
			<span id="tipus_temp_link" style="display:<?=$show_tipus_temp?>;">
				<a style="display:<?=$show_tipus_temp?>;" class="sep" href="?menu_id=<?=$menu_id?>&property_id=<?=$property_id?>&action=show_form_new&process=booking"><?=$c_edit_booking?></a>
				
				<a style="display:<?=$show_tipus_temp?>;" class="private" href="?menu_id=<?=$menu_id?>&property_id=<?=$property_id?>&action=show_form_edit&process=booking_propertyrange"><?=$c_edit_booking_season?></a>
			
				<a style="display:<?=$show_tipus_temp?>;" class="private" href="?menu_id=<?=$menu_id?>&property_id=<?=$property_id?>&action=show_form_edit&process=booking_extra"><?=$c_edit_booking_extra?></a>
			<span>
			<?endif //is_booking_on?>
	
		</div> 
						<input name="property_id" type="hidden" value="<?=$property_id?>" />
					<input name="selected_addresses_ids" type="hidden" value="<?=$selected_addresses_ids?>" />
						<input name="selected_addresses_names" type="hidden" value="<?=$selected_addresses_names?>" /></td>
	</tr>
</table>
</form></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td>
								<table width="100%" cellpadding="4" cellspacing="0">
									<tr>
										<td class="formCaptionTitle"><strong>
											<?=$c_form_history_title?></strong>&nbsp;&nbsp;<?=$ref?><?if ($property_private):?> - <?=$property_private?> <?endif //property_private?>
										</td>
									</tr>
							</table>
							<table width="100%" cellpadding="4" cellspacing="0" class="formstbl">
							
									<tr>
										<td align="center" valign="top" class="forms"><table width="99%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td id="historys"><?if ($content):?><?=$content?><?endif //content?><?if (!$content):?> <table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td height="70" align="center"><?=$no_assigned?></td>
												</tr>
											</table><?endif //content?></td>
											</tr>
										</table>
										</td>
									</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="2" class="formsButtonstbl">
	<tr>
		<td align="center" class="formsButtons">
			<div class="centerFloat1">
			<div class="centerFloat2">
				<a class="btn_form_save" href="javascript:show_form_new_history('<?=$property_id?>');">
			<?=$c_new_history?></a>
			</div></div></td>
	</tr>
</table>
</div>
