<div class="search">
<h3><?=$c_s_municipi_id?></h3> 
<form name="search" method="get" action="/admin/"><table border="0" cellspacing="0" cellpadding="0">
      <tr valign="middle">        
          <td>&nbsp;&nbsp;&nbsp;
                <?=$c_by_words?>
            &nbsp;</td>
          <td><input name="action" type="hidden" value="list_records_zone_search">
                <input name="q" type="text" size="30" value="<?=$q?>">
            &nbsp;</td>
          <td><input type="submit" name="Submit" value="ok" class="boto-search"></td>
      </tr>
    </table></form>
</div>