
<div class="search">
<h3><?=$c_search_title?></h3>  
<form name="search" method="get" action="/admin/"><table border="0" cellspacing="0" cellpadding="0">
				<tr valign="middle">		
						<td><?=$c_by_words?></td>
						<td><input name="action" type="hidden" value="list_records">
							<input name="menu_id" type="hidden" value="<?=$menu_id?>">
							<input name="q" type="text" size="30" value="<?=$q?>"></td>
							<td>
								<input type="submit" name="Submit" value="ok" class="boto-search"></td>
						<td>&nbsp;&nbsp;
							<?=$c_by_ref?>&nbsp;</td>	
				</tr>
			</table></form>
</div>