<script language="JavaScript" src="/admin/jscripts/utilities.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/jscripts/hcomun.js?v=<?=$version?>"></script>

<form name="_form" method="post" onSubmit="return ReCalculate(this);" >
<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
    <tr>
      <td>      
          <table width="100%" border="0" cellpadding="4" cellspacing="0" >
            <tr>
              <td align="left" class="opcionsTitol"><?=$c_titlec;?> </td>
        </tr>
       </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="formsButtonstbl">
          <tr>
            <td>
                <table width="100%" cellpadding="4" cellspacing="0" >
                  <tr>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_price?>
                    </strong></td>
                    <td width="20%" align="right"><strong>
                    <input name="Fprice" type="text" id="Fprice" onblur="formatNumber()"  />
                    </strong></td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_cuota?>
                    </strong></td>
                    <td width="20%" align="right" class="formsButtons"><strong>
                      <input name="iPaymentTotal" type="text" id="iPaymentTotal" />
                    </strong></td>
                  </tr>
                  <tr>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_deposit?>
                    </strong></td>
                    <td width="20%" align="right" class="formsButtons"><strong>
                      <input name="Fdownpayment" type="text" id="Fdownpayment" value="0" />
                    </strong></td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" align="right" class="formsButtons">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_interest?>
                    </strong></td>
                    <td width="20%" align="right" class="formsButtons"><strong>
                    <input name="Frate" type="text" id="Frate" value="<?=$frate;?>" />
                    </strong></td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" align="right" class="formsButtons">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_years?>
                    </strong></td>
                    <td width="20%" align="right" class="formsButtons">
                      <select name="Fterm" size="1" id="Fterm">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30" selected="selected">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="48">47</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                      </select>
                    </label></td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" class="formsButtons">&nbsp;</td>
                    <td width="20%" align="right" class="formsButtons">&nbsp;</td>
                  </tr>
              </table>
              
                
              <table width="100%" cellpadding="4" cellspacing="2" class="formsButtonstbl">
                <tr>
                  <td align="center" class="formCaptionTitle">
                      <input type="submit" name="Submit" value="<?=c_workout?>" class="btn_form1">
                  </td>
                </tr>
              </table></td>
          </tr>
        </table>
	  </td>
    </tr>
</table>
</form>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><table width="80%" border="0" cellpadding="0" cellspacing="0" class="news">
      <tr>
        <td class="news"><?=$c_info?>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
