<script language="JavaScript" src="/admin/jscripts/ahorro.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/jscripts/hcomun.js?v=<?=$version?>"></script>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td> 
    <table width="100%" border="0" cellpadding="4" cellspacing="0" >
      <tr>
        <td align="left" class="opcionsTitol"><?=$c_titles;?>
        </td>
      </tr>
    </table>
    <form action="" name="formAhorro" id="formAhorro" >       
    <table width="100%" border="0" cellspacing="0" class="formsButtonstbl">
      <tr>
        <td><table width="100%" border="0" cellpadding="4	" cellspacing="0">
          <tr>
            <td width="5%" class="formsButtons">&nbsp;</td>
            <td width="45%" class="formsButtons"><strong>
              <?=$c_import_prestec?>
            </strong></td>
            <td width="10%" class="formsButtons">&nbsp; <input id="cuota" name="cuota" type="hidden" /></td>
            <td class="formsButtons"><input onkeypress="PonPuntos(event, this, 'positive',11,'c');" onfocus="borrar(this);" maxlength="10" size="20" name="importeh" /></td>
          </tr>
          <tr>
            <td width="5%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><strong>
              <?=$c_period_years?>
            </strong></td>
            <td width="10%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><input name="anos" class="formsButtons" onfocus="borrar(this);" value="30" size="20" maxlength="20" /></td>
          </tr>
          <tr>
            <td width="5%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><strong>
              <?=$c_interest?>
            </strong></td>
            <td width="10%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><input name="interes"class="formsButtons" onfocus="borrar(this);" value="<?=$interes;?>" size="20" maxlength="4" /></td>
          </tr>
          <tr class="formsButtons">
            <td width="5%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><strong>
              <?=$c_couplegroup?>
            </strong></td>
            <td width="10%" class="formsButtons">&nbsp;</td>
            <td class="formsButtons"><table border="0" cellpadding="0" cellspacing="0" width="50%">
                <tr class="detalletabla1">
                  <td width="25%" align="center"><input onclick="pts('c')" value="pts" name="radio" class="formulari" style="border:0px;" type="radio" /></td>
                  <td><strong>
                    <?=$c_pts?>
                  </strong></td>
                  <td width="25%" align="center"><input name="radio" type="radio" class="formulari" style="border:0px;" onclick="euro('c')" value="euro" checked="checked" /></td>
                  <td><strong>
                    <?=$c_eur?>
                  </strong></td>
                </tr>
            </table></td>
          </tr>
          <tr class="detalletabla1">
            <td colspan="4" align="center"></td>
          </tr>
        </table>
          <table width="100%" cellpadding="4" cellspacing="2" >
              <tr>
                <td align="center" class="formCaptionTitle"><input name="calcular"  type="button" class="btn_form1" onclick="return calcular_onclick('c')" value="<?=c_workout?>" language="javascript" /></td>
              </tr>
            </table></td>
      </tr>
    </table></form>

 
      <form name="formAhorroRes" id="formAhorroRes"><table width="100%" cellpadding="4" cellspacing="0" class="formsButtonstbl">
        <tr>
          <td width="20%" class="formsButtons"><strong>
            <?=$c_workout?>
          </strong></td>
          <td width="20%" align="center"><strong>
            <?=$c_single?>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <?=$c_couplegroup?>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <?=$c_couplesingle?>
          </strong></td>
        </tr>
        <tr>
          <td width="20%" class="formsButtons"><strong>
            <?=$c_saveyear?>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="iprimera" type="text" id="iprimera" value="0" readonly="readonly"/>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="dcprimera" type="text" id="dcprimera" value="0" readonly="readonly"/>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="diprimera" type="text" id="diprimera" value="0" readonly="readonly"/>
          </strong></td>
        </tr>
        <tr>
          <td width="20%" class="formsButtons"><strong>
            <?=$c_completesave?>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="itotal" type="text" id="itotal" value="0" readonly="readonly"/>
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="dctotal" type="text" id="dctotal" value="0" readonly="readonly" />
          </strong></td>
          <td width="20%" align="center" class="formsButtons"><strong>
            <input name="ditotal" type="text" id="ditotal" value="0" readonly="readonly"/>
          </strong></td>
        </tr>
      </table></form>
    </td>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td align="center"><table width="80%" border="0" cellpadding="0" cellspacing="0" class="news">
  <tr>
    <td class="news">
      <?=$c_info?>
    </td>
  </tr>
</table></td></tr>
</table>
