<div class="search">
<h3><?=$c_search_title?></h3> 
<form name="search" method="get" action="/admin/"><table border="0" cellspacing="0" cellpadding="0">
        <tr valign="middle"> 
		
            <td><?=$c_by_words?></td>
            <td> 
              <input name="process" type="hidden" value="list_records_search_words">

                 <input type="hidden" name="menu_id" value="<?=$menu_id?>">
                <? /*
                 <input type="hidden" name="menu_id" value="5003"> */ ?>

              <input name="words" type="text" id="text" size="30" value="<?=$q?>"></td>
            <td> 
              <input type="submit" name="Submit" value="ok" class="boto-search"></td>
		
        </tr>
    </table></form>
</div>