
<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/modules/custumer/jscripts/custumer.js?v=<?=$version?>"></script>
<div class="form">
<form name="theForm" method="post" action="" onsubmit="">
<div id="form_buttons_holder"><table id ="form_buttons">
	<tr>
		<td valign="bottom" class="buttons">
		
		<div class="right">
						
						<a class="btn_form_save" href="javascript:show_form_new_history('<?=$custumer_id?>');">
					<?=$c_add_history?></a>
			</div>
		
		<div class="menu">
			<a href="<?=$data_link?>"><?=$c_edit_data?></a>
			
			<div><?=$c_edit_history?></div>
	
		</div> </td>
	</tr>
</table>
	<input name="custumer_id_javascript" type="hidden" value="<?=$custumer_id?>">
</form></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td>
								<table width="100%" cellpadding="4" cellspacing="0">
									<tr>
										<td class="formCaptionTitle"><strong>
											<?=$c_form_history_title?></strong>&nbsp;&nbsp;<?=$name?> <?= $surname1 ?> <?= $surname2 ?>
										</td>
									</tr>
							</table>
							<table width="100%" cellpadding="4" cellspacing="0" class="formstbl">
							
									<tr>
										<td align="center" valign="top" class="forms"><table width="99%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td id="historys"><?if ($content):?><?=$content?><?endif //content?><?if (!$content):?> <table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td height="70" align="center"><?=$no_assigned?></td>
												</tr>
											</table><?endif //content?></td>
											</tr>
										</table>
										</td>
									</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="2" class="formsButtonstbl">
	<tr>
		<td align="center" class="formsButtons">
			<div class="centerFloat1">
			<div class="centerFloat2">
				<a class="btn_form_save" href="javascript:show_form_new_history('<?=$custumer_id?>');">
			<?=$c_add_history?></a>
			</div></div></td>
	</tr>
</table>
</div>
