<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/jscripts/euro_calc.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/modules/custumer/jscripts/custumer.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/jscripts/assign.js?v=<?=$version?>"></script><table width="100%" border="0" cellspacing="0" cellpadding="0">   
    <tr>
      <td>      
          <table width="100%" border="0" cellpadding="4" cellspacing="0" >
            <tr>
              <td align="left" class="opcionsTitol"> <?=$c_custumer?> <span class="user"><?=$name;?> <?=$surname1;?> <?=$surname2;?></span>  </td>
        </tr>
       </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="formsButtonstbl">
          <tr>
            <td>
                <table width="100%" cellpadding="4" cellspacing="0" >
                  <tr>
                    <td width="20%" class="formsButtons"><strong>
                      <?=$c_add?>
                    </strong></td>
                  </tr>
                  <tr>
                    <td class="formsButtons"><form name="custumer" get="post"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                        <td><?=$c_add_expand?> </td>
                        <td width="200">
                          <input type="submit" name="Submit22" value="<?=$c_insert?>" 		class="btn_form1" />
                      <input type="hidden" name="menu_id" value="5012" />
                      <input type="hidden" name="custumer_id" value="<?=$custumer_id?>" />
                        </td>
                      </tr>
                    </table></form></td>
                  </tr>
                  <tr>
                    <td class="formsButtons"><strong>
                      <?=$c_assign?>
                    </strong></td>
                  </tr>
                  <tr>
                    <td class="formsButtons"><form name="theForm" method="post" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
                        <td><?=$c_assign_expand?> </td>
                        <td width="200">
						<input name="selected_addresses_ids" type="hidden"> 
              			<input name="selected_addresses_names" type="hidden">
                       <input type="button" name="Submit23" value="<?=$c_insert?>" class="btn_form1" onclick="select_addresses(<?=$custumer_id?>)" />
                      <input type="hidden" name="action" value="list_records_property" />
                      <input type="hidden" name="custumer_id" value="<?=$custumer_id?>" />
                       </td>
                      </tr>					
                    </table></form></td>
                  </tr>                 
				 <tr>
                    <td class="formsButtons"><strong>
                      <?=$c_buy?>
                    </strong></td>
                  </tr>
				
                  <tr>
                    <td class="formsButtons"><form name="custumer" method="post" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
                        <td><?=$c_buy_expand?> <label></label></td>
                        <td width="200">
                          <input name="Submit232" type="submit" 		class="btn_form1" value="<?=$c_insert?>" />
                      <input type="hidden" name="action" value="show_form_new_demand" />
                      <input type="hidden" name="custumer_id" value="<?=$custumer_id?>" />
                      <input type="hidden" name="custumer_name" value="<?=$name?> <?=$surname1?> <?=$surname2?>" /></td>
                      </tr>
                    </table></form></td>
                  </tr>
              </table>                             
            </td>
          </tr>
        </table>	  </td>
    </tr>
</table>
