<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns:st1="urn:schemas-microsoft-com:office:smarttags"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 12">
<meta name=Originator content="Microsoft Word 12">
<link rel=File-List href="contract_2_cat_archivos/filelist.xml">
<link rel=Edit-Time-Data href="contract_2_cat_archivos/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>A</title>
<o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
 name="PersonName"/>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>API002</o:Author>
  <o:LastAuthor>Marc</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>1</o:TotalTime>
  <o:LastPrinted>2008-10-24T14:27:00Z</o:LastPrinted>
  <o:Created>2014-03-31T19:23:00Z</o:Created>
  <o:LastSaved>2014-03-31T19:23:00Z</o:LastSaved>
  <o:Pages>2</o:Pages>
  <o:Words>915</o:Words>
  <o:Characters>5219</o:Characters>
  <o:Company>Dark</o:Company>
  <o:Lines>43</o:Lines>
  <o:Paragraphs>12</o:Paragraphs>
  <o:CharactersWithSpaces>6122</o:CharactersWithSpaces>
  <o:Version>12.00</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<link rel=themeData href="contract_2_cat_archivos/themedata.thmx">
<link rel=colorSchemeMapping
href="contract_2_cat_archivos/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:HyphenationZone>21</w:HyphenationZone>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>CA</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:HangulWidthLikeWW11/>
   <w:UseNormalStyleForList/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
  DefSemiHidden="false" DefQFormat="false" LatentStyleCount="267">
  <w:LsdException Locked="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="99" SemiHidden="true"
   Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="99" SemiHidden="true" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" QFormat="true"
   Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" QFormat="true"
   Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" QFormat="true"
   Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" QFormat="true"
   Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" QFormat="true"
   Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" QFormat="true"
   Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" SemiHidden="true"
   UnhideWhenUsed="true" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;
	mso-font-charset:0;
	mso-generic-font-family:modern;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:1;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-language:ES;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:70.9pt 2.0cm 70.9pt 2.0cm;
	mso-header-margin:35.45pt;
	mso-footer-margin:35.45pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Tabla normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-unhide:no;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=CA style='tab-interval:35.4pt'>

<div class=WordSection1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-padding-alt:0cm 3.5pt 0cm 3.5pt;mso-border-insideh:.5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=109 valign=top style='width:81.5pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal align=center style='text-align:center;tab-stops:15.0cm'><span
  style='font-size:8.0pt;font-family:"Arial","sans-serif"'><!--[if gte vml 1]><v:shapetype
   id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
   path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:74.25pt;
   height:23.25pt'>
   <v:imagedata src="contract_2_cat_archivos/image001.png" o:title="_Nou logo petit"/>
  </v:shape><![endif]--><![if !vml]><img width=99 height=31
  src="contract_2_cat_archivos/image002.jpg" v:shapes="_x0000_i1025"><![endif]></span><span
  style='font-family:Courier'><o:p></o:p></span></p>
  </td>
  <td width=520 style='width:389.8pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal align=center style='text-align:center;tab-stops:15.0cm'><b
  style='mso-bidi-font-weight:normal'><span style='font-size:4.0pt;font-family:
  "Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal align=center style='text-align:center;tab-stops:15.0cm'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:"Arial","sans-serif";
  mso-bidi-font-family:"Times New Roman"'>MODEL DE CONTRACTE D’OPCIÓ DE COMPRA
  - SINGULAR</span></b><span style='font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>R E U N I T S:<o:p></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>D’una part, el Sr./Sra &nbsp;<strong><?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?></strong>,
major d’edat, casat/da, veí/<span class=SpellE>ïna</span> de <?=$dadespropietari [0] ['town']?>,
amb domicili a <?=$dadespropietari [0]['adress']?> <?=$dadespropietari [0]['numstreet']?> <?=$dadespropietari [0]['block']?> <?=$dadespropietari [0]['flat']?> <?=$dadespropietari [0]['door']?> i amb DNI núm. <?=$dadespropietari [0] ['vat']?><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>I de l’altra, el Sr. /Sra.&nbsp; <strong><?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?></strong>,
major d’edat, casat/da, veí/<span class=SpellE>ïna</span> de <?=$dadescomprador [0] ['town']?>,
amb domicili a <?=$dadescomprador [0]['adress']?> <?=$dadescomprador [0]['numstreet']?> <?=$dadescomprador [0]['block']?> <?=$dadescomprador [0]['flat']?> <?=$dadescomprador [0]['door']?> i amb DNI núm. <?=$dadescomprador [0] ['vat']?><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Les dues parts actuen en<span
style='mso-spacerun:yes'>  </span>nom propi i es reconeixen recíprocament la
capacitat legal necessària per contractar.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>I. Que el Sr./Sra. <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?>, <?}?>és propietari/a de l’immoble
situat a <?=$dadespropietat [0] ['municipi_id']?> i inscrit en el Registre de la
Propietat núm. <?=$dadespropietat [0] ['numregister']?> de <?=$dadespropietat [0] ['locationregister']?>, tom <?=$dadespropietat [0] ['tomregister']?>, llibre
<?=$dadespropietat [0] ['bookregister']?>,  foli <?=$dadespropietat [0] ['pageregister']?>, inscripció núm. <?=$dadespropietat [0] ['inscriptionregister']?>, finca núm. <?=$dadespropietat [0] ['numberpropertyregister']?>
		<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Descripció registral de la finca:
“...............................................................”<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>La referència cadastral és la núm. <?=$dadespropietat [0] ['ref_cadastre']?> <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>II. Que el/<st1:PersonName
ProductID="la Sr./Sra." w:st="on">la Sr./Sra.</st1:PersonName> <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>
està interessant en la compravenda de la finca descrita en l’antecedent I d’aquest
contracte, de forma diferida en el temps, han acordat subscriure el present contracte
<span class=SpellE>d’<b><u>OPCIÓ</u></b></span><b><u> DE COMPRA</u></b>, que es
regirà pel compliment dels següents<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>P A C T E S<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Primer.</span></u><span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'> El/la Sr. /Sra. <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?> concedeix
subscriure l’opció de compra sobre la finca urbana ja <span class=SpellE>referenciada</span>
i descrita en l’antecedent I d’aquest contracte a favor del/<st1:PersonName
ProductID="la Sr./Sra." w:st="on">la Sr./Sra.</st1:PersonName> <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?> ,
que accepta aquest dret.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Segon.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp; L’opció de compra l’haurà d’exercitar-se
el beneficiari de l’opció en el termini màxim de DOS ANYS naturals, a comptar a
partir del dia d’avui i es fixa ja en aquest moment com a preu total de compra
el de <?=$dadespropietat [0] ['price']?> euros.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Tercer.</span></u><span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'> &nbsp;Amb la finalitat de què el
beneficiari de l’opció pugui comprovar mitjançant l’ús continuat que la finca
objecte d’aquest contracte s’adequa a les seves necessitats, en aquesta mateixa
data, el Sr./Sra. <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?> cedeix l’ús,
de manera gratuïta i com a màxim, fins al dia que finalitzi el termini per exercitar
l’opció, de la finca objecte d’aquest contracte per la qual cosa lliura al
Sr./Sra. <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?> de la possessió
jurídica i material de la finca mitjançant el lliurament d’un joc de claus.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>En cap concepte serà d’aplicació <st1:PersonName
ProductID="la vigent LAU" w:st="on">la vigent <span class=SpellE>LAU</span></st1:PersonName>,
ja que les parts entenen que la legislació que <span class=SpellE>concerceix</span>
al cas i que regula el present contracte atípic és, en primer lloc, la lliure
voluntat de les parts que s’expressa en el present contracte i si això no és
possible, les normes generals sobre obligacions i contractes del Codi Civil.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Quart.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> La&nbsp; prima de l’opció o contraprestació
al dret concedit pel propietari/a Sr./Sra. <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>,
s’estableix en la quantitat global de..............................<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Per facilitar el pagament de la contraprestació a la part beneficiària de
l‘opció, s’estableix que es pagarà de forma fraccionada i mensualment, per la
qual cosa la quota mensual pels 2 anys de duració fixats serà
de..............................<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Cinquè.</span></u><span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'> Exercitada l’opció dintre el termini i
en la forma i pel preu de <?=$dadespropietat [0] ['price']?> euros ja establerts per les
parts en el pacte segon d’aquest contracte, totes les quantitats rebudes en
concepte de pagament de la prima de l’opció seran considerades pagaments a compte
del preu total de la compravenda.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Per contra, si el beneficiari no exercita
dintre del termini i en la forma escaient el seu dret d’opció, perdrà totes les
quantitats pagades en concepte de prima de l’opció i a més, haurà de tornar la
possessió de la finca el mateix dia del venciment del termini. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Per cada dia de retard en el compliment de l’obligació
principal de tornar la possessió de la finca objecte d’aquest contracte, el/<st1:PersonName
ProductID="la Sr./Sra." w:st="on">la Sr./Sra.</st1:PersonName> <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>
pagarà al/a <st1:PersonName ProductID="la Sr./Sra." w:st="on">la Sr./Sra.</st1:PersonName>
<?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>., propietari/a, la suma de .......................
euros, a manera d’astricció lliurement consentida per les parts.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Sisè.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> La falta de pagament de la quota mensual de
pagament de la prima, suposarà per al/a <st1:PersonName ProductID="la Sr./Sra."
w:st="on">la Sr./Sra.</st1:PersonName> <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>,
propietari/a, la possibilitat d’exigir el seu compliment o la de rescindir de
manera automàtica el contracte, de tal manera que aquest impagament o impagaments,
a elecció del propietari o propietària cedent pot suposar deixar sense efecte
el benefici de l’opció amb la consegüent pèrdua de les quantitats rebudes fins a
aquesta data en pagament fraccionat de l’opció.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Setè.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> Durant la vigència del present contracte, el/la
<span class=SpellE>concedent</span> no podrà alienar o gravar la finca
descrita, així com oferir una nova opció a tercera persona, i ha de romandre en
la mateixa situació jurídica i d’estat de càrregues que es troba actualment i
que coneixen perfectament les parts contractants.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Vuitè.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> <span style='mso-spacerun:yes'> </span>El
present contracte és inscriptible en el Registre de la Propietat, ha de córrer
amb totes les despeses, notarials, d’impostos i de Registre, la part que tingui
interès en la seva inscripció.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Novè.</span></u><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> Ambdues parts, amb renúncia del seu fur propi,
si el tinguessin, se sotmeten expressament als jutjats i tribunals de ...........................................
, per raó que la finca es troba en el seu partit judicial i per a la interpretació
o qualsevol altra qüestió litigiosa que derivi del present contracte.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>Llegit i trobat conforme, les dues parts el
signen per duplicat i a un sol efecte. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'> <?=$dadescontracte [0] ['place']?>,
a <?=$data_firma[2]?> de <?=$data_mes?> de <?=$data_firma [0]?>
<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
