<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns:st1="urn:schemas-microsoft-com:office:smarttags"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 12">
<meta name=Originator content="Microsoft Word 12">
<link rel=File-List href="contract_3_cat_archivos/filelist.xml">
<link rel=Edit-Time-Data href="contract_3_cat_archivos/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Ciutat,…</title>
<o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
 name="PersonName"/>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>USER</o:Author>
  <o:LastAuthor>Marc</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>7</o:TotalTime>
  <o:LastPrinted>2013-06-10T14:11:00Z</o:LastPrinted>
  <o:Created>2014-04-07T09:19:00Z</o:Created>
  <o:LastSaved>2014-04-07T09:19:00Z</o:LastSaved>
  <o:Pages>4</o:Pages>
  <o:Words>1791</o:Words>
  <o:Characters>10209</o:Characters>
  <o:Company>Dark</o:Company>
  <o:Lines>85</o:Lines>
  <o:Paragraphs>23</o:Paragraphs>
  <o:CharactersWithSpaces>11977</o:CharactersWithSpaces>
  <o:Version>12.00</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<link rel=dataStoreItem href="contract_3_cat_archivos/item0001.xml"
target="contract_3_cat_archivos/props0002.xml">
<link rel=themeData href="contract_3_cat_archivos/themedata.thmx">
<link rel=colorSchemeMapping
href="contract_3_cat_archivos/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:HyphenationZone>21</w:HyphenationZone>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>CA</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
  DefSemiHidden="false" DefQFormat="false" LatentStyleCount="267">
  <w:LsdException Locked="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="99" Name="No List"/>
  <w:LsdException Locked="false" Priority="99" SemiHidden="true"
   Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="99" SemiHidden="true" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" QFormat="true"
   Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" QFormat="true"
   Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" QFormat="true"
   Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" QFormat="true"
   Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" QFormat="true"
   Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" QFormat="true"
   Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" SemiHidden="true"
   UnhideWhenUsed="true" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:1;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:0 0 0 0 0 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:CA;
	mso-fareast-language:ES;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-unhide:no;
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 212.6pt right 425.2pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:CA;
	mso-fareast-language:ES;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-unhide:no;
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 212.6pt right 425.2pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:CA;
	mso-fareast-language:ES;}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{mso-style-unhide:no;
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Courier New";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-ansi-language:ES;
	mso-fareast-language:ES;}
p
	{mso-style-unhide:no;
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:ES;
	mso-fareast-language:ES;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-unhide:no;
	mso-style-link:"Texto de globo Car";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:CA;
	mso-fareast-language:ES;}
span.TextodegloboCar
	{mso-style-name:"Texto de globo Car";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Texto de globo";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-ascii-font-family:Tahoma;
	mso-hansi-font-family:Tahoma;
	mso-bidi-font-family:Tahoma;
	mso-ansi-language:CA;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	mso-ansi-language:ES;
	mso-fareast-language:ES;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("contract_3_cat_archivos/header.htm") fs;
	mso-footnote-continuation-separator:url("contract_3_cat_archivos/header.htm") fcs;
	mso-endnote-separator:url("contract_3_cat_archivos/header.htm") es;
	mso-endnote-continuation-separator:url("contract_3_cat_archivos/header.htm") ecs;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:48.2pt 48.2pt 48.2pt 48.2pt;
	mso-header-margin:35.45pt;
	mso-footer-margin:35.45pt;
	mso-header:url("contract_3_cat_archivos/header.htm") h1;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Tabla normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	mso-ansi-language:ES;
	mso-fareast-language:ES;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=CA style='tab-interval:35.4pt'>

<div class=WordSection1>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><?=$dadescontracte [0] ['place']?>,<?=$data_firma[2]?> de <?=$data_mes?> de <?=$data_firma [0]?><o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>REUNITS:<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>D’una part, el/la Sr./a. <strong><?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?></strong>
, major d’edat, de professió <?=$dadescomprador [0]['job']?>,
veí/<span class=SpellE>ïna</span> de <?=$dadespropietari [0] ['town']?>,
amb domicili a <?=$dadespropietari [0]['adress']?> <?=$dadespropietari [0]['numstreet']?> <?=$dadespropietari [0]['block']?> <?=$dadespropietari [0]['flat']?> <?=$dadespropietari [0]['door']?> i amb DNI núm. <?=$dadespropietari [0] ['vat']?><o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>De l’altre part, el/la Sr./a. <strong><?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?></strong>
, major d’edat, de professió <?=$dadescomprador [0]['job']?>,
de veí/<span class=SpellE>ïna</span> de <?=$dadescomprador [0] ['town']?>,
amb domicili a <?=$dadescomprador [0]['adress']?> <?=$dadescomprador [0]['numstreet']?> <?=$dadescomprador [0]['block']?> <?=$dadescomprador [0]['flat']?> <?=$dadescomprador [0]['door']?>, i DNI
núm. <?=$dadescomprador [0] ['vat']?><o:p></o:p></span></p>

<p style='text-align:justify'><b style='mso-bidi-font-weight:normal'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>MANIFESTEM</span></b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>:<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>1. Que el/la Sr./a. <?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>
és propietari/a de l’habitatge ......................... situat al núm. <?=$dadespropietat [0]['adress']?> <?=$dadespropietat [0]['numstreet']?> <?=$dadespropietat [0]['block']?> <?=$dadespropietat [0]['flat']?> <?=$dadespropietat [0]['door']?> de <?=$dadespropietat [0] ['municipi_id']?>,
de <?=$dadespropietat [0]['land']?> metres quadrats de superfície. L’habitatge està moblat i té un
rebedor, un <span class=SpellE>menjador-estar</span>, <?=$dadespropietat [0]['room']?> habitacions, <?=$dadespropietat [0]['bathroom']?>.
cambres de bany i una cuina. El núm. de la cèdula d’habitabilitat de
l’habitatge és <?=$dadespropietat [0]['cedula']?>. i la referència cadastral
és <?=$dadespropietat [0] ['ref_cadastre']?><o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>S’adjunta com Annexa del que forma part indissoluble del
mateix, el certificat d’eficiència energètica de l’habitatge, expedit en
data <?=$dadespropietat [0] ['efficiency_date']?> i que té una durada de 10 anys.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>2. Que el/la Sr./a. <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?> està interessat/da a
llogar aquest habitatge.<o:p></o:p></span></p>

<p style='text-align:justify'><b style='mso-bidi-font-weight:normal'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>ACORDEM</span></b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>:<br>
<br>
1. <b style='mso-bidi-font-weight:normal'>Arrendament</b>. El/La Sr./a.
<?foreach ($dadespropietari as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>, l’arrendador/a, cedeix en arrendament l’habitatge indicat al/la
Sr./a. <?foreach ($dadescomprador as $rs){?> <?=$rs['name']?> <?=$rs['surname1']?> <?=$rs['surname2']?> <?}?>, l’arrendatari/a o llogater/a.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>2. <b style='mso-bidi-font-weight:normal'>Règim jurídic.</b>
Aquest arrendament es regeix pels pactes, clàusules determinades per la
voluntat de les parts i que s’expressen en el present contracte, que ha estat
negociat per ambdues parts, en <st1:PersonName ProductID="el marc" w:st="on">el
 marc</st1:PersonName> de <span class=SpellE>l’establert</span> en el títol II
de la LAU i, supletòriament, pel Codi civil.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>3. <b style='mso-bidi-font-weight:normal'>Objecte</b>. L’objecte
de l’arrendament és l’habitatge ja esmentat, del núm. <?=$dadespropietat [0]['adress']?> <?=$dadespropietat [0]['numstreet']?> <?=$dadespropietat [0]['block']?> <?=$dadespropietat [0]['flat']?> <?=$dadespropietat [0]['door']?> de <?=$dadespropietat [0] ['municipi_id']?>,,
i comprèn el seu interior i els annexos següents:...................................................................................................<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>4. <b style='mso-bidi-font-weight:normal'>Destinació</b>.
Aquest&nbsp;&nbsp;pis es destinarà primordialment a habitatge permanent de
........................................................................<br>
(el llogater i la seva família estricta; el llogater, el cònjuge no separat
legalment o de fet, la seva parella estable o els fills que depenguin del
llogater o de la seva parella o cònjuge).<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>5. <b style='mso-bidi-font-weight:normal'>Durada</b>.
L’arrendament es pacta per una durada d’ UN<span style='mso-spacerun:yes'> 
</span>any, termini que començarà a comptar des d’avui, atès que en aquesta
mateixa data, l’habitatge és posat a disposició de l’arrendatari/a.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>A ser inferior a 3 anys, arribada la data del venciment
del contracte, el mateix es prorrogarà obligatòriament per terminis anuals fins
arribar a la durada mínima obligatòria de 3 anys, llevat que l’arrendatari/a
manifesti amb 30 dies d’antelació, a la data de finalització del contracte o de
qualsevol de les seves pròrrogues, la seva voluntat de no renovar-lo.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>Malgrat l’expressa’t, no procedirà la pròrroga
obligatòria si un cop transcorregut el primer any de durada del contracte, el
propietari arrendador manifesta que té necessitat de l’habitatge per tal de
destinar-lo a habitatge permanent seu o dels seus familiars en primer grau de
consanguinitat, o per adopció, o per el seu cònjuge, en els supòsits de Sentència
ferma de separació, divorci o nul·litat matrimonial. El preavís serà de, com a
mínim, dos mesos d’antelació a la data en que s’hagi de resoldre el contracte.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>Si arribada la data de venciment del contracte o de qualsevol
de les seves pròrrogues, cap part hagués notificat a l’altre, amb 30 dies
d’antelació, la seva voluntat de no renovació, el contracte es prorrogarà
necessàriament durant un altre any més i així, de manera successiva.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>L’arrendatari/a podrà desistir anticipadament del present
contracte, un cop transcorreguts com a mínim sis mesos de durada i amb
comunicació a l’arrendador/a amb un preavís mínim de 30 dies. En aquest cas de
desistiment anticipat, l’arrendatari indemnitzarà al propietari arrendador amb <span
class=SpellE>l’import</span> d’un mes de renda per cada any que manqués per
complir, i per períodes inferiors a l’any, la indemnització es calcularà de
manera proporcional.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>Si en virtut de les seves pròrrogues, el present
contracte tingués una durada superior als 3 anys, les parts pacten de manera
expressa que en cas de premoriència de l’arrendatari/a, els familiars del
mateix no tindran cap dret de subrogació i per tant, el contracte quedarà extingit
de manera automàtica.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>Per facilitar les comunicacions entre les parts, es considera
vàlida la comunicació per correu electrònic, sempre que l’emissor compti amb
signatura digital o DNI digital per tal d’identificar amb garanties els
enviaments.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>6. <b style='mso-bidi-font-weight:normal'>Renda</b>. La
renda per l’arrendament és de <?=$dadescontracte [0] ['diposit']?> euros mensuals, que cal pagar per
endavant de l’1 al 7 de cada mes.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>El pagament es domicilia al compte núm. <?=$dadescomprador [0] ['comta']?>,
obert a nom del llogater a l’oficina ..............................de ................................
(identificació del banc o caixa). En cas de supressió d’aquest compte, si no
se’n notifica un de nou a l’arrendador/a, es considera automàticament que el
lloc de pagament és el domicili de l’arrendador/a.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>7. <b style='mso-bidi-font-weight:normal'>Actualització de la renda</b>. <b
style='mso-bidi-font-weight:normal'>(*)</b> La renda pot ésser actualitzada per
qualsevol de les parts aplicant-hi la variació percentual de l’índex estatal de
preus al consum en els dotze mesos immediatament anteriors a la data de cada
actualització. Per a la primera actualització es pren com a índex de referència
el del mes de ........... de .........., darrer publicat el dia d’avui, i, per
a les ulteriors, l’últim que s’hagi aplicat.<b style='mso-bidi-font-weight:
normal'><o:p></o:p></b></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>En la primera revisió el percentatge corresponent s’aplicarà sobre la renda
pactada en aquest contracte i, en les successives, a la resultant de la revisió
precedent. La renda actualitzada es pot exigir a l’arrendatari a partir del mes
següent a aquell en què l’arrendador/a la notifiqui a l’altra part per escrit i
s’indiqui el percentatge d’alteració aplicat, i si l’arrendatari/a ho exigeix,
s’adjunti el certificat de <span class=SpellE>l’Institut</span> Nacional
d’Estadística o es faci referència al butlletí oficial en el qual s’hagi
publicat. És vàlida la notificació feta per mitjà d’una nota en el rebut de la
mensualitat anterior.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><br>
8. <b style='mso-bidi-font-weight:normal'>Despeses generals</b>. Les despeses
generals pel manteniment adequat de l’immoble, els seus serveis, tributs,
càrregues i responsabilitats que no siguin susceptibles d’individualització, i,
en general, les que corresponguin al pis arrendat d’acord amb la seva quota de
participació en règim de propietat horitzontal, són a càrrec de l’arrendatari/a.
A hores d’ara <span class=SpellE>l’import</span> mensual d’aquestes despeses és
el següent:<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Servei de porteria....................<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Despeses generals....................<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Impostos..........................<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Taxa de recollida d’escombraries......................<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Diversos...........................<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>9.<b style='mso-bidi-font-weight:normal'> Obres</b>. El llogater/a no pot
fer obres que modifiquin la configuració de l’habitatge o dels accessoris o que
provoquin una disminució en la seva estabilitat o seguretat, fora que tingui
permís per escrit de l’arrendadora.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>10. <b style='mso-bidi-font-weight:normal'>Reparacions.</b> Són a càrrec
exclusiu de l’arrendatari/a les petites reparacions que exigeixi el desgast
produït per l’ús ordinari de l’habitatge i les seves instal·lacions. L’arrendatari/a
ha de comunicar a l’arrendador/a, tan aviat com pugui, la necessitat de fer les
altres reparacions necessàries per conservar l’habitatge en condicions
d’habitabilitat per tal que aquesta les pugui dur a terme.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>11. <b style='mso-bidi-font-weight:normal'>Accés</b>. L’arrendatari/a ha de
permetre que l’arrendador/a o els tècnics que aquesta designi accedeixin a
l’habitatge, a fi de comprovar el que s’estableix en el pacte anterior.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify'><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>12.<b style='mso-bidi-font-weight:normal'> <span class=SpellE>Subarrendament</span></b>.
L’arrendatari/a no pot <span class=SpellE>subarrendar</span> ni cedir
l’habitatge.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>13. <b style='mso-bidi-font-weight:normal'>Danys a
terceres persones</b>. L’arrendatari/a és responsable dels danys causats a
terceres persones o a coses derivats d’instal·lacions, serveis,
subministraments i activitats que es produeixin al pis arrendat.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>14. <b style='mso-bidi-font-weight:normal'>Fiança</b>. En
aquest acte l’arrendatari lliura a l’arrendador/a la quantitat de <?=$dadescontracte [0] ['diposit']?> euros, que correspon a <span class=SpellE>l’import</span> d’un mes de lloguer
com a fiança. Transcorreguts més de 3 anys de durada del present contracte en
virtut de les seves pròrrogues, la fiança podrà ser actualitzada mitjançant
ingrés que compensi la diferència de renda. (***)<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>15. <b style='mso-bidi-font-weight:normal'>Dret
d’adquisició preferent. </b>L’arrendatari/a renúncia de manera irrevocable al
dret d’adquisició preferent i per tant, l’arrendador/a haurà de comunicar a
l’arrendatari/a la seva intenció de vendre amb una antelació mínima de 30 dies
a la data de formalització del contracte de compravenda en l’hipotètic cas que
es produís la referida circumstància.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>16. <b style='mso-bidi-font-weight:normal'>Inscripció del
contracte en el Registre de <st1:PersonName ProductID="la Propietat. Qualsevol"
w:st="on">la Propietat. <span style='font-weight:normal'>Qualsevol</span></st1:PersonName><span
style='font-weight:normal'> de les parts podrà instar i fer els tràmits
oportuns per tal d’inscriure el contracte en el Registre de la Propietat i
seran a càrrec de la part interessada les despeses i taxes que el procediment
comporti. Si els interessés a totes dues parts contractants, les despeses seran
compartides al 50%.<o:p></o:p></span></b></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>17. <b style='mso-bidi-font-weight:normal'>Registre de
Sentències fermes d’impagats. </b>El present contracte entrarà en el sistema
del Registre Públic de Sentències fermes d’impagaments de rendes, en el cas
improbable que es produís dita circumstància i en tot cas, l’arrendatari/a dóna
el seu consentiment irrevocable per tal de que el propietari arrendador/a, només
en el cas d’impagament de rendes que es reclamin via judicial o Notarial, pugui
facilitar les dades de l’arrendatari morós a qualsevol base de dades o
registre, públic o privat que amb la finalitat d’afavorir la informació de la
que pugui gaudir un propietari a l’hora de contractar, pugui <span
class=SpellE>crear-se</span> o expandir-se en el futur.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><o:p>&nbsp;</o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>18. <b style='mso-bidi-font-weight:normal'>Certificació
d’eficiència energètica.</b> S’adjunta a aquest contracte la preceptiva
certificació d’eficiència energètica vigent.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>19.- <b style='mso-bidi-font-weight:normal'>Altres
Tributs. </b>El present contracte d’arrendament, que no està subjecte a IVA,
està subjecte al nou ITP i AJD. La Base imposable és de (3 anys de contracte si
la durada és inferior i 6 anys si no s’estableix durada) .........euros i el
coeficient pel 2014 és del 0,3%. (Serà d’un 0,5% el 2015). Per tant, la quota
resultant de......euros, es satisfeta en aquest mateix acte per part de
l’arrendatari i el propietari arrendador s’obliga a fer els tràmits pertinents,
dins el termini de 30 dies, des d’aquesta data, per el seu ingrés al
Departament d’ Economia i Finances de la Generalitat de Catalunya. La sola
signatura d’aquest contracte, serveix com la més cabdal carta de pagament,
rebut i/o justificació.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>Com a prova de conformitat amb el contingut d’aquest
contracte, ambdues parts en signen dos exemplars amb el mateix valor i efecte.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><o:p>&nbsp;</o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><o:p>&nbsp;</o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>L’ARRENDADOR/A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
style='mso-spacerun:yes'>   </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’ARRENDATARI/A<br
style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]><o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><o:p>&nbsp;</o:p></span></p>

<p style='text-align:justify'><b style='mso-bidi-font-weight:normal'><u><span
style='font-size:11.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:
CA'>Fiançament solidari</span></u></b><span style='font-size:11.0pt;font-family:
"Tahoma","sans-serif";mso-ansi-language:CA'>. (**) El <span class=SpellE>sotascrit</span>/a
....................................................., domiciliat/da a .......................................................,
amb DNI núm. ........................, fiança solidàriament les obligacions
assumides en aquest contracte pel Sr./a....................................
davant l’arrendador/a, amb plena renúncia als beneficis d’ordre, divisió i
excussió.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>.................................................., ......
de ............................... de 20....... <o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>EL FIADOR.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>------------------------------------------------<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>(*) Les parts poden pactar qualsevol altre sistema d’actualització
de la renda i el sistema de <span class=SpellE>l’IPC</span> general només
s’aplicarà en defecte de pacte entre les parts.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>(**) Cal contemplar igualment la possibilitat de
acollir-se al sistema gratuït de l’aval lloguer de la Generalitat de Catalunya,
en quin cas, es incompatible la figura del fiançament solidari.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'>(***) El pacte de fiança és optatiu.<o:p></o:p></span></p>

<p style='text-align:justify'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:CA'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
