<!-- Idiomes -->
<?if (!1):?><link href="/public/themes/plantilla2/styles/general.css" rel="stylesheet" type="text/css" /><?endif ?>
<? foreach($loop as $l):extract ($l)?><?foreach($loop as $l):extract ($l)?>&nbsp;&nbsp;&nbsp;<a href="<?=$link?>" class="lnk<?=$selected?>"><?=$item?></a><? endforeach //$loop?><?endforeach //$loop?>