<? if ($title):?>
<div class="title"><?=$title?></div>
<? endif //title?>
<? foreach($loop as $l): extract ($l)?>
<? if ($item):?>
<div class="title"><?=$item?></div>
<? endif //item?><ul>
  <? foreach($loop as $l): extract ($l)?>
  <li><a href="<?=$link?>" class="lnk<?=$selected?>"><?=$item?></a></li>
  <? endforeach //$loop?></ul>
<? endforeach //$loop?>
