<?if (!1):?><link href="/public/themes/plantilla2/styles/general.css" rel="stylesheet" type="text/css" /><br /><?endif //$$?>
<? foreach($loop as $l): extract ($l)?><? foreach($loop as $l): extract ($l)?>
<a href="<?=$link?>" class="lnk<?=$selected?>">&nbsp;&nbsp;<?=$item?>&nbsp;&nbsp;</a>
<? endforeach //$loop?><? endforeach //$loop?>