<script language="JavaScript" src="/admin/jscripts/validacio.js?v=<?=$version?>"></script>
<script language="JavaScript" src="/admin/jscripts/euro_calc.js?v=<?=$version?>"></script>
<form name="theForm" method="post" action="" target="save_frame">
<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
    <tr>
      <td>      
          <table width="100%" border="0" cellpadding="4" cellspacing="0" >
            <tr>
              <td class="formCaptionTitle"><?=$c_state;?> <span class="resaltatSmall"><?=$vstate;?></span>  <?=$c_numwords;?><?=$vnumwords;?></td>
				<td align="right" class="formCaptionTitle">&nbsp;</td>
        </tr>
       </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
                <table width="100%" cellpadding="4" cellspacing="0" class="formsButtonstbl">
                  <tr>
                    <td width="50%" class="formsButtons">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><strong><?=$c_originaltext;?></strong></td>
                        </tr>
                    </table></td>
                  </tr>                 
					<tr>
                    <td class="formCaptionTitle">
                      <textarea name="voriginal_text" cols="130" rows="20" id="voriginal_text"><?=$voriginal_text;?></textarea></td>
                  </tr>

                </table>               
              <table width="100%" cellpadding="4" cellspacing="2" class="formsButtonstbl">
                <tr>
                  <td align="center" class="formsButtons">					
					
                      <input type="hidden" name="action" value="<?=$accio?>" />
                      <input type="submit" name="Submit" value="<?=$c_back?>" class="boto1">                  </td>
                </tr>
              </table></td>
          </tr>
        </table>
	  </td>
    </tr>
</table>
</form>
