a.meslnk {font-size : 8pt; color :#000000;font-family : Verdana, Arial, Helvetica, sans-serif; text-decoration:none; }
a.meslnk:hover {font-size : 8pt; color :#ffffff;font-family : Verdana, Arial, Helvetica, sans-serif; text-decoration:none; background-color : #003399;}
table.mesos {border-style : solid; border-color : #85B6E7; border-width : 1px; }
td.mes {font-size : 7.2pt; color :#000000;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : #85B6E7; border-width : 1px; }
td.mes2 {font-size : 7.2pt; color :#000000;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center;}
td.dies {font-size : 7.2pt; color :white;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center;}
td.cal {font-size : 7.2pt; color :black;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : white; border-width : 1px; }
td.calR {font-size : 7.2pt; color :red;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : white; border-width : 1px; font-weight:bold;}
td.cal2 {font-size : 7.2pt; color :black;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : white; border-width : 1px; }
td.cal2R {font-size : 7.2pt; color :white;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : white; border-width : 1px; background-color : #D2D2D2; }
tr.fosc {font-size : 7.2pt; color :white;font-family : Verdana, Arial, Helvetica, sans-serif; text-align:center; border-style : solid; border-color : white; border-width : 1px; background-color : #D2D2D2; }
table.calendari {border-style : solid; border-color : #999999; border-width : 1px; }