
	#graphs .row {
		padding-top: 50px;
		overflow: hidden;
		width: 100%;
	}
	#graphs .chart-double {
		width: 65%;
		height: 400px;
		float: left;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#graphs .table-single,
	#graphs .chart-single {
		width: 35%;
		height: 400px;
		float: left;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#graphs .table-single {
		height: auto;
	}
	#graphs table {
		border-spacing: 0;
		margin-top: 60px;
		font-size: 15px;
	}
	#graphs table tr > * {
		padding: 6px 20px;
		border-right: 1px solid #dddddd;
	}
	#graphs table th {
		text-align: left;
		border-right: 1px solid #a6a6a6;
	}
	#graphs table thead th {
		text-align: left;
		border-bottom: 1px solid #a6a6a6;
		border-right: none;
	}
	#graphs table thead td {
		border-right: none;
	}
	#graphs table td {
		text-align: right;
		padding-right: 20px;
	}
