
	<link href="/common/includes/phpmv2/themes/default/css/{if $styleCommon}{$styleCommon}{else}interfaceCommon{/if}.css" rel="stylesheet" type="text/css" />	
	<link href="/common/includes/phpmv2/themes/default/css/styles.php?dir={'text_dir'|translate}" rel="stylesheet" type="text/css" />	

	<script type="text/javascript" src="/common/includes/phpmv2/themes/default/include/misc.js"></script>
	<script type="text/javascript">var js_direction="{'text_dir'|translate}";</script>